[2020-01-13 06:56] edmund-zhao commented on #210
密码就是你自己设置啊，更改为自己的密码就行了

[2020-01-13 07:02] edmund-zhao opened #213 "[关于前端网页的问题]"
1.可否使用wordpress作为前端网站呢？

以下是我的安装方法：环境为：Debian10 DO
apt update
apt install apache2
apt install gnupg
cd /tmp
wget https://dev.mysql.com/get/mysql-apt-config_0.8.13-1_all.deb
dpkg -i mysql-apt-config*
apt update
apt install mysql-server
mysql_secure_installation
apt install php libapache2-mod-php php-mysql
vi /etc/apache2/mods-enabled/dir.conf
systemctl reload apache2
systemctl stop apache2
apt-get

[2020-01-13 07:31] love4stella commented on #210
可是我安装trojan的整个过程里没有叫我设置过密码啊。。。。

[2020-01-13 07:52] edmund-zhao commented on #210
在trojan config里面设置呀

发自我的11 Pro Max

在 2020年1月13日，下午3:31，love4stella <notifications@github.com> 写道：

﻿

密码就是你自己设置啊，更改为自己的密码就行了

可是我安装trojan的整个过程里没有叫我设置过密码啊。。。。

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/trojan-gfw/trojan/issues/210?email_source=notifications&email_token=AM26ODAV2XJDYQB5TUI6TKDQ5QKD7A5CNFSM4KFWASA2YY3PNVWWK3TU

[2020-01-13 08:08] love4stella commented on #210
让我来看看～那是一定要用Chrome配合插件吗

[2020-01-13 08:45] edmund-zhao commented on #210
chrome 可以使用插件来代理

发自我的11 Pro Max

在 2020年1月13日，下午4:08，love4stella <notifications@github.com> 写道：

﻿

在trojan config里面设置呀 发自我的11 Pro Max 在 2020年1月13日，下午3:31，love4stella notifications@github.com<mailto:notifications@github.com> 写道： ﻿ 密码就是你自己设置啊，更改为自己的密码就行了 可是我安装trojan的整个过程里没有叫我设置过密码啊。。。。 — You are receiving this because you commented. Reply to this email directly, view it on GitHub<#210<https://gith

[2020-01-13 19:09] jhb92 opened #214 "complie on mac os ok ,but occure PR_END_OF_FILE_ERROR error"
# mac os clion
#boost 1.66
set(Boost_DEBUG 1)
set(Boost_USE_STATIC_LIBS ON)
set(Boost_INCLUDE_DIR /usr/local/opt/boost/include)
set(Boost_LIBRARY_DIR /usr/local/opt/boost/lib)
#openssl 1.1.1d
set(CMAKE_INCLUDE_PATH ${CMAKE_INCLUDE_PATH} /usr/local/opt/openssl/include)
set(CMAKE_LIBRARY_PATH ${CMAKE_LIBRARY_PATH} /usr/local/opt/openssl/lib)
set(OPENSSL_INCLUDE_DIR /usr/local/opt/openssl/include)
#m

[2020-01-14 00:26] jhb92 opened #215 "Exception: EXC_BAD_ACCESS"
I want to tracking async operation,so in main firstline ,i type follow

#define BOOST_ASIO_ENABLE_HANDLER_TRACKING

and start debug, exception throwed, and can't continue. what's wrong?

[2020-01-14 01:18] wongsyrone commented on #215
Are you sure you passed in the correct parameters?

[2020-01-14 01:33] GreaterFire commented on #215
It is not sufficient to add the definition to just `main.cpp`. You should add `add_definitions(-DBOOST_ASIO_ENABLE_HANDLER_TRACKING)` to `CMakeLists.txt`.

[2020-01-14 01:33] #215 closed, assigned to nobody

[2020-01-14 10:55] jhb92 commented on #214
by change boost 1.7.2 to 1.66 ,rebuild ,there is no "PR_END_OF_FILE_ERROR" error.

[2020-01-14 10:55] #214 closed, assigned to nobody

[2020-01-14 14:25] #212 closed, assigned to GreaterFire

[2020-01-14 14:27] GreaterFire commented on #211
This project is a command-line interface program. What do you mean by compiling it for iOS?
macOS pre-built binaries are provided in [Releases](https://github.com/trojan-gfw/trojan/releases/latest).

[2020-01-14 14:28] GreaterFire commented on #209
No need to worry. This is just a warning and is fixed in https://github.com/trojan-gfw/trojan/commit/92ef1691670efa4759fa757750841715e0c27d4f.

[2020-01-14 14:28] #209 closed, assigned to GreaterFire

[2020-01-15 02:52] gorquan commented on #155
感谢你这个思路，让我解决了caddy和trojan同时占用443的问题

[2020-01-15 03:03] chinyichun opened #216 "How does trojan resist active probing by GFW"
Dear trojan development team:

This maybe somewhat of a noob question: but how does trojan resist GFW masquerading as a trojan client to actively probe a VPS for the presence of trojan over and above the regular nginx? GFW has been known to masquerade itself as tor obfs2 client to actively probe tor obfs2 bridges in the past.

Thanks.

[2020-01-15 04:13] moldis commented on #211
@GreaterFire You have separate repo for Android building,  my question is - is it possible to have same guide / instruction / repo but for IOS version ?

[2020-01-15 04:13] moldis commented on #211
I am looking for client side library, not server side

[2020-01-15 07:55] GreaterFire commented on #211
The android app is a completely different project than trojan itself, so it's in its own repo.
iOS currently supports the trojan protocol. See wiki for details.
We don't provide client/server library. This project is a standalone program.

[2020-01-15 07:55] GreaterFire commented on #216
Please read the protocol part of the docs.

[2020-01-15 07:55] #216 closed, assigned to nobody

[2020-01-15 09:54] moldis commented on #211
Understood, thank you.

[2020-01-15 09:54] #211 closed, assigned to GreaterFire

[2020-01-15 13:24] jhb92 opened #217 "Did Not Connect: Potential Security Issue"
I use clion build own binanry on mac pro book without any problem, but when i start as client ,listen local 1088 port,access google.com from firefox , firefox prompt me  "Did Not Connect: Potential Security Issue"  , more info as follow:

"
Did Not Connect: Potential Security Issue

Firefox detected a potential security threat and did not continue to www.youtube.com because this website requires a

[2020-01-15 13:26] chinyichun opened #218 "links in overview.md don't work"
@GreaterFire

Thanks for responding to my previous question regarding active probing by GFW.

I have read the docs and understood how trojan resists active and passive probing by GFW. However, while reading the docs I noticed that in overview.md, there are two links called "next page" in the following passage that don't work:

Upon closer examination I realized that each of the "next page" links l

[2020-01-15 13:57] qinwei0077 opened #219 "建议增加80跳转443的功能"
因为和v2ray原理不一样，Trojan的80跳转需要Trojan自身实现。

[2020-01-15 15:14] GreaterFire commented on #217
Please provide the log from both server and client.

[2020-01-15 15:19] GreaterFire commented on #219
You can make nginx have different behavior when accepting connections from `127.0.0.1:80` than from `0.0.0.0:80`.

[2020-01-15 15:19] #219 closed, assigned to GreaterFire

[2020-01-15 15:19] GreaterFire commented on #218
Not an issue. Please visit the documentation from https://trojan-gfw.github.io/trojan/.

[2020-01-15 15:19] #218 closed, assigned to nobody

[2020-01-15 16:28] jhb92 commented on #217
I access www.google.com

server log

Jan 16 00:22:29 xxx.top trojan[25605]: [2020-01-16 00:22:29] [INFO] 223.104.210.68:9216 authenticated as PASSWORD
Jan 16 00:22:29 xxx.top trojan[25605]: [2020-01-16 00:22:29] [INFO] 223.104.210.68:9216 requested connection to 75.126.150.210:443
Jan 16 00:22:32 xxx.top trojan[25605]: [2020-01-16 00:22:32] [INFO] 223.104.210.68:9218 authenticated as PASSWORD
Jan

[2020-01-15 16:35] jhb92 commented on #217
**cmake log**

/Applications/CLion.app/Contents/bin/cmake/mac/bin/cmake -DCMAKE_BUILD_TYPE=Debug -G "CodeBlocks - Unix Makefiles" /Users/xxx/Desktop/trojan/server/trojan
-- Configuring done
-- Generating done
-- Build files have been written to: /Users/xxx/Desktop/trojan/server/trojan/cmake-build-debug

[Finished]

**build log**

====================[ Build | all | Debug ]=========================

[2020-01-15 23:12] GreaterFire commented on #217
Seems like you resolved DNS locally. Which browser did you use and how did you configure your browser to use trojan?

[2020-01-16 00:25] jhb92 commented on #217
i use firefox and foxyproxy, Proxy Type socks5 ,Proxy IP address or DNS name is 127.0.0.1 port is 1088,Send DNS through SOCKS5 proxy is off.

the  bin downloaded from github can run soomthly , while the bin i build can run but can't proxy.

[2020-01-16 02:07] GreaterFire commented on #217
@jhb92 Please turn on send DNS through SOCKS5

[2020-01-16 11:17] jhb92 commented on #217
woooo.  turn on DNS and ok. why ?

[2020-01-16 11:27] GreaterFire commented on #217
Maybe your local DNS is poisoned.

[2020-01-16 11:27] #217 closed, assigned to nobody

[2020-01-16 11:42] jhb92 commented on #217
@GreaterFire thank you very much, your are excellent。

[2020-01-16 15:46] DolorHunter commented on #165
freenom 申请域名出现 not available 可能是因为访问IP跟资料填写的地区不符合, 修改资料内的地区即可.
如果不确定自己访问的IP, 可在确认申请的最后一步网页下方查看登录的IP地址. 请检查是否与资料一致.

[2020-01-16 16:02] edmund-zhao commented on #213
以解决

[2020-01-16 16:02] #213 closed, assigned to GreaterFire

[2020-01-16 16:05] edmund-zhao commented on #150
在nginx server
listen 80 http2;

[2020-01-17 03:21] liugezhou commented on #210
请问楼主安装成功了吗？

[2020-01-17 05:20] love4stella commented on #210
没有呢，我不想装chrome... 您装上了吗

[2020-01-17 15:25] KnightNic commented on #208
我直接编译到OpenWrt固件

[2020-01-17 15:26] lei1996 commented on #208
@KnightNic  编译的话，有操作文档么？

[2020-01-17 16:08] KnightNic commented on #208
可以参考下https://github.com/coolsnowwolf/lede，里面集成了trojan，编译前选一下就可以

[2020-01-17 16:10] txdywy commented on #208
youtube上有视频

lei1996 <notifications@github.com> 于 2020年1月17日周五 下午11:26写道：

[2020-01-17 17:41] lei1996 commented on #208
@KnightNic  @txdywy
lede 的固件我已经在编译了。应该一会就能成功。
之前考虑的是，在padavan 固件上 编译。
https://github.com/hanwckf/rt-n56u
请问有方式可以操作么？

[2020-01-18 12:36] jhb92 opened #220 "can add thread pool"
i want to add thread pool feature, add code as follow in main.cpp file. is it ok?

const unsigned intDEFAULT_THREAD_POOL_SIZE = 2;

unsigned intthread_pool_size =      std::thread::hardware_concurrency() * 2;
if (thread_pool_size == 0)       thread_pool_size=DEFAULT_THREAD_POOL_SIZE;

for ( int i = 0; i < thread_pool_size;++i)
     boost::thread( run_service);

void run_service() {   service.run()

[2020-01-18 14:12] jhb92 commented on #220
sorry,above is wrong. here is my thread pool code,test on my machine,please check it.

**service.h**
add public method.
public:
    void run_service();

**service.cpp**
#include <thread>
const unsigned int DEFAULT_THREAD_POOL_SIZE = 2;
void Service::run_service() {
    unsigned int thread_pool_size = std::thread::hardware_concurrency() * 2;
    if (thread_pool_size == 0)
        thread_pool_size=D

[2020-01-18 15:40] aglent commented on #171
How to build the lastest trojan? thanks

[2020-01-19 08:33] ghost commented on #171
it seems to be a bug of ssllab,close issue

[2020-01-19 08:33] #171 closed, assigned to GreaterFire

[2020-01-19 13:39] haiou7 opened #221 "[BUG] 在shadowsocket上用，显示此网站无法提供安全连接，换客户端pharos也一样"
iOS12.4.4在shadowsocket上，显示此网站无法提供安全连接，换客户端pharos也一样不行。
网页显示。
此网站无法提供安全连接
m.youtube.com 发送的响应无效。
ERR_SSL_PROTOCOL_ERROR

是不是证书的问题？

[2020-01-20 11:39] KnightNic commented on #210
系统网络里勾选代理，这样就全局代理，或者找一个别的软件做代理客户端

[2020-01-20 15:42] love4stella commented on #210
请参考这个教程：https://trojan-tutor.github.io/2019/04/10/p41.html
最后可以在系统代理里勾选sock，输入代理地址 127.0.0.1 端口：1080或你修改的

[2020-01-20 15:42] love4stella commented on #210
感谢

[2020-01-20 15:42] #210 closed, assigned to GreaterFire

[2020-01-21 01:07] cwyin7788 opened #222 "[BUG]客户端闲置一段时间后，就连不上trojan。"
**Trojan Version**
1.14

**Describe the bug**
一个晚上或者两三个小时，一段时间没动客户端，就像去睡觉，到第二天醒来后，trojan就可能连不上，要把客户端断掉重连才成，这个动作很麻烦。今天刚刚起床，拿起手机看微信，就连不上，(当然其他网站都连不上)但看VPS的log，是有连接微信的动作。

但又不是每次都一定㑹这样，我有一台iPhone X，一台6S Plus，就像今早一台连到，一台连不到，有时是6S Plus连得上，iPhone X连不到，有时两台都连不上，所以应该不是客户端的问题吧？

已经不是第一次这样，经常如此，就是闲置几个小时左右装置就有机㑹连不上，要断掉重连，所以我才发issue。

先谢谢了。

===========

更新：

看來是客戶端問題，錯怪了trojan，我換另一個客戶端Pharos很正常，而且速度比小火箭更快，我會

[2020-01-21 06:39] #222 closed, assigned to GreaterFire

[2020-01-23 04:44] #189 closed, assigned to GreaterFire

[2020-01-25 08:58] GreaterFire commented on #220
Duplicate of #179

[2020-01-25 08:58] #220 closed, assigned to nobody

[2020-01-25 08:59] GreaterFire commented on #207
How you update the software has nothing to do with this repo. Not a bug of this project.

[2020-01-25 08:59] #207 closed, assigned to GreaterFire

[2020-01-25 09:00] GreaterFire commented on #206
Install the new version as you normally would.

[2020-01-25 09:00] #206 closed, assigned to GreaterFire

[2020-01-25 09:01] #188 closed, assigned to GreaterFire

[2020-01-25 09:01] GreaterFire commented on #170
Not reproducible.

[2020-01-25 09:01] #170 closed, assigned to GreaterFire

[2020-01-25 09:03] GreaterFire commented on #176
This is too insecure. Won't implement.

[2020-01-25 09:03] #176 closed, assigned to GreaterFire

[2020-01-25 09:05] GreaterFire commented on #180
This kind of setup-related stuff will not be put in the documentation as the documentation should be general. You are welcome to write a [wiki](https://github.com/trojan-gfw/trojan/wiki) article about it if you'd like.

[2020-01-25 09:06] GreaterFire commented on #221
Please at least attach some log.

[2020-01-25 20:08] yjd opened #224 "是否可以像kcptun作为内层使用？"
ss client(local) --- trojan client(local) --- trojan server(remote) --- ss server(remote) --- internet

trojian测试正常后。
我尝试在ss client 添加 发送到本地 127.0.0.1:1080
服务器端修改trojan配置的：
"remote_addr": "127.0.0.1",
"remote_port": 7788, //ss server 端口

没成功

[2020-01-25 20:22] GreaterFire commented on #224
Please checkout the forward mode of trojan. However, I don't think your scheme is any necessary.

[2020-01-25 23:22] PK2702 opened #225 "[Feature Request]"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan should care about?**
Trojan is a protocol i

[2020-01-25 23:23] #225 closed, assigned to GreaterFire

[2020-01-26 05:38] zhangzhhz opened #226 "[Protocol] NGINX doesn't support HTTP/1.1 on h2c ports"
Hi,

I have trojan running at 443, redirecting to 80 which Nginx runs at. Nginx reverse proxies notebook.DOMAIN.TLD to http://localhost:6600 which runs a jupyter notebook.

I can connect to notebook.DOMAIN.TLD and see a list of notebooks and other files, but opening a notebook will give "Connection failed" error:

Firefox console shows:
[code]
There is no problem if I stop trojan and run Nginx at

[2020-01-26 05:43] GreaterFire commented on #226
@zhangzhhz Can I see your trojan server config? (redact as needed)

[2020-01-26 06:11] GreaterFire commented on #226
Actually, I would suggest not use http/2 but listen for http/1.1 in your nginx (and change the alpn option in trojan server config accordingly).

[2020-01-26 07:16] hejianbo1994 opened #227 "今天突然客户端报错 certificate verify failed"
是因为cert没有设置嘛？我以前没有设置都是好的呀

[2020-01-26 07:23] GreaterFire commented on #227
Is your server certificate expired?

[2020-01-26 08:01] hejianbo1994 commented on #227
yes,my problem,due to no verify email ,finally suspend my whois

[2020-01-26 08:11] #227 closed, assigned to nobody

[2020-01-26 11:17] zhangzhhz commented on #226
@GreaterFire, thanks, it does work now after removing http2 and h2 from Nginx and trojan.

I thought http2 was supported in majority of cases now (that's why I added it in trojan configuration in the first place). Can trojan have better support for http2?

[2020-01-26 16:26] GreaterFire commented on #226
I'll try to look into this.

[2020-01-26 16:35] GreaterFire commented on #226
It's NGINX's issue actually (https://trac.nginx.org/nginx/ticket/816). It supports both 1.1 and 2 simultaneously on its 443 port, but it doesn't support plain 1.1 and 2 simultaneously on its 80 port.

[2020-01-27 06:04] linfengOu opened #228 "Is it possible to get IP access log ?"
Hi, thanks for providing such a brilliant tool !
Is there any log file that logs IP address accessed to Trojan server ?
 I know it's possible to use netstat or ss to monitor, but if there's a log file then it would be much easier.

Thanks.

[2020-01-27 06:13] GreaterFire commented on #228
@oliver4u The log that trojan outputs literally contains this info. How did you run your trojan service?

[2020-01-27 06:35] GreaterFire commented on #226
This is a valuable problem. It points out a distinction between NGINX behind trojan and the standalone NGINX itself when HTTP/2 is present. As HTTP/2 gets more prevalent, we cannot ignore this issue, because this distinction can be used to precisely identify the existence of trojan in front of NGINX.

I'll repeat the problem of NGINX here. If we have a standalone NGINX listen on 443 with both http

[2020-01-27 06:41] GreaterFire commented on #226
After a closer look at the NGINX bug tracker (https://trac.nginx.org/nginx/ticket/816), it seems that NGINX is against the standard. An HTTP/2 port should be backwards compatible with HTTP/1.1.

[2020-01-27 06:47] GreaterFire commented on #226
See also https://trac.nginx.org/nginx/ticket/808

[2020-01-27 10:30] linfengOu commented on #228
@GreaterFire Thanks for the info. I missed --log parameter before.
Thanks again for this great tool.

[2020-01-27 10:30] #228 closed, assigned to nobody

[2020-01-28 05:49] GreaterFire commented on #226
The problem lies here (https://github.com/nginx/nginx/blob/9e07862d6e9d37041a42bbfa34dd1f56ed547505/src/http/ngx_http_request.c#L324-L331) where NGINX will choose to use HTTP/2 unilaterally if the config says so. Too hard to patch this.

[2020-01-28 14:01] ghost commented on #213
请问你是如何处理的？最近我也遇到这个问题，谢谢.

[2020-01-28 14:25] DNSun opened #229 "[BUG]"
- [ ] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.

**Describe the bug**
A clear and concise description of what

[2020-01-28 14:26] #229 closed, assigned to GreaterFire

[2020-01-28 21:10] #224 closed, assigned to GreaterFire

[2020-01-28 21:23] yjd opened #230 "json cert 的路径应该怎么写？ invalid code sequence"
按文档说明是需要替换成/，但是写绝对路径和多级目录的相对路径，
运行都提示错误  invalid code sequence

[2020-01-28 21:50] GreaterFire commented on #230
@yjd Please provide full config and log. Redact as needed.

[2020-01-29 06:38] yjd commented on #230
环境：
Windows trojan客户端配置

导致问题：
跟这个证书路径有关
当配置为

certificate.cer不写路径，在cmd下未切换到trojian软件执行目录时，执行：
 e:\ss\trojan\trojan.exe -c e:\ss\trojan\config.json
错误日志：

把cert 配置为完整路径 e:\ss\trojan\certificate.cer 测试现象依旧。
如果第三方程序调用windows的WinExe API 函数来运行就和上面测试现象一样。
也就是存在工作目录不在软件目录。trojan跑起来都自己取证书有问题。

解决：
1，批处理运行先 cd /d %~dp0 切换到软件目录再执行 trojan.exe -c config.json
2，调用WinExe函数前程序内部先切换到trojian的目录再运行也可以解决
3，使用ShellE

[2020-01-29 06:47] GreaterFire commented on #230
@yjd I repeat: please provide full config **with your "\\" replaced with "/"** and the corresponding log.

[2020-01-29 07:03] katslee opened #231 "Compilation Issues"
I am trying to recompile source code on a Intel 32 bit CPU on Ubuntu. Follow the instruction in Wiki, .... cmake .. [OK} and then got error message while make. Any help? Thanks in advance.

CMakeFiles/trojan.dir/src/main.cpp.o:(.data.rel.ro._ZTIN5boost15program_options11typed_valueINSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEcEE[_ZTIN5boost15program_options11typed_valueINSt7__cxx1112basic_

[2020-01-29 07:28] GreaterFire commented on #231
Please provide full compilation transcription (from cmake to the end).

[2020-01-29 07:44] katslee commented on #231
I am using a ATOM old notebook, 32 bit cpu on ubuntu, login as root
sudo su
apt -y install build-essential cmake libboost-system-dev libboost-program-options-dev libssl-dev default-libmysqlclient-dev
git clone https://github.com/trojan-gfw/trojan.git
cd trojan/
mkdir build
cd build/
cmake ..
make
Fail on make.

[2020-01-29 07:47] GreaterFire commented on #231
I need full shell output. Also please provide your os information (`cat /etc/os-release`).

[2020-01-29 07:59] katslee commented on #231
[code]

[2020-01-29 08:48] yjd commented on #230
问题原因找到，https://github.com/trojan-gfw/trojan/releases zip包里提供的模板文件都是ANSI(936)。
我路径带中文。而trojan默认应该是按UTF-8编码读取，导致上面的问题。

[code]
改UTF-8和默认自带GBK日志：

[2020-01-29 13:22] malikshi opened #232 "systemd usage"
trojan version 1.14.1
vps: ubuntu 18.04
trojan+trojan panel running pretty well
but i want log to save in other location so i can check log in realtime, not like this `systemctl status trojan`
so i try to implement like this `/usr/local/bin/trojan -l /var/log/mytrojan -c /usr/local/etc/trojan/config.json` its running well. but when i try on `/etc/systemd/system/trojan.service` with execstart

show

[2020-01-29 15:57] GreaterFire commented on #232
@malikshi Please show your entire service file.

[2020-01-29 21:16] #230 closed, assigned to GreaterFire

[2020-01-29 21:26] GreaterFire commented on #231
Try `cmake -DBoost_USE_STATIC_LIBS=ON ..` instead of `cmake ..`.

[2020-01-30 07:34] malikshi commented on #232
normal one

Description=$NAME
Documentation=https://trojan-gfw.github.io/$NAME/config https://trojan-gfw.github.io/$NAME/
After=network.target network-online.target nss-lookup.target mysql.service mariadb.service mysqld.service
[Service]
Type=simple
StandardError=journal
ExecStart="/usr/local/bin/trojan" "/usr/local/etc/trojan/config.json"
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
Rest

[2020-01-30 12:55] katslee commented on #231
Thanks for your kindly reply, but still got error, I clear the files under folder build and start with your command.

[code]

[2020-01-31 04:04] koolwiki opened #233 "What dose “Client ciphers are taken from Firefox 71.0” mean?"
Could you please explain what dose “Client ciphers are taken from Firefox 71.0. Server ciphers are taken from https://ssl-config.mozilla.org/ intermediate settings” mean for version1.14.1?

Dose it means the tls cipher fingerprint of tronjan 1.14.1 are identical to firefox now?

Thank you!

[2020-01-31 05:23] GreaterFire commented on #233
Just cipher list. Not anything else.

[2020-01-31 05:23] #233 closed, assigned to nobody

[2020-02-01 08:30] GreaterFire commented on #232
Please remove the quotation mark around your command.
[code]

[2020-02-01 08:35] GreaterFire commented on #231
Actually, your problem is that cmake found 2 versions of the boost libraries. It found 1.70.0 for linking and 1.66.0 for headers. Try `cmake -DBoost_INCLUDE_DIR=/usr/local/include ..` or wherever your boost 1.70.0 headers are.

[2020-02-02 08:26] RazorSammo opened #234 "trojan service Edit error?配置错误？？"
我按照教程配置了trojan
(I followed the tutorial to edit trojan config.json)

1.安装(Install trojan)：
sudo bash -c "$(curl -fsSL https://raw.githubusercontent.com/trojan-gfw/trojan-quickstart/master/trojan-quickstart.sh)"
sudo chown -R trojan:trojan /usr/local/etc/trojan
sudo cp /usr/local/etc/trojan/config.json /usr/local/etc/trojan/config.json.bak
2.打开配置(open config.json)
sudo nano /usr/local/etc/trojan/co

[2020-02-02 08:56] RazorSammo commented on #234
My trojan.service file is like this

[Unit]
Description=trojan
Documentation=https://trojan-gfw.github.io/trojan/config https://trojan-gfw.github.io/trojan/
After=network.target network-online.target nss-lookup.target mysql.service mariadb.service mysqld.service

[Service]
Type=simple
StandardError=journal
User=trojan
ExecStart=/usr/local/bin/trojan /usr/local/etc/trojan/config.json
ExeReload=/bin

[2020-02-02 08:57] RazorSammo commented on #232
My trojan.service file is like this

[Unit]
Description=trojan
Documentation=https://trojan-gfw.github.io/trojan/config https://trojan-gfw.github.io/trojan/
After=network.target network-online.target nss-lookup.target mysql.service mariadb.service mysqld.service

[Service]
Type=simple
StandardError=journal
User=trojan
ExecStart=/usr/local/bin/trojan /usr/local/etc/trojan/config.json
ExeReload=/bin

[2020-02-02 08:57] RazorSammo commented on #232
I tried but not work :(

[2020-02-03 02:10] maskedeken commented on #208
可以用我静态编译的mipsel版本，在老毛子上可以绿色运行
[https://github.com/maskedeken/trojan-gfw/releases](https://github.com/maskedeken/trojan-gfw/releases)

[2020-02-03 10:11] imtv opened #235 "如何在trojan服务器增加特定网站的DNS"
如何在trojan服务器增加特定网站的DNS

[2020-02-03 12:40] SalicylicAcid opened #236 "[BUG] 启动trojan之后，windows代理不能用了。"
[√] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
version 1.14.1

**Describe the bug**
启动trojan后，Windows代理设置失效，无法开启和修改内容。关闭trojan后恢复正常。
![image](https

[2020-02-03 12:57] isyume opened #237 "为什么到现在trojan都没有一个像shadowsocksX那样的mac版客户端"
为什么到现在trojan都没有一个像shadowsocksX那样的mac版客户端，而是用了所谓的脚本调用二进制文件后在chrome还要用插件。

[2020-02-03 13:50] shogunpeter commented on #237
顺便求一个图形化的win客户端

[2020-02-03 15:34] GreaterFire commented on #235
@imtv /etc/resolv.conf

[2020-02-03 15:46] GreaterFire commented on #236
@SalicylicAcid This is not the correct way of setting proxy. Please do it in your browser.

[2020-02-03 15:59] GreaterFire commented on #237
No such plan. CLI is sufficient.

[2020-02-03 15:59] #237 closed, assigned to GreaterFire

[2020-02-03 16:42] GreaterFire commented on #237
@shogunpeter Please, don't impose on the developers. No one is obligated to write you any software. If you'd like, you should make a GUI yourself.

[2020-02-03 17:12] imtv commented on #235
@GreaterFire
我试了，没有效果，而且格式是这样吧：
nameserver 1.1.1.1
另外能给特定网站加吗？

[2020-02-03 17:13] GreaterFire commented on #235
@imtv We are not generic Linux support. I'm sorry.

[2020-02-03 17:17] imtv commented on #235
@GreaterFire /etc/resolv.conf  is also not support？

[2020-02-03 17:19] GreaterFire commented on #235
What I meant is, GitHub Issues is for bug report and feature request, not for generic tech support. I'm sorry but I have to close this. You should try to get help elsewhere.

[2020-02-03 17:19] #235 closed, assigned to GreaterFire

[2020-02-03 17:20] #236 closed, assigned to GreaterFire

[2020-02-03 17:21] imtv commented on #235
@GreaterFire Can i modify config.json to change DNS ？

[2020-02-03 17:21] #234 closed, assigned to nobody

[2020-02-03 17:21] #232 closed, assigned to nobody

[2020-02-03 17:22] #221 closed, assigned to GreaterFire

[2020-02-03 17:22] #231 closed, assigned to nobody

[2020-02-03 17:23] #127 closed, assigned to GreaterFire

[2020-02-03 17:24] GreaterFire commented on #150
Discussion move to #226

[2020-02-03 17:24] #150 closed, assigned to GreaterFire

[2020-02-03 17:24] #178 closed, assigned to GreaterFire

[2020-02-03 17:24] #168 closed, assigned to GreaterFire

[2020-02-03 17:24] #180 closed, assigned to GreaterFire

[2020-02-03 17:25] GreaterFire commented on #195
Sorry but we have no plan in implementing this feature.

[2020-02-03 17:25] #195 closed, assigned to nobody

[2020-02-03 17:25] #181 closed, assigned to GreaterFire

[2020-02-03 17:25] #202 closed, assigned to GreaterFire

[2020-02-03 17:25] #208 closed, assigned to GreaterFire

[2020-02-03 17:26] GreaterFire commented on #143
Personally, I would still keep the current architecture. Thank you for your advice though!

[2020-02-03 17:26] #143 closed, assigned to nobody

[2020-02-04 05:36] shadowxw commented on #161
good job

[2020-02-04 14:30] player20033 opened #238 "Hello, have you plan to do SIP003 Plugin on Android platform?"
by make new android client probably not better to using exists clients to help using trojan.
I am not sure, and I am trying to use your trojan on my server.

[2020-02-04 17:00] GreaterFire commented on #238
@player20033 I'm sorry. The current SIP003 support is just a toy and we will not work towards a usable plugin.

But seriously, why use Shadowsocks still?

[2020-02-05 06:32] chuckleong21 opened #239 "macOS: [FATAL] fatal: config.json(5): expected value"
This error appears every time after I changed the following fields respectively in the config.json file:

[code]
2020-02-05 14:30:54] [FATAL] fatal: config.json(5): expected value
[2020-02-05 14:30:54] [FATAL] exiting. . .

However, `start.command` was successfully running when no params were changed. **What is this error and how do I fix it?**

[2020-02-05 06:38] jzgenius commented on #239
"cert": "/etc/ssl/cert.pem"

[2020-02-05 08:11] player20033 commented on #238
Just peoples theirs self problems like lazy or some what, nothing more.

[2020-02-05 08:11] #238 closed, assigned to nobody

[2020-02-05 08:12] GreaterFire commented on #239
Please quote all your strings.
[code]
Also, please download the latest version of trojan.

[2020-02-05 08:12] #239 closed, assigned to nobody

[2020-02-06 04:55] regloft commented on #234
新手表示同样遇到问题，不解。改用：
sudo -u trojan trojan -c /etc/trojan/config.json
可行。

[2020-02-07 02:36] HolgerHuo opened #240 "Can I define which protocol trojan uses? (ipv4, ipv6)"
My server has both ipv4 and ipv6 addresses and my domain is also resolved to both addresses using A record and AAAA record. I'm using mac client and it could connect successfully through ipv6. but nowadays it seems that my ipv6 isp is quite unstable (china unicom). My ipv6 connection sometimes dropped but I still got the link-local address, but in fact, I couldn't ping6 my server ipv6 address, or

[2020-02-07 02:38] GreaterFire commented on #240
@HolgerHuo You can try putting your server's IPv4 address in the remote_addr field and your domain name in the sni field. The certificate will be correctly verified.

[2020-02-07 02:46] Ops-online opened #241 "About Trojan Server speed limit feature"
Hello!
I saw in Trojan-panel, Trojan Server quota Trojan Client upload and download capacity. So, is there a limit on upload and download speeds for Trojan Client?
If not, do you consider adding this feature in a future release?

[2020-02-07 02:48] GreaterFire commented on #241
@blueskyxu Duplicate of #195

[2020-02-07 02:58] Ops-online commented on #241
Thanks

[2020-02-07 02:59] #241 closed, assigned to GreaterFire

[2020-02-07 06:03] ghost commented on #161
Another client for windows, macOS and Linux based on ``shadowsocks-qt`` and ``trojan-qt``
https://github.com/TheWanderingCoel/Trojan-Qt5/releases

[2020-02-07 10:08] HolgerHuo commented on #240
Copy that, thank you so much!

[2020-02-07 10:08] #240 closed, assigned to nobody

[2020-02-07 11:18] malikshi opened #243 "[ASK] create account"
**Trojan Version**
latest version 1.14.1
**Describe the bug**
not really bug but i cant understood how Authenticator works especially hash password

**Logs**

i tried to make bash script to create account via terminal. addtrojan.sh

    if [ "$CLIENT_NAME" == "" ]; then
        echo "INPUT USERNAME"
        read -p "Client name: " -e CLIENT_NAME
    fi
CLIENT_PASS="$2"
    if [ "$CLIENT_PASS" == "

[2020-02-07 16:18] GreaterFire commented on #243
SQL has builtin SHA support. Please use that.

[2020-02-07 16:22] malikshi commented on #243
is it like this

        -> '23097d223405d8228642a477bda255b32aadbce4bda0b3f7e36c9da7'

i tried it hash same result as using `echo -n "password" | sha224sum | awk '{print $1}` or am i wrong?

[2020-02-07 16:23] GreaterFire commented on #243
@malikshi You are correct.

[2020-02-07 17:10] malikshi commented on #243
@GreaterFire i setting up trojan config server, and add users according to reference you mentioned, but still invalid/incorrect password

[2020-02-07 17:13] GreaterFire commented on #243
@malikshi Please paste your server config.

[2020-02-07 17:15] malikshi commented on #243
"run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 443,
    "remote_addr": "127.0.0.1",
    "remote_port": 80,
    "password": [
        "adasdd",
                "qnSHWam"
    ],
    "log_level": 1,
    "ssl": {
        "cert": "/usr/local/etc/acme/certificate.crt",
        "key": "/usr/local/etc/acme/private.key",
        "key_password": "",
        "cipher": "ECDHE-ECDSA-AES25

[2020-02-07 17:16] GreaterFire commented on #243
@malikshi This should work. Is your dbname trojan?

[2020-02-07 17:16] malikshi commented on #243
@GreaterFire  yup dbname trojan. userdb trojan

[2020-02-07 17:17] GreaterFire commented on #243
@malikshi In your SQL statement, why is your password $pwd?

[2020-02-07 17:18] GreaterFire commented on #243
@malikshi Oh I see

[2020-02-07 17:19] GreaterFire commented on #243
@malikshi Can you show me the content of trojan.users table? Also did you restart trojan server after you modify the trojan config?

[2020-02-07 17:22] malikshi commented on #243
try create users with u/p: testest

here log error
Feb  8 00:22:04 cbtp trojan[19056]: [2020-02-08 00:22:04] [WARN] ip:6008 valid trojan request structure but possibly incorrect password (2d73dbb1e15cb1b6d71d579abe84cbe0b29446ffb06ca0fec20b5455)
Feb  8 00:22:04 cbtp trojan[19056]: [2020-02-08 00:22:04] [WARN] IP:6008 not trojan request, connecting to 127.0.0.1:80
Feb  8 00:22:04 cbtp trojan[19056]

[2020-02-07 17:24] GreaterFire commented on #243
@malikshi See. You did have an incorrect password. Your password in the database starts with 02d but the password you gave starts with 2d7.

[2020-02-07 17:24] malikshi commented on #243
data table users
![Screenshot_657](https://user-images.githubusercontent.com/9080737/74050765-40c47780-4a09-11ea-9a63-2527aafcbb8c.jpg)

[2020-02-07 17:25] GreaterFire commented on #243
@malikshi Your password in the client config should be the plain password. Is that correct?

[2020-02-07 17:25] malikshi commented on #243
"password": [
        "testest:testest"
    ],

is it wrong?

[2020-02-07 17:26] GreaterFire commented on #243
@malikshi No. It should be testest, excluding your username

[2020-02-07 17:26] GreaterFire commented on #243
@malikshi What you wrote is the trojan-panel format

[2020-02-07 17:28] malikshi commented on #243
@GreaterFire  so what format for password format for this mariadb only. i try not using trojan-panel

[2020-02-07 17:28] GreaterFire commented on #243
@malikshi Just the password itself. Do not include your username and the colon.

[2020-02-07 17:31] malikshi commented on #243
owh i see. i need recode again for android apk xD. im using trojan-panel format in android
thank you very much for the explanation :)

[2020-02-07 17:34] #243 closed, assigned to GreaterFire

[2020-02-08 07:24] timelessg commented on #161
It's useful, thanks

[2020-02-10 06:44] malikshi commented on #178
![Screenshot_662](https://user-images.githubusercontent.com/9080737/74126776-c287f100-4c13-11ea-9fed-779750ae67b4.jpg)
here im stuck again @GreaterFire  @wongsyrone .

[2020-02-10 06:46] GreaterFire commented on #178
It's strange as this bug is fixed in `1.12.3`. Can you try the latest version (`1.14.1`)?

[2020-02-10 06:48] malikshi commented on #178
yeah its confusing me, its latest version i just installed it last night. the other 2 server are fine, 1 kvm(2core) with 1 users multiple login , and 1 openvz6(4core) are good. but this one kvm too with 2 core but always stuck tcp hang, setting `sysctl` are same as other kvm.

[2020-02-10 14:44] zhpjy opened #245 "[Feature Request]please add http host filter support in server config"
sometimes not only one domain bind the server.

[2020-02-10 14:46] GreaterFire commented on #245
@zhpjy This is not currently in the plan. You can achieve your goal by using haproxy or nginx ssl preread.

[2020-02-10 15:07] #245 closed, assigned to GreaterFire

[2020-02-10 15:13] zhpjy commented on #245
thanks

[2020-02-11 00:17] GreaterFire commented on #237
@trkwyk No, you may not ask here.

[2020-02-12 08:11] Super-Gil opened #246 "How do I config my trojan server if I am using Cloudflare SSL plan?"
I have seen the "ssl" is required in the server_example.json, is that able not to use this option? Or how can I do to create such a trojan server? Much obliged.
我正在使用Cloudflare的解析服务和免费的SSL证书，但我不确定要怎么在这种情况下正确配置Trojan... 我在样例中看到服务端的配置文件里有写“ssl”选项，望帮助，万分感谢

[2020-02-12 08:24] #246 closed, assigned to nobody

[2020-02-12 08:25] Super-Gil commented on #246
The issue was solved, thanks a lot

[2020-02-13 05:34] onlyJinx opened #248 "[BUG] Questions about nginx and trojan"
- [ ] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
trojan 1.14.1
**Describe the bug**
A clear and concise descri

[2020-02-13 05:43] onlyJinx commented on #248
I'm so sorry,I checked the configuration file and found that my domain name was wrong.

[2020-02-13 05:43] #248 closed, assigned to GreaterFire

[2020-02-13 09:13] ooking opened #249 "fatal: load_verify_file: No such file or directory"
King@mbp trojan % ./start.command
Welcome to trojan 1.14.1
[2020-02-13 17:05:42] [FATAL] fatal: load_verify_file: No such file or directory
[2020-02-13 17:05:42] [FATAL] exiting. . .

请问这是因为没有安装 Boost 还是版本不对？

[2020-02-13 09:20] ooking commented on #249
brew install boost  了 1.72 仍然出错

[2020-02-13 11:31] yavon007 opened #250 "[Feature Request]服务端重定向流量"
希望增加功能，Trojan服务端支持把流量发送到指定的地址和端口。

[2020-02-13 13:59] GreaterFire commented on #249
Please paste your config here.

[2020-02-13 14:00] GreaterFire commented on #250
We support this.
https://trojan-gfw.github.io/trojan/protocol

[2020-02-13 14:00] #250 closed, assigned to GreaterFire

[2020-02-13 14:08] yavon007 commented on #250
是我表述的不够清楚，我的意思是通过Trojan在两台VPS之间建设一个流量隧道，服务端不再提供代理功能，而是把流量发送到指定的地址与端口。

[2020-02-13 14:09] GreaterFire commented on #250
Use socat for that purpose.

[2020-02-14 03:38] PHCSJC opened #251 "How force use tls1.3?"
Hi,your project is very great, I know trojan support tls1.3, but I want to know how force use tls1.3? don't use tls 1.2

thanks!

[2020-02-14 05:17] GF-Huang opened #252 "[HELP] SSL handshake failed"
- [x] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
`1.14.1`

**Describe the bug**
SSL handshake failed.

**To Reproduce**
I use the free cert that ge

[2020-02-14 05:28] GF-Huang commented on #252
Solved, because I forget to set the `.crt` path to `client.json` `cert` field. Hope add a tips to [Usage](https://trojan-gfw.github.io/trojan/usage) may help more people.

[2020-02-14 05:28] #252 closed, assigned to GreaterFire

[2020-02-14 07:21] zatol opened #253 "[BUG]?使用Trojan会导致vps堵塞，v2ray可以正常代理"
![使用Trojan会导致vps堵塞，v2ray可以正常代理]()

- [ ] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.14.0

**Describe the bug**
<img width="510" alt="1-1912041R60

[2020-02-14 09:50] Evisolpxe commented on #249
通常是cilent没有设置好cert路径导致的。

把config.json {‘ssl"-"cert"} 改成证书绝对路径重启试试

[2020-02-14 11:54] linhandev opened #254 "Centos installation config file"
I know this is silly, but is there official support for centos? Also I've failed to locate the config file on centos. Any idea where that should be?

[2020-02-14 12:10] iwoow opened #255 "fatal: config.json: cannot open file"
fatal: config.json: cannot open file

[2020-02-14 12:13] iwoow commented on #255
Installing trojan 1.14.1 to /usr/local/bin/trojan...
Installing trojan server config to /usr/local/etc/trojan/config.json...
Installing trojan systemd service to /etc/systemd/system/trojan.service...

**Welcome to trojan 1.14.1
[2020-02-14 20:10:52] [FATAL] fatal: config.json: cannot open file
[2020-02-14 20:10:52] [FATAL] exiting. . .**

/usr/local/etc/trojan/config.json
`{
    "run_type": "serve

[2020-02-14 12:19] linhandev commented on #254
Ah, used a script to install and they'd put everything under
/usr/src

[2020-02-14 12:19] #254 closed, assigned to nobody

[2020-02-14 17:39] GF-Huang commented on #165
显然是你的线路问题，在下长城宽带已是总所周知的垃圾运营商，使用香港出口测试 Trojan 油管看视频一样跑满带宽 100Mbps。

[2020-02-14 18:01] GF-Huang opened #256 "[Question] Implementation details about hex(SHA224(password))"
Different languages have different implementations, but I can't be sure that my implementation is correct. So I need data for unit testing.

Could you show me an example how the `password` generate?

For example:
password `"123456789"`
SHA224(password) `46 2C 1C 93 3B F9 71 09 9A C7 71 E7 83 85 5A D8 76 35 48 B6 B5 85 4B 09 86 4A 53 44`
hex(SHA224(password)) `"462c1c933bf971099ac771e783855ad876354

[2020-02-14 18:09] sunlewuyou opened #257 "[BUG]nginx https direct access error"
**Trojan Version**
trojan 1.14.1

**Describe the bug**
Using nginx, directly accessing https: // will result in the error shown below, while accessing http: // port 80 will be no problem.
![image](https://user-images.githubusercontent.com/19728435/74556094-2c97f180-4f98-11ea-9169-739f12f8a508.png)

[2020-02-14 18:20] sunlewuyou commented on #257
I found some information, but I don't know how to solve this problem, thanks!
![image](https://user-images.githubusercontent.com/19728435/74556789-c44a0f80-4f99-11ea-99f7-e98ce0b2ff17.png)
URL: https://scotthelme.co.uk/a-new-security-header-referrer-policy/

[2020-02-14 18:51] sunlewuyou commented on #257
![image](https://user-images.githubusercontent.com/19728435/74558905-1ab94d00-4f9e-11ea-9a5a-a49a64335c93.png)

[2020-02-14 18:52] GreaterFire commented on #257
Please make your website load its assets via HTTPS.

[2020-02-14 18:54] GreaterFire commented on #256
[code]

[2020-02-14 18:57] GreaterFire commented on #255
Please run trojan as
[code]

[2020-02-14 18:57] #255 closed, assigned to GreaterFire

[2020-02-14 18:57] sunlewuyou commented on #257
A stupid question: Is it configured in nginx.conf?
Can you give an example? Thank you!

[2020-02-14 18:58] GreaterFire commented on #257
Nope. It's specific to your website. I can't help you because it's not a trojan issue.

[2020-02-14 18:59] #256 closed, assigned to GreaterFire

[2020-02-14 19:00] sunlewuyou commented on #257
OK, I already know what to do, thank you for your prompt reply! Thanks again!

[2020-02-14 19:02] GreaterFire commented on #251
There is no way to do this unless you tweak the code. We have no plan on supporting this right now.

[2020-02-14 19:03] #257 closed, assigned to GreaterFire

[2020-02-15 05:31] he323219002 commented on #249
mac系统同样遇到这个问题

[2020-02-15 05:38] GreaterFire commented on #249
@he323219002 Please, post your configs. No one's going anywhere if you just complain like that.

[2020-02-15 06:44] #249 closed, assigned to GreaterFire

[2020-02-15 06:47] lockejet opened #258 "cannot resolve remote server hostname"
我在DEBIAN上尝试搭建透明网关（所谓“旁路由”模式），参照下文配置：
https://www.johnrosen1.com/ubuntu-router/

在网关透明上网失败。

VPS和google.com的域名解析正常：
[code]
但是却无法访问google.com:
[code]
日志显示不能解析VPS域名：
[code]

/usr/local/etc/trojan/config.json文件如下：
[code]
同样的配置文件在windows下面是可以无障碍上网的。

另外，我在/etc/v2ray/config.json和/etc/resolv.conf均配置了t.abc.xyz的IP地址。
/etc/v2ray/config.json里面把1080端口改为1087了，其它没有变化。
路由和防火墙也是按照教程写，基本没有变化。

请问是什么回事呢？该如何排查呢？
谢谢！

[2020-02-15 07:26] #253 closed, assigned to GreaterFire

[2020-02-15 08:39] PHCSJC commented on #251
ok, thanks! wait this function!

[2020-02-15 09:09] StrollStars opened #259 "[FATAL] fatal: bind: Address already in use"
Such as the title.
System: Ubuntu 19.04
HTTP server: Apache
Error still after I turn off apache or change trojan port.

[2020-02-15 19:51] malikshi commented on #259
dont forget to restart apache2 service and trojan after change it

[2020-02-16 09:28] StrollStars commented on #259
Thanks for your help, I did the following and still reported the error.
1.restart apache2
2.change trojan port
3.restart trojan

[2020-02-16 09:37] malikshi commented on #259
Sent screenshot of `netstat -ntlp`
And config you trojan server also apache port config

[2020-02-16 12:59] banyet1 commented on #258
Same issues when running on server mode.
Fix:
"tcp": {
        "prefer_ipv4": false,
change to:
"tcp": {
        "prefer_ipv4": true,

Becase it looks like using ipv6 first.

[2020-02-16 13:01] banyet1 commented on #258
BTW:

Install on CentOS7 is really a challange, bcuz u have to build everthing from ground.

[2020-02-16 13:21] Win2Socks commented on #237
现在有了 :slightly_smiling_face: https://github.com/Win2SocksSoftware/TrojanPlugin

[2020-02-16 13:46] ghost commented on #237
全平台的客户端: https://github.com/TheWanderingCoel/Trojan-Qt5

[2020-02-16 14:54] Jasson101 opened #261 "[BUG]How could I set up on Edge or IE ?"
Sorry I'm a beginner. I set up Trojan on Google crome, everything is going well. However I tried use socks5 on Windows10 to use other App. It didn't work. How could I use 全局代理 like SSR ？ PLease someone helps me !

[2020-02-16 14:57] Jasson101 commented on #261
I have another question. Befor yesterday my trojan speed is up to 30Mb/s ，but today is like 500Kb/s to go abroad. The ping to my VPS is around 300s to 2500s . IDK what is going on. What maybe the problem?

[2020-02-16 14:58] KunagisaYuki commented on #261
@Jasson101 Use your Windows proxy settings in your ie or system settings.
Again, issues is a place for *Trojan related* problems.

[2020-02-16 15:01] Jasson101 commented on #261
I tried, didn't work. Could u give me specific info?  Please

[2020-02-16 15:13] KunagisaYuki commented on #261
@Jasson101 Some simple searching can answer the problem, for example, you can read this: https://amp.reddit.com/r/techsupport/comments/4j0l35/windows_10_route_all_traffic_through_socks5_proxy/
And you should know that the shadowsocks gui's global proxy do the equivalent thing.(Which means that if correctly configured they will have the same effect.)

[2020-02-16 15:31] Jasson101 commented on #261
neigher of them way work. But thanks , you can close the issues

在 2020-02-16 23:13:51，"KunagisaYuki" <notifications@github.com> 写道：

@Jasson101 Some simple searching can answer the problem, for example, you can read this: https://amp.reddit.com/r/techsupport/comments/4j0l35/windows_10_route_all_traffic_through_socks5_proxy/
And you should know that the shadowsocks gui's global proxy do the equiva

[2020-02-16 15:37] #258 closed, assigned to nobody

[2020-02-16 15:37] #259 closed, assigned to nobody

[2020-02-16 15:38] #261 closed, assigned to GreaterFire

[2020-02-17 02:43] sj1069 commented on #161
Super helpful for those who know little about coding! Thank you!

[2020-02-17 15:10] Super-Gil opened #262 "[BUG]"
- [*] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
1.4.1

**Describe

[2020-02-17 15:11] Super-Gil commented on #262
Sorry the version should be 1.14.1, the latest one

[2020-02-17 16:18] ghost commented on #262
https://github.com/johnrosen1/trojan-gfw-script try this please

[2020-02-17 16:48] GreaterFire commented on #262
@Super-Gil Please post your log.

[2020-02-17 17:44] maidousj commented on #249
遇到同样错误，需要把config文件和/usr/src/trojan-cli/fullchain.cer 拷贝到本地客户端所在路径。

[2020-02-18 03:10] vitoshen opened #263 "[Feature Request]"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-02-18 03:15] vitoshen commented on #263
数据库的流量限制建议即时生效，一旦超了立马不能用。

[2020-02-18 03:15] GreaterFire commented on #263
@vitoshen This is very hard to implement.

[2020-02-18 03:17] vitoshen commented on #263
加油，等大佬填坑

[2020-02-18 03:31] #263 closed, assigned to GreaterFire

[2020-02-18 07:25] #262 closed, assigned to GreaterFire

[2020-02-18 07:42] Super-Gil commented on #262
Sorry but where can I find the log please?

[2020-02-18 11:22] yavon007 commented on #250
Oh, my dear big man.I mean, A is trojan of NAT conf.B is trojan of Server conf.C is a SS agent.I send SS traffic to A and forward traffic to A NAT conf port,A send traffic to B by trojan protocol.Address and port that B can forward to C after receiving traffic.Like forward conf,server_forward.大体就这个，塑料机翻英语。

[2020-02-18 14:53] chenicel commented on #131
Do you use trojan deployed by docker container? I currently use nginx container. I want to use Docker to deploy trojan, and then use nginx to forward to trojan container, but I do n’t know how to configure

[2020-02-18 15:22] malikshi commented on #178
i think its cpu related, the one using

Number of cores      : 2
CPU frequency        : 2297.335 MHz
Total size of Disk   : 20.2 GB (10.1 GB Used)
Total amount of Mem  : 1982 MB (423 MB Used)
Total amount of Swap : 3995 MB (44 MB Used)
System uptime        : 9 days, 21 hour 50 min
Load average         : 0.40, 0.33, 0.36
OS                   : Ubuntu 18.04.4 LTS
Arch                 : x86_64 (64 Bi

[2020-02-18 18:30] h1xy opened #264 "使用Trojan后VPS每天会断流1-2次"
阿里云国际服新加坡，安装Trojan后最近服务器每天会有1-2次国内无法ping通，但在国外可以ping通。1-2分钟后恢复。

按照这篇文章[https://ssrshare.github.io/2019/11/24/greatfirewall/](url)的说法是被运营商阻断了。

`目前，部分运营商对境外 IP 做了手脚，当用户访问某个境外 IP 流量明显时，链接将会被彻底阻断（TCP/UDP/ICMP），阻断 2-10 分钟左右恢复链路，再次访问访问该境外 IP 时，继续阻断，以此往复。`

各位有没有好的办法？有朋友说他Trojan换非标准端口后不会断流，是否推荐换端口？

[2020-02-18 18:31] #264 closed, assigned to GreaterFire

[2020-02-19 03:49] dcboy opened #265 "[Feature Request] want cross compile env for arm android"
want cross compile env for arm android

[2020-02-19 06:19] #265 closed, assigned to GreaterFire

[2020-02-19 14:51] yjmp14 commented on #37
Hi, I also think add custom DNS support is a good idea, as I know SS, SSR, V2Ray and Ocserv all support this function. Maybe now in 2020 is a proper time to add it?

[2020-02-19 20:21] 0xxxD opened #266 "[BUG] Can not access 'google.com' on Safari"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
1.14.1

**Describ

[2020-02-19 20:22] GreaterFire commented on #266
Not a bug.

[2020-02-19 20:22] #266 closed, assigned to GreaterFire

[2020-02-20 00:56] wongsyrone commented on #37
If you implement it, we would like to merge.

[2020-02-20 03:23] 0xxxD commented on #266
@GreaterFire I know it isn't a bug, so what is wrong in my usage? tell me plz..

[2020-02-20 03:24] GreaterFire commented on #266
@0xxxD See CONTRIBUTING.md

[2020-02-20 10:00] XenMe opened #267 "[Feature Request] Client side authentication support"
when Trojan run in client mode (run-type set to client), it expose SOCKS5 to local network users.

Can we add authentication support for SOCKS5 to prevent unauthorized access?

This allow us easily expose the SOCKS5 to internet to your friends. Without authentication support, we have to nested Trojan with another tool like V2Ray.

[2020-02-20 10:06] XenMe commented on #267
as for the concerns that socks5 is an insecure protocol, but it's secure enough for local usage, and we don't use it for GFW, but for general purpose, such as share it to your friends temporarily for a few days. This doesn't need a strong secure protocol, but do need to prevent unauthorized access.

So hope this can provide more judgement to implement this enhancement.

[2020-02-21 03:41] ghost commented on #267
you can achieve this in another way,thus it is not necessary to implement.

[2020-02-21 04:39] XenMe commented on #267
It's a nice to have feature which shouldn't introduce too much complex.

[2020-02-21 20:14] oyanli opened #268 "Does trojan support the unlocking of netflix"
Hello
Does trojan support the unlocking of netflix, as in the following method, I tried it, there is no way to unlock, and the default DNS server of the VPS cannot be unlocked, but v2ray is ok. Is there any other way to support unlocking?

https://github.com/myxuchangbin/dnsmasq_sniproxy_install

[2020-02-21 20:44] #268 closed, assigned to GreaterFire

[2020-02-21 20:45] GreaterFire commented on #267
We do not recommend exposing a SOCKS5 port to any network other than your local machine, even if it needs authentication. Thus, we'll not bother implementing it.

[2020-02-21 20:46] #267 closed, assigned to GreaterFire

[2020-02-22 03:56] oyanli opened #269 "[Feature Request]Does trojan support the unlocking of netflix"
Hello
Does trojan support the unlocking of netflix, as in the following method, I tried it, there is no way to unlock, and the default DNS server of the VPS cannot be unlocked, but v2ray is ok. Is there any other way to support unlocking?

https://github.com/myxuchangbin/dnsmasq_sniproxy_install

[2020-02-22 04:30] oasiscifr commented on #269
@oyanli Whether you can access Netflix services depends on the IP of your server. It has nothing to do with trojan.

[2020-02-22 13:02] Houiin opened #270 "[Question]When trojan handle incoming TLS , website cannot use https (nginx)"
- [√] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.14.1

**Describe the bug**
I can only use http to ac

[2020-02-22 16:37] #269 closed, assigned to GreaterFire

[2020-02-22 16:38] GreaterFire commented on #270
Yes, we'll not support connecting to TLS backends.

[2020-02-22 16:38] #270 closed, assigned to GreaterFire

[2020-02-23 00:44] Houiin commented on #270
No matter how I modify the `remote_port` in the `config.json` on the server, I can only access the website through port 80

If my port 80 is also occupied and the web page needs to be accessed through port 8080, how do I set it up?:kissing_smiling_eyes:

[2020-02-23 02:10] MadZyu commented on #127
大佬可以再分享一下吗？链接失效了

[2020-02-23 02:49] HaleyLeoZhang opened #271 "[Feature Request]It would be nice if there was a function to parse the PAC"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
When I use a Trojan Windows Client in China to cross the wall, many domestic sites do not need to use VPN traffic, and even when visiti

[2020-02-23 02:50] #271 closed, assigned to GreaterFire

[2020-02-23 04:17] babylife commented on #127
链接失效了，可以再共享下吗？

[2020-02-23 04:59] zhangzhhz commented on #270
@Houiin , let trojan listen at 443, change "remote_addr" to "127.0.0.1" and "remote_port" to 80 (or any port you prefer). Then change your Nginx's site configurations to listen at 80 without SSL.

Just google it. It also appears that you are not very familiar with Nginx. Spend some time on it.

[2020-02-23 05:50] Houiin commented on #270
@zhangzhhz Thank you very much for your reply, but I still have some questions.

I have let trojan listen at 443, changed "remote_addr" to "127.0.0.1" and "remote_port" to 80 . But if I change the remote_port to any other port (e.g. 8080) and change nginx listen to 8080.  Trojan works well but  I can only access the web site using `www.domain.com:8080` instead of `www.domain.com`

Since non-trojan

[2020-02-23 07:41] quminghaonanya commented on #205
how did you solve the problem ,would you mind sharing your experience with me?
I met the same problem.

[2020-02-23 07:53] quminghaonanya commented on #205
I have sovled this problem,just by trunning off nginx and start trojan. :)

[2020-02-23 09:33] ShineUnM opened #272 "[BUG] server worked in shadowrocket iOS can not be used in trojan mac"
one of my server works smoothly in shadworocket iOS, but when I use it in trojan 1.4.1 for Mac and try to visit google, safari reports "can not establish a secure connect to google"

I have tried to uncheck the "verify" section in config.json like this but nothing helps:
       "reuse_session": false,
        "session_ticket": false,
        "sni": "",
        "verify": false,
        "verify_host

[2020-02-23 09:58] ShineUnM commented on #272
sorry for my mistake, I have pasted the incorrect password of the "bad" server into the config.json, Now the "bad" server works well.

please close this issue, sorry again.

[2020-02-23 09:58] #272 closed, assigned to GreaterFire

[2020-02-23 10:24] fan3cn opened #273 "how to use trojan from terminal in Mac OS"
Hi, I am wondering how to use trojan from terminal in Mac OS, I checked that the local port listened by trojan is 8070, then I try to set the local proxy by:
export http_proxy=http://127.0.0.1:8070
export https_proxy=$http_proxy
But, it doesn't work.
Any solution?

[2020-02-23 11:32] zhenchao125 commented on #273
you can try: export all_proxy=socks5://127.0.0.1:8070

[2020-02-23 11:43] fan3cn commented on #273
it doesn't work neither.

[2020-02-23 11:55] lilunxm12 commented on #273
not all programs play nicely with socks5 proxy. you may want to try proxychains-ng

[2020-02-23 12:34] zhangzhhz commented on #270
@Houiin , take a look at https://trojan-tutor.github.io/2019/04/10/p41.html#%E9%85%8D%E7%BD%AEnginx

[2020-02-23 17:40] #273 closed, assigned to nobody

[2020-02-24 12:16] FenghenHome opened #274 "[Feature Request]希望增加api进行账号密码和流量统计"
参考：https://github.com/shadowsocks/shadowsocks-libev/blob/master/doc/ss-manager.asciidoc

Send UDP commands in the following format to the manager-address provided to ss-manager(1):
command: [JSON data]

To add a port:
add: {"password":"7cd308cc059"}

To remove a port:
remove: {"password": "7cd308cc059"}

The format of the traffic statistics:
stat: {"7cd308cc059":11370}

[2020-02-24 13:01] wongsyrone commented on #274
It introduces traffic characteristics if we respond to specific commands.

[2020-02-24 16:31] widewind2015 commented on #101
@GreaterFire
It turns out that I have to disable certificates and hostname verification to use socat to forwarding TCP stream as described in above scheme.
`"ssl": {
    "verify": false,
    "verify_hostname": false,`

Otherwise trojan(nat mode) fails with error:
`[2020-02-24 23:07:22] [ERROR] XXX.XXX.XXX.XXX:PORT SSL handshake failed with XXX.XXX.XXX.XXX:PORT: certificate verify failed
[2020-02-2

[2020-02-24 16:51] GreaterFire commented on #101
@widewind2015 put your real domain name in the sni field

[2020-02-25 00:54] widewind2015 commented on #101
It works. Thanks very much!

[2020-02-25 02:28] GreaterFire commented on #274
Please read [this](https://github.com/trojan-gfw/trojan/blob/master/CONTRIBUTING.md) first.

This functionality is not really necessary to be included in the trojan core as trojan supports authentication via MySQL. You can easily offload your requirements to some other tools.

[2020-02-25 02:28] #274 closed, assigned to GreaterFire

[2020-02-25 11:00] fbion opened #276 "可以多路复用吗"

[2020-02-25 14:38] #276 closed, assigned to GreaterFire

[2020-02-25 15:31] babylife commented on #189
求编译好的bin文件 感谢

[2020-02-26 02:38] shminer commented on #67
So trojan handle incoming tls handshake ,  like a tls reverse proxy?

amazing....

[2020-02-26 15:24] Marukon commented on #150
This problem could be solved by this method, thank you.

[2020-02-26 15:47] mem0rz opened #277 "[Feature Request]mysql secure connection (TLS)"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
trojan and the database of trojan panel pe

[2020-02-26 17:50] teel-writ-ros commented on #161
Thanks a lot! Looking forward to your new repo.

[2020-02-27 05:02] shake opened #278 "[question]如何填写openwrt上客户端的参数"
<img width="520" alt="快照3" src="https://user-images.githubusercontent.com/78207/75413641-0e030480-5961-11ea-952a-96031d243e42.png">

我现在使用 a.example.com 域名，注册了证书，也部署好trojan的服务器端。

我的pc端，没问题。

openwrt上，这些参数要如何填写？TLS Host，也是填写 a.example.com？

[2020-02-27 05:28] shake commented on #278
刚才看了一下官方网站，感觉在openwrt上的配置，应该是一个转发端，不知道理解是否正确。

[2020-02-27 05:57] JimLee1996 commented on #161
https://github.com/JimLee1996/TrojanX.git

[2020-02-27 06:10] teel-writ-ros commented on #237
https://github.com/JimLee1996/TrojanX

[2020-02-27 07:14] shake commented on #278
我发错版块，sorry

[2020-02-27 07:14] #278 closed, assigned to nobody

[2020-02-27 10:50] rilyuuj commented on #155
请教一下如何解决，如果启用caddy自动续订证书的话，会同时占用80，443，而且好像无法设置端口。所有只能将torjan安装到docker，caddy在主机上运行，这是我的思路，不知道理解的对不对。
torjan            0.0.0.0:1443 > 443/tcp
caddy            0.0.0.0:443

[2020-02-27 11:48] gorquan commented on #155
我现在是trojan和caddy分开两个docker,使用docker-compose启动。
没有证书的时候,让caddy占用443;等获取到证书了,让trojan占用443, caddy占用80即可。
对于续签这个问题应该是ok的,因为续签好像能访问网站就行,待测试。
也就是
[code]
docker-compose没有init container这个概念，所以需要手动修改端口占用，如果有init container这个概念就可以全自动部署了

[2020-02-28 03:33] GreaterFire commented on #277
Try [stunnel](https://www.stunnel.org/) in between your MySQL server and Trojan server.

[2020-02-28 10:14] OmmyZhang opened #279 "Can I put Trojan BEHIND Nginx?"
As I have multiple domains and multiple certificates for my webserver, I hope to put Trojan behind Nginx. (Also, it seems more organize to let Nginx use the 443 port and put all other things behind.)

Is it possible?

[2020-02-28 10:22] OmmyZhang commented on #279
I see, maybe I can use ``ngx_stream_ssl_preread_module``.
It would be great if Trojan can support http/socket file connect.

[2020-02-29 05:43] mem0rz commented on #277
I finished the code for secure connection to mysql. =,=Could I merge?
Many guys build they database in the wall, but the trojan is outside the wall. When trojan server connect to database GFW has the ability to eavesdrop the contents of mysql  communication. If We use secure tunnel to communication, which would be identified as cross wall. This will cause connection to be blocked by GFW, affecting

[2020-02-29 06:17] GreaterFire commented on #277
@cybmp3 Make a PR and I'll review

[2020-02-29 13:39] ldwnt opened #282 "虽然不像是trojan的bug，但是这里请教下大佬"
是这样的，google cloud hk asia-east2-b的机器，ping值稳定在30-50间，访问其他google服务都挺正常，耗流量的youtube也不卡，但是google maps基本处于半瘫痪状态。每次能正常访问半小时左右，然后就会卡住很长时间，查询地点的操作都做不了。换google cloud tw的机器，或者bandwagonhost la的机器，也是这种症状，看起来像是google maps自己的问题？

[2020-03-01 03:20] sinovale opened #283 "[FATAL] fatal: bind: Address already in use"
Hi guys,
I met an issue shows that "[FATAL] fatal: bind: Address already in use" after I typing command "journalctl -e -u trojan.service". It loooks like trojan not works well.
For details, my config files and issue reports also attached. could you please check it? Thanks so much.
Jeff
<img width="583" alt="journalctl -e -u trojan service" src="https://user-images.githubusercontent.com/61626265/75

[2020-03-01 03:28] KunagisaYuki commented on #283
@sinovale This means your port that in the configure file is occupied by another program,like nginx or something else. Stop these programs or change an application port will make it works.

[2020-03-01 03:37] sinovale commented on #283
Hi @KunagisaYuki Thank you for your reply. I'm not sure which port you mean. local address or remote address, and local port or remote port. Thanks again.

[2020-03-01 03:48] bylond commented on #283
Trojan needs to listen to the 443 port, both for IPv4 and IPv6 address by default. In your case, the 443 port for IPv6 address is taken by ngrokd. You need to set the parameter "prefer_ipv4" in trojan configuration to be "true". Or you can kill ngrokd and then start Trojan.

[2020-03-01 04:57] sinovale commented on #283
@bylond Thanks for your reply. Follow your guide. Then I set "prefer_ipv4" to "true" and restart trojan. However, it still failed. But, if I kill the ngrokd progress, it works.

[2020-03-01 05:34] bylond commented on #283
I thought the parameter "prefer_ipv4" means "ipv4 only". Anyway, glad you find the solution.

[2020-03-01 06:13] sinovale commented on #283
If I change 'local_port' from 443 to any other port like 4433, is it safe for GFW detect?

[2020-03-01 10:08] wuwentao opened #284 "[BUG] FATAL exit error duing OS startup with mysql enabled config.json"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
Welcome to trojan 1.14.1
Boost 1_72, OpenSSL 1.1.1d  1

[2020-03-01 15:14] chenjie commented on #282
@ldwnt 没有具体evidence的issue建议你还是直接close把

[2020-03-02 02:51] wuwentao commented on #279
have the same multiple domain issue as you.
still keeps on v2ray ws+tls+nginx mode now...

[2020-03-02 04:17] JoshDaone commented on #283
Ideally non-standard HTTPS TCP port is good for mainland web server control, so u can change the monitoring TCP port to others.

[2020-03-02 04:20] sinovale commented on #283
@JoshDaone @bylond @KunagisaYuki Hi guys, thanks again for your reply.

[2020-03-02 04:20] #283 closed, assigned to nobody

[2020-03-02 05:38] OverJerry opened #285 "使用时遇到的几个小问题"
前段时间换成了大佬的Trojan，速度确实比V2+ws+tls快不少，，，我的vps是搬瓦工美国的cn2 gia，客户端用的是Linux，域名是namesilo注册的，延迟160ms左右，，，
这是我的客户端配置：
[code]
服务端配置
[code]
然后我配合GFWlist+firefox冲浪，速度很不错
但是我在使用的时候，经常遇到几个问题：
1.打开youtube视频可能会出现如下错误
![image](https://user-images.githubusercontent.com/46861729/75648156-33a64b80-5c8a-11ea-8d45-d300ff78ba29.png)
然后刷新一遍就好了，也不影响播放速度，但是经常出现，很烦人
2.使用Burpsuite代理http(s)流量然后转发到trojan时dns解析不正常，google会被替换成某个乱

[2020-03-02 07:07] longlu opened #286 "[Feature Request] trojan client for ubuntu"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
yes, unable to use it on linux
**Is this problem relevant to what trojan should care about?**

yes

**Describe the solution you'd like*

[2020-03-02 07:08] GreaterFire commented on #286
@longlu See Wiki

[2020-03-02 07:08] #286 closed, assigned to GreaterFire

[2020-03-02 07:09] #285 closed, assigned to GreaterFire

[2020-03-02 07:09] #279 closed, assigned to nobody

[2020-03-02 07:09] #282 closed, assigned to GreaterFire

[2020-03-02 07:10] GreaterFire commented on #284
Please make sure that your mysql server is **ready** before trojan launches.

[2020-03-02 07:10] #284 closed, assigned to GreaterFire

[2020-03-02 07:53] PHCSJC commented on #251
@GreaterFire  reopen? why?

[2020-03-02 09:06] unknowndevQwQ commented on #251
wait

[2020-03-03 04:54] lauzhiyong opened #288 "软件无法使用"
windows客户端配置好后打开提示错误，VC_redist.x64已经安装过了，还缺少什么运行库吗？
`
Welcome to trojan 1.14.1
[2020-03-03 12:49:07] [WARN] trojan service (client) started at 127.0.0.1:1080
[2020-03-03 12:49:25] [ERROR] 127.0.0.1:55327 unknown protocol
[2020-03-03 12:49:25] [INFO] 127.0.0.1:55327 disconnected, 0 bytes received, 0 bytes sent, lasted for 0 seconds
[2020-03-03 12:49:27] [ERROR] 127.0.0.1:55335 unknown protocol
[202

[2020-03-03 11:10] lilunxm12 commented on #288
写在字面上了,你连接trojan客户端的程序用的不是SOCKS5代理协议,可能是https之类的,这种问题自己多Google,不要浪费大家时间

[2020-03-03 11:44] lauzhiyong commented on #288
首先呢谢谢您的回复，我这情况用qt版的也是这提示，同样的设置，一台机子可以另一台不行，我也在搜索引擎找过相关资料，但是没有找到，可能关键词没找对吧！

[2020-03-03 12:16] lauzhiyong commented on #288
谢谢您的提醒，我找出问题了，两台电脑同样的系统既然设置要不一样！

[2020-03-03 12:16] #288 closed, assigned to GreaterFire

[2020-03-03 13:14] JoshDaone commented on #251
What's the expected behavior of comment the cipher out from the config.json and only keeps the `cipher_tls13`?
[code]

[2020-03-04 06:24] hobeter opened #289 "500 Internal Privoxy Error"
根据文章设定完之后在浏览器中打开域名为什么得到了500 Internal Privoxy Error？

[2020-03-04 06:24] #289 closed, assigned to nobody

[2020-03-04 07:35] Humein opened #290 "I want use by terminal, How to configure ？"
I want to use the terminal connection YouTube

[2020-03-04 10:00] KevinZonda commented on #290
Run following commands

[code]

socks5://xxxxx is your local trojan address

[2020-03-05 01:36] Humein commented on #290
Thank you

[2020-03-05 01:36] #290 closed, assigned to GreaterFire

[2020-03-05 04:32] ghost opened #291 "can add zstd of http3 standard to this ?"
i was wondering if can add compression like zstd and http3 to the project .

[2020-03-05 05:19] ghost commented on #291
you are welcome to pr

[2020-03-05 06:34] malikshi opened #292 "Documentation reuse port for multiple instances?"
Please give example configuration trojan server reuse port on multiple instances.
I tried copy config.json to test-config.json which is using local_port 443. When I start it, only one of them what's work, the other one would unexpectedly exit bcs port already in use.

[2020-03-05 09:01] davidshen84 opened #293 "Release 1.14.1 cannot run in alpine:latest (e7d92cdc71fe) in Docker"
When I try to run `trojan` in alpine, I got `not found` error. I even followed **https://hub.docker.com/r/trojangfw/trojan/dockerfile** and added the dependencies, but I still got the same error.

However, if I build my docker image from `ubuntu`, `trojan` runs successfully and can be connected.

I guess the `not found` error does not mean that the shell cannot find `trojan`, but something that `t

[2020-03-05 09:02] davidshen84 commented on #293
[code]

[2020-03-05 10:40] mritd commented on #293
To be clear, alpine uses musl c instead of glibc.
So you need to compile trojan from source.
But why not use the official Dockerfile?

[2020-03-05 10:57] davidshen84 commented on #293
I see. Thx.

[2020-03-05 10:57] #293 closed, assigned to nobody

[2020-03-05 15:47] malikshi commented on #292
fixed, must running with same user
![Screenshot_766](https://user-images.githubusercontent.com/9080737/75998335-3d061100-5f33-11ea-8f10-8e5112d4ebef.jpg)

[2020-03-05 15:47] #292 closed, assigned to GreaterFire

[2020-03-06 07:55] backzoneboy opened #294 "[BUG][FATAL] fatal: config.json(5): expected value"
请问在mac上配置打开start.command显示这个界面怎么解决

Welcome to trojan 1.14.1
[2020-03-06 15:39:52] [FATAL] fatal: config.json(5): expected value
[2020-03-06 15:39:52] [FATAL] exiting. . .

[2020-03-06 08:17] lins opened #295 "[Feature Request]请教下为什么我编译出来的1.几兆。在别的机器上运行报缺boost.so 文件"
请教下为什么我编译出来的1.几兆。官方下载的4点几兆。我编译的在别的机器上运行报缺boost.so 文件。是我编译的姿势不对么？ 本地编译了本地linux 可以执行，放到别的机器上跑不了

[2020-03-06 09:27] lilunxm12 commented on #294
自己检查json写的是否合法,基本的troubleshooting都没有就不要来提issue

[2020-03-06 09:48] Gilfoylex opened #296 "add http proxy"
only sockt5 proxy, can you add http proxy ?

[2020-03-06 11:04] #294 closed, assigned to GreaterFire

[2020-03-06 11:06] wongsyrone commented on #295
Learn more about compilation

[2020-03-06 11:06] #295 closed, assigned to GreaterFire

[2020-03-06 13:27] Daniel1929 opened #297 "在root用户下创建非root用户账户后，在设置服务账户时提示输密码"
**Trojan Version**
为什么创建用户账户之后，在切换到新用户后下创建服务账户时一直提示需要输入刚创建账户的密码，但是一直无法完成输入，请问大神，这是哪里出错了？部分代码如下，望指点，谢谢！-

root@zysj:~# su -l trojanfq
To run a command as administrator (user "root"), use "sudo ".
See "man sudo_root" for details.

trojanfq@zysj:~$ sudo groupadd certusers
[sudo] password for trojanfq:

Sorry, try again.
[sudo] password for trojanfq:
Sorry, try again.
[sudo] password for trojanfq:
sud

[2020-03-06 15:31] Alcatraz1337 opened #298 "关于Vultr服务器的Trojan访问谷歌学术的问题"
你好，开发者：
我按照[教程](https://trojan-tutor.github.io/2019/04/10/p41.html)在Vultr服务器上搭建了Trojan。但是在Shadowsocks时期，谷歌学术就已经在禁止Vultr的一些服务器访问了。
我按照网上给的教程（多数都是解决SS怎么使用ipv6来访问的），修改了服务器上的hosts文件，加入了谷歌学术的ipv6地址。同时在vultr也给服务器添加了ipv6地址，在cloudflare也添加了新的这个ipv6地址，同时也修改了Trojan的config.json中的local_addr。但是最后在访问谷歌学术的时候，还是无法访问，显示已断开连接（ERR_CONNECTION_CLOSED）。
希望开发者们能够指出我操作中出现的错误！万分感谢！

Dear Developers,
I have followed the [Tu

[2020-03-06 17:14] RonsonNamek opened #299 "提供的docker镜像启动失败"
https://registry.hub.docker.com/r/trojangfw/trojan
这里提供的镜像平台与标签不符。我的NAS是x86_64平台，无法运行此镜像。希望大佬能提供x86_64平台的trojan

[2020-03-06 17:16] GreaterFire commented on #299
What the fuck is the difference between amd64 and x86_64?

[2020-03-06 17:17] #299 closed, assigned to GreaterFire

[2020-03-06 17:18] #298 closed, assigned to GreaterFire

[2020-03-06 17:18] #297 closed, assigned to GreaterFire

[2020-03-06 17:18] Chigusa0w0 commented on #299
@RonsonNamek amd64 is an alias of x86-64

[2020-03-06 17:19] GreaterFire commented on #296
Duplicate.

We have no plan in supporting HTTP proxy.

[2020-03-06 17:20] #296 closed, assigned to GreaterFire

[2020-03-06 17:20] GreaterFire commented on #291
No.

[2020-03-06 17:20] #291 closed, assigned to GreaterFire

[2020-03-06 17:51] RonsonNamek commented on #299
好吧，抱歉我不知道这两者的区别，但我的docker镜像确实无法运行，错误提示：
standard_init_linux.go:222: exec user process caused "exec format error"

[2020-03-06 18:02] GreaterFire commented on #299
If you want to get help, please provide **all** the information you possibly can.

[2020-03-06 18:16] RonsonNamek commented on #299
我使用的是群晖NAS，
DSM版本：DSM 6.2.2-24922 Update 4
uname -a 的结果：
Linux diskstation 4.4.59+ #24922 SMP PREEMPT Mon Aug 19 12:13:37 CST 2019 x86_64 GNU/Linux synology_apollolake_918+
Docker 是套件中心里安装的
这是Docker启动时挂载的目录
![image](https://user-images.githubusercontent.com/5227189/76110293-4073c800-6019-11ea-8be5-fe9a370fd8db.png)
容器的环境变量：
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
![image]

[2020-03-06 18:22] GreaterFire commented on #299
Did you map the config file to the trojan executable?
![](https://user-images.githubusercontent.com/5227189/76110293-4073c800-6019-11ea-8be5-fe9a370fd8db.png)

[2020-03-06 18:24] RonsonNamek commented on #299
当没有挂载目录时，日志提示找不到 config.json，但是当我配置了挂载目录后，提示 exec format error
下面这个是log
![image](https://user-images.githubusercontent.com/5227189/76111160-bc224480-601a-11ea-85ec-2a7a8dd80398.png)

[2020-03-06 18:25] GreaterFire commented on #299
It's not a bug of trojan or Dockerfile. Please fix your configuration yourself. [Source](https://github.com/trojan-gfw/trojan/blob/master/CONTRIBUTING.md)

[2020-03-06 18:25] RonsonNamek commented on #299
![image](https://user-images.githubusercontent.com/5227189/76111226-df4cf400-601a-11ea-9350-c9e3d8b1fa9d.png)
这是 config.json 所在目录

[2020-03-06 19:17] shuangzhijinghua opened #300 "[Feature Request] more user control function request"
1.is possible to provide  WebAPI method instead of MySQL method to get user information? WebAPI method can be provide more access control / security on server side like a RADIUS server.
2.User censor ability. a funtion to cut off connection which defined RegEx. rule, such as block BT traffic. using IPTables to block access is not a good way in large traffic environment.

A question:
When user info

[2020-03-06 22:56] GreaterFire commented on #300
Read [this](https://github.com/trojan-gfw/trojan/blob/master/CONTRIBUTING.md) for guidelines of feature requests. Also, it's a duplicate feature request that we are not going to implement.

[2020-03-06 22:56] #300 closed, assigned to GreaterFire

[2020-03-06 22:57] GreaterFire commented on #251
@PHCSJC It's reopened because we are considering implementing it.

[2020-03-07 01:34] Daniel1929 opened #302 "创建非root新用户是无法输入密码[BUG]"
**Trojan Version**
在xshell设置新的非root用户时，在设置密码时无法输入，请问大神是怎么回事？

root@zysj:~# sudo passwd trojanfreetg
New password:
BAD PASSWORD: it is too simplistic/systematic
New password:
BAD PASSWORD: it is WAY too short
New password:

[2020-03-07 02:51] orchingly opened #303 "How this SIP003 plugin opt format"
## Shadowsocks SIP003 plugin

Hi,  I set trojan as plugin in shadowsocks following your wiki, but error I got.
[code]

My config file

[code]

I only put the json to plugin_opts parameter ,what's wrong with the plugin_opts value?

Can you give a SIP003  samle json configuration for plugin  ?
Thanks.

[2020-03-07 06:22] praschak commented on #101
@GreaterFire I'm trying something similar to achieve a speedy connection to Germany:

**Trojan Client ==> la1.server.cc (socat relay) ==> de1.server.cc (trojan server)**

My socat on la1.server.cc looks like this:
`socat TCP-LISTEN:443,fork TCP-CONNECT:de1.server.cc:443`

The config on the client side runs as NAT and connects to la1.server.cc (socat relay):
[code]

It only works if I set `"verify_

[2020-03-07 07:52] GreaterFire commented on #101
@praschak put your hostname in sni field

[2020-03-07 09:13] praschak commented on #101
Thanks a lot! Works now.

To clarify for others who come across the same issue:
Add the hostname of your Trojan server (`de1.server.cc` in my case) to the sni field of your **Trojan client configuration**:
[code]

[2020-03-07 13:22] lins commented on #295
请教如何静态编译，set (OPENSSL_USE_STATIC_LIBS TRUE)  编译后报错
/usr/bin/ld: /usr/local/lib/libcrypto.a(dso_dlfcn.o): undefined reference to symbol 'dlclose@@GLIBC_2.2.5'
/usr/bin/ld: //lib/x86_64-linux-gnu/libdl.so.2: error adding symbols: DSO missing from command line
请教下，谢谢

[2020-03-08 05:24] givingwu opened #304 "`certificate verify failed` on MacOS client and `no shared cipher` on VPS"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
Server:
![image](https://user-images.githubusercontent

[2020-03-08 07:14] kongdd opened #305 "360病毒拦截"
windows客户端 version 1.41，360报trojan.exe是病毒：

木马名称：HEUR/QVM202.0.BE05.Malware.Gen
所在路径：trojan-cli\trojan\trojan.exe

md5sum ./trogan.exe

[2020-03-08 08:02] wangdongustc commented on #305
Maybe it's because of the name. This should not be a bug for this trojan project.

[2020-03-08 09:22] yyutt1 opened #306 "How to change to anothor config file without a need of reboot?"
Hi,

It's maybe sound very silly ,but how can i change to another config.json file without a need of reboot.
I have tried use -c option to specific another config file, and i received these message:
_[2020-03-08 16:47:45] [FATAL] fatal: bind: Address already in use
[2020-03-08 16:47:45] [FATAL] exiting. . ._
I was surely made it "another file" in content and file name.
Is there some kind of proces

[2020-03-08 09:24] mem0rz commented on #226
easy to solve this problem.
just config like this
-----trojan-------------------
    "remote_addr": "127.0.0.1",
    "remote_port": 81,
------nginx------------
server{
    listen 80;
    listen 127.0.0.1:81 http2;

[2020-03-08 09:25] GreaterFire commented on #226
@cybmp3 This doesn't solve the problem when you have to serve HTTP/1.1 over the h2c port because the client browser doesn't support h2.

[2020-03-08 12:13] yyutt1 commented on #306
After i read the source code, i found nothing weird and i realized that i should kill a process just called "trojan" to solve my problem.
Because i found that process run with "sudo" can still running even when the terminal has been closed.

[2020-03-08 12:13] #306 closed, assigned to GreaterFire

[2020-03-08 12:20] wangxing7714436 opened #307 "[BUG] Can not access trojan client port from other devices in local network"
**Trojan Version**
1.14.1
**Describe the bug**
I open a server on a pc in my internal network and try to make this pc as a transparent proxy server. But the chrome on proxy pc can access trojan port, other devices in the internal network can not access the port while v2ray and other services on proxy pc works well and trojan itself works on proxy pc. I've check the firewall on proxy pc and make su

[2020-03-08 13:46] #305 closed, assigned to GreaterFire

[2020-03-08 16:25] raydied4 commented on #234
还是不行？
sudo -u trojan trojan -c /etc/trojan/config.json
Welcome to trojan 1.14.1
[2020-03-08 16:20:21] [FATAL] fatal: /etc/trojan/config.json: cannot open file
[2020-03-08 16:20:21] [FATAL] exiting. . .

[2020-03-08 16:26] raydied4 commented on #234
activating

你怎么解决？

[2020-03-08 20:22] GreaterFire commented on #307
Listen on `0.0.0.0`.

[2020-03-08 20:22] #307 closed, assigned to GreaterFire

[2020-03-09 02:58] lilunxm12 commented on #302
这跟trojan有关系???
第一条是说密码太简单,第二条说太短,就算不认识英语也可以查查字典不是?
盲猜是因为你不知道输密码的时候会不显示位数所以直接按了enter
都会github提issue了连这点不知道就有点奇怪了.....
多利用搜索引擎,不要浪费大火时间

[2020-03-09 03:15] lilunxm12 commented on #304
Try comment out h2 on client configuration or add h2 to your server.

[2020-03-09 04:14] buzzen opened #308 "How do I stop trojan from auto-start?"
After some time of using trojan I don't want to use it anymore, how can I stop it from running? I can kill the process but everytime I start my computer it reappeared. I can't find trojan in startup applications, I can't find it in /etc/systemd/system. Where is it? Pls help.

[2020-03-09 09:26] lilunxm12 commented on #308
sudo systemctl disable trojan

[2020-03-09 09:26] ConstasJ commented on #308
Ehh......I think you can use`sudo systemctl ststus trojan`to look up where is the service,and you can use the command`sudo systemctl disable trojan`to let it not auto-start.
If you just want to stop it,use`sudo systemctl stop trojan`
(if you use Ubuntu or Debian,this is the all.But if you use CentOS or other system,I can't help you.)

[2020-03-09 12:01] #302 closed, assigned to GreaterFire

[2020-03-09 13:05] givingwu commented on #304
I tried your solution, but it still cannot work.

[2020-03-09 14:44] #308 closed, assigned to nobody

[2020-03-09 14:49] #303 closed, assigned to GreaterFire

[2020-03-10 02:47] EA-DICE opened #309 "I am unable to download videos from YouTube with internet download manager"
A few days ago, i was using the trojan-Qt5(gui client)and i can change local server to type to https and http,so i can use internet download manager to download videos from youtube successfully.i close socks 5 cuz it seems that windows 10 doesn't support socks5 port,and i don't know if trojan client support http,https port.if it supports,how can i use it?

[2020-03-10 02:49] EA-DICE commented on #309
![image](https://user-images.githubusercontent.com/42771283/76274866-c06d8c80-62bc-11ea-8242-f916f2a54443.png)
![image](https://user-images.githubusercontent.com/42771283/76274879-c6fc0400-62bc-11ea-8356-1f309bc198ee.png)

[2020-03-10 02:54] mem0rz commented on #226
Yes.If you browser http://example.com you will get a normal website(http1.1).
if you browser https://example.com Trojan(with h2 config) will proxy to 127.0.0.1:81(HTTP2 without ssl)

[2020-03-10 02:58] ghost commented on #309
When using trojan cli client, just select "使用socks" and type socks5 server address and socks5 server port. (Do not select 使用HTTP代理 or 使用HTTPS代理).

[2020-03-10 03:06] EA-DICE commented on #309
嗯谢谢

[2020-03-10 03:06] EA-DICE commented on #309
正在测试

[2020-03-10 03:11] EA-DICE commented on #309
socks5服务器地址指的是127.0.0.1？

[2020-03-10 03:14] ghost commented on #309
yes

[2020-03-10 03:17] EA-DICE commented on #309
端口是1080对吧

[2020-03-10 03:20] ghost commented on #309
yes. By default it's 127.0.0.1 1080

[2020-03-10 03:24] EA-DICE commented on #309
it doesn't work
![image](https://user-images.githubusercontent.com/42771283/76276741-a8e4d280-62c1-11ea-8aac-537dade9a66c.png)
![image](https://user-images.githubusercontent.com/42771283/76276761-b306d100-62c1-11ea-81b6-2749f35d4a50.png)

[2020-03-10 03:49] ghost commented on #309
try select ``Proxy DNS``

[2020-03-10 03:53] EA-DICE commented on #309
your solution is useful,now everything is ok!thank you so much

[2020-03-10 04:01] ghost commented on #309
You're welcome.

[2020-03-10 05:27] rampageX commented on #304
Same here.

I build arm64 trojan on my N1 box, no errors occurred throughout the process，but i can not connect the server with `certificate verify failed` error.

I think it will be the wrong openssl compile process but not sure what's wrong:

`openssl ciphers -s -v 'ECDHE:!COMPLEMENTOFDEFAULT'` i got tls1.3 ciphers.

`openssl s_client -connect server_domain:443` -- `Verify return code: 20 (unable

[2020-03-10 07:04] daidaiworm opened #310 "[Feature Request] How to limit 1 point login?"
[Feature Request] How to limit 1 point login?

Tried both json and mysql mode, it seems that there is no limitation for multi point login.
If people share same trojan login info, all the devices can login in.

Is there any method to set such a regulation or limitation?

If it can set a num inside mysql, it'll be perfect.

Again. Great work for Coding such a necessary application!

[2020-03-10 07:37] liuwenbo200285 commented on #161
这个服务器怎么配置的？

[2020-03-10 12:23] wobud opened #311 "a problem"
I find out a problem which may expose the identity of the server.

If I supply a wrong password in the Igniter deliberatelly, and next step visit a website in chrome, a"400 bad request nginx" error is returned.

If I supply in the remote address a domain which I know doesnt have trojan running on it, a different result is returned..

[2020-03-10 13:13] Chigusa0w0 commented on #311
@wobud Reproduced.

[2020-03-10 14:08] wobud commented on #311
For instance,I use instan.net as the trojan server name and configure it correctly.
If I write down the right password in Igniter,so i can use it successfully,right?
Now,I write a wrong password, when i visit google.com in chrome and the browser return me a 400 error.

But if i write qq.com as the domain and a casual password, and the browser would return a different result.Even if qq.com runs ngi

[2020-03-10 15:20] GreaterFire commented on #311
@wobud What different result did you see?

[2020-03-10 15:25] Chigusa0w0 commented on #311
@wobud After some investigation, I believed that this is due to different behavior of HTTP/1.1 and HTTP/2. Thus the difference is expected and the effect on confidentiality of Trojan should be trivial.

[2020-03-10 15:37] ghost commented on #311
@LimiQS i dont understand your test environment and it doesn't seem to be a problem at all.

[2020-03-10 15:40] Chigusa0w0 commented on #311
@johnrosen1 It is indeed a problem. The different result he referred as "返回跟前面不一样的结果，好像是下载个首页下来" (edited) is a valid H2 SETTINGS frame. Which means Trojan client wrongly treat H2 handshake packet as user data. And the web browser downloaded it to the disk.
Since it's a misbehavior of Trojan client but not server, this should not be considered as a potential information leak vulnerability.

[2020-03-10 15:43] ghost commented on #311
@LimiQS Please read another issue on trojan-gfw which points to the same issue
https://github.com/trojan-gfw/trojan/issues/226

[2020-03-10 15:53] Chigusa0w0 commented on #311
@johnrosen1 Quote: "It's NGINX's issue actually (https://trac.nginx.org/nginx/ticket/816)." (https://github.com/trojan-gfw/trojan/issues/226#issuecomment-578519140)

[2020-03-10 17:39] wobud commented on #311
I changed the web server software from Nginx to Apache, still two different results were returned.

[2020-03-11 02:48] Chigusa0w0 commented on #311
@wobud It has nothing to do with what HTTP Server you are using on your Trojan server. __It related to which one is deployed on the irrelevant website.__ Please check whether accessing `http://example.com` with Trojan config `remote=apache.org:443`, a site using Apache, `remote=www.iis.net:443`, a site using IIS, and `remote=lwan.ws:443`, a site using Lwan, will trigger the download or not. If yes

[2020-03-11 03:21] #309 closed, assigned to nobody

[2020-03-11 03:44] wobud commented on #311
The case is what as you said.Nothing was downloading.

But my trojan server which runs Apache gives back a somewhat different result as apache.org, revealing my server is listening local 127.0.0.1 80 port. See the pics attached.
![mmexport1583898147987](https://user-images.githubusercontent.com/62016165/76380337-7b655b00-638d-11ea-975a-e396e2f7aa8d.jpg)
![mmexport1583898152397](https://user-images

[2020-03-11 04:04] Chigusa0w0 commented on #311
@wobud For port display. It is not a Trojan related issue.

[2020-03-11 04:25] wobud commented on #311
@LimiQS I think so.Maybe I should do some changes in the Apache files to get it solved.

[2020-03-11 08:38] memorycancel opened #312 "how to add PAC feature to trojan[Feature Request]"
As title described. I'd like to request some websites with no need to cross proxy and config this in PAC

[2020-03-11 11:10] wobud commented on #311
Everything is Okay for me now.Turn the server signature off in default.conf.
Trojan is really a great project and especially a great idea.
I recommend not to use nginx to power the disguise site for the moment.

[2020-03-11 14:04] stevenkitter commented on #273
I want to know too? anybody use it?

[2020-03-11 21:08] #312 closed, assigned to GreaterFire

[2020-03-12 00:49] #311 closed, assigned to nobody

[2020-03-12 00:56] lins opened #313 "How do I compile trojan statically？"
How do I compile trojan statically, such as debain or ubuntu or centos. How to edit cmakeLists, can you give a tutorial. thank you very much.

[2020-03-12 00:58] GreaterFire commented on #313
@Lins See Azure Pipelines configurations

[2020-03-12 14:46] yuantongziran opened #314 "[Feature Request]"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
No.

**Is this problem relevant to what trojan should care about?**
Yes.

**Describe the solution you'd like**
I'm using windows client

[2020-03-13 03:39] givingwu commented on #304
@rampageX  I tried your solution too, but nothing happened, it still cannot works. I think may the problem is  script. it use [acme.sh](https://github.com/atrandys/trojan/blob/master/trojan_centos7.sh#L71) to generates SSH .cem & .key, but they do not work as well...

[2020-03-13 13:42] jason5ng32 opened #315 "Is it still safe if I change local_port and remote_port to other ports rather than 443 and 80?"
I was running apache on my server so I changed the local_port and remote_port to other ports and they worked. My concern is, is it still safe if I am not using 443 with trojan?

[2020-03-13 21:42] Chigusa0w0 commented on #315
You may use 8443 or other ports above 8k except 8080 if you want. Theoretically any port should be safe, while not typical.

[2020-03-13 21:43] Chigusa0w0 commented on #314
See #91

[2020-03-13 21:45] #313 closed, assigned to GreaterFire

[2020-03-13 21:45] #314 closed, assigned to GreaterFire

[2020-03-13 21:45] #315 closed, assigned to nobody

[2020-03-13 21:46] GreaterFire commented on #310
Sorry, we did not have plan for this feature.

[2020-03-13 21:46] #310 closed, assigned to GreaterFire

[2020-03-13 22:18] GreaterFire commented on #251
Due to complexities, we decided not to implement this. Sorry.

[2020-03-13 22:18] #251 closed, assigned to GreaterFire

[2020-03-14 05:06] future54 opened #316 "开发者你好，win10 X86好像使用不了，请问我应该下哪个版本，小白一枚，勿怪"
如题，请帮忙解答，谢谢！

[2020-03-14 05:16] future54 commented on #316
vcX86已经安装了，但trojan应用程式打不开，不能运行！

[2020-03-14 06:03] GreaterFire commented on #316
We do not provide binaries for 32-bit systems anymore. Please upgrade your system.

[2020-03-14 06:03] #316 closed, assigned to GreaterFire

[2020-03-14 07:09] future54 commented on #316
好吧！

[2020-03-14 10:50] huntcraft opened #318 "[BUG]cpu突然占用过高"
**Trojan Version**
1.14.1

**Describe the bug**
运行一段时间后，Trojan 使用 CPU会到100%，内存占用也一直在升高。
每次要远程上去重启 Trojan 才能使用，过几小时时间，又会占用到100%的CPU。

安装过程：

1. 按照 trojan-panel 的wiki 里的，先安装了 Nginx 和证书
2. 用 trojan-quickstart 安装
3. 加上bbr

没有安装任何其他软件。
下面两张截图

![服务器上的信息](https://user-images.githubusercontent.com/1448359/76680402-26db0d80-6623-11ea-813e-16dd3cccd959.png)

![VPS的面板](https://user-images.githubusercontent.

[2020-03-14 12:33] xhrm opened #319 "[BUG] Trojan服务停止"
centos 7.5 x64
trojan 1.14.1
开启了bbr
每隔一天至两天
Trojan进程停止，重启后恢复
cpu 内存，占用率都在30%以下
报错日志：
Mar 13 00:26:33 [localhost] trojan: [2020-03-13 00:26:33] [ERROR] IP地址:60033 SSL handshake failed: stream truncated

[2020-03-14 16:55] sonofsky2010 opened #320 "Nat 模式总是会出现不能翻墙成功的情况"
我在路由器上使用了nat模式，iptables已经配好。但是经常会出现突然间某台设备不能上google和YouTube了。别的机器确可以正常连接。使用client模式的时候，没有出现过这个问题。有时候还会出现能上YouTube，但是不能google的情况。

[2020-03-15 02:17] rampageX commented on #320
NAT 模式需要本地处理好 DNS 污染。

[2020-03-15 03:31] spark135246 opened #321 "[BUG]在一个很特定的情况下，服务器Trojan会出问题"
* ### 重现条件
  * Vutlr服务器，日本机房（其他机房没试过）
  * 手机端使用igniter，（那个版本都一样）
  * 手机端安卓开启Bypass China
  * 手机端安卓使用Edge访问Google

上面的测试条件全部满足才会产生

* ### 我自己的测试
  * 没有问题
    * 搬瓦工服务器无论如何都不会产生问题
    * Vultr服务器，客户端取消使用Bypass China，一直使用不产生问题
    * Vultr服务器，客户端使用Bypass China的情况下，不使用Edge没有问题
    * Vultr服务器，客户端使用Bypass China的情况下，使用Edge但是不访问Google,访问youtube之类的没有问题
    * Vultr服务器，电脑端访问google不会产生问题，用了这段时间一直没有问题
    * Vultr

[2020-03-15 05:15] wenkeming opened #322 "[BUG][FATAL] fatal: config.json: cannot open file"
**Trojan Version**
1.14.1

**Describe the bug**
[FATAL] fatal: config.json: cannot open file

**To Reproduce**
open trojan with terminal then get the error blow:
`[FATAL] fatal: config.json: cannot open file`
there is a config.json in the same folder.

**Environment**
MacOS

[2020-03-15 08:32] #322 closed, assigned to GreaterFire

[2020-03-15 22:52] hoehong opened #323 "关于v2ray的mkcp与trojan共存问题"
在vps上用了caddy并存v2ray+ws+tls和Trojan，最近qos很凶，想把ws改成mkcp，请问这样会对trojan造成影响吗？

[2020-03-16 01:30] p4gefau1t opened #324 "[Question] Does Trojan tranfer udp packet in plain text?"
I read over the source. But I found that Trojan client just simply send the UDP packet to the remote server without any encryption, instead of using the TLS tunnel.

我阅读了源码之后，发现似乎trojan客户端的UDP流量在没有加密的情况下发送到了服务器上，并没有使用tls隧道

[2020-03-16 01:49] mysteriouseye opened #325 "冒昧问下作者"
trojan很优秀 我想做个易于小白使用的gui 可能是用electron或是wpf
可以吗

[2020-03-16 01:50] GreaterFire commented on #325
@mysteriouseye Trojan is free software. You can do whatever you want, as long as you conform to our license.

[2020-03-16 01:51] GreaterFire commented on #324
@p4gefau1t It is encrypted, within the TLS tunnel.

[2020-03-16 01:51] #325 closed, assigned to GreaterFire

[2020-03-16 01:51] #324 closed, assigned to nobody

[2020-03-16 01:52] #323 closed, assigned to GreaterFire

[2020-03-16 01:52] #320 closed, assigned to nobody

[2020-03-16 01:52] #319 closed, assigned to GreaterFire

[2020-03-16 02:24] orangejoker765 commented on #321
Trojan X 的自定义规则需要怎么输入呢

[2020-03-16 02:30] spark135246 commented on #321
Trojan X是什么？不明白您的意思

[2020-03-16 02:33] orangejoker765 commented on #321
是Mac上的一个客户端，支持Trojan协议

[2020-03-16 02:35] spark135246 commented on #321
不好意思，Mac没用过不知道怎么使。

[2020-03-16 08:09] xiaoshao9704 opened #326 "[Feature Request]Can it support reverse proxy by other server"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
I try to reverse proxy trojan server but it return 400

**Is this problem relevant to what trojan should care about?**
I think if troja

[2020-03-16 09:16] siwind opened #327 "DNS解析后返回的地址有IPv4和IPv6，导致trojan服务端不能上网"
###### 问题描述

VPS虚拟机上有公网的IPv4地址和site-local的IPv6地址。 DNS解析地址时会返回IPv4和IPv6两种地址。如下：
[code]
vps可以通过返回的站点的IPv4地址连接目标网站(例如这里的 www.google.com), 但是不能通过IPv6连接目标网站。

trojan服务端却使用了 IPv6地址去连接目标网站(这里的 www.google.com), 导致trojan的客户端无法通过google上网。

在同样的vps上安装shadowsocks， 它确能够选择上述DNS解析的ipv4地址，从而顺畅连接google.

VPS不安装其它软件（例如bind等）情况下， trojan能选择合适的IPv4/IPv6地址连接目标网站（像shadowsocks一样），从而解决这个问题吗？

###### vps 环境
 centos x64 8,

[2020-03-16 09:40] siwind commented on #327
Find the solution as follows:

edit or create a file in "/etc/gai.conf", then add following:
"precedence ::ffff:0:0/96  100"

[code]

[2020-03-16 12:38] #327 closed, assigned to GreaterFire

[2020-03-16 14:01] abandon17 opened #328 "我有个疑问，我搭建的trojan在安卓上飞快，Mac上很慢"
就是在安卓的igniter上，Google play下载经常能跑十兆左右，手机上YouTube也能到16mbps,但是Mac上YouTube就只有五六百kb到一千多的样子。完全搞不懂差距哪里来的

[2020-03-16 14:02] abandon17 opened #329 "我有个疑问，我搭建的trojan在安卓上飞快，Mac上很慢"
就是在安卓的igniter上，Google play下载经常能跑十兆左右，手机上YouTube也能到16mbps,但是Mac上YouTube就只有五六百kb到一千多的样子。完全搞不懂差距哪里来的

[2020-03-16 14:48] rampageX commented on #304
@vuchan In client config, `"cert"` is not your server domain `fullchain.cer`, it must be system ca-certificates, in macOS may `/usr/local/etc/openssl/cert.pem` or not, you can download with:
`curl https://curl.haxx.se/ca/cacert.pem` and use the `cacert.pem` point to you `"cert" =` in client config file.

[2020-03-16 16:01] scu-ljy opened #330 "How to check the version of trojan?"
Can you tell me how to check the version of trojan?

[2020-03-16 16:04] ghost commented on #330
``./trojan --version``
Output:
[code]

[2020-03-16 19:02] 469312306 opened #331 "想知道在ubuntu下，能否启用全局代理，如何设置？"
配合chrome的switchyomega插件，使得在chrome浏览器中可以使用。现在，我想要ubuntu系统全局都使用trojan进行代理，像bash、git、wget等通通都走trojan代理。我搜索了google，没能解决我的问题。我想问：1.ubuntu系统本身是否支持？要如何设置？2.如果系统本身不支持，有哪些其他插件可以帮助完成这一功能？谢谢。

[2020-03-16 22:59] #328 closed, assigned to GreaterFire

[2020-03-16 23:00] #330 closed, assigned to GreaterFire

[2020-03-17 01:26] AmberisMyShiba commented on #331
I recommend a very good tool for you: [ss-tproxy](https://github.com/zfl9/ss-tproxy). The author is @zfl9.I think this is the best global proxy tool I have used.

[2020-03-17 01:27] givingwu commented on #304
Thanks very much, that's it. I have use 'cert' from the server domain `fullchain.cer`. i will try to fix that as your mentioned.

[2020-03-17 03:07] zhengsr3 opened #332 "[FATAL] fatal: bind: Address already in use"
If I want to solve this, what should I do or what information should I provide

[2020-03-17 03:10] defp commented on #332
绑定的地址已经被占用了

[2020-03-17 03:15] zhengsr3 commented on #332
那应该如何操作才能重新使用trojan呢？

[2020-03-17 03:30] zhengsr3 commented on #332
十分抱歉，由于我不够专业，我不大确定应该提供什么样的信息，可以跟我说一下我需要提供什么信息么，谢谢！！！！

[2020-03-17 03:41] defp commented on #332
比如用的啥操作系统

不行重启试试

[2020-03-17 03:50] zhengsr3 commented on #332
谢谢指导！但是电脑重启过了没用，电脑操作系统mac os10.12.6，服务器是搬瓦工上的，Debian 10 x86_64！，谢谢！！

[2020-03-17 03:53] ghost commented on #332
所以你这个问题是在客户端还是服务端

发自我的iPhone

[2020-03-17 04:01] zhengsr3 commented on #332
客户端上的，我在mac上运行start.command，结果如截图显示
<img width="598" alt="屏幕截图 2020-03-17 11 55 09" src="https://user-images.githubusercontent.com/43190502/76820764-04293e80-6847-11ea-8c06-3e1cbb99336d.png">

[2020-03-17 04:04] ghost commented on #332
端口是多少，1080么？试试``lsof -i:1080``看看是什么在占用

[2020-03-17 04:07] zhengsr3 commented on #332
local port 是1080
<img width="612" alt="屏幕截图 2020-03-17 12 07 32" src="https://user-images.githubusercontent.com/43190502/76821076-e6100e00-6847-11ea-8d9e-3feba9565895.png">

[2020-03-17 04:09] ghost commented on #332
换个local port或者``kill -9 483``杀掉v2ray

[2020-03-17 04:11] zhengsr3 commented on #332
！！！成功了，太感谢了！！

[2020-03-17 04:19] ghost commented on #332
没事

[2020-03-17 04:36] #331 closed, assigned to GreaterFire

[2020-03-17 06:33] xf05888 opened #333 "Can't configure trojan as the system proxy in Ubuntu | 无法设为系统代理"
I configure a trojan server and a client on Ubuntu 19.10.

The Firefox can use this socks proxy normally, but I can't set trojan as the system proxy,
I tried both **Automatic Mode and Manual Mode**, but still can't ping Google successfully.

P.S. At first the automatic mode can be used normally, but only for a few minutes.

[2020-03-17 07:49] Scyllaly opened #334 "[BUG] URL scheme 建议"
翻了 trojan-url 项目才找到 了 URL Scheme，发现并不支持备注功能，可否 改进URL-SCHME

现有的为：`trojan://password@remote_host:remote_port`

建议：可否改进并标准化为： `trojan://password@remote_host:remote_port#base64(remarks)`
主要目的是为了增加一个节点备注功能

[2020-03-17 07:58] free798 commented on #334
胖虎，怎么跑到trojan这里来了

[2020-03-17 08:16] Scyllaly commented on #334
@free798 我在新面板里适配Trojan，结果发现Trojan 的 URL Scheme 做订阅比较麻烦，我发现没有办法做到用户识别，如果要做的话，只能把UUID 填入到 password 里，通过password 来 识别用户身份。观察到 shadowrocket 的 trojan url scheme 尾部是带有 #xxx 作为节点备注的。所以特地来请教一下作者，是否要有考虑要完善一下 trojan 的 url scheme...

[2020-03-17 11:25] FenghenHome commented on #274
如果单数据库多个节点，那么就存在远程数据库校验问题，远程数据库校验是很耗时的，还请帮忙改进一下

[2020-03-17 11:28] FenghenHome opened #335 "[Feature Request] 远程mysql用户校验速度优化"
大佬您好，当前单数据库多个节点部署，存在远程数据库校验问题，远程数据库校验是很耗时的，还请帮忙改进一下

[2020-03-17 11:58] rampageX commented on #189
trojan.v1.14.1.arm7l.static.rar，用 tomatoware 静态编译，适用于 Asus RT-AC68U，Netgear R7000 等基于博通 arm 方案的路由器，在 Asus 原版固件，Asus merlin 以及 Tomato，DD-WRT 下测试通过。

**需要在客户端配置文件中指定 cert 的位置：**
1. Asus Merlin
`"cert": "/rom/etc/ssl/certs/certificates.crt",`
2. Tomato
`"cert": "/rom/cacert.pem",`

下载：
https://dfile.app/QmQYXEcqgt5EsutpLNJeEsiP5TscbZuA68y6F7HKCEwjQk.rar

版本：

[2020-03-17 13:47] wobud opened #336 "关于哪个端口"
我想请问一下大佬们，我用代理服务器访问目的网站，目的网站下发的流量是到代理服务器的哪个端口？

我看了一下forword文件，不是很懂。

之所以有这个疑问，是看了下面链接的文章，然后有了一个想法。如果是固定端口，我又用trojan代理服务器访问国内网站，墙检测入境请求的端口就能发现是代理访问了。

这是国内好事者申请的一个相关专利 https://patents.google.com/patent/CN108566380A/zh  《一种代理上网行为识别与检测方法》

[2020-03-17 14:48] boluoyu opened #337 "可以用其他语言实现一个trojan客户端吗？"
我看到原版是用 C++ 语言实现的客户端，感觉在手机端不容易部署App ，是不是其他语言，如Java 和 Swift 解析 trojan 协议就可以实现一个客户端，最近我想自己用 Java 和 Swift 实现一下 trojan 协议，这样可以方便在安卓或 IOS 上装一个，不知道难不难实现？

[2020-03-17 16:04] regloft commented on #234
你好，看了你的systemd报错，估计是权限问题。可能你需要先 sudo chown trojan:trojan
/etc/trojan/config.json，然后再 sudo -u trojan trojan -c /etc/trojan/config.json

raydied4 <notifications@github.com> 于2020年3月9日周一 上午12:26写道：

[2020-03-17 16:45] loveklmn commented on #332
Please remove the `bug` label and close this question.

[2020-03-17 16:46] loveklmn commented on #337
`Shadowrocket` and `pharos` now support `trojan`.

[2020-03-17 22:10] #332 closed, assigned to GreaterFire

[2020-03-17 22:10] #337 closed, assigned to GreaterFire

[2020-03-18 00:32] fefz commented on #334
fuck off

[2020-03-18 00:46] Chigusa0w0 commented on #329
Please upload your log file and configuration. Redact if needed.

[2020-03-18 00:56] Chigusa0w0 commented on #326
Trojan protocol, [by design](https://trojan-gfw.github.io/trojan/protocol), do NOT support reverse proxy by HTTP server.
You may want to use NGINX `upstream` with `ngx_stream_ssl_preread_module` to achieve your purpose.

[2020-03-18 01:50] ghost commented on #334
@ssrpanel if you want to improve the url , please do it yourself instead of ask others do it for you !

[2020-03-18 03:14] zhengsr3 opened #338 "[BUG]when installing trojan-panel"
I tried installing trojan-panel, but when I run the following code:
"
php artisan migrate
"
the following words come up:
"
 Illuminate\Database\QueryException  : SQLSTATE[HY000] [1045] Access denied for user 'trojan'@'localhost' (using password: NO) (SQL: select * from information_schema.tables where table_schema = trojan and table_name = migrations)

  at /var/www/trojan-panel/vendor/laravel/fram

[2020-03-18 03:27] Hokia opened #339 "[Feature Request]How can another cumputer use my trojan service in lan"
If my PC starts trojan service at 127.0.0.1:1080. My ip is 192.168.1.2 in lan. How can another PC connect by 192.168.1.2:1080.
Thanks.

[2020-03-18 05:37] ghost commented on #339
"local_addr": "192.168.1.2",

[2020-03-18 06:30] zerubeus commented on #336
Why are you writing in Chinese?

[2020-03-18 08:45] fsiisx commented on #155
请问你trojan配置里的remote_addr填的什么，我填容器名caddy那边报错

[2020-03-18 09:53] gorquan commented on #155
填写你的容器名字。比如我这里指定caddy的容器名为`caddy_server`, 那么我的config中指定`"remote_addr": "caddy_server"`即可。不过我采用的是docker-compose，如果是单一docker运行的话需要另外测试了。

[2020-03-18 09:59] kecaiwu opened #340 "[BUG] the same server not work in windows10, but work well in Linux and Android"
trojan 1.14.1

**Describe the bug**
The same server is work in Linux and Android, however, we use this server in win10, that does not work. I can not visit the google.com

[trojan.log](https://github.com/trojan-gfw/trojan/files/4348269/trojan.log)

**Environment**
Windows10

[2020-03-18 10:19] Etisgod opened #341 "能否发布一个32位的版本？"
你好，trojan在win7 32位上不能运行，能否发布一个32位版本，谢谢！

[2020-03-18 10:26] wongsyrone commented on #341
https://github.com/trojan-gfw/trojan/issues/316#issuecomment-599016371

[2020-03-18 10:26] #341 closed, assigned to GreaterFire

[2020-03-18 11:09] abandon17 commented on #329
{
    "run_type": "client",
    "local_addr": "127.0.0.1",
    "local_port": 1080,
    "remote_addr": "1.zhuhan.xyz",
    "remote_port": 443,
    "password": [
        “”
    ],
    "log_level": 1,
    "ssl": {
        "verify": true,
        "verify_hostname": true,
        "cert": "",
        "cipher": "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE

[2020-03-18 13:05] fsiisx commented on #155
我也是如此 填的容器名 trojan用443 caddy用80 但是现在trojan能用 正常网站请求也会转发到caddy 但是caddy报错 网站最后不通

[2020-03-18 13:33] gorquan commented on #155
有种预感是你的caddy的配置文件有问题，我之前也好像遇到过。方便的话贴一下你的caddy配置出来看一下。

[2020-03-18 13:41] fsiisx commented on #155
现在电脑不在身边，你这边方便的去除隐私发下你的Caddyfile看看

[2020-03-18 14:10] dzxx36gyy commented on #335
我自己加了个验证结果缓存，不过好像没啥太大差异…

[2020-03-18 14:26] dzxx36gyy commented on #334
I think need to consider use base64 for password to avoid "@" appear in password which cloud disturb the identify of the client.

[2020-03-18 14:29] #334 closed, assigned to GreaterFire

[2020-03-18 15:51] gorquan commented on #155
[code]
其中, site改为你对应的域名

[2020-03-18 16:09] FenghenHome commented on #335
可否给我试一下

[2020-03-18 16:20] GreaterFire commented on #334
@dzxx36gyy @ is escaped

[2020-03-18 16:20] GreaterFire commented on #334
@dzxx36gyy @ is escaped

[2020-03-18 16:28] dzxx36gyy commented on #334
Yes, i think this improve is needed.

[2020-03-18 16:29] GreaterFire commented on #334
@dzxx36gyy No

[2020-03-18 16:32] dzxx36gyy commented on #334
Okay...

[2020-03-18 16:34] GreaterFire commented on #334
@dzxx36gyy https://github.com/trojan-gfw/trojan-url/blob/master/README.md

PLEASE. Read the whole spec again to see how illegal characters are handled.

[2020-03-18 16:38] GreaterFire commented on #334
@ssrpanel Our URL scheme conforms to the definition of a URL: to and only to locate the resource. We'll not put any irrelevant information not used to locate a resource, such as an alias (or remark, as you suggested) of the server, in our URL scheme.

[2020-03-18 16:44] dzxx36gyy commented on #334
Find trojan's solution of the illegal characters, my fault.

[2020-03-18 17:05] KevinZonda commented on #339
SOCKS5 proxy may work.

Computer A runs trojan on port P.

Computer B uses application connect the Computer A's SOCKS5 port. (like 192.168.1.103:1080)

[2020-03-18 23:34] scu-ljy commented on #330
Thank you!

[2020-03-19 08:48] xhrm opened #342 "[BUG]ystemd: trojan.service: main process exited, code=killed, status=11/SEGV"
ystemd: trojan.service: main process exited, code=killed, status=11/SEGV

**Trojan Version**
1.14.1

**Logs**
Mar 19 16:01:20 [localhost] kernel: trojan[3813]: segfault at 0 ip 0000000000479d4f sp 00007fff2d5a0700 error 4 in trojan[400000+396000]
Mar 19 16:01:20 [localhost] systemd: trojan.service: main process exited, code=killed, status=11/SEGV
Mar 19 16:01:20 [localhost] trojan: Welcome to troj

[2020-03-19 09:00] rampageX commented on #342
fatal: **config.json: cannot open file**

[2020-03-19 09:07] xhrm commented on #342
Return to normal after command execution

Error is also reported every other time

systemctl restart trojan

[2020-03-19 12:42] xuleoBJ commented on #342
cannot run win 10 fatal: bind: 以一种访问权限不允许的方式做了一个访问套接字的尝试

[2020-03-19 13:06] vvvcedarceba opened #343 "need to support cloudflare or others cdn for banned servers"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-03-19 14:21] climboy1 opened #344 "[Feature Request]How about a pre-proxy function"
If the server A runs trojan is unavailable for Netflix. It can jump to server B, which runs SSR with poor speed in Mainland but fast with server A .

[2020-03-19 14:56] #343 closed, assigned to GreaterFire

[2020-03-19 20:20] BaiqingL commented on #52
+1

[2020-03-19 20:25] Chigusa0w0 commented on #344
See #131

[2020-03-19 23:16] #344 closed, assigned to GreaterFire

[2020-03-20 02:32] vpswiki commented on #201
好像已经没了？只能看到一个标题头？

[2020-03-20 04:23] justin4765 commented on #189
你好，可以帮忙编译一个Asus RT-AC86U适用的包么？谢谢

[2020-03-20 08:43] gqyann opened #345 "[BUG]fatal: bind: Address already in use."
macos启动trojan显示：fatal: bind: Address already in use
杀掉那个程序后，1080端口还是会被这个程序重新占用，为什么？  那个程序是ss-local
<img width="715" alt="截屏2020-03-2016 38 32" src="https://user-images.githubusercontent.com/33282734/77147924-62655400-6ac9-11ea-87e4-740a4eabcdae.png">

[2020-03-20 08:55] KevinZonda commented on #342
Confirm that **config.json** can be open.

[2020-03-20 08:57] KevinZonda commented on #345
Are you running Shadowsocks too? ss-local is a process of Shadowsocks-Client.
BTW, why not run Trojan on another port, like 54372 and etc?

[2020-03-20 09:00] gqyann commented on #345
So, should the port of the server be changed too? It would be too troublesome to re-install the server. I am worried that it will not work well the second time.

---Original---
From: "Kevin"<notifications@github.com&gt;
Date: Fri, Mar 20, 2020 16:58 PM
To: "trojan-gfw/trojan"<trojan@noreply.github.com&gt;;
Cc: "Author"<author@noreply.github.com&gt;;"gqyann"<772734352@qq.com&gt;;
Subject: Re: [troj

[2020-03-20 09:04] KevinZonda commented on #345
Just change trojan **client** config.

1. Change the value whose key called **"local_port"** to another port.
2. Restart trojan.
3. Set the System proxy.

[2020-03-20 09:10] gqyann commented on #345
thank you very much.it's ok

---Original---
From: "Kevin"<notifications@github.com&gt;
Date: Fri, Mar 20, 2020 17:05 PM
To: "trojan-gfw/trojan"<trojan@noreply.github.com&gt;;
Cc: "Author"<author@noreply.github.com&gt;;"gqyann"<772734352@qq.com&gt;;
Subject: Re: [trojan-gfw/trojan] [BUG]fatal: bind: Address already in use. (#345)

So, should the port of the server be changed too? It would be too tr

[2020-03-20 09:17] ppw08 opened #346 "访问谷歌学术失败"
买的HK的vps搭梯子，访问谷歌学术时显示如下错误，请问有人知道怎么解决吗

403. That’s an error.

Your client does not have permission to get URL / from this server

[2020-03-20 09:31] rampageX commented on #189
@justin4765 这个不能用？

[2020-03-20 13:25] justin4765 commented on #189
@rampageX  试过了，不能，我的是官改梅林

[2020-03-20 13:56] wangxiaodong1021 commented on #346
遇到同样的问题

[2020-03-20 14:02] rampageX commented on #189
@justin4765 试试这个，不行那就只有自己编译了：（https://github.com/RMerl/am-toolchains/tree/master/brcm-arm-hnd）

https://dfile.app/QmaLj5v2T5A7REzSJkXhru3KVGnWmSeZsowUrTnD9zQLFB.gz

[2020-03-20 16:26] WillyPillow commented on #171
EDIT: This is already discussed in #226, sorry for the duplicate.

Upon inspection, this seems to be due to <https://trac.nginx.org/nginx/ticket/808>.

Specifically, since nginx does not support placing h2c (http2 over TCP) and http1.1 on the same port, clients that only support http1.1 would fail. This can be verified by running `curl -v --http1.1 https://example.com` to a server running, say, th

[2020-03-20 17:43] WillyPillow commented on #226
I mentioned it in #171, but I wonder if it is reasonable to mitigate this by redirecting to different `remote_port`s given different ALPNs. I can try to cook up a PR in the coming days if you guys are okay with this.

[2020-03-20 17:45] GreaterFire commented on #226
@WillyPillow This will break the current config format and will be more confusing to configure. I recommend we put it on hold for now.

[2020-03-20 17:51] WillyPillow commented on #226
@GreaterFire

Technically one should be able to preserve backwards compatibility by, say, adding a new config entry that maps ALPNs to port numbers, and using the port specified in `remote_port` only if the ALPN does not exist in the map. But yeah, I agree that it would be confusing.

[2020-03-20 17:53] GreaterFire commented on #226
@WillyPillow Good idea. I'll try to design this scheme.

[2020-03-20 19:34] sesuner opened #347 "[BUG] Start succeeded in Kali 2020.1, only google.com connected fail"
I have setted firefox with SOCKS host with 127.0.0.1 port 1080, and click proxy DNS when using SOCKS5 v5.
I can go through hotmail.com/bing.com/google.com.hk
But I can connectbut I can't go through google.com ??? It seems auto connect the ipv6????

Pls check my log:
root@kali:~/trojan# ./trojan
Welcome to trojan 1.14.1
[2020-03-20 15:30:23] [INFO] 127.0.0.1:44890 requested connection to 2404:6800:

[2020-03-20 19:53] GreaterFire commented on #347
@sesuner You can set prefer_ipv4 in the config.

[2020-03-21 04:19] xhrm commented on #342
确认可以打开 config.json

[2020-03-21 06:02] tiodot commented on #341
x86可以下载 [V2ray-with-trojan](https://yhvps.com/usr/uploads/app/v2rayN-win-with-trojan-v2.zip)
在华为的matebook e2019亲测可以
如果运行有问题，可能需要安装一下  [Visual C++ 2015 (x64、x86均安装)](https://www.microsoft.com/zh-CN/download/details.aspx?id=48145) 选择x86版本

来源： [微软windows电脑Trojan客户端使用教程](https://jc.go2world.icu/2019/09/29/windows_trojan/)

[2020-03-21 08:51] KevinZonda commented on #342
Can trojan run correctly by manually(without systemd)?

[2020-03-21 08:58] KevinZonda commented on #346
I think the problem comes from Google's own anti-abuse policy.

In other words, this IP do some abusive access to Google Scholar. So Google Scholar blocked your IP.

[2020-03-22 00:35] septs opened #350 "[Feature Request] Support transparent proxy via iptables?"
Can be used as trojan client as "transparent proxy gateway" using.

[2020-03-22 00:35] GreaterFire commented on #350
@septs Already supported (TCP only though). See NAT section of the configuration documentation.

[2020-03-22 05:46] shengbinyu commented on #346
how to solve the problem?

[2020-03-22 07:09] redstoneleo commented on #316
用32位电脑的用户也不少，希望考虑考虑出一个32位的，谢谢！

[2020-03-22 08:07] XOKP commented on #346
If Google find your IP abusive, you have to switch to another IP to try or change your host provider.

[2020-03-22 08:10] shengbinyu commented on #346
Thank you; I have use ipv6 instead of ipv4 to visit google Scholar by change hosts file, and success.

Sent from Mail Master

在2020年03月22日 16:08，XOKP<notifications@github.com> 写道：

If Google find your IP abusive, you have to switch to another IP to try or change your host provider.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-22 08:11] ghost commented on #333
export all_proxy=socks5://127.0.0.1:1080

[2020-03-22 09:14] maodou38 opened #351 "please handle it"
The online document' site:trojan-gfw.github.io/trojan/  can not be opened.pls handle it and reply to me

[2020-03-22 09:24] xf05888 commented on #333
Still can't work:
[code]

[2020-03-22 10:13] ghost commented on #333
if you want to ping google successfully, you should use ``tun2socks`` or proxifier

[2020-03-22 12:06] ghost commented on #333
@xf05888 curl https://www.google.com

[2020-03-22 12:59] #351 closed, assigned to GreaterFire

[2020-03-22 19:28] #346 closed, assigned to nobody

[2020-03-22 19:28] #347 closed, assigned to GreaterFire

[2020-03-22 19:29] GreaterFire commented on #340
Did you enter the incorrect password?

[2020-03-22 19:29] #345 closed, assigned to GreaterFire

[2020-03-22 19:30] GreaterFire commented on #342
Can you provide a coredump?

[2020-03-22 19:31] #336 closed, assigned to nobody

[2020-03-22 19:31] #329 closed, assigned to GreaterFire

[2020-03-22 19:31] GreaterFire commented on #318
Can you provide some log at that time?

[2020-03-22 19:32] GreaterFire commented on #350
I'll try to do TPROXY, but not guaranteed.

[2020-03-22 19:32] GreaterFire commented on #339
Have your client listen on 0.0.0.0.

[2020-03-22 19:32] #339 closed, assigned to GreaterFire

[2020-03-22 19:33] GreaterFire commented on #338
Trojan-Panel is a hobby project and will not be supported here.

[2020-03-22 19:33] #338 closed, assigned to GreaterFire

[2020-03-22 19:33] #335 closed, assigned to GreaterFire

[2020-03-22 19:33] #333 closed, assigned to nobody

[2020-03-22 19:35] #326 closed, assigned to GreaterFire

[2020-03-22 19:35] #304 closed, assigned to GreaterFire

[2020-03-22 20:06] Chigusa0w0 commented on #316
@redstoneleo No. No more than 1% of all PC users using x86. Upgrade your hardware.

[2020-03-22 21:53] #226 closed, assigned to nobody

[2020-03-22 21:53] #277 closed, assigned to GreaterFire

[2020-03-23 01:40] #340 closed, assigned to GreaterFire

[2020-03-23 10:24] chenr0129 opened #352 "mac os10.13上面运行start.command提示symbol binding failed: Symbol not found: ____chkstk_darwin"
chendeiMac:trojan chen$ ./trojan
dyld: lazy symbol binding failed: Symbol not found: ____chkstk_darwin
  Referenced from: /Users/chen/Desktop/trojan/./trojan (which was built for Mac OS X 10.15)
  Expected in: /usr/lib/libSystem.B.dylib

dyld: Symbol not found: ____chkstk_darwin
  Referenced from: /Users/chen/Desktop/trojan/./trojan (which was built for Mac OS X 10.15)
  Expected in: /usr/lib/libS

[2020-03-23 10:45] KunagisaYuki commented on #352
@chenr0129 Update your OS.

[2020-03-23 14:08] petsgre commented on #352
is there any solution avoid to update mac OS？

[2020-03-23 14:09] GreaterFire commented on #352
@petsgre Hold on. Looking into this. What's the version you are running?

[2020-03-23 15:49] petsgre commented on #352
@GreaterFire macos mojave 10.13 and trojan 1.15

[2020-03-23 18:59] GreaterFire commented on #352
@chenr0129 @petsgre See if this works. If it works, I'll replace the release version with this file.
[trojan-1.15.0-macos.zip](https://github.com/trojan-gfw/trojan/files/4371375/trojan-1.15.0-macos.zip)

[2020-03-24 01:10] petsgre commented on #352
@GreaterFire I upgraded my mac to 10.13 Higt Sierra ,and used trojan 1.14.0,it works fine now.
And i tested trojan that you provided with current mac version,trojan runed,but can't connnect with internet

[2020-03-24 02:09] GreaterFire commented on #352
@petsgre Please provide some logs or I can't help you.

[2020-03-24 05:11] heham commented on #321
同样在安卓端出现这个问题，昨天服务端115后有点变化，但是还是会出现。

[2020-03-24 13:31] zdm2008 opened #353 "Can you add database support for Sqlite3?"
Can you add database support for Sqlite3?

[2020-03-24 23:40] msdurex opened #354 "Trojan server doesn’t work behind https load balancing."
Trojan server seems like doesn’t work behind Google Cloud’s https load balancing.

Question: is this feature doesn’t support or I should change something in Trojan servers?

[2020-03-24 23:51] GreaterFire commented on #354
@msdurex We do not support it.

[2020-03-24 23:54] msdurex commented on #354
Bummer, some of Cloud Servers only support IPv6 over load balancer. Thanks for the reply anyway.

[2020-03-25 00:03] huntcraft commented on #318
当时看了日志，大部分 [Error] 的内容是 handshake timeout， 7200s 左右。
但当时也不知道怎么导出日志，所以没有保存。
我去重装系统，再试一次。

[2020-03-25 01:06] #354 closed, assigned to nobody

[2020-03-25 01:08] GreaterFire commented on #353
It was carefully chosen whether to use MySQL or SQLite 3 as our database backend. It turned out that because SQLite 3 has worse library support, cannot work across machines, and it doesn't support multiple processes connecting to the same file, we chose MySQL and do not have plans to support SQLite 3.

Currently, I don't want to introduce yet another dependency (SQLite 3) to trojan, so I will not

[2020-03-25 01:08] #353 closed, assigned to GreaterFire

[2020-03-25 01:10] GreaterFire commented on #353
For our feature request policy, see [CONTRIBUTING.md](https://github.com/trojan-gfw/trojan/blob/master/CONTRIBUTING.md).

[2020-03-25 01:12] #352 closed, assigned to nobody

[2020-03-25 01:13] GreaterFire commented on #342
Please reopen this issue when you have a coredump.

[2020-03-25 01:13] #342 closed, assigned to GreaterFire

[2020-03-25 02:46] ghost commented on #318
@huntcraft
[code]
sysctl --system

please try this

[2020-03-25 05:13] RayLiu-1217 opened #355 "[BUG]"
我在一台美国洛杉矶系统为Linux（centos7）的VPS上尝试搭建trojan，经历重重困难，终于搭建成功了，但问题来了，一切都能正常运行，时间也是同步的，seLinux以及防火墙也都关闭了，但是就是无法正常连接，无论是在电脑端使用，还是安卓端都无法正常使用，无法连接，ping正常，解析也正常，实在不知道为什么了。

[2020-03-25 05:18] rampageX commented on #355
什么日志都没有你让人怎么回答你？

[2020-03-25 05:24] #355 closed, assigned to GreaterFire

[2020-03-25 08:52] GEM7 opened #356 "[BUG] Shell 环境下 Trojan 的版本信息无法传入变量"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.15.1

**Describe the bug**
Shell 环境下 Trojan 的版本信息无法传

[2020-03-25 09:43] Chigusa0w0 commented on #356
Trojan prefer to use `stderr` for log output. Which means you may need some redirections to capture the output into a variable.

[2020-03-25 09:45] #356 closed, assigned to GreaterFire

[2020-03-25 13:11] GreaterFire commented on #356
@GEM7 Try VER="$(trojan -v 2>&1)"

[2020-03-25 13:30] spark135246 commented on #321
服务端trojan升级至1.15.1及以上，问题解决

[2020-03-25 13:30] #321 closed, assigned to GreaterFire

[2020-03-25 15:00] GEM7 commented on #356
Thanks, that worked for me!

[2020-03-25 19:19] malikshi commented on #318
you can nginx sni/pre-ssl for minimizing CPU usage but ram usage would be high. I tested it with these details,
trojan latest build, 1.15.1
Specs VPS

- 4core
- openvz6 with ubuntu 16 64bit,
- ram 1GB with 512MB swap
- multiple instances,

![Screenshot_848](https://user-images.githubusercontent.com/9080737/77576653-1fabdd80-6f08-11ea-9195-ce8573c18ca8.jpg)

[2020-03-25 19:37] du5 opened #357 "[Feature Request] How can I block the request URL from trojan without the firewall?"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

such as regular expression

[code]

domain suffix

[code]

[2020-03-25 20:04] GreaterFire commented on #357
@du5 We don't and will not support this feature.

[2020-03-25 20:42] du5 commented on #357
@GreaterFire  Can you tell me add where it's better? I try it do myself, Thanks.

[2020-03-26 01:28] Chigusa0w0 commented on #357
@du5 You may apply a filter before DNS resolve. As a reminder, you may need to blacklist related IP addresses of websites as well. https://github.com/trojan-gfw/trojan/blob/master/src/session/serversession.cpp#L186

[2020-03-26 01:37] #357 closed, assigned to GreaterFire

[2020-03-26 03:49] ghost commented on #318
@tomac4t well it does help because these parameter help shorten the wait time of tcp handshake timeout which is useful for migariting ddos attacks.

[2020-03-26 08:17] TDHworkspace opened #358 "[BUG]Ubuntu 16.04 在运行 ./trojan 后 可以ping通 google 但是浏览器打不开google"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.

**Describe the b

[2020-03-26 12:24] wazzx commented on #52
最新的目前稳定版19.07.2的openssl-util版本是1.1.1e-1

[2020-03-26 14:32] du5 commented on #357
@LimiQS Thanks for you'er help!

[2020-03-26 15:21] ghost commented on #358
@TDHworkspace Thanks for the report but without a stracktrace and steps to reproduce there is nothing we can do.

[2020-03-26 17:49] #358 closed, assigned to GreaterFire

[2020-03-27 00:41] GreaterFire commented on #357
There is one more problem with this. If the site you are blocking is behind a CDN (such as Cloudflare), and the communication between your client and the CDN is encrypted (SNI as well) and the IP address is obtained via DoH (so you have no way of knowing which site the client is accessing, let alone the IP address is a CDN address), you're not going to be able to block traffic like this.

Such com

[2020-03-27 00:44] GreaterFire commented on #318
I'd rather think it's a bug than a system parameter problem. Setting IP parameters won't help.

[2020-03-27 00:46] GreaterFire commented on #318
@huntcraft Typically this kind of resource exhaustion happens because something is causing a loop, such as accessing itself over and over again. Check for your configurations to see if they contain such a loop.

[2020-03-27 06:06] huntcraft commented on #318
@GreaterFire
1，关于 loop。是否存在 loop 我都不知道怎么查，对这些不熟悉。
2，关于配置。在 trojan 安装好以后，只修改了 `config.json` 文件中的密码，以及域名证书的路径，共4行。

为了重现这种状况，前天在同一个服务器，重装 ubuntu 系统，用之前的步骤的安装 trojan。
但是到现在也没出现异常情况。
唯一的差异，之前安装的是 1.14.1，这次是 1.15.1。

可能，暂时无法重现了。
如果还出现这样的问题，我把 VPS 的 root 用户给你吧。:grin:

----
说下更多的背景。

在某供应商买了一个月的 VPS，开始是搭建v2ray，但经常断开连接。在使用了v2ray 几天后，决定尝试 trojan。在安装好 trojan 后的一周内，让朋友一起试用了，效果非常好。然后买同款 VPS 一年(有优惠)。

所以，当时是同时

[2020-03-27 06:08] GreaterFire commented on #318
Thanks for your reporting. Please reopen this issue when you encounter the said problem again!

[2020-03-27 06:08] #318 closed, assigned to GreaterFire

[2020-03-27 07:54] zjcnew opened #359 "Does the client support http proxy?"
socket5 proxy is not compatible with some browsers

[2020-03-27 13:55] Chigusa0w0 commented on #359
No.

[2020-03-27 13:55] #359 closed, assigned to nobody

[2020-03-27 19:25] GreaterFire commented on #359
Please use privoxy for this purpose.

[2020-03-27 20:43] loveklmn commented on #189
@rampageX 想请教一下如何使用这个

[2020-03-28 00:41] jmyz0455 opened #360 "Trojan 和 V2ray（ ws+tls+web ）是否存在共用 443 端口的可能性？"
受到这个 [提问](https://github.com/trojan-gfw/trojan/issues/67) 的启发，想尝试一下 Trojan 和 V2ray（ ws+tls+web ）共用 443 这个端口，这样防火墙只需对外开放 443 和 22 端口，其他一律拒绝。

根据我对链接里的理解，让 Trojan 开在 443 端口（对应配置 "local_addr": "0.0.0.0", "local_port": 443 ），然后把非 Trojan 协议的流量转发到 444 端口（对应配置 "remote_addr": "127.0.0.1", "remote_port": 444 ），然后让 nginx 监听这个 444 端口，大概配置是：

[code]

然后带 /websocket/ 路径的流量就会转发到 445 端口，其余的流量会直接访问 /data/www/html

[2020-03-28 02:34] Chigusa0w0 commented on #360
https://github.com/trojan-gfw/trojan/issues/67#issuecomment-466006130

Here in your case it's port 444. Use `listen 444;` (no `ssl`, but you may add `http2`) instead.

[2020-03-28 02:34] #360 closed, assigned to GreaterFire

[2020-03-28 05:53] du5 commented on #357
Because I provide a public agent, some politically sensitive web pages must be banned. Thank you for your answers.

[2020-03-28 07:07] Jrohy opened #361 "流量限制功能在youtube网站失效"
设置了流量限制后使用已超，像fb,twitter等都不能用，但油管还是一直能用，即使新开一个油管页面也是依然能访问

[2020-03-28 12:57] rainmanzheng opened #362 "关于linux客户端模式问题"
HI，我尝试在centos7上使用客户端，配置文件按照example中client文件进行修改。同样的配置在win客户端正常，而在centos上却**SSL handshake failed with **example.com:443:** certificate verify failed**，请问是什么原因？  谢谢。

[2020-03-28 13:25] siwind commented on #362
windows上可以验证服务器端证书，Linux上的话，需要在客户端配置文件的 cert: ""填入正确的证书的文件位置(例如; /etc/trojan/client.crt); 或者把 "verify": true, 改为 "verify": false （不推荐）~

[2020-03-28 14:23] rainmanzheng commented on #362
@siwind 原来如此，现在可以了！ 感谢大佬！

[2020-03-28 14:24] #362 closed, assigned to nobody

[2020-03-28 14:36] siwind commented on #197
[code]
上述中转服务器VPS， v2ray的一个配置示例(进入是ss, 出口是本地的socks5代理即trojan-client)

[code]

Another v2ray config example for local traffic:
[code]

[2020-03-28 15:09] siwind commented on #197
Another network Relay architecture with IPTables/socat:
[code]

socat example see [here!](https://lp380490944.github.io/2018/07/30/2018/%E5%88%A9%E7%94%A8%E5%9B%BD%E5%86%85%E6%9C%8D%E5%8A%A1%E5%99%A8%E8%BF%9B%E8%A1%8CShadowsocks-%E4%B8%AD%E8%BD%AC/)

[2020-03-28 15:11] GreaterFire commented on #361
If your YouTube page is reusing a TCP connection. You have to wait for it to disconnect before you can't use it anymore.

[2020-03-28 15:11] #361 closed, assigned to GreaterFire

[2020-03-28 15:32] siwind commented on #360
###  你对trojan和v2ray工作模式的理解有误
对于v2ray(假设运行于10000端口)而言，不需要开放防火墙端口，流量示例：
[code]
对于trojan, 典型流量过程如下：
[code]
所以不可能（端口冲突）也没必要公用端口。

#### 所以只需要开放(80) 443端口即可

[2020-03-28 15:42] Chigusa0w0 commented on #360
It is possible to serve Trojan and Vmess+WS on the same port (Raw TLS v. WebSocket) without port conflict as long as make Trojan handle TLS termination and chain Nginx & V2Ray behind, though not recommended.

Their problem is that they want to terminate TLS twice (Trojan & Nginx), but there is only one layer of TLS which is already terminated in Trojan.

[2020-03-28 16:06] siwind commented on #360
I misunderstood the problem.  The question is , whether there is only port(443) open that can serve both HTTP/trojan/v2ray services together.

[2020-03-28 16:08] jmyz0455 commented on #360
本人英语和编程都不太好，根据 [LimiQs](https://github.com/trojan-gfw/trojan/issues/360#issuecomment-605383053) 的回答，我讲讲我的愚见 @siwind

先抛开 80 端口，我们只讨论 443 端口。继续用我的 Trojan ➡️Nginx ➡️v2ray 假设（端口 443 → 444 → 445 ），首先三个软件在占用的端口上不冲突，然后把这三个端口套用到你的示例，将会是这样的：
[code]
不过我没有继续尝试下去，因为 LimiQs 说 Trojan 配置 remote_port 转发出来的流量不能用 ssl 了，只能用 http2 ，我在了解到没有 tls 的 http2 会使用一种称为 h2c 的明文进行通讯，这意味着加密功能有所损失，所以放弃了这种想法。

[2020-03-28 16:13] Chigusa0w0 commented on #360
Nope, your outbound communication is still under the protection of TLS. Please be aware that Trojan will re-encrypt your information before they return to your client. You will not lose confidentiality.

[2020-03-28 16:20] jmyz0455 commented on #360
Understood, thank you for your answer.

[2020-03-28 16:48] siwind commented on #360
在trojan这个地方， 同时对收到的报文进行解密和返回给客户的报文进行加密, 如果不是trojan的流量，trojan作为客户端代理，和nginx之间通信从效率上考虑只能采用http/http2, 而不是https(涉及握手，秘钥交换等过程并且nginx开启额外的https服务端口)，这样的话，后续nginx转给v2ray的报文就可能不符合v2ray预期的报文(nginx-http --> v2ray, 不对了)。

另外即使能实现，但是trojan和v2ray在同样的端口实现同样的功能，好像是没有必要的。如果443不能用， 那么trojan和v2ray同样歇菜。 整个连接的特征已经由TLS保证了，所以同时在一个端口服务trojan/v2ray好像也是多余的~

[2020-03-28 17:54] siwind commented on #362
(根据下面朋友指出修订如下)
### 推荐的方法

#### 请指向linux系统ca证书
请参阅不同发行版。
一般情况下，这个文件是：" **/etc/ssl/certs/ca-certificates.crt** "
centos/fedora/readhat系发行版： " **/etc/ssl/certs/ca-bundle.crt**  "
(trojan的说明指出如果它查找ca根证书失败,可能报告的是上面的错误)，此时或者安装
受信任根证书或者指出它的路径。

#### 另一种简单的配置
(同样适用于自签名证书等)
你可以在windows上面，通过浏览器把这个证书保存下来(方法见下面)，然后放到linux下面，把cert: 处填上这个文件路径即可。
例如:
[code]

### Windows下面导出证书
具体做法是： 用浏览器打开你的域名(例如https://example.

[2020-03-28 18:25] rampageX commented on #362
正确的方法是指向系统 ca 证书，你这样难道每个服务器的证书你都去保存，修改一次？

CentOS 应该是：

"cert": "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"

[2020-03-29 01:58] jmyz0455 commented on #360
按你这样说，的确是多余的，毕竟 fq 最重要的连接特征已经被 tls 保护了，暂时让 gfw 无法识别，我纯粹是好奇问问。

而且 Trojan 不支持 Cloudflare DNS 代理流量，所以 Trojan 和 V2ray 放同一个主机上也不建议，如果两者都用的话最好就是分开两台机，V2ray 用 CF DNS 代理，Trojan 就不用。

[2020-03-29 02:15] Jrohy commented on #361
测了貌似只有重新打开浏览器, tcp链接才是新的，如果不重开浏览器就一直复用之前的，然后可以一直刷油管😂

[2020-03-29 02:17] Jrohy commented on #361
希望能修复下这个，油管走的流量多限制不了的话会被刷爆

[2020-03-29 08:36] zzhu2019 opened #363 "socks5打开chrome之后无法正常访问网页"
配置好server和client之后 两者连接正常 但是在跑客户端的mac使用socks5打开chrome之后无法访问任何网页 显示
-------------------------
This site can’t be reached
域名’s server IP address could not be found.
DNS_PROBE_FINISHED_NXDOMAIN
-------------------------
client日志
<img width="853" alt="image" src="https://user-images.githubusercontent.com/38281790/77844638-dd6def00-71da-11ea-886c-35d9f351615b.png">
server日志（部分）
<img width="1362" alt="S

[2020-03-29 09:06] machenxiang opened #364 "[FATAL] fatal: use_certificate_chain_file: No such file or directory"
**Trojan Version**
1.14.1

**Describe the bug**
mcx@mcx-Lenovo-Rescuer-15ISK:~/shadowsocks/trojan$ sudo ./trojan
Welcome to trojan 1.14.1
[2020-03-29 17:03:52] [FATAL] fatal: use_certificate_chain_file: No such file or directory
[2020-03-29 17:03:52] [FATAL] exiting. . .

**Environment**
Ubuntu 16.04

[2020-03-29 09:52] onlyJinx opened #365 "[BUG]访问域名下的文件夹时会返回一个带端口的网址"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
1.15.1
**Describe

[2020-03-29 14:58] siwind commented on #362
因为不是每个linux下面都有系统证书的。 每个trojan服务器，对应的客户端配置都保存一个特定证书(和配置文件保存在一起即可)，这个没有什么问题~

还有一种情况是临时用的自签名证书(没有免费证书的情况下，很少见)， 这个时候即使系统有证书也不受信任，采用上述方法导出的证书，在使用trojan时就没有问题~

[2020-03-29 15:08] siwind commented on #360
想法还是不错的，只是现有的实现暂时支持不了罢了~
（除非修改v2ray/trojan代码彼此适应这种情况，不过那个复杂了~）

[2020-03-29 15:13] littlesum opened #366 "能添加freebsd 的支持么？"
希望添加freebsd 的支持 谢谢大神

[2020-03-29 17:19] rampageX commented on #362
@siwind 自签那是另外一回事，你这种搞法要是上机场几百个服务器你轮流保存一次？每连一个服务器你去改一次 trojan 配置文件？
不是每个 Linux 下都有证书就更好笑了，除非你不用 https。

[2020-03-29 17:23] diilaro commented on #268
yeah i have the same question

[2020-03-29 17:59] GreaterFire commented on #366
FreeBSD is already supported. You just build according to the documentation. Or you're welcomed to submit a package to FreeBSD.

[2020-03-29 17:59] #366 closed, assigned to nobody

[2020-03-29 18:00] GreaterFire commented on #365
Please configure NGINX and aria2 correctly. This is not a bug of trojan.

[2020-03-29 18:00] #365 closed, assigned to GreaterFire

[2020-03-29 18:01] GreaterFire commented on #364
Please set a correct certificate in the config.

[2020-03-29 18:01] #364 closed, assigned to GreaterFire

[2020-03-29 18:02] GreaterFire commented on #363
I don't see any problem here. Seems to work fine.

[2020-03-30 01:45] zzhu2019 commented on #363
Does it mean that the connection is made properly and works well? Also, does the terminal for opening chrome printout make any sense? I have tried to rebuilt the server environment for a few days but still doesn't work here :(

[2020-03-30 04:26] GreaterFire commented on #363
There is legit traffic between your server and your client. The Chrome log seems irrelevant. I can't diagnose the problem here.

[2020-03-30 06:47] dmcdark opened #367 "[BUG]"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
1.15.1
**Describe

[2020-03-30 06:52] XieJiSS commented on #352
@GreaterFire No, this was not fixed by the version 1.15.1.

The new binary you attached before resulted in this:

[code]

which is the same error message as that of release 1.15.1.

There's no hardship starting either version's binary, but as soon as I try to *actually* use it to access the Internet, it breaks and triggers Apple's error reporting process.

According to [this link](https://github.c

[2020-03-30 07:06] Chigusa0w0 commented on #367
This is a false positive.

[2020-03-30 07:06] #367 closed, assigned to GreaterFire

[2020-03-30 07:45] feng5064 opened #368 "访问链接获取结果失败"
请访问下面的链接获取结果(Please visit the following link to get the result )     *
*                       https://www.feng5064.xyz/M53AWjym***9EMCeorNw.html
不能打开该网页。
`[root@feng5064 ~]# systemctl status trojan
* trojan.service - trojan
   Loaded: loaded (/etc/systemd/system/trojan.service; enabled; vendor preset: d                                     isabled)
   Active: active (running) since Mon 2020-03-30

[2020-03-30 07:50] Chigusa0w0 commented on #368
The log you provided in this issue does not contain enough information to determine the cause of the problem you mentioned. Please provide more information. If the log exceeds the maximum length allowed by GitHub, please upload a log file as an attachment or use public services such as [pastebin.com](https://pastebin.com).

[2020-03-30 08:30] kookooko opened #369 "trojan.exe was recognized as a virus by the security center of win10"
trojan.exe was recognized as a virus by the security center of win10
![du](https://user-images.githubusercontent.com/20093737/77891565-b7f8e800-72a3-11ea-8be8-e7896476b2ee.png)

[2020-03-30 09:24] Chigusa0w0 commented on #369
False positive.
https://www.virustotal.com/gui/file/352bdd16ff2f02539f3889d281d6bf885aedc202129fc791bc449a40cb059b42

[2020-03-30 09:24] #369 closed, assigned to GreaterFire

[2020-03-30 10:42] onlyJinx commented on #360
我用trojan群里老哥给的思路实现共用443的,流量大概这样走的
![image](https://user-images.githubusercontent.com/21324835/77903896-35c5ef00-72b6-11ea-9932-79c49e7c85ae.png)

[2020-03-30 10:58] SuzukiHonoka opened #370 "[Feature Request] Pass static link FLAG when compiling"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**

It is convenient for link the libraries as static for low storage devices.

**Is this problem relevant to what trojan should care abou

[2020-03-30 11:21] zzhu2019 commented on #363
It seems like the way I use socks5 to open Chrome is wrong. After I downloaded SwitchyOmega, it works. Thanks anyway :)

[2020-03-30 11:21] #363 closed, assigned to nobody

[2020-03-30 11:34] GreaterFire commented on #352
I can't help with it since Azure Pipelines recently removed macOS 10.13. Instead, try installing through brew: `brew install trojan-gfw/trojan/trojan`.

[2020-03-30 11:50] ghost commented on #368
@feng5064 https://tools.ipip.net/ping.php and do not use centos

[2020-03-30 13:26] XieJiSS commented on #352
OK, thanks anyway

And it would be nice if this could be mentioned as a note for macOS 10.13 users ;-)

[2020-03-30 15:14] siwind commented on #362
不是每个人都运营机场的，也就是普通用户用用而已。 上面导出的证书只要是同一个根证书签名的，都是一样的，不需要一个个配置,  对自签名证书也适用。linux下面没有证书是指初始安装时候没有配置系统证书或者系统证书里面没有这个受信任的trojan根证书而已。 要配置那也不难，可能不同发行版添加/配置方法不一定相同 ~

[2020-03-30 20:26] DongfeiSay commented on #278
我也想问

[2020-03-30 23:26] Chigusa0w0 commented on #370
See #317 and #156

[2020-03-31 16:38] causlayer opened #371 "请问谁用过forward功能"
"run_type": "forward",
    "local_addr": "127.0.0.1",
    "local_port": 5901,
    "remote_addr": "example.com",
    "remote_port": 443,
    "target_addr": "127.0.0.1",
    "target_port": 5901,
    "password": [
        "password1"
    ],
    "udp_timeout": 60,
    "log_level": 1,

请问"target_addr": "127.0.0.1"是相对example.com吗？另外请求是不是客户端->trojan(forward)->target-addr，最终是通过target_addr的target_port端口获取数

[2020-03-31 22:52] gaojiweish commented on #68
masOS catalin run is the same error, don't know you solved no？

[2020-03-31 22:54] Chigusa0w0 commented on #371
https://trojan-gfw.github.io/trojan/config#a-valid-forwardjson

[2020-03-31 22:54] #371 closed, assigned to GreaterFire

[2020-03-31 22:57] Chigusa0w0 commented on #368
Since this is an issue of a third-party software. This issue is closed.

[2020-03-31 22:57] #368 closed, assigned to GreaterFire

[2020-04-01 03:25] sashage opened #373 "Paypal.com returns error "ERR_HTTP2_SERVER_REFUSED_STREAM""
I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

_Trojan Version The version of trojan you are using:_
1.15.1

_Describe the bug

[2020-04-01 07:18] silentmoooon opened #374 "[Feature Request] 可不可以加一个类似SS那样的正向代理功能"
请问一下可不可以加一个类似SS那样的正向代理功能。
有时候会处在一个需要设置代理才能访问外部网络的环境下,比如我们公司的网络。
然后trojan如果本身不能设置代理,就没法连网了~

[2020-04-01 15:24] zhangsan946 commented on #131
change it the ip for docker, it shouldnot be 127.0.0.1 for a container @chenicel

[2020-04-01 23:13] #374 closed, assigned to GreaterFire

[2020-04-01 23:14] Chigusa0w0 commented on #373
Could you upload related trojan log?

[2020-04-01 23:20] Chigusa0w0 commented on #374
You may use third-party softwares or deploy a connection redirecting service to do what you want.

[2020-04-02 03:15] KimiYu commented on #161
it can't run on my latest MacOS version 10.15.4 (19E266).

[2020-04-02 07:46] sashage commented on #373
Here are the logs from loading until getting the error message (log level: 0). I cleaned the logs up a bit.

Client log:
[code]

Server Log:
[code]

[2020-04-02 18:28] #370 closed, assigned to GreaterFire

[2020-04-02 18:31] GreaterFire commented on #373
Please leave `[PORT]` as is because that's how we can match the line with a connection. From the look of things, trojan is running normally. It looks like paypal.com is broken instead.

[2020-04-03 02:06] sashage commented on #373
@GreaterFire Ok will leave the port in future logs. Yes, trojan works fine on any other website I have come across so far. The strange thing is that paypal.com also works perfectly when switching to my v2ray or SS proxy without changing anything else (I use SwitchyOmega to switch proxies). So the only variable is Trojan.

For me, this is not a real issue. I just wanted to report this as it could p

[2020-04-03 02:07] GreaterFire commented on #373
@sashage I don't think the problem lies in h2 specifically. Try opening other sites that support h2.

[2020-04-03 05:57] Chigusa0w0 commented on #373
Which browser are you using? (incl. version plz) There are known bugs in Chrome and FF that may trigger REFUSED_STREAM.

[2020-04-03 07:33] sashage commented on #373
@LimiQS

I'm using Chromium
[code]

As I said, it only happens when connecting to trojan. When I use any other proxy within the same browser and session it works normally.

Btw: I forgot to mention, it also happens on other Trojan servers. I have a subscription that offers access to trojan servers as a service, and the same happens there as well. Those servers haven't been set-up or configured by

[2020-04-03 11:07] niostack opened #377 "[Bug report] Trojan转发正常的nginx流量的时候能否带上用户真实ip"
我的trojan的配置是：

然后我的nginx站点配置直接监听80端口，**但是问题是nginx的日志中$remote_addr 字段永远都是本地ip地址：127.0.0.1**；而我想要的是nginx日志中能得到用户的真实ip，请问有解决方案吗？

[2020-04-03 11:24] PatrickQianussys commented on #189
各位大神，请帮忙看下这个问题
我的config.json 里面，配置成这样 "local_addr":"0.0.0.0","local_port":23456 ，在路由器上面 trojan -c config.json 也成功开始，使用 PC上面的 chrome 192.168.50.1:23456  能够成功访问 google 之类网站。

但是不知为何，我用命令trojan -c config.json替换掉 ssconfig.sh 里面的 "ss-local -l 23456"，当我在路由器界面启动 ss 节点之后，PC上的Chrome使用 192.168.50.1:23456，仍然能够访问google，但是不知为何，直接连接不能访问google.

[2020-04-03 15:54] GreaterFire commented on #373
@sashage I cannot reproduce this bug in Firefox 74. The PayPal website opens normally through Trojan.

[2020-04-03 23:57] xclidongbo commented on #364
How can I  set a correct certificate?

[2020-04-03 23:58] GreaterFire commented on #364
Post your config here.

[2020-04-04 00:00] xclidongbo commented on #364
{
    "run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 443,
    "remote_addr": "127.0.0.1",
    "remote_port": 80,
    "password": [
        "password1",
        "password2"
    ],
    "log_level": 1,
    "ssl": {
        "cert": "/path/to/certificate.crt",
        "key": "/path/to/private.key",
        "key_password": "",
        "cipher": "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-

[2020-04-04 00:01] GreaterFire commented on #364
Set a correct certificate file in `ssl.cert` field.

[2020-04-04 00:28] xclidongbo commented on #364
@GreaterFire  a shadowsocks server. I can`t have promission to see. But Thanks.

[2020-04-04 00:31] Chigusa0w0 commented on #373
Can't reproduce on Chrome 80.0.3987.163 Win64.

[2020-04-04 00:32] GreaterFire commented on #373
@sashage Since we cannot reproduce this bug, I'll close it for now. If you have more data to report, feel free to reopen it.

[2020-04-04 00:32] #373 closed, assigned to nobody

[2020-04-04 00:38] GreaterFire commented on #377
There is no solution to this. Since trojan isn't an HTTP reverse proxy (because it supports forwarding any TCP protocol), it doesn't add `X-Forwarded-For` in the HTTP header. There is no other ways NGINX can get the real IP.

If you really want the real IP, you can check out trojan's log, and correspond the connections there with those in your NGINX log.

[2020-04-04 00:38] #377 closed, assigned to GreaterFire

[2020-04-04 01:41] Wnine16 commented on #352
I had the same problem on OS X El Capitan (10.11.6), it worked fine before as the version (1.14.1). Since I update to 1.15.0, I got this error. (the same as 1.15.1).

我在10.11.6这个版本的mac中也遇到了这个问题，之前一直都正常的，版本(<=1.14.1)都是可以用的，自从1.15.0 (包括1.15.1) 开始，就会有同样的提示错误了。

[2020-04-04 01:45] GreaterFire commented on #352
Please don't report this issue anymore - it won't be fixed. Install trojan via `brew` instead.

[2020-04-04 08:04] justchenhao commented on #298
Have the issue been solved?

[2020-04-04 09:19] justchenhao commented on #346
Thank you! Would you like to provide the details to do that? Could I access google scholar via changing hosts file if my network does not support ipv6?

[2020-04-04 15:53] Alcatraz1337 commented on #298
Nope, it has been _closed_

[2020-04-04 16:03] GreaterFire commented on #298
@Alcatraz1337 Please read CONTRIBUTING.md.

[2020-04-04 16:04] Alcatraz1337 commented on #298
Thanks for your reply! I’ll check it out later. Appreciate it!

[2020-04-05 00:55] GreaterFire commented on #298
Please do it **now**. [CONTRIBUTING.md](https://github.com/trojan-gfw/trojan/blob/master/CONTRIBUTING.md)

[2020-04-05 07:58] idealism-xxm commented on #189
我 fork 了一份改写了一下，目前支持使用 trojan 了
[https://github.com/idealism-xxm/fancyss/](https://github.com/idealism-xxm/fancyss/)

[2020-04-05 15:39] b1b2b3b4b5b6 opened #378 "[FATAL] trojan service (client) started at 127.0.0.1:1080"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.10.0

**Describe the bug**

run trojan with config.j

[2020-04-05 16:21] GreaterFire commented on #378
This is not an error.

[2020-04-05 16:34] #378 closed, assigned to GreaterFire

[2020-04-05 17:06] jmyz0455 opened #379 "Docker 部署 Trojan 报错 config.json 打不开。"
我用以下命令在 Docker 上部署 Trojan ：
’‘’
sudo docker run \
    --name mytrojan -d -p 443:443 \
     -v /usr/share/trojan:/usr/local/etc/trojan \
    trojangfw/trojan trojan -c:/usr/local/etc/trojan/config.json
‘’‘
然后报错 `fatal: :/usr/local/etc/trojan/config.json: cannot open file` ，这个 `/usr/local/etc/trojan/config.json` 文件是有的，路径没问题，因为说打不开，我把这个文件权限改到 777，一样不行。
我还在纠结路径&权限的问题，但神奇的是，不用 -c 参数，直接用以下命令就可以了：
’‘’
su

[2020-04-05 17:08] GreaterFire commented on #379
`-c:/usr/local/etc/trojan/config.json`
You had an extra `:` in your command.

[2020-04-05 17:08] #379 closed, assigned to GreaterFire

[2020-04-06 13:37] luodaoyi opened #381 "[Feature Request] io_context多线程处理"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

好像io_context只会有一个主线程处理

我觉得搞成电脑默认的内核数量比较好

[code]

好像是这行代码:

https://github.com/trojan-gfw/trojan/blob/3d608e868c1d4fe5b07266d4b8bc5bfd01e9291d/src/core/service.cpp#L291

[2020-04-06 15:16] GreaterFire commented on #381
This is not that easy and due to the complications in handling race conditions, we are not going to implement it. See #179 for more details.

You can use `reuse_port` and open up multiple instances of trojan instead.

[2020-04-06 15:16] #381 closed, assigned to GreaterFire

[2020-04-07 04:40] PatrickQianussys commented on #189
多谢，可以用，很方便

[2020-04-07 15:22] 0CrazyGuy9 opened #382 "[BUG]请问Trojan直接链接是不是很慢？而且有被墙的情况"
有一台VPS，100Mbps的。IP是：x.x.x.x

v2ray，nginx+ws+CLOUDFLARE，下载速度9MB/s
trojan，申请好证书，直接挂上。客户端链接，200KB/s。

是怎么回事呢？因为我的机器到VPS本来就很慢的，可能是这个原因。
但v2ray代理后，ws+cloudflare很快很快。是不是trojan必须要本地机器与VPS本身通信快才有可能快？

[2020-04-07 15:41] 0CrazyGuy9 commented on #382
trojan 下载
`  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0 80.5M    0  639k    0     0   3852      0  6:05:18  0:02:50  6:02:28 12580
curl: (56) Failure when receiving data from the peer`

v2ray ws+nginx+cloudflare
`  % Total    % Received % Xferd  Average Speed   Time    Time     Time

[2020-04-07 16:04] 0CrazyGuy9 commented on #382
还有就是trojan在国内有些问题，例如https://www.youtube.com 解释不到IP，估计是用系统DNS，是怎么回事呢？

在国内访问（链接同一个VPS）访问网站https://www.baidu.com
curl --socks5 192.168.22.3:1080 https://www.baidu.com -Ik
HTTP/1.1 200 OK
Accept-Ranges: bytes
Cache-Control: private, no-cache, no-store, proxy-revalidate, no-transform
Connection: keep-alive
Content-Length: 277
Content-Type: text/html
Date: Tue, 07 Apr 2020 16:15:51 GMT
Etag: "575e1f72-

[2020-04-07 16:08] 0CrazyGuy9 commented on #382
使用V2ray的代理（在国内）
curl --socks5 192.168.22.10:1080 https://www.youtube.com/ -Ik
HTTP/1.1 200 OK
P3P: CP="This is not a P3P policy! See http://support.google.com/accounts/answer/151657?hl=en for more info."
Strict-Transport-Security: max-age=31536000
Cache-Control: no-cache
Expires: Tue, 27 Apr 1971 19:44:06 GMT
X-Frame-Options: SAMEORIGIN
Content-Type: text/html; charset=utf-8
X-Content-Type-Options

[2020-04-07 16:19] 0CrazyGuy9 commented on #382
Let's免费证书

服务端配置：
`
{
    "run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 44443,
    "remote_addr": "127.0.0.1",
    "remote_port": 80,
    "password": [
        "123456789",
        "a123456789"
    ],
    "log_level": 1,
    "ssl": {
        "cert": "mydomain.crt",
        "key": "mydomain.key",
        "key_password": "",
        "cipher": "ECDHE-ECDSA-AES128-GCM-SHA256:ECD

[2020-04-07 16:22] GreaterFire commented on #382
IT DOESN'T MAKE ANY SENSE to compare raw TCP speed with CDN speed. Also you put your server on port `44443` which might also be a factor.

Note that GitHub issue is [not for this kind of questions](https://github.com/trojan-gfw/trojan/blob/master/CONTRIBUTING.md).

[2020-04-07 16:22] #382 closed, assigned to GreaterFire

[2020-04-07 16:44] 0CrazyGuy9 commented on #382
必须要使用443？

[2020-04-07 16:46] GreaterFire commented on #382
I beg you to read the contributing guidelines.

[2020-04-08 06:06] tanpengsccd opened #383 "[Question]"
I want trojan server to handle muti  host  with muti cert  at 443 port.
like caddy config:
[code]
how can I config  server?

[2020-04-08 06:17] GreaterFire commented on #383
Duplicate of #131

[2020-04-08 06:17] #383 closed, assigned to GreaterFire

[2020-04-08 22:43] cc978 commented on #352
从 brew 上安装 trojan 的确没这个bug了，看情况是从源码编译的，如下。
不过 trojan 14 和 15 服务端和客户端貌似不兼容，还是要保留多个版本。
[code]

[2020-04-09 05:26] sherlockwho opened #385 "Linux客户端代理问题"
我在linux系统上使用trojan的客户端，同时设置了系统的代理模式，但是在使用的过程中我发现只有浏览器可以使用代理，其他应用都不能，不知道有没有办法解决。
另外我直接在系统设置中设置的代理，没有设置分流，但是好像trojan会自动分流，这个分流策略是可以手动设置的吗？
感谢各位的辛勤工作！

[2020-04-09 05:41] GreaterFire commented on #352
They are compatible

[2020-04-09 10:38] babylife commented on #189
非常好用，谢谢作者

[2020-04-09 13:15] luoqiz opened #386 "增加ws支持 [Feature Request]"
有些国外网站需要ws连接实时处理数据，希望可以增加此协议支持。

[2020-04-09 22:36] Billyzou0741326 commented on #386
In my limited understanding, ws is based upon the tcp protocol, which is exactly what trojan uses to establish connections. The socks5 protocol sitting on the client side will also handle ws connections just like it does any other requests.

Correct me if I'm wrong, but in short, trojan already proxies ws connections.

[2020-04-10 01:50] babylife commented on #189
大神考虑定期更新这个梅林版本二进制嘛，太牛了

[2020-04-10 02:30] GreaterFire commented on #386
Please read the doc if you don't know how trojan works. Your request is too vague and implausible.

[2020-04-10 02:30] #386 closed, assigned to GreaterFire

[2020-04-10 02:50] rampageX commented on #189
@babylife https://github.com/rampageX/arm-static-bins/tree/master/trojan

[2020-04-10 05:05] kkblock opened #387 "[BUG]start fail"
➜  soft systemctl status trojan@config
● trojan@config.service - trojan
     Loaded: loaded (/usr/lib/systemd/system/trojan@.service; enabled; vendor preset: disabled)
     Active: failed (Result: exit-code) since Fri 2020-04-10 13:00:56 CST; 3min 25s ago
       Docs: man:trojan(1)
             https://trojan-gfw.github.io/trojan/config
             https://trojan-gfw.github.io/trojan/
    Process

[2020-04-10 13:18] babylife commented on #189
威武 谢谢老大

[2020-04-10 16:21] Chigusa0w0 commented on #385
Trojan will not treat traffic differently.
Trojan itself do not provide any system-wide proxy function. So this topic is considered off-topic.

[2020-04-10 16:21] #385 closed, assigned to nobody

[2020-04-10 16:21] Chigusa0w0 commented on #387
Please provide Trojan log.

[2020-04-11 01:47] GreaterFire commented on #387
Not a bug.

[2020-04-11 01:47] #387 closed, assigned to GreaterFire

[2020-04-11 12:07] EHfive commented on #344
I request reopening this issue.

I think @climboy1 means put a proxy (like a socks5 server) to front of trojan (server type in this case), so we can use other proxying tools like [v2ray](https://github.com/v2ray/v2ray-core), [clash](https://github.com/Dreamacro/clash) to routing outgoing traffics.

Although we could achieve this by configuring iptables (v2ray transparent proxy, ...), `pre-proxy`(s

[2020-04-13 17:13] ghost opened #388 "Is it recommended to enable TCP Fast Open feature?"
As title. I'd like to ask whether it is recommended to enable TCP Fast Open feature.

1: Would it bring improvement to latency and speed?
2: Would it increase the chance of being detected by GFW?

Thank you so much!

[2020-04-13 17:34] GreaterFire commented on #388
It's generally very discouraged to enable this feature. There are barely any improvements on the latency and it adds to the chance your traffic is being detected.

[2020-04-13 17:34] #388 closed, assigned to GreaterFire

[2020-04-15 04:45] abwizeline opened #389 "Bypass Netflix gateway"
It looks good bypassing China Greate Wall, but Netlifx can easy stop it. In my case openvpn works better then trojan.
I was trying to setup both servers openvpn and trojan in US location. It would be good to somehow bypass this kind of restrictions like Netflix etc.

[2020-04-15 05:27] #389 closed, assigned to GreaterFire

[2020-04-17 03:20] yangyiRunning opened #391 "如何设置全局模式？"
↑

[2020-04-17 05:10] yangyiRunning commented on #391
更换至TrojanX即可。

[2020-04-17 05:10] #391 closed, assigned to GreaterFire

[2020-04-18 17:10] txdywy opened #393 "[Feature Request] To support websocket like trojan-go"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
Hope trojan will support websocket so that it can deploy through CDN proxy

**Is this problem relevant to what trojan should care about

[2020-04-18 18:33] heiludong opened #394 "Problems with wildcard certificate"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
Trojan 1.51.

**Describe the bug**
SSL handshake faile

[2020-04-18 18:35] GreaterFire commented on #394
@hasenlu Wildcard certificates do work. We need more info regarding your certificate. Can you upload the fullchain here?

[2020-04-18 18:53] GreaterFire commented on #394
[code]
Your certificate is not a wildcard certificate. It only certifies `caidaddy.com` and `www.caidaddy.com`. To get a wildcard certificate, you need a certificate that certifies `caidaddy.com` and `*.caidaddy.com`.

[2020-04-18 18:53] #394 closed, assigned to GreaterFire

[2020-04-18 23:09] #393 closed, assigned to GreaterFire

[2020-04-18 23:13] Chigusa0w0 commented on #393
@txdywy Specialize a TCP based protocol to a WS based protocol will not "make Trojan more powerful and flexible" and may introduce vulnerability and overhead.

[2020-04-19 04:10] txdywy commented on #393
To make it portable with ws to support more CDNs would reduce the server connection requitements to local network.

[2020-04-19 09:05] Chigusa0w0 commented on #393
@txdywy This is a topic that has been repeatedly discussed, and we have decided not to compromise the characteristics of the Trojan protocol in order to support that. If you need specific unsupported features, you may fork and develop it yourself.

[2020-04-19 18:09] ypdenet opened #395 "下個版本可以增加windows 32位系統的程序嗎"
家裏電腦比較老 還請費心

[2020-04-19 22:53] Chigusa0w0 commented on #395
#316

[2020-04-19 22:53] #395 closed, assigned to GreaterFire

[2020-04-20 15:11] gudong321 opened #396 "前置代理的支持"
在中国，不论是大型科技公司，国企，还是高校院所，经常处于各种代理环境，希望trojan可以提供Http等前置代理功能，方便广大用户。

[2020-04-20 15:27] rampageX commented on #396
Use `glider` proxy chain: [glider](https://github.com/nadoo/glider)

`glider -listen :7777 -forward http://a.b.c.d:port,trojan://password@www.trojan-1.xyz:443`

[2020-04-20 18:59] #396 closed, assigned to nobody

[2020-04-21 00:56] GreaterFire commented on #396
You can also just use proxychains-ng.

[2020-04-23 11:56] ghost opened #399 "[BUG] Trojan-Gfw's implement is 2 or 3 times slower than other ports implement"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
v1.15.1-darwin64

**Describe the bug**
with trojan-gfw

[2020-04-24 04:39] goldenbull opened #400 "hide the main window and use a tray icon on Windows"
On Windows system, we would like a background process to hide the main console window and stay in tray icon area.

[2020-04-24 05:01] goldenbull commented on #400
seems there is a simple solution:
create a script `run.vbs` with the content:
[code]
the `trojan.exe` process will run in background without console window or trayicon. Can be killed in task manager.

[2020-04-24 06:24] guoPengSong commented on #387
我想问一下这种情况该怎么解决，我也是这种情况，我的trojan昨天还是能用的

[2020-04-24 09:26] LsnmxNB commented on #400
快捷方式最小化就行了，最完美解决方案，如果不想开机启动这玩意到处跑就固定这玩意任务栏位置自己看图
<img width="439" alt="Snipaste_2020-04-24_17-20-46" src="https://user-images.githubusercontent.com/42826027/80197029-b0cdbb80-8650-11ea-9765-4b2674f88095.png">
<img width="651" alt="Snipaste_2020-04-24_17-21-38" src="https://user-images.githubusercontent.com/42826027/80197042-b3301580-8650-11ea-9035-1316de519068.png">

https://i.loli.net/2020/04/24/

[2020-04-24 10:53] guoPengSong commented on #387
解决了吗，怎么解决

[2020-04-25 03:11] flyhigao opened #401 "[BUG]某些网站，比如www.atrandys.com无法访问"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
trojan的客户端和服务端都是1.15.1
浏览器包括mac和ubuntu19上的chrome，safar

[2020-04-25 03:22] flyhigao commented on #401
补充一下，我v2ray使用的是 TCP + TLS + Web 方式构建，构建方式如下：
https://guide.v2fly.org/advanced/tcp_tls_web.html#%E8%83%8C%E6%99%AF
PS：上述网址，trojan同样无法打开。

[2020-04-25 05:26] Chigusa0w0 commented on #401
Invalid

[2020-04-25 05:26] #401 closed, assigned to GreaterFire

[2020-04-25 05:28] Chigusa0w0 commented on #400
Dup #91

[2020-04-25 05:28] #400 closed, assigned to GreaterFire

[2020-04-25 07:32] gudong321 commented on #396
Thank you very much！

[2020-04-25 07:35] gudong321 commented on #396
Thank you！Easy is best！

[2020-04-25 12:38] wazzx commented on #401
这个不是什么bug，你用的是第三方的passwall客户端所以有这个问题，本人是trojan直接用nat模式gfw列表按照格式加入atrandys.com既可以了

[2020-04-26 10:37] sgon00 opened #402 "[Feature Request] trojan client/nat should not require a cert file"
I am running trojan in `nat` run_type at openwrt. I found out I had to provide the `"cert"` file in order to make ssl handshake work. Without providing the cert, the connection to trojan server will result in SSL Handshake Failure error.

But all other https clients such as browsers can download the cert automatically from the trojan https server. cert is always public available, I don't know why

[2020-04-26 11:17] flyhigao commented on #401
我是开了全局模式，还有这种情况。不过算了，不用了。

[2020-04-26 11:25] sgon00 opened #403 "[BUG] Dns failure (wrong config) of openwrt trojan nat client results in memory leak, should that be handled gracefully?"
**Trojan Version**
trojan 1.15.1 at openwrt

Note: the wrong config itself is not what I concern. I have already fixed the wrong config.

**The Story**

This problem actually happens because I didn't configure dns lookup and iptables rules properly.

***My wrong config:***
The trojan is running at `"nat"` run_type and the `remote_addr` has a host domain value instead of IP, and `local_port` is `12

[2020-04-26 14:09] alexseedkou-zz commented on #157
Hi all,

I still have the same issue. At first it works very well, but suddenly come up with the error as  certificate verify failed.

FYI, the cert is not expired.

Any help will be appreciated.

[2020-04-26 23:31] Chigusa0w0 commented on #402
This is a security feature. See [this article](https://labs.nettitude.com/tutorials/tls-certificate-pinning-101/). You may toggle off the feature by editing your configure file.

[2020-04-26 23:31] #402 closed, assigned to GreaterFire

[2020-04-26 23:37] Chigusa0w0 commented on #403
Personally I don't think it must be fixed as you have created an infinite loop which is not expected. Also, you may use both `remote_addr` (set to IP) and `sni` (set to SNI a.k.a. "domain") fields in configure file to get around the situation of potential DNS pollution without touching HOSTS file.

As Trojan currently do not read data transmitted in your connection, Trojan has no way to know where

[2020-04-26 23:43] wongsyrone commented on #402
Did you installed ca-certificates or ca-bundle on openwrt via opkg?

[2020-04-27 00:31] GreaterFire commented on #403
@sgon00 Sounds more like a resource exhaustion due to infinite recursion than a "resource leak". Can you provide valgrind log under incorrect configuration just to make sure it's not leaking?

[2020-04-27 06:35] sgon00 commented on #402
@wongsyrone Thank you very much for the help. I forgot I did have to install CA certs on openwrt. After installing ca-certificates and ca-bundle, I can remove the `"cert"` value and leave it empty with `"verify": true,`.

Btw, I read the config doc https://trojan-gfw.github.io/trojan/config again , I think the following words can be modified and improved:

I didn't realize that is a CA problem bec

[2020-04-27 06:55] sgon00 commented on #403
Thank you both very much for the replies.

Regarding `sni` field, I knew I could provide IP to `remote_addr` and domain to `sni`. But due to the limited of my knowledge, I am afraid if GFW can examine traffic packets differences between IP remote_addr and domain remote_addr.  (Thus if any differences between IP remote_addr config https request/resposne AND a normal browser https request/response).

[2020-04-27 07:02] Chigusa0w0 commented on #403
The difference is that a domain `remote_addr` will request DNS resolve (then use the resolved IP to establish connections) while an IP `remote_addr` will not. But since you have fully encrypted your DNS requests and use HOSTS to avoid loop, there will be no difference for third-party adversaries.

[2020-04-27 08:51] sgon00 commented on #403
@LimiQS thank you very much for the detail explanation. 😀

[2020-04-27 11:17] blackness3 commented on #318
@huntcraft
我在最近的使用过程中也出现了好几次这种情况，前几次以为是服务器的问题，因为当时服务器重启也不行，cpu还是占用100%，今天又出现这个情况，我通过ssh查询进程的时候发现trojan 占用CPU接近100%，我怀疑是trojan占用cpu导致我在服务商官网的控制面板上执行的重启命令未执行。我今天通过ssh重启了trojan服务就立马好了。不知道现在你的问题解决没有，我有个解决思路是写个脚本定时监控cpu，如果占用过高就执行trojan重启命令。不知道可行么，我先试试

[2020-04-29 02:54] GreaterFire commented on #399
On my local machine, the speed can get up to 10 Gbps. Can't reproduce.

[2020-04-29 02:54] #399 closed, assigned to GreaterFire

[2020-04-29 02:56] GreaterFire commented on #403
@sgon00 Putting IP (hostname in `sni`) or hostname in the `remote_addr` field are completely equivalent.

[2020-04-29 02:56] #403 closed, assigned to GreaterFire

[2020-04-30 04:14] mobeyond opened #405 "[BUG]"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
trojan-1.15.1-win.zip

**Describe the bug**
Windows 10

[2020-04-30 04:39] GreaterFire commented on #405
@mobeyond The trojan binary is not a trojan horse. If in doubt, you can compile your own.

[2020-04-30 06:06] #405 closed, assigned to GreaterFire

[2020-04-30 08:58] hudingwen opened #406 "A demand"
Hello author, you should add an expiration date verification, add an expiration field, now you can only verify the amount of traffic, but you can not verify the date and time

[2020-04-30 17:16] Chigusa0w0 commented on #406
The auth function is a simple prototype and it would be rewrite in the future. No support for this section of Trojan currently.

[2020-04-30 17:16] #406 closed, assigned to GreaterFire

[2020-04-30 18:23] hudingwen commented on #406
I am looking forward to it

[2020-05-01 13:45] alexseedkou-zz opened #407 "[BUG] Connection refused and certificate verify failed on mac"
- [ x ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.14.1

**Describe the bug**
1) Recently when I trie

[2020-05-02 03:05] chungf opened #408 "[Feature Request] Support clients connecting via HTTP proxy"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
Clients inside a corporate environment often have to connect through HTTP proxies, with or without proxy authentication.

**Is this pro

[2020-05-02 03:16] Chigusa0w0 commented on #408
#396

[2020-05-02 03:16] #408 closed, assigned to GreaterFire

[2020-05-02 08:45] okudayukiko opened #409 "[Feature Request]能否支持驗證客戶端證書？"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
能否支持強制驗證客戶端證書，像VPN那樣。
![Screenshot](https://user-images.githubusercontent.com/17502357/80859672-19421b80-

[2020-05-03 19:44] okudayukiko commented on #409
手機版Igniter能否像Shadowsocks-Android那樣提供「略過局域網」功能？能否像Shadowsocks-Android那樣支持為服務器命名（有時只填服務器地址不方便分辨服務器所在國家）？
Trojan能否支持多證書（如Nginx支持RSA+ECDSA）、GeoIP（Igniter支持不代理中國IP，望Trojan支持以國家代碼不代理某個國家的IP段）？用OpenSSL追了下，Trojan不支持多證書（如RSA+ECDSA）。
以下配置只支持ECDHE-RSA，不支持ECDHE-ECDSA：
`{`
`"run_type": "server",`
`"ssl": { `
`"cert": "/path/to/rsa.crt",`
`"key": "/path/to/rsa.key",`
`"cert": "/path/to/ecdsa.crt",`
`"key": "/pa

[2020-05-04 04:58] granbelm opened #410 "本地证书过期后还能继续使用？"
emm刚刚发现服务端的ssl过期了，update完后发现本地的旧的证书依旧可以使用trojan？？？
这是正常情况吗？不更新本地证书安全吗？

[2020-05-04 04:59] GreaterFire commented on #410
@granbelm This should not happen. Please post your configs. And also, did you restart the server after renewing your certificates?

[2020-05-04 05:06] granbelm commented on #410
Of Course, I have rebooted my sever.
![image](https://user-images.githubusercontent.com/64766322/80937494-f2f0bd00-8e07-11ea-8e86-cc401be8f870.png)

[2020-05-04 05:10] GreaterFire commented on #410
@granbelm This is normal, because you are using a full chain on your client side, which has the same CA of your new certificate. OpenSSL will pass the certificate test because of that. If you use only the certificate (not full chain) then Trojan will complain. Hopes this makes sense to you.

[2020-05-04 06:39] granbelm commented on #410
Thank you very much. BTW, I want to ask a stupid problem since I know little about SSL.
So it means that trojan using the CA certificate to encrypt the data when it has a full-chain cer?

[2020-05-04 18:30] ghost opened #411 "redacted"
redacted

[2020-05-04 18:31] GreaterFire commented on #411
No. Logs don't affect transmission speed.

[2020-05-04 18:32] #411 closed, assigned to GreaterFire

[2020-05-05 01:52] GreaterFire commented on #410
No. It uses your certificate's public key.

[2020-05-05 06:45] granbelm commented on #410
Thanks for answering me !

[2020-05-05 06:45] #410 closed, assigned to nobody

[2020-05-06 11:11] tjysdsg commented on #407
Same problem happened on my machine, v1.15.1

[2020-05-06 13:37] knoxville9 commented on #407
certification was expired , update it  will be fixed

[2020-05-06 17:14] yamato2199 commented on #157
Hi all,
I have this issue with windows in version 1.15.1, the cert is not expired
I have someone using the same server for trojan but not have this issue
Any help will be appreciated.

[2020-05-06 17:48] alexseedkou-zz commented on #407
I have mentioned the cert is not expired, it still have 1 year valid.

[2020-05-07 14:42] gorouter opened #413 "[BUG] 在docker下运行同一份trojan，为什么在不同的主机上运行会失败，收不到trojan的数据？"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.14.1

**Describe the bug**
失败的情况是收到的数据来源于docker内部IP

[2020-05-07 14:48] gorouter commented on #413
https://i.loli.net/2020/05/07/pTQXcwLa2ZmhF3W.png 成功的情况
https://i.loli.net/2020/05/07/l84R63LOhnHCEUc.png 失败的情况

同一个docker，运行同样的trojan，但从info.log日志中看出：
成功的情况的IP是远端的，失败的情况IP是docker内部的。
为什么会出现这样的情况呢？能否修复下这个问题？

[2020-05-08 00:13] gorouter commented on #413
已解决，是docker配置问题

[2020-05-08 00:13] #413 closed, assigned to GreaterFire

[2020-05-08 07:30] okudayukiko opened #415 "[BUG]無法設定TLS 1.3 Ciphersuites"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
Welcome to trojan

[2020-05-08 07:44] Chigusa0w0 commented on #415
Upgrade your trojan client.

[2020-05-08 07:44] #415 closed, assigned to GreaterFire

[2020-05-08 07:45] Chigusa0w0 commented on #409
Please read the document.

[2020-05-08 07:45] #409 closed, assigned to GreaterFire

[2020-05-08 08:15] okudayukiko commented on #415
使用Ubuntu 20.04的Trojan則無此Bug。
`root@ubuntu:~# trojan -v`
`Welcome to trojan 1.14.1`
`Boost 1_71, OpenSSL 1.1.1f 31 Mar 2020`
使用Debian 10 APT的Trojan則有此Bug。

[2020-05-08 09:15] boluoyu opened #416 "有什么办法降低 trojan 运行时内存？"
我把 trojan 编译成可以在 iPhone 上运行了，速度也挺快，但有一个问题，IPhone 上的 NetworkExtension  Packet Tunnel  有一个严格限制，内存不能超过15M，一旦达到15M ，子进程就会被kill 掉，所以多刷几个网页就会掉线，具体讨论可以看 https://forums.developer.apple.com/thread/73148 。 Packet tunnel 本身内存就占用6M 左右，所以 trojan 内存不能超过8M ，而在 mac 上也能观察到， trojan 初始内存3、4M ， 运行时间长了，就会变大，最终会有22M 左右。我需要做哪些编译优化，或者代码优化，或者说应该怎么做快速释放内存，让 trojan 内存限制在8M 以下呢？

[2020-05-08 10:29] okudayukiko opened #417 "[BUG] local_addr的Bug"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
Welcome to trojan

[2020-05-08 14:31] Chigusa0w0 commented on #415
TLS 1.3 support added AFTER 1.10.0.

[2020-05-08 14:35] Chigusa0w0 commented on #417
Misconfiguration is not a bug. Do not set multiple `local_addr`.
https://trojan-gfw.github.io/trojan/config

[2020-05-08 14:35] #417 closed, assigned to GreaterFire

[2020-05-08 14:56] Chigusa0w0 commented on #416
As most platforms trojan supported usually have abundant memory and this seems not related to a memory leak. We don't have a lot information to provide about how to lower the memory usage. And the usage may caused by underlying dependencies.
If your purpose is to find a working App on iPhone, you may try Pharos or ShadowRocket

[2020-05-08 16:40] boluoyu commented on #416
@LimiQS  谢谢，还是想自己编译出一个，一方面可以学习，一方面可以定制化自己的App，而且Pharos 需要国外帐号，麻烦

[2020-05-09 01:10] tjysdsg commented on #407
Turns out it's my SSL certificate expiring causing the problem. It fixes the issue once I renew the certificate.

Ubuntu 18.04 Trojan v1.15.1

[2020-05-09 12:22] okudayukiko opened #418 "[Feature Request] 能否提供關閉TLS 1.3的選項？"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
TLS 1.2通過Cipher（eg：TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256）設定金鑰交換算法，而TLS 1.3通過group設定金鑰交換算法。TLS 1.3預設允許DHE密

[2020-05-11 03:26] #416 closed, assigned to GreaterFire

[2020-05-12 02:49] jiamingl98 opened #420 "[Feature Request] trojan是否支持lighttpd作为web服务器代理"
网上教程都是基于nignx代理的https流量 如果服务器使用lighttpd是不是可以参考nginx配置trojan?

[2020-05-12 05:34] XenoAmess opened #421 "[Feature Request]support pac file"
as title.
suggest support pac file format like ss did.

[2020-05-12 06:48] oasiscifr commented on #421
@XenoAmess Why

[2020-05-12 07:24] XenoAmess commented on #421
because useful.

[2020-05-12 08:28] wongsyrone commented on #421
https://github.com/trojan-gfw/trojan/pull/54#issuecomment-453370302

[2020-05-12 08:28] #421 closed, assigned to GreaterFire

[2020-05-12 12:25] novazz opened #422 "可以配置PAC吗？"
用的mac客户端，毕竟不是每个网站都想通过代理访问

[2020-05-12 14:09] Chigusa0w0 commented on #422
Internal support: See #421
External support: Search for softwares suit your situation best.

[2020-05-12 14:09] #422 closed, assigned to GreaterFire

[2020-05-12 14:09] Chigusa0w0 commented on #420
Theoretically yes.

[2020-05-12 14:09] #420 closed, assigned to GreaterFire

[2020-05-12 14:11] Chigusa0w0 commented on #418
See CONTRIBUTING.md

[2020-05-12 14:11] #418 closed, assigned to GreaterFire

[2020-05-12 14:13] GreaterFire commented on #418
@okudayukiko If you really want to disable TLS 1.3, you can use OpenSSL 1.1.0 instead of 1.1.1.

[2020-05-12 15:40] malikshi commented on #407
trojan can running on mikrotik chr ? @GreaterFire

[2020-05-13 01:13] dongdongbi12 opened #423 "[BUG]最近突然连不上，但是手机上shadowrockets还可以连上服务器，所以应该不是服务器设置的问题。配置文件也一直没变，检查了一下也没有错误配置，所以应该也不是配置文件的问题。客户端版本是1.15.1，操作系统是win10."
版本是1.15.1
操作系统是win10
一直显示0 received

[2020-05-13 01:20] #423 closed, assigned to GreaterFire

[2020-05-13 12:59] wilddylan opened #424 "中间页或者类DNS劫持"
如何实现通过我的VPN服务器的访问，需要必须通过一个中间等待页；

或者实现类似运营商DNS劫持的能力，在返回的页面中增加一些脚本、信息

[2020-05-14 06:22] ruanhuilingscuec opened #425 "Add the domain verification"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
Using IP or other domain can also access port 443 services, leaking SSL certificate domain names.

**Is this problem relevant to what t

[2020-05-14 07:48] wenwuwu commented on #318
我用 google compute engine 也是cpu 100% 占用。
<img width="1156" alt="屏幕快照 2020-05-14 下午3 48 25" src="https://user-images.githubusercontent.com/15991545/81907469-678edd00-95fa-11ea-914d-3ff5a0776d1d.png">

[2020-05-14 11:06] okudayukiko opened #426 "[Feature Request]能否增加DTLS支持？"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
能否增加DTLS支持？Shadowsocks可以支持TCP，UDP，TCP+UDP。現在Trojan比SS TCP+UDP慢。

[2020-05-14 14:49] zhoushiqian opened #427 "[BUG]trojan run segment faile in x86_64 android termux"
**Trojan Version**
v1.9.0

**Describe the bug**
rojan run segment fault in x86_64 android termux

**To Reproduce**
1,
dpkg -i boost_1.69.0_x86_64.deb
dpkg -i boost-dev_1.69.0_x86_64.deb
pkg install openssl
pkg install mariadb

2,
change CMakeLists.txt
 option(ENABLE_MYSQL "Build with MySQL support" ON)
 if(ENABLE_MYSQL)
-    find_package(MySQL REQUIRED)
-    include_directories(${MYSQL_INCLUDE_DIR

[2020-05-14 22:06] #426 closed, assigned to GreaterFire

[2020-05-14 22:09] Chigusa0w0 commented on #426
Please read RFC 6347 Section 3.

[2020-05-18 02:45] mrgeneralgoo commented on #360
经过实践是可以公用 443 的，核心在于 Nginx 在 4 层完成流量分发。
参考资料：https://www.chengxiaobai.cn/record/trojan-shared-443-port-scheme.html

[2020-05-18 10:02] ghost commented on #277
@cybmp3 When I refer to the online tutorials, almost all suggest to use two-way authentication to configure the database, that is, the server must also authenticate the slave. Can you update the code to support this feature?

By reffering to [dev.mysql.com](https://dev.mysql.com/doc/refman/8.0/en/mysql-ssl-set.html), change may be
```mysql_ssl_set(&con, NULL, NULL, config.mysql.cafile.c_str(), NUL

[2020-05-19 01:39] yl-miao opened #428 "[Feature Request] 能否考虑增加限制单个用户带宽的功能"
已经有了多用户，能否考虑增加限制单个用户带宽的功能呢？

[2020-05-19 06:26] gamerlgq opened #429 "文档被墙"
官方推荐的第三方文档被墙了，叫做着换个网址重新发个链接，还没保存页面就没了

[2020-05-19 06:35] Chigusa0w0 commented on #429
There is no such "officially recommended third-party documentation". So this issue is highly possible unrelated to trojan itself.

[2020-05-19 06:35] #429 closed, assigned to GreaterFire

[2020-05-19 06:36] Chigusa0w0 commented on #424
Unrelated question.

[2020-05-19 06:36] #424 closed, assigned to nobody

[2020-05-19 06:39] Chigusa0w0 commented on #425
Standard TLS handshake process must be kept to make Trojan's behaviour identical to other TLS services.
You may use third-party tools to do what you want, to behave harmless in the view of adversary.

[2020-05-19 06:39] #425 closed, assigned to GreaterFire

[2020-05-19 16:23] ghost opened #430 "[BUG][FATAL] fatal: SSL connection error: unable to get issuer certificate"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.15.1

**Describe the bug**
When I enabled One-Way TL

[2020-05-20 05:09] aurora-w commented on #430
Same problem, SSL handshake failed with www. …………………… certificate verify failed

[2020-05-20 15:37] EHfive opened #431 "Wrong entity in Individual Contributor License Agreement"
"SAP" or "SAP SE" should be replaced with "Trojan" or something else?

Nevermind if this project is under SAP SE.

[2020-05-20 15:55] EHfive commented on #431
Archive: http://web.archive.org/web/20200520154919/https://cla-assistant.io/trojan-gfw/trojan

[2020-05-20 23:53] mianmianmi commented on #428
是的，这也是我想问的。

[2020-05-21 03:32] Chigusa0w0 commented on #428
Multi-user related component of Trojan is planned to re-architect. Currently we prefer not to do any minor improvement about that part. Ref. https://github.com/trojan-gfw/trojan/pull/384#issuecomment-611024670

[2020-05-21 03:32] #428 closed, assigned to GreaterFire

[2020-05-21 07:23] charley008 commented on #409
..

[2020-05-21 13:27] zdm2008 opened #432 "Can you add database support for redis or memcached?"
Can you add database support for redis or memcached?

Most proxy hosts have 1 core and 1 GB of memory, so it is not realistic to run Mysql.

Redis or memcached in the case of small data, it only needs the memory of 100KB to run it.

[2020-05-21 13:33] zdm2008 commented on #432
I suggest adding redis support, which leverages virtual memory and persists data to disk.

[2020-05-21 15:18] Chigusa0w0 commented on #432
#384

[2020-05-21 15:18] #432 closed, assigned to GreaterFire

[2020-05-21 15:21] DenrianWeiss commented on #432
@zdm2008 I have a forked version for this: DenrianWeiss/trojan-cluster, I would like to merge this feature back after authenticator reform.

[2020-05-23 03:36] gitHubXss opened #433 "[Feature Request]支持Nginx开启proxy_protocol"
根据 https://github.com/trojan-gfw/trojan/issues/131#issuecomment-536916385 的介绍，使用`ssl_preread on `后，会导致后端拿到的IP都是`127.0.0.1`，可否支持在Nginx开启`proxy_protocol on`

[code]

[2020-05-23 03:39] gravityr opened #434 "[BUG] macOS [FATAL] config.json(5)"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
trojan-1.15.1-mac

[2020-05-23 08:27] Chigusa0w0 commented on #434
Without further information, we cannot help you about that.

[2020-05-25 07:07] OxygenLiu commented on #360
实测可用！

[2020-05-25 15:54] ghost commented on #430
Solved according to this QA: [MariaDB over SSL not working, "certificate verify failed"](https://stackoverflow.com/questions/42145925/mariadb-over-ssl-not-working-certificate-verify-failed), but I don't know why.

[2020-05-25 15:55] #430 closed, assigned to GreaterFire

[2020-05-27 03:07] HanMufu commented on #434
Yeah I have the same problem. It says [FATAL] fatal: config.json: cannot open file. I tried chmod but nothing happens.

[2020-05-28 03:29] petsgre opened #436 "如何共享给局域网"
我用手机设置开启了wifi代理 到trojan服务器的端口
192.xx.xx.xx:1080
但是无法联网

[2020-05-28 08:07] JuyiShang opened #437 "[BUG]linux client configuration issues"
I can get the corret ip address by command curl ip.sb --Sock5 127.0.0.1:1080
I can get the corret ip address by command proxychains curl  -i4 ip.sb
but I cant ping google.com

[2020-05-28 11:50] rfbzs opened #438 "Where could I find the log file?"
Actually I didn't see a log output path neither in the client config nor in the server config. I could only check the log output from the CLI. Does trojan not generate the log file by default?

[2020-05-28 13:52] Chigusa0w0 commented on #438
https://github.com/trojan-gfw/trojan/blob/master/src/main.cpp#L76

[2020-05-28 13:52] #438 closed, assigned to nobody

[2020-05-28 13:53] Chigusa0w0 commented on #436
Third party issue should not open in core project. As Trojan itself do not redirect any traffic.

[2020-05-28 13:53] #436 closed, assigned to GreaterFire

[2020-05-28 13:55] Chigusa0w0 commented on #437
Do you correctly proxy ICMP on your computer?

[2020-05-28 13:59] #434 closed, assigned to GreaterFire

[2020-05-28 14:02] Chigusa0w0 commented on #433
#377

[2020-05-28 14:02] #433 closed, assigned to GreaterFire

[2020-05-28 14:14] wolfsilver commented on #433
不好意思，这两个不一样吧，#377说的是Trojan转发的协议不能添加，我说的是nginx转给Trojan的协议多了这种协议报头之后，就不能解析了

[2020-05-28 14:18] neoana opened #439 "anyway to add three or four remote_addr in config.json for client setting? Thanks"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.

**Describe the b

[2020-05-28 14:35] wolfsilver commented on #433
`proxy_protocol on;` 这个会在tcp数据前添加一段报头标识来源，我理解，通过校验是否存在这种包头，然后过滤掉就可以了

https://developers.cloudflare.com/spectrum/getting-started/proxy-protocol/

[2020-05-28 17:03] Chigusa0w0 commented on #439
No. You should start multiple trojan instance

[2020-05-28 17:03] #439 closed, assigned to GreaterFire

[2020-05-28 17:12] Chigusa0w0 commented on #433
The same principle still applies. Since Trojan has no way to know which protocol it transfers, whether it supports PROXY protocol, and itself do not care about source IP, it will simply erase the data instead of insert it into the connection. This will render the support pointless.
To add support to PROXY protocol means special treat to a set of protocols. Which is not preferred in current design

[2020-05-28 19:27] shawwwn opened #440 "[BUG] SSL handshake failed with x.x.x.x:443: invalid padding"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.15.1

**Describe the bug**
I used **fixscrip**(or si

[2020-05-29 07:20] vbuterin2 commented on #388
But TCP fast open feature can greatly improve the speed of traffic, although it adds to the chances of being detected.

[2020-05-31 20:27] #437 closed, assigned to GreaterFire

[2020-06-01 12:22] 960PRO opened #441 "可能存在的漏洞"
Trojan团队，你们好。隔壁V2ray爆出严重漏洞https://github.com/v2ray/v2ray-core/issues/2523
这种漏洞可能影响Trojan，请排查一下Trojan是否有这种缺陷。
谢谢，致敬你们这些开发者。

[2020-06-01 13:35] MirrorCubeSquare commented on #441
English Translation：
due to bug report from V2RAY-core
Vmess+TCP is now under serious vulnerability
Such bug may affect Trojan as it touches the basic design of any anti-GFW method
thx

如果我云两边的说明书以及对面的issue没错的话，目前的情况是这样
vmess早就是个筛子，只不过现在可以彻底宣告非TLS的vmess退休了
而trojan从原理上（在流量形态上）大致相当于v2ray的WS+TLS实现（只不过在tls层后没有vmess的混淆保护）
所以目前来看只要tls是安全的，trojan方案和VMess+TLS方案暂时还是安全的
（虽然在这种情况下TLS加的这个Vmess还有没有意义是个问题）

参考h

[2020-06-01 14:03] GreaterFire commented on #441
@960PRO No. We don't have this problem.

[2020-06-01 14:31] rankjie commented on #274
Adding an API for stat/user query allows fine control over user authentication.
IMO, direct integration with MySQL is not necessary and limits service providers.

[2020-06-01 16:49] #441 closed, assigned to GreaterFire

[2020-06-02 01:58] maskedeken opened #442 "[BUG] RemoteAddr填入ip地址，sni填入真实域名时会出现SSL handshake failed：Stream Truncated"

[2020-06-02 02:28] Chigusa0w0 commented on #442
Please provide more information or we could not help you out.

[2020-06-02 02:44] LeeiFrankJaw commented on #378
If this is not an error, then you should explain why this is not an error.  After running into the same problem and googled into here, only to find out a closed issue with a "this is not error" reply.

[2020-06-02 04:12] LeeiFrankJaw commented on #378
I encounter the same problem today.  But in the end I managed to solve my problem.

You know what.  The culprit is exactly the trojan binary itself.  And you have to build the trojan yourself.  The trojan package from Debian repository is broken for unknown reasons.  It might be due to missing dependencies or outdated trojan version. The version from the repository is 1.10.0 with boost 1.67.  I ju

[2020-06-02 04:36] Chigusa0w0 commented on #378
@LeeiFrankJaw Read the message and understand what it means.
This could help you understand what's happening when the message pops up.
https://github.com/trojan-gfw/trojan/blob/fe1f297d12c85e4889a70c94469b5ced9be4d8a0/src/service.cpp#L204
And this is the "fix" https://github.com/trojan-gfw/trojan/commit/246adc421e3a31c16dd20fe5abd3beb9b249e6dd

[2020-06-02 04:43] LeeiFrankJaw commented on #378
No. Maybe this is not what I mean in the original place.  The first message is nothing for me.  The following messages for me are the following.

[code]

The newer version does solve my real connection problem. It might be the case my problem is really different from the original poster, which might be just an improper wording choice.  But for me, I simply cannot connect.

[2020-06-02 10:03] Nick-lizheng commented on #318
我用vlutr也是100%,OS版本是Debian 8, version是1.15.1

[2020-06-02 14:36] herozzm opened #443 "强制443 tls nginx在trojan前难道不可行吗?"
我需要访问正常网站 https://a.com 这个网站是一个正常使用的网站
同时在这个域名下面搭建了trojan，想使用 https://a.com/torjan 来链接trojan使用，这样可以做到逼真的伪装，这个需求到底要如何实现？
如果换成trojan在nginx前，是否能承载web真实网站访问的压力？然后如何将https://a.com/ 分流到nginx？而https://a.com/torjan 留在trojan来处理？

[2020-06-02 23:22] ericlancebrown commented on #440
Almost seems like your key pair is mismatched. Is your private key you used for decryption the key pair of your public key you used for encryption?

It could also be that your version of OpenSSL is wrong. Essentially, the error is that your key pair can't decrypt that first bit of data. Try looking at your .pem keys and make sure they're correct.

[2020-06-02 23:26] ericlancebrown commented on #442
Seems to be a browser issue. It means the connection was closed abruptly. If you're using Chrome, Google believes this increases performance.

[Try the solution from this issue here!](https://github.com/boostorg/beast/issues/915#issuecomment-348503145)

[2020-06-02 23:59] ericlancebrown commented on #443
**Server.json**
[code]

**Notice these bits of code?**
[code]

Essentially, Trojan is connecting to 443 from any local IP address (Meaning of local_addr 0.0.0.0). Normally, with "reuse_port: true", you can run connections from say 192.168.1.2:443 as well as 192.168.1.3:443, 192.168.1.4:443, etc. That would be thanks to "SO_REUSEPORT support that is a build default.

I suggest tinkering with that s

[2020-06-03 00:09] ericlancebrown commented on #427
After a bit of searching, this is a Termux issue all the way from 0.5 to 0.8 or so. Happens with some builds. Try updating your Termux branch and see what happens. They're on 0.94 now :)

BTW, [have you tried Igniter](https://github.com/trojan-gfw/igniter)? It's a Trojan app for Android. Still under construction according to their repo, but worth a shot.

[2020-06-03 03:51] shawwwn commented on #440
I use a self-issued CA(not sure if that's the issue) but my key pair matches.
Everything works fine when I'm not binding outbound traffic to another interface.
When I do, either by LD_PRELOAD hack or `netns`, I get an handshake error.

IIRC, simply forwarding traffic shouldn't break SSL.
Is this a bug or there is something I didn't know.

[2020-06-03 04:33] ericlancebrown commented on #440
Have you looked into configuring SNI?

It could be that you're having issues with your browser not being able to decipher your TLS certificates. This would allow you to have multiple certificates point to one address.

TLS 1.3 has a lot of issues with ipv4 exhaustion. Could be a workaround?

[2020-06-03 04:35] herozzm commented on #443
关键点是要做https://a.com/torjan 和https://a.com 分流，这个才是关键，你的配置中没有涉及这块的分流

[2020-06-03 05:26] zhangzhhz commented on #443
为什么要 Nginx 在前面？trojan 在前面是
 trojan 的根本宗旨。
https://trojan-tutor.github.io/2019/04/10/p41.html#%E9%85%8D%E7%BD%AEnginx

一定要 Nginx 在前面，看一下前几天一个 issue 里的方法：https://www.chengxiaobai.cn/record/trojan-shared-443-port-scheme.html

[2020-06-03 05:52] herozzm commented on #443
https://www.chengxiaobai.cn/record/trojan-shared-443-port-scheme.html
有正式网站生产环境，nginx在web方面的能力久经考验，trojan就做好自己本分工作即可，何须去接管443所有的流量？

[2020-06-03 05:53] herozzm commented on #443
好吧就算trojan在前，如果实现这个分流的需求呢？将https://a.com/ 分流到nginx？而https://a.com/torjan 留在trojan来处理？

[2020-06-03 05:57] DenrianWeiss commented on #443
@herozzm trojan does not work in this way, however you can use sni based method (not recommended)

[2020-06-03 06:00] zhangzhhz commented on #443
参考我回复中第一个联结做分流。

[2020-06-03 06:07] herozzm commented on #443
我的理解是这样，不知道对不对：
同样的https://a.com 443链接，如果是trojian客户端发起则停留在trojan处理，否则将这个443请求转到nginx，根本无需用path路径来区分？

[2020-06-03 07:13] shawwwn commented on #440
No, I have not configured SNI.
The key pair I issued is with my ip address as the CN since I don't own a domain.

I took a peek at the source code and I don't think this is relevant since the outbound traffic is handled by another socket(so TLS of the inbound socket doesn't apply?).
I'm not a networking expert so I could be missing something thou.

[2020-06-03 08:24] zhangzhhz commented on #443
对的，不需要路径来区分。

[2020-06-03 11:59] herozzm commented on #443
谢谢，已解决

[2020-06-03 11:59] #443 closed, assigned to nobody

[2020-06-03 13:41] nahddw commented on #416
@boluoyu 有进展吗? 能否给一个联系方式

[2020-06-03 14:21] herozzm opened #444 "openwrt x86 无法使用 trojan linux 64"
[code]

[2020-06-03 17:19] ericlancebrown commented on #444
Are you sure that it was installed into /usr/bin/trojan?

Obviously the error is that it cant find trojan. Whats your ls -l of that folder?

[2020-06-04 00:32] herozzm commented on #444
`/usr/bin/trojan/trojan`  Binary file exists

[2020-06-04 03:04] wongsyrone commented on #444
源于底层libc不同，需要重新编译

[2020-06-04 13:20] klzgrad commented on #131
Why was https://github.com/trojan-gfw/trojan-nginx deleted? I was looking for it for further tests.

[2020-06-05 00:28] wongsyrone commented on #131
It's now a private repository.

[2020-06-06 06:07] XieJiSS commented on #407
@alexseedkou Maybe you were MITM-ed

[2020-06-06 07:09] #444 closed, assigned to nobody

[2020-06-06 07:09] Chigusa0w0 commented on #442
Closed due to inactivity. You may reopen when further information is available.

[2020-06-06 07:09] #442 closed, assigned to GreaterFire

[2020-06-06 12:20] KevinZonda opened #446 "[Feature Request] Security policy required"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
No.

**Is this problem relevant to what trojan should care about?**
Yes, I think a security policy should be added.

**Describe the sol

[2020-06-06 15:15] alexseedkou-zz commented on #407
I have no idea what is this, but anyway it works now

[2020-06-06 15:42] XieJiSS commented on #407
That stands for Man-In-The-Middle Attack, sorry I haven't noticed that you're not in mainland China

[2020-06-06 18:17] Chigusa0w0 commented on #446
Bio of @GreaterFire
`Founder of @trojan-gfw and creater of trojan. PGP Public Key Signature: 0x533B0112
`

[2020-06-06 18:22] KevinZonda commented on #446
You mistook my meaning.
refer to https://github.com/v2ray/v2ray-core/blob/master/SECURITY.md

[2020-06-06 18:30] KevinZonda commented on #446
@LimiQS

Setting a security policy is **necessary** for trojan-gfw.
https://github.com/trojan-gfw/trojan/security/policy

The previous mistakes of v2ray should be avoided. Setting a security policy can effectively prevent PoC from being announced. I don't think this is achieved by PGP signatures. PGP **just signs the commit** and does not affect the issue. :)

[2020-06-07 02:49] yuanli-cn commented on #360
谢谢，这个应该是目前共用443的比较好的解决方案了。
但其实还是有点繁琐，如果TLS能在NGINX那边搞定，那就不需要给trojan和vmess都单独配置cert。问题是trojan的配置一定需要cert。

[2020-06-07 16:00] herozzm commented on #444
编译了2晚上都失败了，因为编译要的时间实在太长了，为什么不直接放各种编译好的版本呢

[2020-06-08 03:53] xdkaka opened #447 "[Feature Request] I have multiple domain and one server whitch contain multiple IP，How should i deploy？"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-06-09 17:56] LexterS999 opened #448 "Trojan-GFW doesnt work"
Don't know why but it doesn't work for my client in Turkmenistan. It's worked few months ago but not now. I'm doing all things like it must be and ping goes to the server (he is using trojan-gt5). But when he connected and try to use as proxy traffic doesn't pass. What can be done in such way? How to bypass trojan-gfw, and he is also asking me why it doesn't bypass QoS throttling at all? On offici

[2020-06-09 19:12] #350 closed, assigned to GreaterFire

[2020-06-09 19:24] GreaterFire commented on #431
Done. https://cla-assistant.io/trojan-gfw/trojan

[2020-06-09 19:24] #431 closed, assigned to nobody

[2020-06-09 19:31] GreaterFire commented on #446
Done.

[2020-06-09 19:31] #446 closed, assigned to GreaterFire

[2020-06-09 19:40] #448 closed, assigned to GreaterFire

[2020-06-09 19:41] GreaterFire commented on #447
You can bind trojan to a particular IP address by using a specific IP address (or domain name) in the `local_addr` field.

[2020-06-09 19:41] #447 closed, assigned to GreaterFire

[2020-06-09 19:42] LexterS999 commented on #448
It's working by the way. But doesn't connect. That's why I'm asking you about that.

[2020-06-09 19:44] #407 closed, assigned to GreaterFire

[2020-06-09 19:44] #427 closed, assigned to GreaterFire

[2020-06-09 19:45] GreaterFire commented on #440
I need packet capture data to look into this.

[2020-06-10 02:48] tomxiang1 opened #450 "[Issue Request]May I ask the role of the "session_timeout" parameter, will it be a problem if you set a large time?"
May I ask the role of the "session_timeout" parameter, will it be a problem if you set a large time?

[2020-06-10 02:49] GreaterFire commented on #450
This is the time between a session ticket is created and it is expired. You can set it arbitrarily.

[2020-06-10 02:49] #450 closed, assigned to GreaterFire

[2020-06-10 06:48] tomxiang1 opened #451 "[Issue Request] Would you tell me how to use the parameter "plain_http_response"?"
Would you tell me how to use the parameter "plain_http_response"? How to configure it to behave more like nginx server when non-TLS access occurs.

[2020-06-10 16:58] GreaterFire commented on #451
This field points to a file, which will be sent to the client (in plaintext) when the server receives a plain HTTP request. You can form an HTTP response in the file.

[2020-06-10 16:58] #451 closed, assigned to GreaterFire

[2020-06-10 16:59] GreaterFire commented on #440
Please re-open this issue when you have this information.

[2020-06-10 16:59] #440 closed, assigned to GreaterFire

[2020-06-11 02:43] tomxiang1 commented on #451
I don't know how to simulate the text returned by nginx, can it be forwarded to the real nginx for processing?

[2020-06-11 07:45] okudayukiko opened #452 "[Feature Request] 能否提供Disable TLS 1.3选项？"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-06-11 08:16] wongsyrone commented on #452
https://github.com/trojan-gfw/trojan/issues/418#issuecomment-627371867