[2017-10-21 08:50] GreaterFire commented on #1
Sorry. This project is still being tested and documented and has not been released yet. We are working on it and will be releasing it soon. Thank you for your patience.

[2017-10-21 14:09] mritd commented on #1
Thanks, if it is available I can help create a Dockerfile.

[2017-10-21 16:04] yvbbrjdr commented on #1
Thanks. I'll provide info of how to compile and you can open a pull request.

[2017-10-21 16:22] GreaterFire opened #1 "About Dockerfile"
@mritd
Thanks. I'll provide info of how to compile and you can open a pull request.

[2017-10-23 23:44] #1 closed, assigned to GreaterFire

[2017-10-29 06:54] YangtseSu opened #5 "[Feature request] systemd integration"
Add .service for trojan server and client.

[2017-10-31 16:45] #5 closed, assigned to GreaterFire

[2017-10-31 17:13] GreaterFire opened #7 "Use a modern DH cipher"

[2017-10-31 20:34] #7 closed, assigned to GreaterFire

[2017-11-03 01:30] madeye opened #8 "[Feature request] Implement SIP003 plugin interface"
Hi @GreaterFire,

I find this project is quite interesting. It may be necessary to move on to SOCKS5 over TLS in the near future.

I'm wondering if you can implement [SIP003](https://shadowsocks.org/en/spec/Plugin.html) to let your project work with shadowsocks. If so, this project would get supported on all the known platforms and devices instantly.

If you have any question, please let me know.

[2017-11-03 01:47] GreaterFire commented on #8
@madeye
Thank you for your offer. Let me consider this for a while.

[2017-11-03 03:44] micooz opened #9 "Looks like a simple proxy over TLS, but there are two notable problems"
1. Certificate Problem.
A self-signed or a not well-known certificate can be simply put into suspected list by GFW.

2. Anti-Passive Detection will not work.
Data chunks are wrapped into **Application Data** which has only a fixed-length header(0x170303 + 2 bytes chunk_len), thus the feature of application traffic cannot be obfuscated by your protocol.

[2017-11-03 04:07] GreaterFire commented on #8
@madeye

I am very sorry. After due consideration, I am likely not going to implement `SIP003` of trojan for the following reasons:

1. I am still a college student and might not have time (a tough school :) ). Just writing trojan itself has cost me a lot of study time.
2. I am not proficient at C networking programming (which you use as examples).
3. Trojan requires a lot of parameters in the con

[2017-11-03 04:34] GreaterFire commented on #9
1. It is indeed a problem and I strongly encourage getting a signed certificate. However, think about how many HTTPS connections there are going through GFW every second and whether it has that much power to check all the certificates. (GFW even doesn't check the SNI field of SSL hello, that's why modifying hosts still works.)
2. As noted in the [documentation](https://greaterfire.github.io/trojan

[2017-11-03 04:56] micooz commented on #9
I think you were misunderstood what I pointed out in problem 2.

Apart from the first packet(client request), the following data stream(data chunks) will leak application traffic feature due to the lack of length obfuscation in your protocol, even if you are using TLS.

You can find the previous dissociation I made [here](https://gist.github.com/micooz/52a81852e3f6d1614f66e07b0757cd6c).

[2017-11-03 05:03] GreaterFire commented on #9
Oh, OK. Seems that this issue could be fixed by adding random-length random bytes in each packet?

[2017-11-03 05:05] GreaterFire commented on #9
Again, to detect this kind of feature, GFW will need to examine all HTTPS traffic, which seems very implausible.

[2017-11-03 05:28] micooz commented on #9
Maybe no need to collect all traffic, sampling and do **offline predict**. Model for prediction can be trained before sampling just use ss-like programs.

[2017-11-05 09:47] klzgrad opened #11 "TLS fingerprinting vulns"
Is the TLS stack used here being audited for fingerprinting potential?

* The cipher list in ClientHello (Tor had this issue).
* Other parameters in ClientHello (I noticed there is no padding. Bad.)
* The certificate format.
* SNI?
* I think in theory the TLS state machine in specific implementations will also have identifying information from its state transition.

[2017-11-05 10:45] testcaoy7 commented on #9
I got a signed certificate through Lets Encrypt.
To throughly hide traffic pattern, there is a technic called "chaffing and winnowing". However, "chaffing and winnowing" is both resource and bandwidth hungry.

[2017-11-05 16:47] GreaterFire commented on #11
Thank you for your report. Can you please specify your listed vulnerabilities so that I can make improvements? For example, I don't know what you mean by SNI. Trojan indeed [adds SNI in Client Hello](https://github.com/GreaterFire/trojan/blob/master/src/clientsession.cpp#L45).
BTW, can you elaborate on the reasons we need Client Hello padding?

[2017-11-05 22:17] klzgrad commented on #11
There are no immediate issues to fix as I was just asking if you are aware of the list of potential TLS fingerprinting features because I didn't see any claims in the docs about it and a cursory look found at least the cipher list seemed quite unique. Tor had the lesson of getting detected by the GFW via TLS fingerprinting. It shouldn't be repeated.

[2017-11-06 01:57] WANG-lp opened #12 "Can GFW detect TLS over TLS?"
Hi,
I have a question about this project:
Does TLS over TLS make it more easy for GFW to detect such 'hidden' traffic?

We already know that GFW can detect and interfere the OpenVPN traffic very quickly.

Ref:
https://gist.github.com/micooz/52a81852e3f6d1614f66e07b0757cd6c
https://gist.github.com/clowwindy/5947691
http://jiji.io/p/12699180487511941578

[2017-11-06 02:51] GreaterFire commented on #12
It might be a problem. But since the wall can only guess the underlying protocol behind SSL by packet length pattern, adding some random padding may solve this problem. Moreover, with active probing defense and ALPN, we can achieve a pretty good obfs.

[2017-11-06 08:09] GreaterFire commented on #9
Would you suggest adding random padding to every packet?
If so, what range of lengths is suitable?

[2017-11-06 08:15] #8 closed, assigned to GreaterFire

[2017-11-06 09:04] WANG-lp commented on #9
It is inefficient and wasteful for padding every packet. Maybe only padding for the first random number of packets would be enough. BTW, it is not such easy to hidden traffic and it really depends on your demands.

[2017-11-06 09:33] micooz commented on #9
@WANG-lp

Padding for every packet can **just** solve the problem. However, using non-padding TLS cannot solve the problem and inefficient too.

To reduce waste of bandwidth, a padding strategy(using xorshift128plus) made by shadowsocksr's new protocol(auth_chain_x) is a good approach:

[code]

**Reference**:

https://github.com/blinksocks/blinksocks/blob/master/src/presets/ssr-auth-chain-a.js
htt

[2017-11-06 16:20] GreaterFire commented on #9
This strategy, if applied to mobile platforms, would be a huge waste of cellular data.
What's more, the goal of trojan is to mimic `HTTPS`, not random binary traffic, so I now think it not suitable to random pad all the packets (because HTTP does have regular packet length pattern).
@klzgrad That said, I don't think the traffic you sniffed is suspicious to the wall. (Maybe a little bit though, whe

[2017-11-06 18:49] GreaterFire commented on #9
OK. Well right now we could just wait and see how GFW will respond to this protocol and modify it when necessary.

[2017-11-07 21:56] GreaterFire opened #13 "Enhancements regarding Trojan Protocol that might be done in the future"
According to some issues, here is a list of improvements to be made to the protocol **only if necessary**. You are welcomed to contribute to this list.

- [ ] Pad payloads (#9, #12)
- [x] Eliminate TLS Handshake fingerprint (#11)
    - [x] Manipulating TLS cipher list
    - [x] Manipulating other extensions in Client Hello
- [x] Use TLS session reuse to accelerate connection
- [ ] OCSP stapling

S

[2017-11-12 08:58] dimzon commented on #9
http://blog.zorinaq.com/my-experience-with-the-great-firewall-of-china/

i think chain of
tls tunnel + obfsproxy (or scramblesuit) + socks5 proxy
will solve a problem

[2017-11-16 21:01] klzgrad opened #14 "Design discussion"
I would like to invite you to the discussion of the rationales and ideas for a better circumvention protocol.

Many of the points below can have better context with citations but I try to keep it informal this time.

## Why use TLS

### Security

The Shadowsocks specification has been reinventing cryptography to make up for apparent vulnerabilities from various probing attacks. It among other simi

[2017-11-16 21:12] GreaterFire commented on #14
Also, I want to emphasize that, with the help of `TLS`, the anti-active-probing mechanism that trojan adopts is unbreakable.

Regarding multiplexing, I think it's better up to the underlying protocol to decide whether to terminate a connection. `HTTP` has its own `Keep Alive` scheme which can

1. Raise performance, and
2. Make the traffic looks more like `HTTPS`.

I don't recommend using multiplex

[2017-11-18 02:59] ytgui commented on #14
Well, all you said is exactly what I considered, your design is really perfect. I will continue pay attention to this issue, but I'm going to be busy until the end of December, that means I could not contribute to this project during this period.

And another thing I care about is that, GFW seems to RST a tls connection after large flow, which could be reproducted by downloading large file in sftp

[2017-11-19 11:55] klzgrad commented on #14
Yes or no? You can say it with confidence by checking for TTLs in RST packets.

Is there a typo in here? SFTP is not related to TLS. (Edit: did you mean FTPS?)

You can. You can create a self-signed CA and use it to sign an identical certificate of *.microsoft.com, which though will not trusted by your browser unless your own CA is added to the trust list. Realtime DPI will not be able to catch th

[2017-11-19 14:18] AndrewRussellGarfield opened #15 "have some question when install"
Build and Install

Type in

mkdir build
cd build/
cmake ..
make
ctest
sudo make install

root@11:~/trojan/build# make install
make: *** No rule to make target 'install'.  Stop.

[2017-11-19 16:36] GreaterFire commented on #15
Can you show me the content of `~/trojan/CMakeLists.txt` and the result of `cmake ..` and `make`?

[2017-11-20 04:19] AndrewRussellGarfield commented on #15
root@11:~# cat ~/trojan/CMakeLists.txt
cmake_minimum_required(VERSION 2.8.12)
project(Trojan)
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11 -O2")
set(THREADS_PREFER_PTHREAD_FLAG ON)
add_executable(trojan src/clientsession.cpp src/config.cpp src/log.cpp src/main.cpp src/serversession.cpp src/service.cpp src/session.cpp src/trojanrequest.cpp src/version.cpp)
find_package(Threads REQUIRED)
targe

[2017-11-20 04:21] GreaterFire commented on #15
You have to run `cmake ..` in the build directory.

[2017-11-20 04:51] AndrewRussellGarfield commented on #15
root@11:~# cd trojan/
root@11:~/trojan# git checkout stable
Already on 'stable'
Your branch is up-to-date with 'origin/stable'.
root@11:~/trojan# mkdir build
mkdir: cannot create directory ‘build’: File exists
root@11:~/trojan# cd build/
root@11:~/trojan/build# cmake ..
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:2 (project):
  No CMAKE_CXX_COMPILER could be found.

[2017-11-20 06:31] GreaterFire commented on #15
It means that you don't even have a C++ compiler installed. Please install `gcc(g++)` first.

[2017-11-20 10:33] AndrewRussellGarfield commented on #15
I have installed g ++, but I still get the same error.

[2017-11-20 10:37] AndrewRussellGarfield commented on #15
root@11:~/trojan/build# cmake ..
-- Boost version: 1.62.0
-- Found the following Boost libraries:
--   atomic
--   chrono
--   date_time
--   system
--   thread
CMake Error at /usr/share/cmake-3.9/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the
  system variable OPENSSL_ROOT_DIR (missing: OPENSSL_CRYPTO_LIBRARY

[2017-11-20 15:36] GreaterFire commented on #15
As is printed out, cmake cannot find OpenSSL by itself. If you have OpenSSL in your system, you can use `-DOPENSSL_ROOT_DIR=/path/to/openssl` to specify.

I recommend you to learn the basics of UNIX (or Linux) before trying to compile trojan. You should be able to solve these problems all by yourself even if the documentation did not mention a word of these.

Or, as an alternative way, you can use

[2017-11-21 03:53] AndrewRussellGarfield commented on #15
ok. Thanks.

[2017-11-21 05:57] AndrewRussellGarfield commented on #15
Thank you. Server has been installed. Only domain names and certificates have not been done yet. Client how to connect to the server, whether there are clients now.

[2017-11-21 06:17] GreaterFire commented on #15
Whether trojan is run as server or client depends on the config file. More details [here](https://trojan-gfw.github.io/trojan/config).

[2017-11-21 06:56] Akkariiin commented on #14
Interesting.......and valuable idea.

BTW:
I'm sorry that I don't agree with the following approach :
``` A size of zero indicates the end of stream. ```

It's a bad feature when anti-package length analysis. but i think we can have another good idea to make a multiplexing  protocol.

[2017-11-21 07:04] GreaterFire commented on #14
A size of zero doesn't mean that the tcp packet size is zero. It means that the TLS decrypted packet size is zero; they are different.

But yes, it might leave some pattern and we can use some other indicators to indicate EOF of a connection.

[2017-11-21 08:27] GreaterFire commented on #14
Good News: 36.68% of SSL certificates are issued by let's encrypt. Therefore, SSL traffic with let's encrypt certificate will be common.

https://nettrack.info/ssl_certificate_issuers.html

[2017-11-21 09:26] Akkariiin commented on #14
I means that, if we use a fixed or similar package who has special length or other feature, this will became a feature to be tracked.

[2017-11-22 05:58] klzgrad commented on #14
It's quite different from 36.68% of the traffic having Let's Encrypt certs. A while ago it's reported 96.7% of LE certs were issued for phishing sites.

The idea about chunked encoding is not this. Look at the example https://en.wikipedia.org/wiki/Chunked_transfer_encoding#Encoded_data. "A size of zero" means two nul bytes as the size field in the TCP stream. This idea is orthogonal to traffic obf

[2017-11-23 04:10] AndrewRussellGarfield commented on #15
Hello, I have installed letsencrypt certificate. Domain has been registered, the site can visit. I now have a little doubt about the config configuration. keyfile_password this one does not seem to.

[2017-11-23 04:13] GreaterFire commented on #15
`keyfile_password` is required only if your private key is protected by a passphrase. Let's encrypt does not encrypt the private key, so it is not useful.

[2017-11-23 04:23] AndrewRussellGarfield commented on #15
ok

[2017-11-23 04:54] AndrewRussellGarfield commented on #15
I reset my machine, so I have to reload trojan now. However, new problems have emerged.

root@11:~/trojan/build# make
[ 10%] Building CXX object CMakeFiles/trojan.dir/src/config.cpp.o

c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-7/README.Bugs> for instructions.
CMakeFiles/trojan.dir/

[2017-11-23 04:56] GreaterFire commented on #15
It's a compiler bug. Try compile again. If it fails again, update gcc.

[2017-11-23 04:59] AndrewRussellGarfield commented on #15
ok

[2017-11-23 06:03] AndrewRussellGarfield commented on #15
I have run the server and now connect on my computer. But can not visit Google.

[2017-11-23 09:53] AndrewRussellGarfield commented on #15
This is log.

Welcome to trojan 0.3.2
[2017-11-23 09:52:49] fatal: config_file: cannot open file
[2017-11-23 09:52:49] exiting. . .

[2017-11-23 15:31] GreaterFire commented on #15
You entered a file which does not exist.

[2017-11-24 04:04] chenychen opened #16 "trojan: error while loading shared libraries: libboost_atomic.so.1.65.1: cannot open shared object file: No such file or directory"
trojan: error while loading shared libraries: libboost_atomic.so.1.65.1: cannot open shared object file: No such file or directory

[2017-11-24 04:06] GreaterFire commented on #16
Can you specify your operating system and environment?

[2017-11-24 05:29] AndrewRussellGarfield commented on #15
Still can not use

root@11:~# cat log_file
Welcome to trojan 0.3.2
[2017-11-24 05:26:03] fatal: bind: Address already in use
[2017-11-24 05:26:03] exiting. . .

[2017-11-24 05:30] AndrewRussellGarfield commented on #15
This is the server configuration

{
    "run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 443,
    "remote_addr": "127.0.0.1",
    "remote_port": 80,
    "password": "....",
    "keyfile": "...",
    "certfile": "...",
    "use_default_dhparam": true,
    "dhparamfile": "",
    "log_level": 1
}

[2017-11-24 06:19] klzgrad commented on #16
@GreaterFire I know there's maintenance hell in Boost's shared libraries, so use static linking if you can. How's the binary size with static linking?

[2017-11-24 06:29] chenychen commented on #16
# cat /etc/*release
PRETTY_NAME="Debian GNU/Linux 8 (jessie)"
NAME="Debian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=debian
HOME_URL="http://www.debian.org/"
SUPPORT_URL="http://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

# env
MANPATH=:/root/.opam/default/man
XDG_SESSION_ID=8318956
TERM=xterm
SHELL=/bin/bash
SSH_CLIENT=113.89.55.236 20143 22
OPAM_SWITCH_PREFIX=/root

[2017-11-24 06:38] GreaterFire commented on #16
It might be that your system does not look for .so files in /usr/local/lib. Try copy or link relevant .so files to /usr/lib. Or, you can set an environment variable that looks for .so files in that path. I don't remember the variable name, you may Google it.

As @klzgrad suggested, you can also statically link libboost, it would not be so huge. Simply add a line

[code]

in the CMakeLists.txt and

[2017-11-24 06:43] GreaterFire commented on #15
It means your 443 port is already in use. Have you already opened a trojan in the background, or do you have other program that is occupying 443? You may want to reboot your system and see whether this problem persists.

[2017-11-24 06:54] chenychen commented on #16
tks!
it's ok now!

Welcome to trojan 0.3.2
[2017-11-24 14:53:49] trojan service (server) started at 0.0.0.0:443

[2017-11-24 06:59] #16 closed, assigned to GreaterFire

[2017-11-24 07:27] AndrewRussellGarfield commented on #15
I restarted the vps.
and start the trojan.
Prompt the same mistake.
The server is running lnmp.
Can I use another port?

[2017-11-24 07:30] GreaterFire commented on #15
Maybe your nginx is using 443. You can turn off nginx ssl or change trojan port in the config file.

[2017-11-24 08:20] chenychen opened #17 "SSL handshake failed with xxx.xx"
同443端口，使用letsencrypt生成的证书。
选择不使用ssl，能正常连接：
"ssl_verify":false,
"ssl_verify_hostname":false

使用ssl验证，报错SSL handshake failed with xxx.xx

[2017-11-24 08:33] GreaterFire commented on #17
Please set the `ca_certs` field in the config file to my provided example (examples/ca_certs.pem-example) or your server certificate file.

[2017-11-24 08:42] chenychen commented on #17
{
"run_type":"client",
"ssl_verify":true,
"ssl_verify_hostname":true,
"ca_certs":"E:/trojan-gui-0.1.1-0.3.2-win/trojan-gui/fullchain.pem",
"local_addr":"127.0.0.1",
"local_port":9080,
"remote_addr":"xxxx",
"remote_port":443,
"password":"xxxx",
"log_level":1
}

已经设置了，还是不行。

[2017-11-24 08:45] chenychen commented on #17
{
    "run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 443,
    "remote_addr": "127.0.0.1",
    "remote_port": 80,
    "password": "xxxx",
    "keyfile": "/etc/letsencrypt/live/www.xxxx.tk/privkey.pem",
    "keyfile_password": "",
    "certfile": "/etc/letsencrypt/live/www.xxxx.tk/fullchain.pem",
    "use_default_dhparam": true,
    "dhparamfile": "",
    "log_level": 1
}

[2017-11-24 08:45] GreaterFire commented on #17
try examples/ca_certs.pem-example

[2017-11-24 08:47] chenychen commented on #17
so handsome you are!
it's ok!

[2017-11-24 08:58] #17 closed, assigned to GreaterFire

[2017-11-24 12:31] AndrewRussellGarfield commented on #15
root@11:~# cat log_file
Welcome to trojan 0.3.2
[2017-11-24 12:24:39] trojan service (server) started at 0.0.0.0:1080

The server is running, I still can not access Google.

[2017-11-24 12:32] AndrewRussellGarfield commented on #15
2017-11-24 20:32:08] 127.0.0.1:60915 cannot establish connection to remote server ..........:80

[2017-11-24 12:33] AndrewRussellGarfield commented on #15
[2017-11-24 20:32:58] 127.0.0.1:60913 SSL handshake failed with ........:80

[2017-11-24 17:39] GreaterFire commented on #15
Your config file must be wrong in some sense.

[2017-11-25 04:28] AndrewRussellGarfield commented on #15
Do you have a telegram, so communicate faster.

[2017-11-25 04:49] GreaterFire commented on #15
Please provide me your telegram account, thank you. (You may delete it later)

[2017-11-25 04:49] #15 closed, assigned to GreaterFire

[2017-11-25 06:20] klzgrad commented on #16
@GreaterFire Boost's C++ libraries are not ABI-stable. I was suggesting you turn it on by default if you don't want people to have this same problem and report here 100 times (and if the binary size doesn't get too large).

[2017-11-25 07:09] klzgrad commented on #13
I guess The Parrot is Dead still holds. I just found the above is not just theory.

Nginx doesn't implement TLS False Start. Chromium does. I tried to add `SSL_CTX_set_mode(ssl->ctx, SSL_MODE_ENABLE_FALSE_START)` in Nginx to enable it. Nginx will use False Start but lose the ability of session resumption (because it was caching the wrong session during False Start because it was not implemented wi

[2017-11-25 07:15] klzgrad commented on #11
Merge into #13.

[2017-11-25 07:15] #11 closed, assigned to GreaterFire

[2017-12-30 00:31] klzgrad opened #18 "Resolver behavior"
There is a certain website resolved to one ipv4 address and one ipv6 address. The resolved ipv6 address does not work (`curl -6 https://the.website` times out).

In my testing the trojan server connects to the ipv6 address and does not work. It should be able to connect to the ipv4 address.

So far it's just one case. I used this workaround.

[code]

This is not limited to ipv4/6 dual stack resolu

[2017-12-30 00:41] GreaterFire commented on #18
What this patch does is to connect to IPv4 by default even if there are IPv6 addresses present.

It could be when the connection fails, we move on to the next IP in the DNS answer.

[2018-01-03 13:52] YangtseSu opened #19 "[Feature Request] Mobile Clients"
Is there any plan to release a Android client?

[2018-01-03 15:18] GreaterFire commented on #19
Positive. We are indeed considering porting trojan to mobile platforms. But due to the complications of doing it, we do not have a definite development and release plan.

[2018-01-03 20:28] klzgrad opened #20 "TLS performance proof of concepts"
Sorry, I was too lazy to create a PR for review.

Since the boost version basically works I was looking for some quick hacks to speed it up.

[code]

TCP Fast Open removes 1 RTT. After this patch:

[code]

(This is TLS 1.3 draft 22 though. I didn't see TLS 1.2 session resumption working??)

[2018-01-04 00:36] GreaterFire commented on #18
I won't fix this bug since it'll be easily fixed with the Chromium version, and the scenario is rather rare.
However, I might add a switch `prefer_ipv4` in the server config.

[2018-01-04 00:40] GreaterFire commented on #20
I'm afraid that TCP Fast Open would add to the pattern of the connection, because it's not a typical behavior of browsers.
However, I could add a switch `tcp_fast_open` to toggle this mode.

By the way, the session resumption works with TLS 1.2. You just need to wait for the second and later connections.

[2018-01-04 02:06] klzgrad commented on #20
There's a lot of patterns in the boost version but it basically works at this very moment and we could make it work better. The patternless chromium version still has to wait. Anyway this is a PoC.

[2018-01-04 08:01] klzgrad commented on #20
TLS 1.2 session resumption was working but it worked badly, because TCP_NODELAY was not turned on.

Check this. This is `curl --socks5-hostname 127.0.0.1:1080 http://google.com`. Trojan runs at localhost:1080 and remote:10443.

![delay](https://user-images.githubusercontent.com/9764056/34554198-b6042e30-f166-11e7-9ecc-b1ef61c0c02a.png)

The was reusing a session. The last ChangeCipherSpec and the

[2018-01-05 09:28] klzgrad commented on #14
Some notes.

There was a lot of work for MitM proxies ([1](https://tools.ietf.org/html/draft-loreto-httpbis-trusted-proxy20-01) [2](https://tools.ietf.org/html/draft-rpeon-httpbis-exproxy-00) [3](https://tools.ietf.org/html/draft-mcgrew-tls-proxy-server-01)) in http/2 drafts during 2014 but it ended up a big no-no because NSA and "MitM" is basically the word of evil. But really, TLS-in-TLS is pret

[2018-01-05 09:38] GreaterFire commented on #14
@klzgrad
In my own opinion, trojan is a software (or more of a PoC) focusing on undetectability and service availability, and doesn't care much about minor performance drop. Also, personally I feel that TLS-in-TLS doesn't really cause a great performance degradation. I can still achieve somewhere near 30 Mbps from China to the US (with BBR on), though It'll take a little bit longer to form a conne

[2018-01-06 11:36] klzgrad commented on #14
GreaterFire: Performance is a major part of usability. Latency is a major part of performance. Throughput is a solved problem long ago. HTTP/2 with its reinvention of TCP, TLS 1.3, TLS False Start, SPDY, all these things try to reduce the initial startup latency. TLS-in-TLS is a problem if it happens for every connections.

We were discussing connection multiplexing. I tested Chromium's usage of a

[2018-01-06 15:36] GreaterFire commented on #14
@klzgrad
According to [RFC 2817 Section 5.2](https://tools.ietf.org/html/rfc2817#section-5.2),

[code]

in HTTP/1.1 we can send tunneled payload immediately after CONNECT without waiting for HTTP/1.1 200 Connection established. I don't know but would assume that HTTP/2 does the same, for the sake of performance.

According to [RFC 7540 Section 8.3](https://tools.ietf.org/html/rfc7540#section-8.3),

[2018-01-06 17:03] klzgrad commented on #14
This wording made it ambiguous.
[code]
Before the HEADERS frame containing a 2xx status code is sent, does a DATA frame correspond to data sent on the TCP connection? This may not be as rigorous though as the wording first came out here https://www.ietf.org/mail-archive/web/httpbisa/current/msg15023.html which came from Google people and the spec about CONNECT is basically what they have implement

[2018-01-06 17:08] GreaterFire commented on #14
It's awesome that h2 auth doesn't have to be challenge-response! We could even make trojan client-less because the active detection of the protocol just doesn't work!

[2018-01-06 17:11] GreaterFire commented on #14
But wait... we need the browser to send the credentials in the initial proxy request... which I don't know whether they implement it.

[2018-01-07 07:37] klzgrad commented on #14
In another test I replaced nghttpx with Haproxy. According to https://github.com/http2/http2-spec/wiki/Implementations, only 3 open-source http/2 reverse proxies are available. Among them Haproxy should be the most common (less discriminating information) and of the best quality. Nginx doesn't support http/2 reverse proxying. So it appears Haproxy is the only choice.

Haproxy can select backends u

[2018-01-07 15:50] klzgrad commented on #14
Is an HTTP/2 CONNECT tunnel doing TCP-over-TCP?

This confuses people:

-- [Hypertext Transfer Protocol Version 2 (Hacker News)](https://news.ycombinator.com/item?id=8140286)

-- [http/2 & hpack protocol review](https://www.ietf.org/mail-archive/web/httpbisa/current/msg19137.html)

-- [Performance and Opportunities of HTTP 2.0 (Hacker News)](https://news.ycombinator.com/item?id=8451850)

Any new t

[2018-01-08 07:18] klzgrad commented on #14
Here are some latest data points about the general internet traffic characteristics, providing arguments for using TLS.

* David Murray; Terry Koziniec; Sebastian Zander; Michael Dixon; Polychronis Koutsakis (2017). "An Analysis of Changing Enterprise Network Traffic Characteristics" (PDF). The 23rd Asia-Pacific Conference on Communications (APCC 2017).

Datasets: collected at a university network

[2018-01-09 16:28] klzgrad commented on #14
PKI and TLS parameter policies.

Still, the rationale is to reduce discriminating information/increase anonymity: find and use the most common configurations, and when that is not possible, specify as little number of parameters as possible (require user configuration instead). Ideally, zero conf and zero spec.

* Types of certificates: self-signed certs, certs signed by self-signed CA, and Let's

[2018-01-11 16:54] GreaterFire commented on #14
The rate of HTTP/2 deployment is surprisingly huge to me. However, I am currently satisfied with the status quo of trojan and won't be doing many modifications to it in a fair amount of time. If we want to look like an HTTP/2 server, we can simply put a supported web server on port 80 and add "h2" to the server alpn configuration. Then trojan client would act like a browser that doesn't support HT

[2018-01-12 07:00] klzgrad commented on #14
I'm not sure if I understand this. But Haproxy + Squid basically implements another Trojan server (similar to how it's done in Nginx). Yesterday I was testing Haproxy with Cloudflare's sslconfig but I got different ciphers in SSL Labs from Cloudflare servers because Cloudflare was using BoringSSL while I was using OpenSSL, and BoringSSL removes some ciphers. This is saying servers' TLS stacks will

[2018-01-15 01:52] GreaterFire opened #21 "Compilation failed after upgrading boost to 1.66.0-1"
[code]

[2018-01-15 06:38] klzgrad commented on #21
BOOST_ASIO_ENABLE_OLD_SERVICES

[2018-01-15 06:50] GreaterFire commented on #21
Thanks. I will fix it ASAP.

[2018-01-16 18:35] #21 closed, assigned to GreaterFire

[2018-01-22 07:35] antonchen opened #22 "Some questions and suggestions"
Explain: English is not good, using machine translation.

- Can I use Nginx proxy to a url?
    Like example.com/xxx/trojan, example.com is a real web site
    Advantages: HTTPS transport only visible domain, path is encrypted
- Would it be better to use WebSocket ~~or QUIC~~ ?
    HTTP mostly short links, and WebSockets ~~or QUIC~~ is more suitable for long connections

PS: Not deep understanding

[2018-01-22 10:42] klzgrad commented on #22
`example.com/xxx/trojan` - you are trying to suggest using some part of the http request as the authentication token. I think an http header is more suitable for this purpose. In the new mode (in development) of the Trojan protocol we will use `proxy-authorization` for this.

Websocket involves extra protocol round trips compared to HTTPS or raw TLS with no real benefits for tunneling. QUIC is a p

[2018-01-22 11:14] antonchen commented on #22
@klzgrad My point is: `example.com/xxx/trojan` to hide trojan In a web site, https encrypted outside the path can not be obtained, GFW only know example.com do not know trojan.
**The purpose is not authentication, is hidden trojan.**

Websocket is my error.

[2018-01-22 11:37] klzgrad commented on #22
example.com without auth header -> masquerade website

example.com with auth header -> proxy

This is all "content switching" or load balancing using part of the request as the key. Only difference is to use which part, the url or a header.

[2018-01-22 11:55] antonchen commented on #22
@klzgrad I understand.

About `proxy-authorization`
Will the `proxy-authorization` verification by whom?
What I'm worried about is：Unauthenticated request use `proxy-authorization` header, trojan return what?

[2018-01-22 12:02] klzgrad commented on #22
Verified by a Trojan server.

If unauthenticated, the Trojan server returns the masquerade website.

[2018-01-22 12:13] antonchen commented on #22
@klzgrad

How to return to the masquerade website? If it is 301 or 302 that formed a feature

Seems to be back to my earliest question.

The correct URL to trojan check `proxy-authorization`
The wrong URL can never find trojan

The goal is to reduce trojan's connection to unknown requests

So I think custom URL is useful.

PS：Whether there is a telegraph group, English is not good, discuss some di

[2018-01-22 12:24] klzgrad commented on #22
In Nginx's language,
[code]
This makes the goal you defined too.

[2018-01-22 12:29] antonchen commented on #22
@klzgrad Got it, thanks for the answer. Look forward to the new version.

[2018-01-22 12:29] #22 closed, assigned to klzgrad

[2018-01-25 11:56] klzgrad commented on #14
Good news. QUIC proxy support is just added in Chromium https://chromium-review.googlesource.com/c/chromium/src/+/858603.

Uber has made a QUIC reverse proxy https://chromium-review.googlesource.com/c/chromium/src/+/677880.

[2018-01-26 11:18] luckypoem opened #23 ""cmake .." encounter error"
git clone https://github.com/trojan-gfw/trojan
cd trojan/
git checkout stable
mkdir build
cd build/
cmake ..

after running "cmake .." ,i encounter error as follows:
...
CMake Error at /usr/local/share/cmake-3.10/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the
  system variable OPENSSL_ROOT_DIR: Found unsuitable

[2018-01-26 12:01] antonchen commented on #23
You need to specify the OpenSSL include directory

[code]

[2018-01-26 14:43] luckypoem commented on #23
@antonchen
不太明白。怎么指定OpenSSL include 目录？在哪里指定？
能把具体命令写出来吗

[2018-01-26 15:07] GreaterFire commented on #23
[code]
Make sure to clean up the build directory before you rerun cmake.

[2018-01-26 15:22] luckypoem commented on #23
@GreaterFire
this time "cmake .." encounter no error,but then "make" encounter  error:
root@yms:~/trojan/build# ls
CMakeCache.txt	cmake_install.cmake  Makefile	  trojan.service
CMakeFiles	CTestTestfile.cmake  trojan.json
root@yms:~/trojan/build# make
...
collect2: error: ld returned 1 exit status
CMakeFiles/trojan.dir/build.make:335: recipe for target 'trojan' failed
make[2]: *** [trojan] Error 1

[2018-01-26 15:32] GreaterFire commented on #23
Please provide full compilation log.

P.S. Try to delete all the files in the build directory by `rm -rf *` and then cmake & make again.

[2018-01-27 02:12] luckypoem commented on #23
@GreaterFire
"delete all the files in the build directory by rm -rf * and then cmake & make again", the same result.
very strange.
i update openssl as per this article- https://sb.sb/centos-upgrade-openssl/ ,
isn't the method of updating openssl correct?

[2018-01-27 02:42] luckypoem commented on #23
@GreaterFire

and can u pls also provide binary file on linux vps of https://github.com/trojan-gfw/trojan/releases/tag/v0.6.0?

[2018-01-29 00:49] luckypoem commented on #23
@GreaterFire
我换了一台vps,它里面的openssl的版本已经是1.0.2,这样就能顺利make了

[2018-01-29 01:17] #23 closed, assigned to GreaterFire

[2018-02-05 12:10] nametoolong opened #24 "Consider adding GnuTLS support"
GnuTLS has some nice features which could help circumventing GFW. GnuTLS does [hide record lengths](https://www.gnutls.org/manual/html_node/On-Record-Padding.html) and can be configured to emulate OpenSSL signatures, and therefore could be useful against TLS over TLS detections and other attacks.
One caveat: GnuTLS is considered to be lacking in security reviews.

[2018-02-05 15:50] GreaterFire commented on #24
CBC ciphers are considered weak and are not being used today. If we use CBC ciphers for this functionality, it might be easier to identify trojan (just by looking at chosen cipher).

GnuTLS might or might not work with Boost. If it does work, then no code needs to be changed; but if it doesn't, any change of code is futile. I'll try it and give you an answer.

[2018-02-06 08:54] nametoolong commented on #24
It won't easily be used to identify trojan, although it may potentially leak some information. Most browsers still accepts `TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA` and `TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA` as secure ciphersuites up-to-date.

[2018-02-23 00:46] testcaoy7 opened #25 "Add PSK cipher suites for certificate-less setup"
Please consider adding PSK cipher suites for certificate-less setup.
Recommendation:
TLS_PSK_WITH_AES_128_GCM_SHA256 and TLS_PSK_WITH_AES_256_GCM_SHA384 in RFC5487

[2018-02-23 01:57] testcaoy7 opened #26 "SSL handshake failed"
I ran a server using certificate issued by Let's Encrypt. And I cannot connect to the server. I always got "SSL handshake failed with ..." error.

Server config:
[code]

Client config:
[code]

[2018-02-24 03:04] testcaoy7 commented on #26
Solved. There is an issue in the certificate chain.
However, I do wish Trojan's log output can have more detail other than simple "SSL handshake failed with ..." message.

[2018-02-24 03:04] #26 closed, assigned to GreaterFire

[2018-02-24 03:07] testcaoy7 opened #27 "Add support for TLS1.3"
TLS1.3 has a lot of security and performance improvements such as 0-RTT, and HKDF. Please consider implement TLS1.3 for hardened security.

[2018-02-25 21:05] GreaterFire commented on #25
I might not want to implement this because it does not look like normal HTTPS behavior. Most websites use certificates.

[2018-02-25 21:06] GreaterFire commented on #27
I will be considering TLS 1.3 when main stream OpenSSL supports it.

[2018-02-26 00:56] testcaoy7 commented on #27
Good to know.

[2018-02-26 10:06] #25 closed, assigned to GreaterFire

[2018-03-25 19:16] GreaterFire commented on #27
TLS 1.3 is approved by IETF.

[2018-04-02 04:40] CURAS opened #29 "SSL handshake failed"
When I connect my own server with client, it will show these error infos.
server:
![image](https://user-images.githubusercontent.com/14164381/38183302-03db08b8-3672-11e8-8b8e-6e2abda8bd62.png)
client:
![image](https://user-images.githubusercontent.com/14164381/38183611-5862a312-3674-11e8-9f8b-2fa62d47abba.png)

I set `cert.pem` for cert, `privkey.pem` for key and keep empty for key password in my

[2018-04-04 19:47] GreaterFire commented on #29
What is your `ssl.cert` in the client config?

[2018-04-05 17:29] CURAS commented on #29
My client's config
![image](https://user-images.githubusercontent.com/14164381/38381533-a32ce444-3939-11e8-991b-7559d7ab8918.png)

My client's folder
![image](https://user-images.githubusercontent.com/14164381/38381265-db6c5a3e-3938-11e8-9b95-db26f6a4c37b.png)

My server's config
![image](https://user-images.githubusercontent.com/14164381/38381595-d8a58b76-3939-11e8-88e9-1c77d93f55d3.png)

[2018-04-06 02:27] GreaterFire commented on #29
There are multiple reports of this issue. I will look into it and reply shortly. Thank you for your patience.

[2018-04-06 03:44] GreaterFire commented on #29
After careful investigation, I found that you cannot use `fullchain.pem` to verify the remote certificate -- only a CA certificate can do the verifying work. That's why a self-signed certificate can verify itself: it is its own CA. So I recommend you to use CA certificate, like the one I provided (`examples/ca_certs.pem-example`), which is a CA list extracted from Mozilla Firefox. Or if you are us

[2018-04-06 06:00] CURAS commented on #29
I have tried both the certificates you provided, but I'm sorry to said the problem still exists.
By the way, it works well in my browser.
![image](https://user-images.githubusercontent.com/14164381/38405502-cca642a2-39a2-11e8-8c42-58448393c2fb.png)

[2018-04-06 09:43] GreaterFire commented on #29
BTW, under Windows, replace all the `\` in the path with `/`. It must work.

[2018-04-15 01:07] #29 closed, assigned to GreaterFire

[2018-04-15 01:07] #24 closed, assigned to GreaterFire

[2018-04-17 07:56] GreaterFire commented on #27
Detailed information about this adaptation is in the [wiki](https://github.com/trojan-gfw/trojan/wiki/Adaptation-to-New-Specifications-(TLS-1.3-and-HTTP-2)).

[2018-04-17 07:56] #27 closed, assigned to GreaterFire

[2018-05-06 21:30] GreaterFire commented on #29
@CURAS This issue is finally resolved. In v1.2.0, you'll be able to verify using the original certificate.

[2018-05-08 07:30] j3ffyang opened #31 "URLs under Content are missing *.md"
For example, [https://github.com/trojan-gfw/trojan/blob/master/docs/config](https://github.com/trojan-gfw/trojan/blob/master/docs/config) should be [https://github.com/trojan-gfw/trojan/blob/master/docs/config.md](https://github.com/trojan-gfw/trojan/blob/master/docs/config.md). And so are other URLs. Regards.

[2018-05-08 18:11] GreaterFire commented on #31
Thank you for your issue. This is intended so that GitHub Pages works normally. Jekyll converts Markdown scripts to html and **removes** the `.md` suffix.

You can experiment with it yourself:

- https://trojan-gfw.github.io/trojan/protocol
- https://trojan-gfw.github.io/trojan/protocol.md

They make a difference.

[2018-05-08 18:11] #31 closed, assigned to GreaterFire

[2018-06-02 07:02] #20 closed, assigned to GreaterFire

[2018-06-02 12:19] #9 closed, assigned to GreaterFire

[2018-06-02 12:20] #12 closed, assigned to GreaterFire

[2018-06-07 06:50] iamindian opened #32 "fatal: use_certificate_chain_file: no start line"
the above error always popups after starting projan server.  anyone can help?

[2018-06-07 07:06] iamindian commented on #32
i seems that it is the certificate file issue.

[2018-06-07 07:06] #32 closed, assigned to GreaterFire

[2018-06-07 09:54] GreaterFire commented on #32
Did you solve the problem?

[2018-06-08 05:10] iamindian commented on #32
yes, I solved the problem. i solved it by using the certification issued by CA. The certification request not issued by CA can not be used. Thx anyway!

[2018-06-21 07:55] RiccaAtAlicia commented on #19
@Greaterfire If your Linux client isn't using iptables, you can just recompile it with bionic, then find a library to rewrite socks proxy into so-called VPN

[2018-06-21 18:10] GreaterFire commented on #19
@RiccaAtAlicia
We've been able to compile and run trojan "as-is" with Termux. Apps that support SOCKS5 (such as Telegram) can utilize it. Maybe we can use tun2socks to further proxify other apps, but this practice is complicated and is not what we want. We want a user-friendly app.

[2018-06-23 13:09] superhero75 opened #34 "Decentralised design"
Is there any plan to create a decentralised version in order to democratize the tool similar to privatix.io? I personally think anti censorship tools should be used by everyone and there are very good platform like v2ray but the issue being only a very small population will use it eventually eg. 100k vs 1b potential users. If there are many proxy nodes run by international community and they are i

[2018-06-23 17:20] GreaterFire commented on #34
Hello and thanks for your issue.
Could you please define what "decentralize" means in this context? Because having "many proxy nodes run by international community" is not called "decentralized"; it's just "many centers".
Trojan, by now, is a proof of concept that certain protocol could pass through GFW without being suspected. It's designed so that no servers will ever be blocked. There is really

[2018-06-23 18:35] superhero75 commented on #34
Decentralisation is defined by this video:
https://youtu.be/kH8tDnMoaYk
https://mysterium.network

V2ray has certain mode that let us apply tls, websocket with nginx that hides the traffic well. Again, it is a great tool and provide a combination of configuration for anti censorship based on user's requirement.
Many open source projects have great stealth technical merits. The best one should be a

[2018-07-02 20:58] GreatEmerald commented on #19
Also iOS, but that might be even more complicated...

[2018-07-10 00:34] testcaoy7 opened #36 "Support QSH (Quantum Safe) extension for TLS"
China is pursuing quantum supremacy and we should prepare for it.

IETF has an idea called Quantum-Safe Hybrid (QSH) Ciphersuite for TLS.
Here is the document:
[https://tools.ietf.org/html/draft-whyte-qsh-tls13-02](url) (For TLS 1.3)
[https://tools.ietf.org/html/draft-whyte-qsh-tls12-02](url) (For TLS 1.2)

WolfSSL library has implemented QSH ciphersuite.
[https://www.wolfssl.com/quantum-safe-wolf

[2018-07-10 02:43] GreaterFire commented on #36
**No** cryptographic algorithm is implemented inside trojan. They are all provided by the OpenSSL library. When OpenSSL supports these new algorithms, trojan will automatically support them.

I'll keep track of the standards for these algorithms and the progress of OpenSSL's adoption.

[2018-07-14 11:29] testcaoy7 opened #37 "Add custom DNS support to config file"
Please add custom DNS support to config file.
Instead using DNS provided by OS, this will allow user to config custom DNS server in trojan.

[2018-07-14 11:41] testcaoy7 commented on #12
There is a technique called "Chaffing and winnowing". (conceived by Ron Rivest)
Maybe we can randomly add some "Chaff" (random data chuck) to the trojan protocol and winnow all the chaff packages after data stream is received.

[https://en.wikipedia.org/wiki/Chaffing_and_winnowing](url)

[2018-07-14 15:23] GreaterFire commented on #37
Please provide a reason for adding this functionality.

[2018-07-14 22:00] testcaoy7 commented on #37
Sometimes server resolv.conf will be overwritten.

[2018-07-14 23:42] GreaterFire commented on #37
Sorry, I cannot follow your reasoning. Can you describe your use case in a greater detail?

[2018-07-15 01:06] GreaterFire commented on #12
Again, this is a technique that makes trojan diverted from normal HTTPS data, which adds more pattern to the protocol.

[2018-07-15 01:14] #36 closed, assigned to GreaterFire

[2018-07-15 01:21] GreaterFire commented on #34
What this issue implies is mass adoption, not decentralization. It has nothing to do with the design of protocol.

[2018-07-15 01:21] #34 closed, assigned to GreaterFire

[2018-07-15 01:22] #13 closed, assigned to GreaterFire

[2018-07-15 07:19] testcaoy7 commented on #37
What if I want to use a DNS server that blocks ads with trojan and at the same time I don't want to change the DNS servers listed in the resolv.conf?

It will be nice if trojan can custom its own DNS.

[2018-07-15 18:04] GreaterFire commented on #37
https://stackoverflow.com/questions/40979517/querying-custom-dns-server-using-boost-asio-resolver?rq=1

It's not possible for `boost::asio::ip::basic_resolver` to resolve IP addresses via custom DNS servers. To implement this function, one needs to use another library (possibly synchronous, reducing efficiency) or implement their own DNS protocol, which is implausible in current stage of developme

[2018-07-16 03:46] #14 closed, assigned to nobody

[2018-07-16 14:40] #37 closed, assigned to GreaterFire

[2018-08-02 15:38] GreaterFire opened #38 "Packaging for Linux Distributions"
Packaging Status:

| Status | Distribution | Maintainer | Notes |
|:-:|:-:|:-:|:-:|
| :heavy_multiplication_x: | Alpine | | |
| :heavy_check_mark: | [AOSC](https://packages.aosc.io/packages/trojan) | Various | |
| :heavy_check_mark: | [Arch](https://www.archlinux.org/packages/community/x86_64/trojan/) | @felixonmars | |
| :heavy_check_mark: | [AUR](https://aur.archlinux.org/packages/trojan-git) |

[2018-09-03 09:59] garywu520 opened #43 "After actual testing, trojan is too slow"
Profile has opened TFO and BBR, After actual testing, trojan is too slow。。。

配置文件打开了TFO和BBR，然而速度慢成了翔，有没有参数提供下优化？

[2018-09-03 10:07] Zxilly commented on #43
这个英文和中文语气差的有点大啊。。。

[2018-09-03 10:11] garywu520 commented on #43
@Zxilly 以英文为准...中文算是吐槽...

[2018-09-03 15:00] GreaterFire commented on #43
Please define how slow is "slow as shit".

[2018-09-03 23:13] garywu520 commented on #43
连接后日志显示正常，无错误。网页打开后，明显感觉停顿3-4秒才能显示网页内容，甚至更长时间。貌似SSL加解密需要时间的感觉。YouTube 视频144p基本打不开

[2018-09-04 00:02] GreaterFire commented on #43
Did you compare the results with other tools and/or servers?

In my experiments, trojan can get up to 60 Mbps (my bandwidth limit, in theory it can get up to your bandwidth limit) across GFW.

The encryption/decryption overhead can be ignored, since on local tests, the max speed is 10 Gbps.

Please provide your cloud service provider for further analysis.

[2018-09-04 02:12] garywu520 commented on #43
已排除DNS污染问题，调试一些参数后，测试问题依旧。有几个问题需要确认下：

1. forward.json 中转是否可以不用配置，client直接连接server【我目前测试采用的是这种方式】
2. SSL证书是否有强制要求，比如必须是购买的认证证书？【我测试使用的是openssl自签名证书】

[2018-09-04 02:40] GreaterFire commented on #43
I typically do not discuss this kind of user issues on GitHub. Could you provide other means of communication so I can reach you more conveniently?

[2018-09-04 03:23] GreaterFire commented on #43
Contact info redacted for security reasons.

Issue resolved.

[2018-09-04 03:23] #43 closed, assigned to GreaterFire

[2018-09-18 12:51] testcaoy7 opened #44 "Does pre-built binary have TLS1.3?"
Does pre-built binary have TLS1.3?

I tried use "TLS13-AES-128-GCM-SHA256" in "cipher" and it did not work.

[2018-09-18 14:09] GreaterFire commented on #44
Not in `1.7.0`, but will be in `1.8.0`.

Please be patient. Thank you.

[2018-09-18 16:34] GreaterFire commented on #44
Also, it's not `TLS13-AES-128-GCM-SHA256`. Please look at [OpenSSLWiki](https://wiki.openssl.org/index.php/TLS1.3#Ciphersuites):

[2018-09-18 21:24] testcaoy7 commented on #44
I see. Thank you.

[2018-09-18 21:24] #44 closed, assigned to GreaterFire

[2018-10-11 02:48] wongsyrone opened #45 "[Feature Request] SSL KeyLog File"
从openssl 1.1.1开始，带了一个SSLKEYLOGFILE功能，生成的文件可以配置给wireshark用来debug，或者是蛋疼看TLS payload。可以参照 https://github.com/openssl/openssl/commit/4bf73e9f86804cfe98b03accfc2dd7cb98e018d6

[2018-10-11 03:35] GreaterFire commented on #45
Proposal accepted.

[2018-10-11 04:44] wongsyrone commented on #45
我弄了一个windows下可以解密TLS流量辅助脚本：https://github.com/wongsyrone/decrypt-ssl

[2018-10-12 03:37] GreaterFire commented on #45
Functionality added on the `dev` branch.

[2018-10-12 03:37] #45 closed, assigned to GreaterFire

[2018-10-14 03:32] ASmith- opened #46 "Building instructions should be clear and on the git project page"
The trojan build instructions should be clear and on the git project page

Combing through the readme.md and multiple other folders doesn't even add any further how-to on this. Attempting cmake, ./configure results in zip, nada. Fill in the current missing build instruction blanks in the git project page and add the build-compile instructions in a tiny .txt file for the main directory folder.

[2018-10-14 03:36] GreaterFire commented on #46
For a detailed build instruction please visit the [documentation](https://trojan-gfw.github.io/trojan/build).

Do you mean I should put it in my main README.md?

[2018-10-14 09:12] ASmith- commented on #46
Sure, why not? CLI commands, folder name if the builder needs to shift over into a certain folder just to compile the source on this.

For Debian users, there's a error in your documentation:

For Debian users, run sudo apt -y install build-essential cmake libboost-system-dev libboost-program-options-dev libssl-dev default-libmysqlclient-dev to install all the necessary dependencies.

Needs to be

[2018-10-14 16:09] ASmith- commented on #46
This project could prove helpful with the Retroshare anonymous, encrypted communication and file sharing applications global network with Asian Retroshare users of the Regular nodes. Retroshare's hidden nodes use the Tor and I2P networks, however both Retroshare Regular and Hidden nodes can fully use and support Socks5 proxys.

If your'e interested in this, I can supply you with established Retros

[2018-10-14 16:22] GreaterFire commented on #46
I prefer to keep the build instructions inside the documentation. That's my personal choice. It keeps things clean in readme.

It's not an error. Both of these work.

I don't currently have time to look at this. But feel free to use trojan's code in your project, as long as you comply to GPLv3 license.

Thank you for your issue.

[2018-10-15 06:21] #46 closed, assigned to GreaterFire

[2018-10-25 23:13] #38 closed, assigned to GreaterFire

[2018-11-14 03:13] AbsolutelyLudicrous opened #47 "[ERROR] 127.0.0.1:$bignumber unknown protocol"
Trojan version 1.9.0 on both server and client.

I can't get Trojan to send any data, all connections to the local proxy running on 127.0.0.1:1080 fail with "unknown protocol". No output appears on the server's end.

If it matters at all, the server is running in a FreeBSD jail behind a reverse proxy, all traffic is routed host -> reverse-proxy -> jail.

[2018-11-14 04:09] GreaterFire commented on #47
How did you use the proxy on the local side? Did you connect to `127.0.0.1:1080` with `HTTP` proxy? You should have connected using `SOCKS5` protocol.

[2018-11-14 12:06] AbsolutelyLudicrous commented on #47
Welp, that would be my problem. I had it set up as an HTTP proxy, not a SOCKS proxy. Sorry about that.

[2018-11-14 15:11] #47 closed, assigned to GreaterFire

[2018-11-23 16:02] luckypoem opened #48 "curves的值怎么填？"
hi。
server.json里的curves的值怎么填？

[2018-11-23 16:03] GreaterFire commented on #48
@luckypoem If you don't know what that is, leave it blank.

[2018-11-27 01:07] #48 closed, assigned to GreaterFire

[2018-12-05 18:01] GreaterFire commented on #19
For all of you who are concerned, the development of [an android client](https://github.com/trojan-gfw/igniter) is undergoing. Currently it contains a minimally usable prototype but is not production ready. You can try it out if you are interested.

[2018-12-09 03:23] Rucc1 commented on #19
https://github.com/trojan-gfw/igniter/releases/tag/v0.1.0-pre-alpha3

[2018-12-09 03:27] GreaterFire commented on #19
@Rucc1 Note that the pre-alpha versions are still extremely buggy and insecure and should only be used for testing purposes.

[2018-12-12 11:15] undirectlookable commented on #19
I notice the testflight version of [Shadowrocket](https://itunes.apple.com/us/app/shadowrocket/id932747118?mt=8) has supported today.

[2018-12-27 08:57] HuLian21 opened #49 "Ask for docker support."
Ask for official docker image support.

[2018-12-27 09:03] superhero75 opened #50 "Quic"
Could we add quic support ?

[2018-12-27 09:59] GreaterFire commented on #49
@HuLian21 There was once an official docker image, but it was removed due to the complexities involved in configuring a server in a container.

If you insists on doing so, I recommend you to check this docker image out: https://hub.docker.com/r/imlonghao/trojan/

[2018-12-27 10:00] GreaterFire commented on #50
@superhero75 There isn't a plan now, but we will definitely consider QUIC after it prevails.

[2019-01-06 15:28] BoBppy opened #52 "申请 希望路由器支持"
平常习惯于路由器，系统是OpenWRT，希望有开源代码可以编译成为ipk文件，以便装载到路由器上

[2019-01-06 21:03] GreaterFire commented on #52
@BoBppy https://github.com/trojan-gfw/openwrt-trojan

[2019-01-06 21:17] #52 closed, assigned to wongsyrone, GreaterFire

[2019-01-06 21:18] #49 closed, assigned to GreaterFire

[2019-01-07 00:49] wongsyrone commented on #52
现在编译使用的openssl是由我们修改的版本1.1.1a，而不是在官方仓库中的版本1.0系列。由于openssl静态链接到trojan二进制，所以最后的二进制会看起来有点大，目的是为了使用TLS 1.3且不与系统自带的冲突

暂时还没有同时支持openwrt官方仓库中openssl的计划。

[2019-01-08 06:27] zshuker commented on #43
trojan.exe闪退

[2019-01-08 06:28] GreaterFire commented on #43
@zshuker Please run trojan inside a cmd to see what error it is.

[2019-01-09 11:15] WeidiDeng opened #53 "Server mode unix domain socket support"
Since when run in server mode, we usually deploy a web server as well. Can we add uds for even better performance?

[2019-01-09 14:01] wongsyrone commented on #53
I don't think it makes much difference.

[2019-01-09 22:09] GreaterFire commented on #53
I don't see any point here either. It does not improve anything, to be honest. The performance is good enough (around 10 Gbps locally) and does not need further optimization.

[2019-01-11 12:42] soogood opened #55 "why my server keep connecting fail?"
![20190111203840](https://user-images.githubusercontent.com/5028515/51034234-06f42800-15e1-11e9-96fc-10aa4f9dcbde.png)

no route to host ....
debian 9 vps

[2019-01-11 12:52] Chigusa0w0 commented on #55
Please provide your config file and other information you think may be helpful to diagnostic this problem.
As a reminder, this error is thrown by a more underlying component but not Trojan itself. So that it may not be a problem that we, the developers of Trojan, could solve.

[2019-01-11 15:13] GreaterFire commented on #55
Does your server have an IPv6 address that's not usable? Try disabling IPv6 and using only IPv4 for connection.

[2019-01-12 03:03] #53 closed, assigned to GreaterFire

[2019-01-12 05:39] soogood commented on #55
Yes, my server has lots of IPV6 address... thanks a lot. issue closed.

[2019-01-12 05:39] #55 closed, assigned to GreaterFire

[2019-01-14 14:10] GreaterFire commented on #18
Due to the increased demand on this functionality, I'll introduce it in version `1.10.0`.

[2019-01-14 23:34] GreaterFire opened #56 "Harden systemd service"
See [here](https://lintian.debian.org/tags/systemd-service-file-missing-hardening-features.html), [here](http://0pointer.de/public/systemd-man/systemd.exec.html), and [here](http://0pointer.de/blog/projects/security.html).

Add the following security features to the systemd service:

- Run trojan as user and group `nobody` instead of `root` for security reasons.
- To avoid the problem of not being

[2019-01-15 01:15] #18 closed, assigned to GreaterFire

[2019-01-15 01:15] #56 closed, assigned to GreaterFire

[2019-01-15 10:48] lgcde opened #57 "socks5转http有性能损耗吗?"
![](https://i.loli.net/2019/01/15/5c3db94c535ab.png)
左边是caddy.forwardproxy 右边是trojan
trojan延时高些

httping测试 $httping -g http://google.com --proxy 127.0.0.1:1001 -Y -c 100
同时、同服务器haproxy复用443端口sni分流、都是tls1.3(winshark抓包)
配置是按examples写的,尝试修改"append_payload": false "session_ticket": true 均无改善

连接方式:
httping→privoxy→trojan(client)→trojan(server)→internet
httping→caddy.forwardproxy(http→upstream)→caddy(s

[2019-01-15 11:25] GreaterFire commented on #57
@lgcde Thank you for your report. I'll look into it ASAP. Can you provide packet capture data (you may redact sensitive info)? I want to see whether trojan has more RTTs than Caddy forward proxy.

Also, can you provide your caddy config so I can setup and test it?

[2019-01-15 12:25] wongsyrone commented on #57
privoxy在windows上用的是select

[2019-01-15 12:26] wongsyrone commented on #57
但golang在win上貌似实现是IOCP

[2019-01-15 12:26] GreaterFire commented on #57
@wongsyrone Does `select` cause a near 100-150 ms delay?

[2019-01-15 12:27] wongsyrone commented on #57
唔，我不确定，不过性能应该比原生的IOCP差吧，select应该是最后的选择了吧

[2019-01-15 12:29] wongsyrone commented on #57
我推荐在linux做同样的测试，privoxy用最新的3.0.28，这个版本做了点优化，应该能比较真实反映trojan和caddy的差异

[2019-01-15 12:30] GreaterFire commented on #57
@wongsyrone I think we should eliminate the effect of privoxy. Try proxychains?

[2019-01-15 12:31] wongsyrone commented on #57
这样就不能和这个issue里面的数据构成对照组了

[2019-01-15 12:32] GreaterFire commented on #57
@wongsyrone We can also use proxychains for httping to use Caddy forward proxy.

[2019-01-15 12:34] wongsyrone commented on #57
也可以，我猜测即使这样，golang可能受益于goroutine，比trojan性能好

[2019-01-16 05:27] klzgrad commented on #57
Doesn' look like a real or fair comparison. Why would you have caddy forwardproxy locally?

[2019-01-16 07:47] lgcde commented on #57
果然有影响
先前没想到直接用torjan socks5测试的方法,现在用firefox+switchomega

trojan(socks5):
![](https://i.loli.net/2019/01/16/5c3edf7b44ec2.png)

trojan(socks5)→privoxy(http):
![](https://i.loli.net/2019/01/16/5c3ee5676b695.png)

trojan(socks5)→glider(http):
![](https://i.loli.net/2019/01/16/5c3edf761c754.png)

caddy.forwardproxy(http):
![](https://i.loli.net/2019/01/16/5c3edf7db8285.png)

trojan+privoxy传输数据略大一些,大约增

[2019-01-16 08:12] lgcde commented on #57
http-https转发

[2019-01-16 13:28] klzgrad commented on #57
Good one. Looks like this thing does exactly the same as v2ray et al.

If you want a fair and real test, try this:

`time curl --proxy socks5h://127.0.0.1`→trojan(client)→trojan(server)→internet
vs
`time curl --proxy https://server`→caddy.forwardproxy(server)→internet

but we all know if you're doing https proxying with Caddy, it's actually http/2 over tls and that combo does connection multiplexi

[2019-01-26 03:43] 1v9 opened #58 "TCP_FASTOPEN_CONNECT is not supported"
My client is Windows 10 and Trojan works perfect. There is only one issue. I enabled fastopen (include trojan config and system operation) on bothside but I got this.
[code]
I don't know why, here is my config.
[code]

[2019-01-26 03:50] KunagisaYuki commented on #58
@1v9 Please note that `TCP_FASTOPEN_CONNECT` (client side tcp fastopen per trojan's implementation) is only supported in Linux and not available in Windows, which is mentioned in the log.

[2019-01-26 10:06] 1v9 commented on #58
@KunagisaYuki Thank you. Is there any plan to support TFO on Windows, or is this impossible?

[2019-01-26 10:50] #58 closed, assigned to GreaterFire, KunagisaYuki

[2019-01-26 16:14] GreaterFire commented on #58
@1v9 A lot of changes (basically a rewrite) has to be done on the code base.
TFO doesn't provide a significant improvement and is vulnerable to a certain kind of attack, so we generally don't recommend enabling it.

[2019-01-26 16:44] #57 closed, assigned to GreaterFire

[2019-01-26 23:14] klzgrad opened #59 "Don't print FATAL on server start"
[code]
Doesn't look fatal to me.

[2019-01-27 01:57] GreaterFire commented on #59
What log level would you recommend?
https://github.com/trojan-gfw/trojan/blob/master/src/service.cpp#L204

[2019-01-27 02:30] wongsyrone commented on #59
Why not choose INFO for both start and stop

[2019-01-27 02:40] GreaterFire commented on #59
@wongsyrone I was thinking about using the highest log level for start and stop so whichever log level you set, this info will be logged.

[2019-01-27 02:44] Chigusa0w0 commented on #59
It's FATAL to your adversary LoL. Alright, not so fatal.

[2019-01-28 13:39] klzgrad opened #60 "Fatal: open: too many open files"
Trojan died after a while.

[2019-01-28 15:05] GreaterFire commented on #60
Maybe it is because of too many connections. Try raising the hard and soft limit of max fd?

[2019-02-03 16:47] GreaterFire opened #61 "Please refrain from translating the wiki into Chinese"
@UzminTid Thank you for your contributions to the Trojan wiki. Communication languages other than English are strongly discouraged in this organization, so I reverted your changes (Chinese translation) in the wiki. I encourage you to host a repository yourself if you still want to present Chinese wiki. To retrieve your files, you can execute the following commands:

[code]

[2019-02-04 05:37] Rucc1 opened #62 "Support cetificate in configure file."
[code]
only supports external file(file directory), it will be good if trojan can support certs in the configure file, like

[code]

[2019-02-04 07:59] Chigusa0w0 commented on #62
@Rucc1 Personally, I don’t think this proposal will be implemented in view of the following problems.
1. Potential certification management risks. As you may know, Trojan Server requires a valid cert-key pair to work. It would violate the best practice in cert management if we require contents of the key and cert files are written directly into the configuration file. On the other hand, writing th

[2019-02-04 09:55] wongsyrone commented on #60
How to reproduce the issue?

[2019-02-05 03:33] klzgrad commented on #60
I don't know. In principle open() should check for EMFILE and fail gracefully. But I don't see where open() is called in this.

[2019-02-05 03:35] GreaterFire commented on #60
@klzgrad Maybe somewhere inside asio's code throws. We should catch that.

[2019-02-10 07:32] #61 closed, assigned to GreaterFire

[2019-02-14 18:23] GreaterFire commented on #19
Closing this issue since there exists usable [client implementations](https://github.com/trojan-gfw/trojan/wiki/Mobile-Platforms).

[2019-02-14 18:23] #19 closed, assigned to GreaterFire

[2019-02-14 18:23] #62 closed, assigned to Chigusa0w0, GreaterFire

[2019-02-14 18:40] #59 closed, assigned to GreaterFire

[2019-02-21 08:52] muweigg opened #67 "Nginx 反向代理握手失败"
因为 443 端口需要提供其他服务，所以用 Nginx 做的代理。
Trojan server 启动监听 445 端口，配置 Nginx 片段:

	server {
		listen 443 ssl;
		ssl on;
		ssl_certificate /etc/letsencrypt/live/www/fullchain.pem;
		ssl_certificate_key /etc/letsencrypt/live/www/privkey.pem;
		ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
		ssl_ciphers HIGH:!aNULL:!MD5;
		server_name 我的域名;
		location / {
			proxy_pass http://127.0.0.1:445;
		}
	}

Trojan server conf

[2019-02-21 08:59] Chigusa0w0 commented on #67
@muweigg You have misconfigured Trojan and Nginx. You should put Trojan BEFORE Nginx, not BEHIND. It should look like: Internet-Trojan-Nginx. Please let Trojan handle incoming TLS.

[2019-02-21 09:01] muweigg commented on #67
@LimiQS 感谢回复，可是我不是专业的，请问我应该怎么查看?
因为如果直接使用 443 端口是没有问题的，非常的稳定

[2019-02-21 09:05] Chigusa0w0 commented on #67
@muweigg Sorry I've made a mistake in understanding your description. Now I've corrected it and edited my reply. See https://github.com/trojan-gfw/trojan/issues/67#issuecomment-465916865

[2019-02-21 09:12] muweigg commented on #67
@LimiQS 请问我应该如何配置呢，因为 Nginx 有监听 443 端口，有转发 url 到本机其他端口的应用处理，类似 location /site { proxy_pass http://127.0.0.1:7788; }

[2019-02-21 09:18] muweigg commented on #67
@LimiQS 是否是这样，我的理解是，Nginx 监听其他端口(555)，Trojan server config 配置 “remote_port” : 555，如果 Trojan 接收到其他的协议请求就转发到 Nginx，是这样吗?

[2019-02-21 09:20] Chigusa0w0 commented on #67
@muweigg Yes.

[2019-02-21 09:20] muweigg commented on #67
@LimiQS 非常感谢.

[2019-02-21 13:26] muweigg commented on #67
@LimiQS 你好，现在有其他问题，我的 Nginx 也有配置证书，也需要握手，通过 Trojan 转发过去发现握手失败了，我不是太专业，Trojan 的服务器配置使用的 server.json-example 示例里的，是这样配置的 "remote_addr": "域名", "remote_port": 555，但是失败了，不知是配置使用错误了还是什么，发现示例里还有 forward.json-example 这样的一个示例，我是否应该使用这个？

[2019-02-21 13:50] Chigusa0w0 commented on #67
@muweigg As what Trojan forwarded is the content INSIDE TLS, you shall not configure Nginx SSL Extension on the corresponding port. Which means you should read and write plain HTTP data on port 555 in your case.

[2019-02-21 13:53] muweigg commented on #67
@LimiQS 谢谢回复，大致上明白了

[2019-02-21 15:14] muweigg commented on #67
@LimiQS 真心的非常感谢，已经配置成功了，太帅了

[2019-02-21 18:10] #67 closed, assigned to Chigusa0w0

[2019-02-22 01:48] zeku2022 opened #68 "macOS: [FATAL] fatal: config.json: cannot open file"
**I've edited the "config.json" file and downloaded the "private.crt" to the directory**
`"cert": "/etc/ssl/cert.pem"`
`"cert": "private.crt"`,
**which one is correct?**

**When i run the trojan exec file,it shows :**
[2019-02-22 09:44:54] [FATAL] fatal: config.json: cannot open file
[2019-02-22 09:44:54] [FATAL] exiting. . .
**what's wrong?  please help.**

[2019-02-22 01:59] Chigusa0w0 commented on #68
@xiaoxiongke The first one is correct. But the error log indicates that you are not facing an issue with cert file. The true problem is that Trojan CANNOT open and read config.json. This may caused by wrong file path or insufficient file privilege. Please check you have correctly set these values.

[2019-02-22 02:02] GreaterFire commented on #68
@xiaoxiongke Try running the start.command provided. Also, you should use a certificate to put in the config file, not a private key.

[2019-02-22 02:28] zeku2022 commented on #68
The config.json' file content shows below, I think it doesn't have any problems.And the file path or privilege are all ok.
`
{
    "run_type": "client",
    "local_addr": "127.0.0.1",
    "local_port": 10800,
    "remote_addr": "XXXXXXXX",
    "remote_port": 443,
    "password": [
        "XXXlovetrojan"
    ],
    "append_payload": true,
    "log_level": 1,
    "ssl": {
        "verify": true,

[2019-02-22 02:29] zeku2022 commented on #68
Sorry,there' no start.command....

[2019-02-22 02:32] GreaterFire commented on #68
@xiaoxiongke Launch a terminal, cd to the trojan directory, and run ./trojan config.json

[2019-02-22 02:48] zeku2022 commented on #68
Thanks,I've tried.But it seems the cert config is wrong...
`
[FATAL] trojan service (client) started at 127.0.0.1:1080
[2019-02-22 10:46:38] [INFO] 127.0.0.1:51916 requested connection to www.youtube.com:443
[2019-02-22 10:46:38] [ERROR] 127.0.0.1:51916 SSL handshake failed with xxxxxxx.xyz:443: certificate verify failed
[2019-02-22 10:46:38] [INFO] 127.0.0.1:51916 disconnected, 0 bytes received,

[2019-02-22 02:50] zeku2022 commented on #68
Finally I edit the config.json file,and change `"cert": "/etc/ssl/cert.pem"` to `"cert": "private.crt"`,then it runs very well....

[2019-02-24 13:45] klzgrad commented on #60
I got another case of this. I'll post coredump next time.

[2019-02-24 16:23] GreaterFire commented on #60
@klzgrad You can set the max fd limit down and test.

[2019-02-26 07:31] muweigg opened #70 "开启 CDN 后握手失败"
我应该如何与CDN结合使用？

[2019-02-26 07:59] Chigusa0w0 commented on #70
@muweigg Buy Cloudflare Spectrum

[2019-03-04 07:27] #70 closed, assigned to Chigusa0w0

[2019-03-05 18:14] #68 closed, assigned to Chigusa0w0, GreaterFire

[2019-03-14 04:24] kamasylvia opened #75 "Cannot install on Fedora 29"
Followed the wiki, Fedora 28 installed trojan successfully but Fedora 29 failed. The error is `Error: Failed to synchronize cache for repo 'fei1yang/trojan'`. SELinux and firewall are already closed.

[2019-03-14 04:28] ghost commented on #75
@ZhangYue-vhyt Sorry,but I am not able to build packages for Fedora 29.
You can use the binary in releases page.

[2019-03-14 04:33] kamasylvia commented on #75
I switched to Fedora 28 now. Can you mark this on the Wiki?

[2019-03-14 04:39] ghost commented on #75
@ZhangYue-vhyt I suggest you to use the latest system and software.
Also,I remove my fedora copr repo from the wiki.

[2019-03-15 03:14] #60 closed, assigned to wongsyrone, GreaterFire

[2019-03-15 07:19] Bubblingo0 opened #76 "socks5 not work on windows system proxy setting"
I was trying to add automatic system proxy setting to trojan-qt on windows , but when i only set 127.0.0.1:xxx to Internet Proxy Settings->Socks (Use the same proxy server for all protocols not checked, HTTP, Secure , FTP are cleared)

log  shows:

` [ERROR] 127.0.0.1:15769 unknown protocol
`

socks5 works fine on chrome + SwitchyOmega
http proxy works fine with Privoxy forward-socks5
socks5 not w

[2019-03-15 07:21] GreaterFire commented on #76
@HernWang Windows only supports SOCKS4.

[2019-03-15 07:50] Bubblingo0 commented on #76
Thanks for the prompt reply,  so i guess implement windows system proxy settings requires Privoxy like ss and v2ray.
What i found is that when i use Privoxy to forward trojan socks5 that socks can't work even with chrome + SwitchyOmega (only http works).

[2019-03-15 07:52] GreaterFire commented on #76
@HernWang Privoxy is a HTTP proxy. Trojan is a SOCKS5 proxy.

[2019-03-15 08:06] Bubblingo0 commented on #76
ok, i got it. shadowsocksr has implemented http/socks5 on same port, just notice that.

[2019-03-15 08:06] #76 closed, assigned to GreaterFire

[2019-03-15 10:17] Chigusa0w0 commented on #76
@HernWang You should use Proxifier instead.

[2019-03-15 17:00] kamasylvia opened #78 "fatal: use_certificate_chain_file: Permission denied"
Trojan works perfectly on Fedora 28 but has this problem on Ubuntu 18.04 and Manjaro.

What permission does trojan need? I have already tried `chmod 744 <cert and key>`
[code]

[2019-03-15 17:12] GreaterFire commented on #78
@ZhangYue-vhyt Not only the files themselves, the directory led to the files should be set to 755 as well.

[2019-03-15 17:14] kamasylvia commented on #78
Thanks, 755 directory works.

[2019-03-16 10:54] kamasylvia commented on #78
Giving the SSL directory 755 is not safe, I would like to run trojan as a particular user.

---
I know how to achieve this in nginx
[code]
then edit `/etc/nginx/nginx.conf`: `user nginx web`

---
`/etc/trojan/config.json` does not have this. Can you provide the `user` option in `config.json` or change the default user `nobody` to a permitted safe user? Now I delete `User=nobody` in `trojan.service

[2019-03-16 17:44] GreaterFire commented on #78
It's standard to change the `User` option in systemd service file.

[2019-03-18 05:25] kamasylvia opened #79 "Cannot establish connection to remote server"
## Server config
[code]

## Client config
[code]
## Server status
[code]
## Firewall config
![image](https://user-images.githubusercontent.com/9450184/54508462-4f4eff80-491c-11e9-9697-5d4d2a325643.png)

## Firefox setting
![image](https://user-images.githubusercontent.com/9450184/54507295-119ba800-4917-11e9-8bc4-e8e136ce8ee3.png)

## Tested in Canada
I tested in Canada using the config above.

![i

[2019-03-18 06:26] GreaterFire commented on #79
Did you put a CDN (such as Cloudflare) in front of your server?

[2019-03-18 06:27] GreaterFire commented on #79
Also, do you have server side log?

[2019-03-18 09:30] kamasylvia commented on #79
Is it the correct way to show the log?
[code]
[code]
I'm sure Cloudflare CDN is closed.

[2019-03-18 14:57] GreaterFire commented on #79
@ZhangYue-vhyt

[code]

[2019-03-18 16:13] #75 closed, assigned to GreaterFire

[2019-03-18 16:16] #78 closed, assigned to GreaterFire

[2019-03-18 18:44] kamasylvia commented on #79
The server log doesn't record any information from China, only from Canada.

[2019-03-18 18:48] GreaterFire commented on #79
@ZhangYue-vhyt What does it say about the connections in Canada?

It won't log China connections because the TCP connection fails. The IP may be walled.

[2019-03-18 19:03] kamasylvia commented on #79
Log looks like this. If the IP is still walled, does it mean trojan fail to pass the GFW?
[code]

[2019-03-18 19:10] GreaterFire commented on #79
Canada logs look normal to me. You said you can't use it?

Regarding China connections, I suspect that it's walled before you deploy trojan. Or it's just the wall detecting HTTPS traffic on abnormal port 10086. Try moving the port to 443?

[2019-03-18 19:14] kamasylvia commented on #79
I can use it in Canada, it works well.

I will ask my friend to test 443 later in China.

[2019-03-19 20:37] #79 closed, assigned to GreaterFire

[2019-03-27 13:42] JonathanHouten opened #80 "A trojan felling confused"
trojan 1.10.1
Output:
[code]
(Output same under powershell)

I use the typical config on my server there are,i think.

Browser is  firefox.Setting are
[code]
Server is fully functional. I can connect useing pharos at the same network.
Have tried rest winsock.
Both server and client had been updater,which didt fix anything.

Additional info:
When i use differnet way to connect my server  in broswer

[2019-03-27 15:17] GreaterFire commented on #80
Try outputting the log to a file using `-l` flag.

[2019-03-27 17:40] HarukaMa opened #81 "Support UDP forwarding"
Seems that forwarding mode only supports TCP protocol and I couldn't find a way to encapsulate UDP packets through it. Is it possible to support UDP forwarding in the future?

Specifically I was trying to tunnel wireguard traffic through trojan, and obviously proxy is not supported.

[2019-03-27 17:42] GreaterFire commented on #81
UDP forwarding is supported. It uses SOCKS5 `UDP ASSOCIATE` specified [here](https://tools.ietf.org/html/rfc1928). Unfortunately, few applications support this, so the applicability is limited.

[2019-03-27 17:44] HarukaMa commented on #81
As forward mode directly processes raw TCP connection, is it possible to also apply that to UDP connections?

[2019-03-27 17:55] GreaterFire commented on #81
It's possible, but hard to implement.

[2019-03-27 18:06] HarukaMa commented on #81
Using redsocks could do the work at the moment.

[2019-03-28 15:46] JonathanHouten commented on #80
[code]

[2019-03-28 16:26] GreaterFire commented on #80
Looks like a firewall misconfiguration. Are you sure **on the same machine and network** you can access your server through the browser? Also, it's strange that it works on your phone but not on the computer, since they are both the very same program. Try trojan on another computer?

[2019-03-29 16:30] JonathanHouten commented on #80
I tried to disable windows firewall,which not works.
I dont have any anti-virous software on my computer.

And I promise it is on the exact same machine and exact same network I can access my server through the broswer.I tried serially.

Today i tried an other network.And the result are the same.I now believe it is my computer's problem,but I just cant locate where it is.
It seems trojan works fin

[2019-03-29 21:40] GreaterFire commented on #81
Feature added in `dev` branch.

[2019-03-29 21:40] #81 closed, assigned to GreaterFire

[2019-03-31 03:20] 0x4092 opened #82 "build failed on Android termux (arm)"
On termux:
[code]

[2019-03-31 07:50] wongsyrone commented on #82
You may try -llog to link the library

[2019-03-31 08:33] GreaterFire commented on #82
@0x4092 I kinda fixed it in the `dev` branch (0038b0a), try to pull and build the `dev` branch.

[2019-03-31 11:59] 0x4092 commented on #82
Thx! It works!  \\(^o^)/
[code]

[2019-03-31 19:36] #82 closed, assigned to wongsyrone, GreaterFire

[2019-04-08 22:21] #80 closed, assigned to GreaterFire

[2019-04-19 13:14] yyuurrii34 opened #88 "Is trojan able to bypass the cert-filter of GFW to my letsencrypt SSL certification"
it is said that gfw has a sort of function to recognize and filter the certifications simply by type name or trusted user list.
for  an official or business use of an SSL in https get apply(as my connection disguised to be),this letsencrypt cert generated by certbot can't be that ordinary.
if the gfw were trying to make cert type list of all connections detected,what was mine would be an outstandi

[2019-04-19 15:11] GreaterFire commented on #88
@yyuurrii34 No. You'll have to buy one if that really happens. Trojan cannot help.

[2019-04-19 19:18] Chigusa0w0 commented on #88
@yyuurrii34 There are millions of websites using Let's Encrypt. Which the fact itself, alongside an appropriate choice of cover site, is already the best disguise. If you are trying to disguise as a gov or commercial website, then you really should buy a certificate, or reconsider your choice.

[2019-04-20 15:00] yyuurrii34 commented on #88
got it ,thank you so much

[2019-04-21 16:00] #88 closed, assigned to Chigusa0w0, GreaterFire

[2019-04-25 17:56] yyuurrii34 opened #89 "can you tell me how to apply udp forward.json config file"
exactly the question in the tittle.
how to apply the udp-forwarding.json config file,by what argument of the main application?
I only know -c is to use the config.json file,what about the udp-forwarding

[2019-04-25 18:03] GreaterFire commented on #89
@yyuurrii34 I'm not quite sure what your use case is. Can you elaborate on that? Also, please provide your config file if necessary.

[2019-04-26 04:01] yyuurrii34 commented on #89
I'd like to trans-send all the flows through an udp tunnel customized to port 20942/udp,then let my server transport all these flows to port 443/tcp which is the trojan https service listening port.
'cos by a mean that UDP will accelerate the buffer speed and increase the buffer size when i'm watching flow video on internet,as i assume it is a fully use of the trans-send-receive ability of my serv

[2019-04-27 17:11] GreaterFire commented on #89
Sounds like you want to use a UDP tunnel in between trojan client and server. In this case, the connection should look like:
[code]
You'll still want to use the client config instead of forward config.

[2019-04-27 17:18] GreaterFire commented on #89
More specifically, the `remote_*` options in trojan client should be pointed to the address and port of your kcptun client (don't forget to set `SNI` field to your trojan server domain name). The target settings of your kcptun server should be pointed to the address and port of your trojan server. (Configure other things as normal.)

As a side note, the use of a UDP tunnel defies the purpose of tr

[2019-04-28 02:40] yyuurrii34 commented on #89
thanks a lot for your help.maybe it's the sni that cause the collapse of my kcptun service.
what i was thinking was just using trojan as a game speeder or flow video accelerator.As kcp is an unscripted proto on internet,i do not think this will to any nature change the https disguise of trojan.

[2019-04-28 03:05] GreaterFire commented on #89
@yyuurrii34 If you leave the SNI field blank, you'll get a certificate verify error.

[2019-04-29 12:48] yyuurrii34 commented on #89
@greaterfire  got it.I should have either set the SNI or configure both the httpd server and the client to skip the certification verifying.I prefer the second choice.
anyway thank you very much for your help

[2019-04-29 14:53] GreaterFire commented on #89
@yyuurrii34 The second choice will put you in a dangerous spot where you can be MitMed.

[2019-04-29 15:03] #89 closed, assigned to nobody

[2019-05-23 04:06] haxpor opened #90 "Build error on Ubuntu 18.04"
I got build error as follows

[code]

and here is the log from `cmake ..`

[code]

I've tried building this for both manually built boost 1.66 and 1.70 (for program_options and system), still faced with the same error above. It would be appreciated to see how to fix this.

I'm on `Linux ubuntu 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`.

[2019-05-23 04:11] GreaterFire commented on #90
Maybe the headers are correctly detected, but the dynamic libraries are not. Try using the `ccmake` tool or `cmake-gui` to check the dynamic library paths.

If it doesn't work, I suggest you download and use my [pre-compiled binary](https://github.com/trojan-gfw/trojan/releases/latest).

[2019-05-23 04:12] GreaterFire commented on #90
Also, try the `cmake` flag `-DBoost_USE_STATIC_LIBS=ON`

[2019-05-23 04:36] haxpor commented on #90
Thanks for fast reply! I opt-in to download from pre-built instead. But just curious, why there's no boost symbols at all from pre-built binary file, is boost cut off and not used at all? Thanks!

[2019-05-23 04:45] GreaterFire commented on #90
@haxpor I statically linked boost into the binary and stripped all the symbols for the sake of saving the space.

[2019-05-23 05:23] haxpor commented on #90
Thanks @GreaterFire , now that solved the problem and I understand more about symbols. I closed this now.

[2019-05-23 05:23] #90 closed, assigned to nobody

[2019-05-26 11:15] fredericky123 opened #91 "图标可以设置隐藏吗"
RT,想让它在任务栏隐藏的图标默默运行，何以实现？

[2019-05-26 16:10] GreaterFire commented on #91
@fredericky123 This behavior involves some Windows specific code, which is not preferred in this project. I suggest you make trojan a system service.

[2019-06-03 11:14] w316525096 opened #92 "这个项目好像很抗封的样子。"
没看到有人哀嚎。
  : )

[2019-06-03 11:48] zcluo commented on #92
用的人少

发自我的 iPhone

[2019-06-03 14:46] GreaterFire commented on #92
@w316525096 That's because trojan is designed to be unidentifiable. Not being blocked is well expected.

[2019-06-03 15:05] #92 closed, assigned to nobody

[2019-06-04 11:46] zhoutingztzt opened #93 "Can't receive any data after downloading for a long time"
I downloaded a large ZIP file, about 33GB, and the download time was long. At the time of download, I can't receive any data about every 30 minutes.

I used the `systemctl status trojan.service` command to check status of trojan service.
The service is running, and the connection with my client is also established. But can't receive any data, I can only restart trojan.service

the system is debian

[2019-06-04 12:30] GreaterFire commented on #93
@abelZhou123 What version are you using?

[2019-06-04 12:35] zhoutingztzt commented on #93
trojan 1.12.2

[2019-06-04 12:42] GreaterFire commented on #93
At the time this bug is triggered, is it possible to establish new connections or just that connection isn't working? Is there anything strange in the log?

[2019-06-04 12:49] zhoutingztzt commented on #93
the log is about like this:
Jun 04 07:57:42 localhost.localdomain trojan[19146]: [2019-06-04 07:57:42] [INFO] xxx.xxx.xxx.xxx:xxx established, 0 bytes received, 0 bytes sent, lasted for 35 seconds

[2019-06-04 12:59] zhoutingztzt commented on #93
this bug is triggered just now, and the log is:
Jun 04 08:52:10 localhost.localdomain trojan[19195]: [2019-06-04 08:52:10] [INFO] xxx.xxx.xxx.xxx:xxx authenticated as xxx
Jun 04 08:52:10 localhost.localdomain trojan[19195]: [2019-06-04 08:52:10] [INFO] xxx.xxx.xxx.xxx:xxx requested connection to nl-rcd.iqiyi.com:443
Jun 04 08:52:22 localhost.localdomain trojan[19195]: [2019-06-04 08:52:22] [INFO]

[2019-06-04 16:13] emiyalee1005 commented on #93
I happen to have the similar issue. In some random cases, after a period of time the client can not send or receive any data. So i check the client log and can't see any new connections established, the log seem to stuck there. And also check the server log and everything looks good includeing the network between C/S.  After restarting the client trojan.exe, everything works fine again. It happens

[2019-06-04 16:15] emiyalee1005 commented on #93
sorry i can't provide log because it happens randomly and now it just work fine

[2019-06-04 16:19] GreaterFire commented on #93
@emiyalee1005 Alright. Maybe it's just the wall doing its stuff. I'll keep monitoring this behavior.

[2019-06-04 17:20] emiyalee1005 opened #94 "[QUESTION] is there any way to support cdn without buying any 3rd-party services?"
first sorry if this question is duplicated with #70.
What i want to know is there is a way to support cdn natively in trojan programs without buying any 3rd-party services like cloudflare premium?I really want to protect the ip of my vps servers from being banned by the gfw(recently this situation often happens). If not, why?

[2019-06-04 17:22] emiyalee1005 opened #95 "[QUESTION] is trojan support tls 1.3 and encryted sni?"
is trojan support tls 1.3 and encryted sni?

[2019-06-04 17:22] KunagisaYuki commented on #94
@emiyalee1005 As trojan works on pure *bare* TLS traffic flow it is impossible to implement such type of CDN

[2019-06-04 17:24] KunagisaYuki commented on #95
@emiyalee1005 Trojan is not handling encryption process, it's OpenSSL doing so. currently we support TLS 1.3 as long as your OpenSSL supports it.

[2019-06-04 17:32] emiyalee1005 opened #96 "When use alpn:['h2'], chrome can't open the mask website of the server"
when i set alpn:['h2'] and then use chrome to open the mask website of the server, it show "this site can't be reached with ERR_SPDY_PROTOCOL_ERROR instead.."

[2019-06-04 17:36] emiyalee1005 commented on #95
I see, 3q @KunagisaYuki

[2019-06-04 17:36] #95 closed, assigned to nobody

[2019-06-04 17:40] emiyalee1005 commented on #94
3q @KunagisaYuki

[2019-06-04 17:40] #94 closed, assigned to nobody

[2019-06-04 20:33] Chigusa0w0 commented on #96
You shall configure the remote source to support _cleartext TCP_ HTTP/2. As, in most implementation, HTTP/2 _over TLS_ is expected, so pure H2 support may not be enabled by default.

[2019-06-05 03:51] geeyan opened #97 "trojan get stuck after too much connect"
#### Environment:
[code]

#### Phenomenon:
ps aux | grep trojan, state is SNl.
Generally it's state is RNl.

netstat -plunt
shows:

[code]

But at mean time curl https://xxx.com:443 response normally server 80 site content.

#### Some refers:
"LISTEN 状态: Recv-Q 表示的当前等待服务端调用 accept 完成三次握手的 listen backlog 数值，也就是说，当客户端通过 connect() 去连接正在 listen() 的服务端时，这些连接会一直处于这个 queue 里面直到被服务端 accept()；Send-Q 表示的则是最

[2019-06-05 04:00] GreaterFire commented on #97
@geeyan I don't know how this should happen. According to the code, all connections should be accepted immediately at the time they come. Maybe trojan is stuck in some other event handler. I'll look into that when I have time.

[2019-06-05 04:15] geeyan commented on #97
@GreaterFire Thanks for your reply. It occured again:

"socket overflow" and "socket droped" is growing.

[2019-06-05 04:18] GreaterFire commented on #97
Can you show me some log at the point?

[2019-06-05 04:27] geeyan commented on #97
System core config:

➜  trojan sysctl -a
[code]

[2019-06-05 04:41] geeyan commented on #97
More log: (this time I just run with command window, last time used  nohup &)

It occurred at the point `^C[2019-06-05 12:37:22]`

[code]

[2019-06-05 04:43] emiyalee1005 commented on #96
I use caddy and it enable http2 by default

[2019-06-05 08:03] yyuurrii34 opened #98 "Maybe it's the cert problem"
letsencrypt certs no longer work for trojan
[code]

can't get through any website except github.com

[2019-06-05 08:04] yyuurrii34 commented on #98
the connection has been terminated unexpectedly

[2019-06-05 18:38] asdfzxh8 opened #99 "installing on Ubuntu 18.04"
I used
sudo apt --fix-broken install python-pycurl python-apt
sudo add-apt-repository ppa:greaterfire/trojan
sudo apt update
sudo apt install trojan

or

sudo add-apt-repository ppa:greaterfire/trojan
sudo apt-get update
sudo apt-get install trojan

to try to install trojan on Ubuntu 18.04.

But in both cases IIRC the server showed something like 'unable to find trojan'.
On Ubuntu 18.10
sudo add-a

[2019-06-05 18:56] GreaterFire commented on #99
@asdfzxh8 Due to insufficient boost version, Trojan is no longer supported in Ubuntu 18.04. This change has been reflected on the wiki. Please use the provided pre-built binary.

[2019-06-06 00:41] skygate2012 commented on #91
You can run it in background with VBScript, I haven't found any workaround to hide it to tray though.
[code]

[2019-06-06 01:17] fredericky123 commented on #91
https://wangye.org/blog/archives/644/
this tool is easy to use.

[2019-06-06 04:13] asdfzxh8 commented on #99
Thanks very much. Just a quick question, could boost be manually updated to sufficient version in 18.04 to allow the use of Trojan? The VPS provider I am using does not give 18.10.

[2019-06-06 08:11] saintthor opened #100 "How to install on ubuntu 16.04?"
升级时提示：cmake 已经是最新版 (3.5.1-1ubuntu3)。

[2019-06-06 08:14] siaimes commented on #100
@saintthor Due to insufficient boost version, Trojan is no longer supported in Ubuntu 18.04. This change has been reflected on the wiki. The current minimum supported version is Ubuntu 18.10

[2019-06-06 16:29] GreaterFire commented on #99
Yes, you could.

[2019-06-06 17:45] #99 closed, assigned to nobody

[2019-06-07 07:04] iamid0 commented on #100
Does the binary app work?

[2019-06-07 09:51] saintthor commented on #100
where is the binary app?

[2019-06-07 14:35] iamid0 commented on #100
https://github.com/trojan-gfw/trojan/releases/latest

Maybe these pre-compiled binary file would work.

[2019-06-07 15:40] saintthor commented on #100
thanks. I should change the example.com in confilg.json to my own server to make it work, right? there is no available server?

[2019-06-08 14:51] brian-cheng opened #101 "What is forward exactly please?"
(1) What are the target_addr and target_port exactly, please? What are they designed for?

(2) I'd like to access the internet as a US IP, but the direct connection to the US is slower. So I'd like to speed up the connection by adding a **Japan server** between the client and the Trojan server.  It looks like this below.

**Trojan Client ==> Japan server ==> Trojan server**

Could you please give

[2019-06-08 14:53] GreaterFire commented on #101
`forward` mode is equivalent to `ss-tunnel` or `ssh -L`.

[2019-06-08 14:55] GreaterFire commented on #101
To achieve the scheme you described, you can just fire up a `socat` (tcp forward) on your Japan server (and point your DNS to the Japan server).

[2019-06-08 14:57] GreaterFire commented on #97
I can't really reproduce this. Can you try some newer operating systems and see if the problem persists?

[2019-06-08 15:34] brian-cheng commented on #101
Thanks for your swift reply! I do appreciate that!

I will set up `socat ` and keep the case updated.
Thanks again!

[2019-06-09 01:55] siaimes commented on #91
[CommandTrayHost](https://github.com/rexdf/CommandTrayHost/releases/latest)控制台托盘化工具！

[2019-06-09 11:21] brian-cheng commented on #101
Thanks! `socat `does works great! That is exactly what I was looking for!
Hope this case will be helpful to other users who want bridge for speed!

Thank administrator again!

[2019-06-09 17:48] #101 closed, assigned to nobody

[2019-06-10 09:40] briancblog opened #102 "ERROR on Fedora 30 client: unsupported command"
Server is working on Fedora 30, and client is working on Windows 7 SP1 as well.

But I got error messages on setting up client on local Fedora 30, which makes client on Fedora 30 not working. Here is the error message output on local Fedora 30. (Log level is 0.)

As you see, **the error message is unsupported command**

Thanks for this great project!

Please let me know if you need more detailed i

[2019-06-10 09:43] briancblog commented on #100
You have to set up your own server, and replace the example.com by your own domain in config.json file.

You'd better deploy a latest Ubuntu server.

[2019-06-10 09:52] saintthor commented on #100
thanks.

[2019-06-10 09:52] #100 closed, assigned to nobody

[2019-06-11 02:25] sidneynot opened #103 "请问mac客户端怎样配置"
主要是不知怎样找到 cert.pem文件并下载。

[2019-06-11 02:40] shirakun commented on #103
证书需要自己生成

[2019-06-11 05:11] sidneynot commented on #103
证书已经设置生成，但不知道怎样从服务器中找到并下载到mac电脑里？

[2019-06-11 10:09] ghostinbits commented on #103
In the case of locating certificates issued by Let's Encrypt, your certificates would usually have been placed in /etc/letsencrypt/live/[hostname]/. Certbot would inform you of the location upon completion, you might want to write it down next time.

[2019-06-11 13:35] wchen99998 opened #104 "Issue with the Authenticator.cpp"
I am learning c++ so I looked at your code as an example. Could you explain why you write the following code in such way?
Authenticator.cpp Line 101-103
[code]

So, it does not check the correctness of the password?

[2019-06-11 13:45] GreaterFire commented on #104
Please read the code carefully. This segment of code is only compiled when your system doesn't contain a MySQL library (`ENABLE_MYSQL` is not defied), in which case this object will [not be even constructed](https://github.com/trojan-gfw/trojan/blob/34df04bbef24592e0a535e9376b31f8df333fab9/src/service.cpp#L109). The real implementation is [here](https://github.com/trojan-gfw/trojan/blob/34df04bbef

[2019-06-11 13:47] GreaterFire commented on #102
I'm not sure. Are you using a correct SOCKS5 client implementation?

[2019-06-11 13:49] wchen99998 commented on #104
Thank you! Sorry for my misguided issue

[2019-06-11 13:49] #104 closed, assigned to nobody

[2019-06-12 06:54] #96 closed, assigned to nobody

[2019-06-13 13:28] sidneynot commented on #103
thanks.

[2019-06-13 15:20] #103 closed, assigned to nobody

[2019-06-14 01:48] wongsyrone commented on #97
Can't reproduce this as well, Recv-Q is always zero.

[2019-06-14 01:52] wongsyrone commented on #97
Please post the result of `./trojan -v`

[2019-06-14 02:04] GreaterFire commented on #97
@wongsyrone I think they just used my pre-built binary.

[2019-06-14 02:13] geeyan commented on #97
yep, pre-build binary

[2019-06-14 02:18] geeyan commented on #97
./trojan -v
[code]

[2019-06-15 05:13] briancblog commented on #102
Sorry for my late reply!

Yes, I think both the implementation and configuration are correct. On Ubuntu 19.04, it is simple to install the package through apt-get. The server edition works as it does, but the client does not work at all.

Could you please try Ubuntu as client on your end?

I appreciate your help!

[2019-06-15 08:58] siaimes commented on #102
I tested the client mode on ubuntu 19.04 but no problem occurred. I doubt if you are using a legitimate client configuration file as described  [here](https://trojan-gfw.github.io/trojan/config).

[2019-06-15 14:52] GreaterFire commented on #102
How did you use trojan? Is it a browser proxying through it?

[2019-06-15 14:53] GreaterFire commented on #98
It's not about the certificate. The TCP connection cannot be established. Check if you can still connect to your server.

[2019-06-15 14:55] GreaterFire commented on #93
Fixed in c766ed995cf832da821a49a6d7e5c448439f62cf.

[2019-06-15 14:55] #93 closed, assigned to nobody

[2019-06-15 14:55] GreaterFire commented on #97
Fixed in c766ed995cf832da821a49a6d7e5c448439f62cf.

[2019-06-15 14:55] #97 closed, assigned to nobody

[2019-06-15 14:56] #98 closed, assigned to nobody

[2019-06-15 14:56] #91 closed, assigned to nobody

[2019-06-15 14:58] GreaterFire commented on #50
Since QUIC hasn't prevailed, I'll close this dangling issue until the time comes.

[2019-06-15 14:58] #50 closed, assigned to GreaterFire

[2019-06-16 04:45] emiyalee1005 opened #105 "[Enhance|Feature] specify which public ip the server to use for outgoging traffic"
In my assumption, when we use vps to access those website behind the gfw intentionally or unintentionally. The wall may see a picture: a client send some outgoing connections to a outside server and then, almost in the same time, some incoming connection from that server to a website behind the wall. This may become an evidence that someone is using that server as a proxy and then the wall may ban

[2019-06-16 04:52] GreaterFire commented on #105
@emiyalee1005 Well then the solution will actually be to use gfwlist with some traffic splitter (like SwitchyOmega).

[2019-06-16 05:51] ghostinbits commented on #105
In the picture you described, why would anyone establish connections to a server which is behind the wall, from behind the wall? Typically, and as the project's name suggests, we ship Trojan horses through the wall, not to ship them back. Even if someone may use this technique to hide their identity when using services provided within the wall, it's not how traffic would be recognised by the wall.

[2019-06-16 06:26] emiyalee1005 commented on #105
@vexetron @GreaterFire
The reason for me to suggest this feature:
1."In the picture you described, why would anyone establish connections to a server which is behind the wall, from behind the wall?" - If i use trojan as vpn, some of the app on my phone/pc may connect to some china ip which a normal user would never know and also no one can guarantee it would never happen
2."Protocols designed with

[2019-06-16 06:53] emiyalee1005 commented on #105
@vexetron @GreaterFire
btw, to clarify, behind the wall means being in China and outside the wall means global world except China

[2019-06-16 12:46] ghostinbits commented on #105
While Trojan imitates HTTPS, which is different to the concepts of Project V and Shadowsocks, it would be a weird situation where a client would still send tons of connection requests should the server fail to respond.

[2019-06-16 14:47] briancblog commented on #102
I created the client configuration file by copying the client.json.example file.

If the client works on your ubuntu 19.04, the problem is probably on my end.

I will test it again and get back to you.

Thanks!

[2019-06-16 14:50] briancblog commented on #102
Yes, I think I am not wrong, as Trojan client on Windows works already with Trojan server on ubuntu 19.04. The only issue is Trojan client on ubuntu 19.04.

I will get back soon.

Thanks!

[2019-06-16 15:33] emiyalee1005 commented on #105
@vexetron You misunderstand what i means. The connection between client and server still be the same with a fixed ip, no matter request or response. This has nothing to do with ss/v2ray.

But the important is the server use a different ip to access the website which the client tell him to do.

Here is a example:
Client<<<ip:1.1.1.1>>>TrojanServer<<<ip:2:2:2:2>>>website(like baidu.com)

[2019-06-16 18:49] GreaterFire commented on #105
To achieve what you described, you can also set up [`ip rule`](http://man7.org/linux/man-pages/man8/ip-rule.8.html) on your trojan server, which can do exactly what you want, using the other address for your outgoing connections. It's not trojan's responsibility to manage this kind of stuff.

[2019-06-16 18:49] #105 closed, assigned to nobody

[2019-06-16 18:52] GreaterFire commented on #102
Since you didn't answer my question, I'll ask again. How did you use trojan's `SOCKS5` interface? Is it a browser that connects to it? Please post your browser configuration here.

[2019-06-17 01:21] briancblog commented on #102
Thanks for getting back!

a> Trojan client listens on socks5 port 127.0.0.1:1080.
b> Privoxy converts socks5 port 127.0.0.1:1080 to http on port 127.0.0.1:8118
c> Start Privoxy by bash command `systemctl start privoxy.service` and Trojan client by `trojan -c config.json` (bash's current directory is /etc/trojan already). Both Trojan and Privoxy are running. I can see the ports are on by bash comma

[2019-06-17 01:23] GreaterFire commented on #102
@briancblog try curl --socks5-hostname 127.1 cip.cc

[2019-06-17 01:58] briancblog commented on #102
Thanks for your swift reply! (and @siaimes )

Yes, the bash command `curl --socks5-hostname 127.0.0.1 cip.cc` works, and I can get IP correctly. Thanks!

**May I know the reason, please? Why Privoxy failed to convert Trojan's socks5 to http?**
I need http proxy sometimes. As you know, not all programs support socks5 proxy natively. For instance, I 'd like to share my Trojan with my cellphone over

[2019-06-17 02:12] GreaterFire commented on #102
@briancblog It's definitely Privoxy's problem. Did you use the newest version of Privoxy?

[2019-06-17 02:17] GreaterFire commented on #102
@briancblog Also, there are existing solutions to mobile device. Check wiki for more info.

[2019-06-17 02:34] briancblog commented on #102
@GreaterFire Yes, my Privoxy is the latest version 3.0.28 already. Could you please test Privoxy on your end? As I mentioned in the previous message, some program like Google Drive client on Windows does not support socks5 proxy. I ask because Privoxy had been working fine with shadowsocks for years. Everything was going well. It shouldn't be so hard.

It will be much more convenient if mobile can

[2019-06-17 02:35] GreaterFire commented on #102
@briancblog Can you show me your Privoxy configuration?

[2019-06-17 02:37] GreaterFire commented on #102
@briancblog I bet you had forward-socks5t. You should rather use forward-socks5.

[2019-06-17 02:48] briancblog commented on #102
@GreaterFire @siaimes

I am convinced of my wrong Privoxy configuration.

Provioxy'd default example looks like this below:
`#        forward-socks5t   /               127.0.0.1:1080 .`

I just un-commented it by removing the first symbol of number sign, and my wrong configuration looks like this below:
`        forward-socks5t   /               127.0.0.1:1080 .`

Thanks to @GreaterFire , **the co

[2019-06-17 02:48] #102 closed, assigned to nobody

[2019-06-17 14:39] GreaterFire commented on #97
@geeyan Please test.

[2019-06-17 14:40] GreaterFire commented on #93
@abelZhou123 @emiyalee1005 Please test.

[2019-06-17 17:05] geeyan commented on #97
Passed,  steady now. That's cool, thx!

[2019-06-20 14:25] k79e opened #106 "客户端cipher suit发送顺序和配置里面写的不一样啊"
这样装蒜是不是装的不太像 XD

测试用的ecc证书
![image](https://user-images.githubusercontent.com/6483602/59856715-0fc80180-93aa-11e9-9452-8f413d95c5ce.png)

客户端配置就是默认的

服务端hello返回的是这个
![image](https://user-images.githubusercontent.com/6483602/59856937-6d5c4e00-93aa-11e9-9b87-d4e5c188646d.png)

我认为这个顺序应该跟客户端发送的一样才更科学吧.

[2019-06-20 14:27] GreaterFire commented on #106
Please note that the first 3 ciphers are specific to `TLS v1.3`. The rest (`TLS v1.2` ciphers) follow your order.

[2019-06-20 14:28] k79e commented on #106
啊!!! 是这样啊!!! 别吓我 浏览器的都不是这样... 难不成他们都不走规范了!!!
不对 看错地方了... 我看看1.3的历史去

[2019-06-20 14:28] GreaterFire commented on #106
Also, if you have `prefer_server_cipher` turned on, server will reply its first choice, instead of client's. This is normal behavior of all HTTPS servers.

[2019-06-20 14:29] GreaterFire commented on #106
If you want to simulate your browser, you can always change this field.

[2019-06-20 14:36] k79e commented on #106
刚抓了下 浏览器那个是 128 256 然后是chacha的 (chrome的)
不知道规范有没有规定顺序.  不过目前这个顺序和浏览器不太一样啊.
FF或者其他的是chacha夹在中间的么? (我没装新版FF) 有人知道的过来说下.

[2019-06-20 14:38] GreaterFire commented on #106
I might add a field to control `TLS v1.3` cipher suites in the future, but not likely.

Also, It's not a big issue. Many browsers have different implementations of cipher list. This is not a problem specific to trojan. So I'll close the issue for now.

[2019-06-20 14:38] #106 closed, assigned to nobody

[2019-06-20 14:46] k79e commented on #106
对了 另外那个问题是 1.2的chacha 在客户端握手的时候没发送出去啊.
就那个1.3的chacha显示了. 1.2的没有. (默认配置有2个1.2的chacha)

[2019-06-20 14:52] GreaterFire commented on #106
@kxmp I see. I mistyped the cipher strings. Try to replace the current `CHACHA20` ciphers with `ECDHE-ECDSA-CHACHA20-POLY1305` and `ECDHE-RSA-CHACHA20-POLY1305`. It'll solve your problem.

[2019-06-20 15:01] GreaterFire commented on #106
Good catch! I've fixed it in the default config file.

[2019-06-20 15:05] k79e commented on #106
果然有效果了!! :D

[2019-06-21 07:59] briancblog opened #107 "Is URL visible or encrypted?"
When surfing the web through Trojan, will the URL in the browser address bar be visible or encrypted to ISP? Even accessing encrypted HTTPS pages?

Thank you!

[2019-06-21 13:24] GreaterFire commented on #107
@briancblog Invisible.

[2019-06-21 15:52] GreaterFire commented on #107
Please see the doc about the protocol for more details.

[2019-06-21 15:52] #107 closed, assigned to nobody

[2019-06-22 02:32] briancblog commented on #107
@GreaterFire  Thank you for your swift reply!

Another quick question here. I have a Japan server running socat as a bridge between the US trojan server and local trojan client. As you know, local connection to Japan is faster and this will speed up local client's connection.

To get multiple US IP addresses, the bridge Japan server is running multiple socat instances with different ports. The dep

[2019-06-22 03:44] briancblog opened #108 "How to deploy trojan on latest CentOS 7"
Hello,

As you know, many production servers are running CentOS due to its better stability.

Trojan requires CMake >= 3.7.2 and Boost >= 1.66.0, but CentOS 7 comes with CMake 2.8 and Boost 1.53.

a> **Is it possible for trojan to be compatible with CentOS 7 natively?**

**b>** I installed both CMake 3.14.5 and Boost 1.70.0 from source on CentOS 7. It took almost half an hour, a bit long time. But

[2019-06-22 09:37] briancblog commented on #108
[code]
I fixed the error by code above.
-------
After installed CMake 3.12.4 with Boost 1.68.0 in CentOS 7, there is another different error when building trojan. Please see log below.

[code]

[2019-06-22 10:12] #108 closed, assigned to nobody

[2019-06-22 11:07] ghostinbits commented on #108
@briancblog I see that it's been built successfully. You can proceed to make install without testing.

[2019-06-22 12:50] GreaterFire commented on #108
@briancblog The tests are integration tests. They don't have to succeed on your machine.

[2019-06-22 14:20] k79e commented on #106
这个最下面的SCSV结尾的那个 能不能关掉哇!!! 浏览器的都没这个.
希望未来加个开关 这样就太完美了!!!

[2019-06-22 14:26] GreaterFire commented on #106
@kxmp Sorry, we'are unable to turn that off.

[2019-06-22 15:19] k79e commented on #106
不对不对 TLS_FALLBACK_SCSV 是TLS_FALLBACK_SCSV  0x56 0x00 一字不差
tls_empty_renegotiation_info_scsv 是 0x00 0xff
两个的含义差远了.
https://tools.ietf.org/html/rfc5746
奇怪 难道记错了 两个都一样么!!!?

[2019-06-22 15:44] k79e commented on #106
我的天哪 你吓死我了
trojan握手里面好像没有renegotiation_info这个啊.
这个后面就是重协商的时候会存放验证信息.
规范上说如果是第一个握手 就直接放个空字节(后面需要验证的时候这地方就放xian相应数据)
我也不清楚如果没有这个是不是根本就无效啊! 没保护了!!!!
![image](https://user-images.githubusercontent.com/6483602/59965947-936b2500-9547-11e9-8b68-1e58bc2bb6b5.png)

[2019-06-22 16:24] k79e commented on #106
留个备忘
https://tools.ietf.org/html/rfc5746#section-3
https://tools.ietf.org/html/rfc7507

   Both the SSLv3 and TLS 1.0/TLS 1.1 specifications require
   implementations to ignore data following the ClientHello (i.e.,
   extensions) if they do not understand it.  However, some SSLv3 and
   TLS 1.0 implementations incorrectly fail the handshake in such a
   case.  This means that clients that **offer

[2019-06-23 04:38] k79e commented on #106
刚看了下tls1.3的. curl和这个一样 也是只有scsv 0x00ff (没有那个extension)
结果服务器也**没**给我返回重协商信息extension.
但是1.2的有. 不太清楚1.3是不是真不需要这个 或者根本不支持这东西...
有人来科普一下么!??

[2019-06-23 04:42] k79e commented on #80
Viewing 443(ssl port) from http is not allowed. It's sending plain text to ssl port so connection can't be established.

[2019-06-23 04:43] k79e commented on #95
目前规范加密sni反而更好污染. 而且那个加密跟没加密没什么区别

[2019-06-23 05:52] k79e commented on #80
You need to set plain_http_response to make it looks perfect.
Get the 400 bad from your web server yourself and make trojan use it when it encounted your situation.

Then your GET sent to tls port which is browser view server port should be look exactly same as webserver's error page.

[2019-06-23 06:06] k79e commented on #80
Hi developer!!! There is a big bug about plain_http_response!!!
It only sent raw packet but the packet's **Date in http header** should be changing every time a client view.
e.g

[code]
Notice the code above the html tag is the http header.
The http header contains the time info.
If we use this raw packet everytime. The time is never change!!! It's easy to find that it's a fake respond!!!!
Because

[2019-06-23 06:15] HarukaMa commented on #80
@kxmp Why assume HTTPS web servers should return such message when accessed HTTPS port with HTTP?

Just turn it off.

[2019-06-23 06:32] k79e commented on #80
@a-fruity-melon
No. It must enabled. Because **different web server act differently**.
You use trojan means you pretend as a web server.
Your nginx must not look like apache. And your nginx must not look like github's webserver.
Cloudflare is based on nginx and it must not look like apache or other webserver.

e.g You pretend to nginx but your respond is not look like nginx. It's surely something

[2019-06-23 06:34] HarukaMa commented on #80
@kxmp Close connection on error 497

[2019-06-23 06:39] k79e commented on #80
@HarukaMa  I think what you say is like cipher suit scsv.
Why all web browser remove scsv at the end??
It's not necessary but it's a **behavior**.
If your behavior is not same as what you want to pretented. It's a evidence that you are exposed.
Others can's sure it's a proxy server but can sure know this server behavior is different from all webserver.
Even it's a same server.
I think it's not a p

[2019-06-23 08:39] briancblog opened #109 "LinuxSmokeTest FAILED"
When build trojan on CentOS 7 with CMake v3.12.4 and Boost v1.68.0. The `ctest` command pops up following errors. But the command `make install` is successful.

What does this error message mean, please? Can I just igore this error?

[code]

Thank you!

[2019-06-23 13:52] GreaterFire commented on #109
#108

[2019-06-23 13:52] #109 closed, assigned to nobody

[2019-06-23 14:42] asdfzxh8 opened #110 "android version?"
Android apk igniter could run and connect on my cellphone, but it usually crashes within seconds of use ('sorry, igniter has stopped working'). Is there a minimum version of Android required? as the Android I use is pretty old 5.1.1. Thanks.

[2019-06-24 07:01] ProfessorX commented on #110
那么什么时候才会出安卓版本呢。

[2019-06-24 07:07] briancblog commented on #108
Thanks for the confirming!
In the past 24 hours, everything has been working fine without a problem.

Hope this will be helpful to other users.

[2019-06-25 00:59] ProfessorX opened #111 "这个啥时候有debian 源和包？"
如题。

懒人，不想make build install.

[2019-06-25 01:00] GreaterFire commented on #111
Read wiki.

[2019-06-25 01:00] #111 closed, assigned to nobody

[2019-06-25 01:01] ProfessorX commented on #111
囧，昨天看到有源的。

Am so sorry~

[2019-06-25 01:52] ProfessorX opened #112 "请问下自己有域名的用子域名该如何配置？"
如题。

子域名操作好像有点不一样？

阿里嘎多。

这个Wiki里面真没有。

[2019-06-25 02:05] briancblog opened #113 "Quite Slow on "Performing a TLS handshake with google.com""
Sometimes it is **QUITE TOO** slow to access google.com directly. It got stuck at "Performing a TLS handshake with google.com" for **5-15 seconds**. And it is slow to click on one link in google's search results page. But the Previous and Next Page link is loading faster. It happens although not always.

After one site is fully loaded, it will be super fast to this site's other internal link. This

[2019-06-25 02:06] briancblog commented on #112
正常操作就可以了。不明白你问的是什么意思？

[2019-06-25 02:19] mritd commented on #112
refs https://github.com/ryanhanwu/How-To-Ask-Questions-The-Smart-Way/blob/master/README-zh_CN.md

[2019-06-25 03:00] ProfessorX commented on #112
1. 我自己有一个.org域名
2. 想用子域名做映射。
3. 配置好了证书。域名挂在Cloudflare.
4. 照网上一个教程弄弄好了连接对应域名连不上。

[2019-06-25 03:01] ProfessorX commented on #112
@mritd 别ref了。互联网老狗都快奔三了。

[2019-06-25 03:15] briancblog commented on #112
证书需要用子域名的，除非你是  wildcard
域名 DNS 设置好了，正常这样就可以了。
你再细细排查一下？

要不就再换个域名，再换个 VPS，重新再试试？

[2019-06-25 04:08] mritd commented on #112
你可以先用 curl 测试一下 Cloudflare 地址的 TLS 证书是否正常，如果正常再测试 trojan，并提供 trojan 相关日志

[2019-06-25 04:46] ProfessorX commented on #112
OK

我觉得再这么被你们玩下去GFW要用白名单模式了。

[2019-06-25 04:46] #112 closed, assigned to nobody

[2019-06-25 04:48] Chigusa0w0 commented on #112
@ProfessorX No, that's literally impossible to happen.

[2019-06-25 04:50] GreaterFire commented on #112
@ProfessorX Please stop being sarcastic.

[2019-06-25 05:15] #110 closed, assigned to nobody

[2019-06-25 05:17] GreaterFire commented on #113
This is not trojan's issue. Trojan, when tested locally, doesn't have apparent overhead or bottleneck. Please change a server and test.

[2019-06-25 05:17] #113 closed, assigned to nobody

[2019-06-25 05:19] GreaterFire commented on #113
Also, please stop posting this kind of usage related problems. This is GitHub Issues, not customer support.

[2019-06-25 13:03] k79e commented on #97
Hi. I see send-q in ss -ntlp is 128. IDK why it's so small.
(But send-q in netstat is all 0. Maybe netstat is showing current queue but not max queue.)
Other software usually **same as nofile**.
I'm not very sure is it a problem or not.

[2019-07-04 05:53] yeezylife opened #116 "1"

[2019-07-04 05:54] GreaterFire commented on #116
@yeezylife Please respect the issue template.

[2019-07-04 05:58] #116 closed, assigned to GreaterFire

[2019-07-10 04:35] Deutsch4534 opened #117 "how to deploy trojan to heroku app.com?"
I wanna deploy trojan to heroku , do you have any tutorials?

[2019-07-10 04:35] #117 closed, assigned to GreaterFire

[2019-07-10 18:19] chaos-sudo opened #118 "[BUG] Connection refused when I set "local_addr": "0.0.0.0" in server side."
- [x] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.12.3

**Describe the bug**
I tested it by using this command `curl -x socks5h://127.0.0.1:1080 h

[2019-07-10 18:23] chaos-sudo opened #119 "[BUG] Test how to check the BOX"
- [*] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.

**Describe the bug**
A clear and concise description of what

[2019-07-10 18:23] #119 closed, assigned to GreaterFire

[2019-07-10 18:25] GreaterFire commented on #119
please type "x" in the box.

[2019-07-10 18:28] chaos-sudo commented on #119
I think it should give some hint to me. I failed to check the box twice :(

[2019-07-10 18:55] chaos-sudo commented on #118
@GreaterFire Could you please open this issue?

[2019-07-10 19:04] GreaterFire commented on #118
@chaos-sudo yes. just a sec please

[2019-07-11 02:48] chaos-sudo commented on #118
Do I really need to check the BOX in 'x' way? So that you may open my issue.

[2019-07-11 13:53] GreaterFire commented on #117
We don't provide any tutorials for specific cloud providers.

[2019-07-11 13:55] GreaterFire commented on #118
I helped you check the box.

[2019-07-11 13:59] GreaterFire commented on #118
To answer your original question, does your server have an IPv6 address? That would be why you are experiencing this issue.

[2019-07-11 15:52] chaos-sudo commented on #118
I did have the IPv6 address. Actually, it can work like a charm when the "local_addr" is "::", which means the whole connection is exactly on IPv6 mode.

I have been getting the same result by testing in several servers from different vendors, such as Vultr, DigitalOcean, etc., so I can rule out the possibility of causing this problem due to VPS's environment.

Here are my steps to reproduce this

[2019-07-11 15:54] HarukaMa commented on #118
@chaos-sudo When you use :: the default behavior is to listen both on IPv4 and IPv6, but 0.0.0.0 will only listen on IPv4, so IPv6 would give you "refused" error.

[2019-07-11 15:55] GreaterFire commented on #118
@chaos-sudo Maybe your operating system uses IPv6 by default. In that case, trojan will only try to connect to your IPv6 address. As @HarukaMa says, if you only listen on IPv4, your server will reject any IPv6 connections.

[2019-07-11 15:55] chaos-sudo commented on #118
So how can I use IPv4?

[2019-07-11 15:57] GreaterFire commented on #118
You can type your IPv4 address in `remote_addr` and your domain name in `sni` in client configuration.

[2019-07-11 16:05] chaos-sudo commented on #118
It works! Thank you guys! @GreaterFire @HarukaMa

[2019-07-11 16:05] #118 closed, assigned to GreaterFire

[2019-07-11 16:07] GreaterFire commented on #118
@chaos-sudo You are very welcome.

[2019-07-26 10:42] ghost opened #120 "Limiting Server Network Access problem."
https://github.com/trojan-gfw/trojan/wiki/Limiting-Server-Network-Access

For convenience, I used acme.sh to generate a certificate because it can automatically update my certificate. However, when I configured trojan's limiting server network access according to this page, I encountered a permission denied problem. Now suppose my certificate file is also placed in the /etc/trojan directory. If I

[2019-07-26 10:42] #120 closed, assigned to nobody

[2019-07-26 14:13] GreaterFire commented on #120
You can add the user `trojan` to whatever group that has the permission to read the certificate.

[2019-07-27 09:32] ghost commented on #120
thanks

[2019-08-03 16:01] cattyhouse commented on #67
@LimiQS

This is very interesting, if Trojan is to listen on 443, then i'm unable to run HTTPS websites on my server, it that true?

[2019-08-03 16:05] cattyhouse opened #121 "Add TPROXY support?"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

It would be nice to have tproxy support to accept traffic from iptables.

reference:
https://www.kernel.org/doc/Documentation/networking/tproxy.txt

[2019-08-03 16:05] #121 closed, assigned to GreaterFire

[2019-08-03 16:14] cattyhouse commented on #121
Sorry, i forgot to check the BOX, would you help to reopen this issue?

[2019-08-03 16:17] GreaterFire commented on #121
You can fix the format and reopen it yourself.

[2019-08-03 16:25] cattyhouse opened #122 "[Feature Request] Add TPROXY support"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

It would be nice to have tproxy support to accept traffic from iptables, in this case it could act as a transparent proxy for LAN network.

reference:
https://www.kernel.org/doc/Documentation/networking/tproxy.txt

[2019-08-03 16:29] GreaterFire commented on #122
I might write a separated tool for that if this demand is high.

[2019-08-03 16:37] cattyhouse commented on #122
TPROXY is really convenient for home and maybe office considering everyone’s got more than one device, plus some devices like TV boxes are not easy to do proxy configuration.

By the way http listen is also good for programs which does not support socks5. I know polipo could transfer socks to http but that’s not as good as integrating all 3 protocols ( socks, http, tproxy) into Trojan.

[2019-08-03 16:45] GreaterFire commented on #122
@cattyhouse HTTP proxy server is non-trivial to implement, it's close to implementing a full HTTP server.

[2019-08-03 23:51] Chigusa0w0 commented on #67
@cattyhouse Yes, you can. While Trojan will handle TLS layer, you can still handle HTTP/HTTPS content in it with some web server. It's just looks like a simple reverse proxy which will add TLS support to your web service.

[2019-08-04 04:56] cattyhouse commented on #67
@LimiQS

If so, a simple lightttpd/darkhttp or any other light weight web server program running and listening on 80 is good enough for trojan to work?

[2019-08-04 04:58] Chigusa0w0 commented on #67
@cattyhouse Sure

[2019-08-04 05:00] GreaterFire commented on #67
@cattyhouse You can just set the server's remote_* to your (plain HTTP) web server and everything will work.

[2019-08-04 05:01] cattyhouse commented on #67
Thanks. But how can i run vmess + ws + tls at the same time, you know, as a backup.

[2019-08-04 05:02] GreaterFire commented on #67
@cattyhouse Trojan (for TLS termination) - NGINX WS - Vmess

[2019-08-04 05:07] cattyhouse commented on #67
@GreatFire

So i add a location  like this?

Server {

listen 80
.....
location /v2ray {

...

}

}

[2019-08-04 05:09] GreaterFire commented on #67
@cattyhouse I'm @GreaterFire. Also, we Trojan-GFW don't provide generic tech support. Sorry and thank you for your understanding.

[2019-08-04 05:11] GreaterFire commented on #67
@cattyhouse but you are mostly right.

[2019-08-04 05:12] cattyhouse commented on #67
Thank you very much. Sorry for the typo

[2019-08-18 15:58] GreaterFire opened #123 "[Feature Request] Use Azure Pipelines to handle Continuous Integration"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

TODO:
- [x] Replace the current `CircleCI` and `AppVeyor` infrastructure with `Azure Pipelines`, which supports Linux, macOS, and Windows.
- [x] Add a pipeline for release so binaries are compiled automatically.

[2019-08-19 17:15] #123 closed, assigned to GreaterFire

[2019-08-22 03:31] ccaapton opened #125 "[Feature Request] KTLS and KCM support on modern linux kernels"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
Not related to a problem or bug.
There are two awesome features in recent linux kernels, KTLS and KCM. Benchmarks show that KTLS has 7% better throughput than userspace tls. If KT

[2019-08-22 23:29] GreaterFire commented on #125
I would only try to implement any other transports if it's supported by Boost::Asio to avoid restructuring the whole project. Also 7% of improvements is not meaningful since trojan can do approximately 100 Gbps right now.

[2019-08-27 12:27] #125 closed, assigned to GreaterFire

[2019-09-06 19:16] LexterS999 opened #126 "dns-over-tls"
Dns-over-tls native support requires. So it must be installed within trojan-gfw and configured inside server/client config too. Cause nowadays DPI can check traffic by dns too. And dns leak can ruin all benefits.

[2019-09-06 19:16] #126 closed, assigned to GreaterFire

[2019-09-10 06:08] cattyhouse commented on #122
Hi, have you been working on this, so my propose was like this:

"run_type": "client",
    "local_addr": "127.0.0.1",
    "local_socks5_port": 1080, // currently featured already
    "local_http_port": 8123, // new http port to replace e.g. polipo
    "local_tproxy_port": 1999, // pure tproxy ports, listen on both **TCP and UDP**, like v2ray does.
....

if port is empty, it should not listen on th

[2019-09-14 20:05] malikshi opened #127 "[Feature Request] add support to openwrt"

[2019-09-14 20:06] GreaterFire commented on #127
See https://github.com/trojan-gfw/trojan-openwrt

[2019-09-14 20:09] GreaterFire commented on #127
Sorry, it's a typo. https://github.com/trojan-gfw/openwrt-trojan

[2019-09-14 20:10] GreaterFire commented on #122
I am very busy these days and haven't had a chance to look at this.

[2019-09-14 20:17] malikshi commented on #127
okay self build ?

[2019-09-15 00:30] malikshi commented on #127
@GreaterFire
[code]
error like that

[2019-09-15 01:32] GreaterFire commented on #127
@malikshi @wongsyrone

[2019-09-15 02:45] wongsyrone commented on #127
Please try the latest version like 18.06.4.

https://downloads.openwrt.org/releases/

[2019-09-15 02:58] malikshi commented on #127
Okay, I will try it

[2019-09-15 12:32] malikshi commented on #127
still failed like that. can you help me to build for sunxi aarch64  cortexa53

[2019-09-15 12:50] malikshi commented on #127
make[2]: Entering directory '/root/openwrt-18.06.4/feeds/packages/libs/boost'
Selected Boost API sysv for architecture x86_64 and cpu " "
make[2]: Leaving directory '/root/openwrt-18.06.4/feeds/packages/libs/boost'
time: package/feeds/packages/boost/host-compile#0.49#0.82#1.35
make[2]: Entering directory '/root/openwrt-18.06.4/package/libs/ncurses'
make[2]: Leaving directory '/root/openwrt-18.06.4

[2019-09-15 13:59] wongsyrone commented on #127
It looks the SDK is broken.

[2019-09-15 14:03] malikshi commented on #127
i am tried 3 type, from sdk and git clone openwrt also from release in github openwrt
all same result error like that

[2019-09-20 14:58] edwardzjl opened #128 "[Feature Request] 是否可以考虑将文档搬一份到wall内"
当前的文档是在wall外的，意思我要看文档必须先fq，这就造成了一个尴尬的局面。

[2019-09-20 14:58] #128 closed, assigned to GreaterFire

[2019-09-20 15:00] GreaterFire commented on #128
Please do it if you want to. I can't take the risk.

[2019-09-20 17:19] xixiri commented on #67
能贴一下你的配置吗，我也遇到这个问题了

[2019-09-20 20:09] cattyhouse commented on #103
curl -v https://www.baidu.com  2>&1 | grep CAfile  | cut -d ":" -f2 | xargs

[2019-09-25 15:04] XieJiSS opened #130 "[BUG] OpenSSL internal error: refcount error"
- [x] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version** 1.12.3
The version of trojan you are using.
1.12.3

**Describe the bug**
A clear and concise descr

[2019-09-25 15:29] GreaterFire commented on #130
It's a rather rare and strange error. Will look into this. Might be an upstream bug.

[2019-09-25 16:55] zhangsan946 opened #131 "setup trogan-gfw behind nginx"
Dear @GreaterFire,

Thanks for this great project. I have gone though the following link and successfully tested setup trojan before nginx.
https://github.com/trojan-gfw/trojan/issues/67

But as trojan doesn't support bind multiple certificates, and I have the request of hosting different websites(https) for different domains on the same server hosting trojan.  So I hope to setup trojan behind ngi

[2019-09-25 17:04] GreaterFire commented on #126
DNS is delegated to the server, so the issue you described doesn't exist.

[2019-09-25 17:17] GreaterFire commented on #131
There are now 2 ways to serve different certificates based on `sni` with trojan. You can either [use `haproxy` to load balance based on `sni`](https://www.haproxy.com/blog/enhanced-ssl-load-balancing-with-server-name-indication-sni-tls-extension/) or [use the `ngx_stream_ssl_preread_module` module of new versions of nginx](https://nginx.org/en/docs/stream/ngx_stream_ssl_preread_module.html) to put

[2019-09-25 18:00] GreaterFire commented on #130
Seems that the reference count of an SSL session is decremented to a negative number.
https://github.com/openssl/openssl/blob/OpenSSL_1_1_1c/ssl/ssl_sess.c#L785

[2019-09-25 19:30] malikshi commented on #127
Thank you for opening this issue. I hope you guys fix it

[2019-09-25 22:28] wongsyrone commented on #130
What's the source of your trojan binary? Compiled by yourself or fetched directly from GitHub release page.

[2019-09-25 22:30] wongsyrone commented on #130
BTW, please post the output of `ldd <path-to-your-trojan-binary>`

[2019-09-25 22:33] GreaterFire commented on #130
Given the version output I think there is a high chance that the binary is my pre-built static binary.

[2019-09-25 23:59] GreaterFire commented on #130
@JieJiSS Can you please provide the coredump (by coredumpctl if you use systemd) of that run if possible (because the error causes a SIGABRT and produce a coredump). Also, please provide the ldd result as stated by @WongSyrone above.

[2019-09-26 05:21] zhangsan946 commented on #131
@GreaterFire thanks for your very quick feedback. i will have a test.

[2019-09-26 05:25] GreaterFire commented on #131
@zhangsan946 Also, it's spelled trojan, not trogan...

[2019-09-28 14:03] klzgrad commented on #122
It's much simpler to implement the equivalent REDIRECT support, which is stated to be technically inferior to TPROXY but much simpler to implement and set up.

Take a look at https://github.com/shadowsocks/shadowsocks-libev/blob/64b97cd9a31af5d929d4f9b22d57a052025ccf95/src/redir.c#L101-L114. This is all you need on top of existing connection forwarding infrastructure.

Let the user set up `iptable

[2019-09-28 14:24] klzgrad commented on #106
I'd like to interject for a moment,

If you want exactly the same behavior as the Browser, you can try https://github.com/klzgrad/naiveproxy, which offers exactly the same behavior as Chrome, because it runs exactly the same code as Chrome. I am the author of naiveproxy, and this is an advertisement.

[2019-09-28 14:35] klzgrad commented on #131
In theory probe resistance should happen at the same place with the network stack of the frontend. This means if you use SNI to load balance (between your blog and Trojan) and then use Trojan password to load balance again (between authenticated proxy and fake backend), it leaks some info because SNI is clear text and any probe can observe protocol differences between the SNI you use for regular w

[2019-09-28 14:52] KunagisaYuki commented on #131
@klzgrad Well as one of the contributor, I don't support the SNI feature, however this will be useful for some of our users. Is it a good idea that we put an alert for this feature in document

[2019-09-28 14:58] klzgrad commented on #131
I don't think it matters at this stage. Just be aware, but no rush to be more paranoid than necessary, and upgrade only until this becomes a real issue.

[2019-09-28 15:07] GreaterFire commented on #122
@klzgrad Thanks for your suggestion! It makes this feature really easy to implement!

[2019-09-28 17:12] k79e commented on #106
WOW!!!

[2019-09-28 20:52] cattyhouse commented on #122
@klzgrad what about udp traffic, and the traffic from LAN to ! LOCAL

[2019-09-28 22:37] GreaterFire commented on #122
@cattyhouse It's all possible with iptables.

[2019-09-29 03:54] GreaterFire commented on #122
I think I will implement NAT support.

[2019-09-29 07:07] wongsyrone commented on #122
Both `IP6T_SO_ORIGINAL_DST` and `SO_ORIGINAL_DST` are Linux specific, thus we have to make it conditional.

[code]

[2019-09-29 07:18] GreaterFire commented on #122
I'll just duplicate `forwardsession.{h,cpp}` and do some slight modification. Should be fast.

[2019-09-29 11:02] cattyhouse commented on #122
As far as I know:
1. there is no problem using REDIRECT target to deal with **tcp** traffic in OUTPUT and PREROUTING chain, as the **dst address** can be tracked and traced.
2. For **udp** traffic, TPROXY target has to be involved to track and trace **dst address**, REDIRECT can't do that for udp, check the [notes](https://www.kernel.org/doc/Documentation/networking/tproxy.txt) here (_`Think of pr

[2019-09-29 17:35] GreaterFire commented on #122
@cattyhouse Why do you care so much about udp traffic? If it's for DNS, I would just setup a DOH client.

[2019-09-29 19:05] zhangsan946 commented on #131
@GreaterFire sorry for the typo.
@klzgrad thanks for your info. I am aware of what SNI is, but have no ideas how probe resistance works. will it bring some additial characteristic that GFW can detect if i put trojan behind nginx?

[2019-09-29 19:14] KunagisaYuki commented on #131
@zhangsan946 In the shortest word, yes.But actually I don't think these GFW makers will take use of this.

[2019-09-30 06:54] cattyhouse commented on #131
if Trojan runs as a backend behind Nginx, is it still necessary to define `"ssl":{}` in Trojan server config? because that is already defined in Nginx config. Can you also document this method? I have v2ray and another private protocol running as reserve proxy already, it would be nice to add Trojan without effecting them.

[2019-09-30 07:01] cattyhouse commented on #122
@GreaterFire for gaming console in most of the time.

[2019-09-30 15:38] GreaterFire commented on #131
@cattyhouse Nginx will not terminate SSL if you use [`ngx_stream_ssl_preread_module`](https://nginx.org/en/docs/stream/ngx_stream_ssl_preread_module.html).

[2019-09-30 15:45] cattyhouse commented on #131
@GreaterFire yes, i read about that already, what does "Nginx will not terminate SSL" mean. Do i set ssl certs and keys in both nginx confg and trojan config when using this module?

[2019-09-30 15:50] GreaterFire commented on #122
In that case I really suggest you use a third party software ([~v2ray~](https://github.com/v2ray/v2ray-core)[v2fly](https://github.com/v2fly/v2ray-core) or [redsocks](https://github.com/darkk/redsocks)) to do `TPROXY`. There has been a lot of wheels out there and I don't want to invent a new one.

[2019-09-30 15:52] GreaterFire commented on #122
But I'll still keep the NAT REDIRECT implementation because it's relatively easy to implement and not that invasive (on the other hand, TPROXY UDP implementation requires another UDP session timer which I don't want to code yet again).

[2019-09-30 15:52] cattyhouse commented on #122
well v2fly is not able to do NAT Full Cone, thought it supports udp, but it is Symmetric NAT (Dynamic NAT)

[2019-09-30 16:21] GreaterFire commented on #131
How this works is:
1. Nginx receives a TCP connection and gets the TLS Client Hello.
2. Nginx reads the SNI field in the Client Hello.
3. Without doing anything else, Nginx redirects the whole TLS flow to trojan.

[2019-09-30 16:37] GreaterFire commented on #122
@klzgrad @cattyhouse Is the only thing to implement `TPROXY` to set socket option `IP_TRANSPARENT`? The target endpoint can be retrieved by local peer? If so it's not more complicated than the NAT REDIRECT.

[2019-09-30 16:49] cattyhouse commented on #122
It is actually not that hard.

# tproxy tcp

getsockname(sockfd, (void *)&destaddr, &(socklen_t){sizeof(destaddr)});

# redirect tcp

getsockopt(sockfd, SOL_IP, SO_ORIGINAL_DST, dstaddr, &addrlen)

[2019-10-01 01:50] klzgrad commented on #122
With the amount of kernel setup required for tproxy I can create a full fledged packet forwarding VPN already. See https://gist.github.com/klzgrad/5661b64596d003f61980 I just don't see the point of using tproxy for udp.

[2019-10-01 01:53] wongsyrone commented on #122
Any PR is appreciated.

[2019-10-01 02:17] GreaterFire commented on #122
+1

[2019-10-01 07:55] zhangsan946 commented on #131
@GreaterFire Many thanks for your help. I manage to do it by the following config and would like to share. Hope it's gonna help.

1. nginx
stream {
        map $ssl_preread_server_name $name {
                xxx.mydomain.com       trojan;
                default                  nginx;
        }
        upstream trojan {
                server 127.0.0.1:4433;
        }
        upstream nginx {

[2019-10-01 08:22] GreaterFire commented on #131
@zhangsan946 You are very welcome. Glad I can help.

[2019-10-01 12:03] VashonHu opened #134 "[BUG] 同一对trojan服务端和客户端， 对于同一个网址， 我用 python 的 requests包发出的请求超时，而用 chrome 中SwitchyOmega 就能正常访问"
- [x] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
1.12.3

**Describe the bug**
在同一请求的情况下，
我用 python 中的 requests

[2019-10-01 12:41] VashonHu commented on #134
使用Privoxy 将 socks5转换为 http 代理后问题解决

[2019-10-01 12:41] #134 closed, assigned to GreaterFire

[2019-10-01 14:38] GreaterFire commented on #134
The root problem is that the python requester performed DNS locally but the DNS entry is polluted.

[2019-10-01 20:06] GreaterFire commented on #122
The final decision has been made by the dev team that `v1.13.0` will only include the NAT REDIRECT mode. If you are not satisfied with this result, you can make your own fork of trojan and make it work for yourself.

[2019-10-01 20:06] #122 closed, assigned to GreaterFire

[2019-10-01 21:40] #131 closed, assigned to GreaterFire

[2019-10-02 08:57] hachikujimayoi298 opened #135 "transparent proxy iptables setup"
I have setup the trojan on `client` mode, and it works like a wonder, but then I changed the mode to `nat` and setup the iptables with following rules:
[code]
and executed ```sudo ./install_iptables proxy 1080```, and I also modified the systemd config file to run trojan with user `proxy`. And it doesn't seem to be working.
The log shows something like this:
[code]
and the browser prints a secure

[2019-10-02 10:22] ghost commented on #135
看日志像是运行在client模式的呀

[2019-10-02 10:30] hachikujimayoi298 commented on #135
@ffftwo 我确定/etc/trojan/config.json runtype 是nat啊，也reload-daemon 跟restart 过了

[2019-10-02 10:32] hachikujimayoi298 commented on #135
不过的确用switchyomega连上1080端口还能用

[2019-10-02 10:41] cattyhouse commented on #135
用switchy连REDIRECT类型的端口还能用说明它不是REDIRECT类型。

还有iptables 为什么要match owner？

[2019-10-02 10:43] hachikujimayoi298 commented on #135
Here is the full log, and it started in client mode (erroneously) indeed
[code]

[2019-10-02 10:45] hachikujimayoi298 commented on #135
@cattyhouse 我用另一个用户proxy来运行trojan以及一些其他的代理程序. 让proxy发出的流量直连，代理其他的流浪

[2019-10-02 10:50] ghost commented on #135
你的systemd启动文件有问题吧,根本就没有被重启过,所以还是原来的配置,你把trojan进程杀掉,直接运行 trojan -c /etc/trojan/config.json

[2019-10-02 11:00] hachikujimayoi298 commented on #135
[code]
还是client.
 这是我的systemd:
[code]

[2019-10-02 11:01] ghost commented on #135
哈哈,你的版本...我最开始就想到,只是觉得可能性很低...
要用1.13的

[2019-10-02 11:08] hachikujimayoi298 commented on #135
但是1.13是十几个小时之前才release的呀~~~ 好吧...

[2019-10-02 11:38] cattyhouse commented on #135
那么问题来了，一个不支持nat的版本，填了nat，trojan不会提示出错吗？应该有个检测机制呀，比如填了不对的type，拒绝运行并提示用户。

[2019-10-02 12:23] hachikujimayoi298 commented on #135
而且那个自动安装script上面也还没有更新版本。谁去搞个pull request把版本号改一下。

[2019-10-02 12:29] hachikujimayoi298 commented on #135
我把我的配置帖下来以供分享
先造一个用户
[code]
然后配置下面的文件
[code]
这之后还需要解决DNS污染。或者在VPS里搞个CoreDNS，或者直接用114.114.114.114

[2019-10-02 12:47] hachikujimayoi298 commented on #135
话说能不能把dns转发给trojan?

[2019-10-02 13:17] hachikujimayoi298 commented on #135
@a-fruity-melon 是直接把udp流量也转发到端口吗？

[2019-10-02 14:43] GreaterFire commented on #135
The `nat` mode is added in `1.13.0` but you are using `1.12.3`.

[2019-10-02 14:48] hachikujimayoi298 commented on #135
@GreaterFire Yeah, I thought it is in 1.12.3 since it was not documented in the wiki.
-------- Original Message --------
On Oct 2, 2019, 22:43, GreaterFire wrote:

[2019-10-02 14:55] GreaterFire commented on #135
That's why I *mandate* that every issue has to include your trojan version. Please use the issue template and do so next time. Thanks.

[2019-10-02 15:27] GreaterFire commented on #135
Is your problem resolved?

[2019-10-02 15:30] hachikujimayoi298 commented on #135
Does trojan also handle udp in nat mode?

-------- Original Message --------
On Oct 2, 2019, 23:28, GreaterFire wrote:

[2019-10-02 15:31] GreaterFire commented on #135
No, it doesn't. Only TCP connections will be redirected.

[2019-10-02 15:33] hachikujimayoi298 commented on #135
I see. Thank you for the help.

[2019-10-02 15:33] #135 closed, assigned to nobody

[2019-10-03 14:24] callengre opened #137 "build failed on Android 9 termux 0.75 (arm)"
$ apt install wget git clang cmake openssl
$ wget https://mirrors.ustc.edu.cn/termux/dists/stable/main/binary-aarch64/boost_1.70.0-5_aarch64.deb
$ wget https://mirrors.ustc.edu.cn/termux/dists/stable/main/binary-aarch64/boost-dev_1.70.0-4_aarch64.deb
$ chmod 777 boost_1.70.0-5_aarch64.deb
$ chmod 777 boost-dev_1.70.0-4_aarch64.deb
$ dpkg -i ./boost_1.70.0-5_aarch64.deb
(Reading database ... 27095

[2019-10-03 23:17] GreaterFire commented on #130
@JieJiSS Is it possible for you to follow up on this issue?

[2019-10-03 23:18] GreaterFire commented on #137
Hold tight. I'm gonna rewrite the compilation script.

[2019-10-04 00:20] XieJiSS commented on #130
@wongsyrone

[code]

[2019-10-04 00:27] callengre commented on #137
This is See build report log, if you want to known more detail , download below CMakeOutput.log .
https://github.com/trojan-gfw/trojan/files/3686559/CMakeOutput.log
// Think you so much, more error,  cause build envir not normal .

[2019-10-04 01:30] XieJiSS commented on #130
I'm sorry, but after some careful investigation, I realized that the coredump of this crash wasn't saved on my disk because I neither enabled the Ubuntu system's `Apport` nor started `trojan` via `systemctl`.

I've migrated to `systemctl` now, and if the same crash occurred again, I'll report to you asap.

Since I cannot provide any further information, I think we can close this issue for now.

Ap

[2019-10-04 01:32] GreaterFire commented on #130
@wongsyrone It seems strange because my statically linked pre-built binary strips any debug asserts.

[2019-10-04 01:33] GreaterFire commented on #130
@JieJiSS Thanks for your report! If you encounter this problem again, please re-open this issue.

[2019-10-04 01:33] #130 closed, assigned to GreaterFire

[2019-10-04 13:16] callengre opened #138 "Mysql authentication failed, how to make it work properly [BUG]"
**reference **
https://github.com/trojan-gfw/trojan-panel/wiki/Installation-on-Ubuntu-18.04-LTS
https://trojan-tutor.github.io/2019/06/08/p43.html
https://trojan-gfw.github.io/trojan/authenticator

**Trojan Version**
server: trojan 1.10.0
server: debian 10
client: MacOS 10.14.3
client: trojan 1.13.0

**Describe the bug**
mysql database login ok !
trojan-pannel works ok , Change password, normal，Mo

[2019-10-04 13:21] qiuzi opened #139 "[BUG]ipv6网络下udp转发故障"
双栈网络环境里
`::ffff:192.168.1.149:55887 requested UDP associate to 0.0.0.0:0, open UDP socket ::ffff:192.168.1.1:54069 for relay
 [INFO] ::ffff:192.168.1.149:55887 disconnected, 0 bytes received, 0 bytes sent, lasted for 0 seconds
[ERROR] ::ffff:192.168.1.149:55887 cannot establish connection to remote server xxx.xxx:8080: Operation canceled`

tcp正常

[2019-10-04 14:20] GreaterFire commented on #139
@qiuzi Seems like your UDP proxifier is implemented incorrectly. A packet capture of the traffic between your proxifier and trojan client is appreciated.

[2019-10-04 14:20] GreaterFire commented on #139
@qiuzi Also as a side note, please respect the issue template.

[2019-10-04 14:41] #139 closed, assigned to GreaterFire

[2019-10-04 14:44] qiuzi commented on #138
users:password

[2019-10-04 15:42] callengre commented on #138
Thanks , and it was replaced same edition for server and client,  works great . Thank .

[2019-10-04 15:43] #138 closed, assigned to GreaterFire

[2019-10-05 01:22] callengre commented on #137
Thanks a lot,  Build script was fixed already.
https://github.com/trojan-gfw/trojan/wiki/Mobile-Platforms
// reference~

[2019-10-05 01:22] #137 closed, assigned to nobody

[2019-10-05 02:11] datuzigg opened #140 "How to config ios shadowrocket ？"
windows with switchyomega is ok ，but I do not know how to config and connect on IOS shadowrocket？could u give me a way to config shadowrocket。thanks！

[2019-10-05 10:22] qiuzi opened #141 "[Feature Request]希望增加reuseport支持"

[2019-10-05 10:38] oasiscifr commented on #141
@qiuzi http://nginx.org/en/docs/stream/ngx_stream_ssl_preread_module.html
use nginx

[2019-10-05 15:10] GreaterFire commented on #141
Please specify.

[2019-10-05 15:11] GreaterFire commented on #140
We're not Shadowrocket support team. Please contact Shadowrocket for help.

[2019-10-05 15:11] #140 closed, assigned to GreaterFire

[2019-10-05 16:25] qiuzi commented on #141
如果支持reuseport 能改善性能与使用体验
原生总比外加实在

[2019-10-05 16:32] GreaterFire commented on #141
As you failed to define what this feature really is, I'm closing this issue.

[2019-10-05 16:32] #141 closed, assigned to GreaterFire

[2019-10-07 14:01] wi1dcard opened #142 "[Question] Can I use trojan behind a load balancer with SSL termination?"
There's a common scene in Kubernetes:

![image](https://user-images.githubusercontent.com/25447002/66317452-1c1d9d80-e94c-11e9-8bf0-2905954c06ed.png)

If I wouldn't use Trojan to handle TLS traffic, can I just remove the `ssl` section in the configuration?

[2019-10-07 14:06] wi1dcard opened #143 "[Question] CI for Docker Image"
1. It would be great if we set up CI for building docker images and avoid using the `latest` tag.
2. Maybe move the Dockerfile to this repo would make that trigger a pipeline after tagged easier.

[2019-10-08 04:55] #142 closed, assigned to nobody

[2019-10-09 09:25] SunZGitHub opened #144 "How to hot update the certificate and key."
I used acme.sh to apply for a certificate for trojan. After 2 months, acme.sh has updated the certificate and copied the new certificate to the directory specified by the trojan configuration file using the following command.

[code]

However, when accessing the trojan website in my browser, it still shows that the certificate was applied two months ago. My question is, can I make acme.sh pass a p

[2019-10-09 10:14] HarukaMa commented on #144
@SunZGitHub Send SIGUSR1 to trojan process. https://github.com/trojan-gfw/trojan/commit/53ca5f80fcd6239c28c8520886692e9186e3fcf6

[2019-10-09 12:33] SunZGitHub commented on #144
@HarukaMa Thank you for your reply.

After checking the information on how to send a message to the process on the Internet, I wrote this command line.

[code]

But it returned the Operation not permitted log.

[code]
Now, I can't figure out where there is a problem.

[2019-10-09 12:46] SunZGitHub commented on #144
It worked when I added the `sudo` permission to the reload command.
[code]

But I am wondering if this will be a problem because `sudo` permissions sometimes require a password.

[2019-10-09 13:20] SunZGitHub commented on #144
Solved, the reason is that I used different users to run acme.sh and trojan. The solution is to run the reload command with the same user as trojan. So the final command line is:

[code]

@HarukaMa Thank you again for your guidance.

[2019-10-09 14:31] #144 closed, assigned to nobody

[2019-10-09 14:52] malikshi opened #145 "[BUG] cant run version 1.13.0"
force close when try start trojan
windows 10 pro x64
![Screenshot_229](https://user-images.githubusercontent.com/9080737/66492740-1a381380-eadf-11e9-857b-2e8a1bb4f015.jpg)

[2019-10-09 15:39] GreaterFire commented on #145
@malikshi Please install MSVC 2017 runtime 64-bit https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

[2019-10-10 03:13] malikshi commented on #145
thanks @GreaterFire work pretty well

[2019-10-10 03:13] #145 closed, assigned to GreaterFire

[2019-10-12 03:12] cattyhouse commented on #122
just to note, a new TPROXY to SOCKS5 tool is [here](https://github.com/zfl9/ipt2socks) , in case someone need PURE TPROXY support, it works very well with any socks5 listening.

[2019-10-12 04:32] GreaterFire commented on #122
@cattyhouse Thanks for your update. You can see that it's best to implement it in another project, so all SOCKS5 proxies can use it, instead of implementing it in trojan.

[2019-10-12 06:24] cattyhouse commented on #122
@GreaterFire

Yes. You were correct about separate tool , now all needed are done, i’ll begin to give trojan a try.

[2019-10-12 10:44] ghost opened #147 "[Feature Request] Add torjan to Homebrew"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

Hi, Can you add torjan package to Homebrew please? Thanks

[2019-10-12 13:32] cattyhouse commented on #131
i'm still confused.. here is my current nginx config for v2ray, how can i add trojan behind nginx without effecting v2ray? some questions:

1. stream module's context is in main, do i move the server module from http to stream?
2. i guess i need to remove the https redirection of 80 listening, if not there will be a dead loop right? cause trojan needs 80. also i need to put at least `root` to 80 s

[2019-10-12 13:53] cattyhouse commented on #147
here is a trick to download latest trojan for macOS
[code]
then you can do more such as unzip, mv, rm...

[2019-10-12 14:46] cattyhouse opened #148 "[Feature Request] some thoughts on trojan"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

### if trojan runs on 0.0.0.0:443

1. still need some http server program to listen on 80 (nginx alike)
2. need to reload trojan after certification renew, this is ok and can be done by certbot hook
3. trojan runs as nobody, but certifications ge

[2019-10-12 17:47] GreaterFire commented on #148
Thanks for your suggestions.

If trojan runs on `0.0.0.0:443`:
1. This is intentional so trojan can forward illegal traffic to any service you want, not just HTTP. Or you can just don't forward it at all.
1. Trojan supports gracefully reloading certificate without interrupting existing connections by `SIGUSR1`.
1. You can modify the systemd service to make trojan run as another user who has the pe

[2019-10-12 17:49] GreaterFire commented on #147
Duplicate of https://github.com/trojan-gfw/homebrew-trojan/issues/2

[2019-10-12 17:49] GreaterFire commented on #147
Please refer to the discussions there. Thanks!

[2019-10-12 17:49] #147 closed, assigned to GreaterFire

[2019-10-13 05:18] killgcd4ever commented on #131
Hello, I follow your configuration, but when I encounter such an error, nignx has been printing no host in upstream ""

[2019-10-13 06:12] cattyhouse commented on #148
"You can, in fact, setup trojan behind nginx (#131) but it's not trivial."

It would be really helpful if you could give an example config to let nginx, v2ray (ws+tls), trojan work together. thank you.

I have another question: if people request www.xxx.com:80, what would trojan react?

[2019-10-13 12:25] itshaadi commented on #148
it does nothing, in that case you are directly connected to nginx on port 80.

you could redirect port 80 to 443, and serve the content on `127.0.0.1:8080` then configure trojan to reach 8080 instead of 80, this way everything always goes through trojan.

I also created an [automation script](https://github.com/itshaadi/trojan-autoconf/) that might help you as well (forget the diagram I have to ch

[2019-10-14 04:53] blog2020 opened #149 "[BUG]Caddy报错"
Caddy配置了https，然后Caddy报错：Listen: listen tcp :443: bind: address already in use

Caddyfile：
domain.example {
        root /var/www
         tls
}

请问Trojan是不是不能和Caddy一起使用？

[2019-10-14 04:59] cattyhouse commented on #149
因为Trojan 本身就监听在 0.0.0.0:443, Caddy只能监听80或者其他端口, 给Trojan跳转用.

[2019-10-14 05:01] cattyhouse commented on #148
@itshaadi thanks for your solution, it is a good idea to listen on other port other than 80, in this case, 80 can be redirect to 443 as usual, while trojan can redirect other protocol to 8080. that's awesome!

[2019-10-14 05:04] blog2020 commented on #149
没有办法解决了吗？只能2选一吗？

[2019-10-14 05:06] cattyhouse commented on #149
请仔细阅读trojan的文档了解其运作方式. 目前没有什么比较好的办法.

[2019-10-14 05:13] xt1085 commented on #149
Caddy配置了https，然后Caddy报错：Listen: listen tcp :443: bind: address already in use,

你发错地了，去找caddy才对。

[2019-10-14 05:57] #149 closed, assigned to GreaterFire

[2019-10-14 06:06] blog2020 commented on #149
如果把Trojan的端口改了，这样安全吗？

[2019-10-14 06:17] cattyhouse commented on #149
不安全，改为443之外的端口，失去了https伪装的意义。

[2019-10-14 06:32] blog2020 commented on #149
谢谢你，感谢你那么耐心教导，不像其他人，只会看不起新手，祝你一生平安。

[2019-10-14 10:24] changhe3 opened #150 "[BUG] Network Protocol Error on the front page when using HTTP2"
- [ x ] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.13.0

**Describe the bug**
When using http2 protocol, the front page won't open and there is a

[2019-10-17 06:18] chnliupu opened #151 "Problems with wildcard certificate[BUG]"
- [x] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.13.0

**Describe the bug**
SSL handshake failed with temp.[MyDomain].com:443: certificate verify

[2019-10-17 06:37] GreaterFire commented on #151
@chnliupu Wildcard verification should work due to compliance to relevant RFC. Can you post your server configuration? Did you use the fullchain certificate? What's your client's OS?

[2019-10-17 07:54] chnliupu commented on #151
No, I did not use full chain certificate. Problem was solved perfectly after replacing the certificate file with fullchain one. It's not a bug but my mistake. Thank you for your help.

[2019-10-17 07:54] #151 closed, assigned to GreaterFire

[2019-10-27 06:14] hachikujimayoi298 opened #152 "[Feature Request] Add common dns proxy services to the "After=" section of trojan's systemd unit file"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
I am running dnscrypt-proxy2 along with trojan. One day after restarting my (linux x64) PC, dnscrypt-proxy2 stopped working and says that it can't retrieve source files from githu

[2019-10-28 19:22] laboeuf commented on #150
[code]

[2019-10-28 19:25] laboeuf commented on #150
[code]

[2019-10-30 09:03] malikshi commented on #127
Recv-Q made me hang? any solution?

[2019-10-31 16:10] klzgrad opened #153 "De-anonymization attacks from GitHub workflow timing correlation"
Continuous Integration systems display the times when builds are triggered. And the builds are directly triggered by git pushes. If the git pushes as a form of network traffic traverse territory controlled by a man in the middle, then he can correlate the events of build triggering to the IP address of the initiator of the git pushes by synchronicity.

In short, if a public timestamp is triggered

[2019-11-01 02:09] wi1dcard commented on #153
This is my first time hearing about that potential attacking. However, it sounds really possible.

[2019-11-01 09:53] klzgrad commented on #153
Be careful if you push to GitHub with SSH.

[2019-11-01 09:53] #153 closed, assigned to nobody

[2019-11-02 04:16] ntgeralt commented on #127
[Feature Request] add support to mips/arm.

[2019-11-02 04:19] malikshi commented on #127
@ntgeralt did you try build any openwrt trojangfw and success?

[2019-11-02 08:03] ntgeralt commented on #127
@malikshi nope.looking forward to work well on MT7621.

[2019-11-02 16:29] zhouhm opened #154 "Hello! I want to make a transparent proxy using trojan-gfw. Local machine can access Internet but same lan can't"
ipset -N privaddr hash:net
ipset add privaddr 0.0.0.0/8
ipset add privaddr 10.0.0.0/8
ipset add privaddr 100.64.0.0/10
ipset add privaddr 127.0.0.0/8
ipset add privaddr 169.254.0.0/16
ipset add privaddr 172.16.0.0/12
ipset add privaddr 192.0.0.0/24
ipset add privaddr 192.0.2.0/24
ipset add privaddr 192.88.99.0/24
ipset add privaddr 192.168.0.0/16
ipset add privaddr 198.18.0.0/15
ipset add privaddr

[2019-11-02 16:32] zhouhm commented on #154
Same lan can access China net.
I thought about the problem over and over again bu I just couldn't find the answer.

[2019-11-02 17:28] #148 closed, assigned to GreaterFire

[2019-11-05 08:20] malikshi commented on #127
I need for aarch64 cortexa53

[2019-11-05 08:27] wongsyrone commented on #127
The Makefiles provided in [this](https://github.com/trojan-gfw/openwrt-trojan) repository link to the static OpenSSL library for convenience, you can definitely link to the official one dynamically if you like, as stated in the FAQ. If your firmware ships OpenSSL v1.1.x or older, you cannot benefit from TLS 1.3.

[2019-11-05 13:09] AaG7xNnrgbzeyqc5woPS commented on #149
caddy+trojan一起合用,trojan必须绑定在0.0.0.0:443上,转发非trojan流量到 caddy达到伪装的目的.
caddy应该绑定在0.0.0.0:80上,并且会自动重定位到, https://www.example.com.
caddy还应该绑定在 127.0.0.1:443上.接收从trojan转来的https流量.不过我调不通.
我的caddy和trojan 都是部署的docker版本的,用docker logs -f trojan查看trojan的日志,发现转发给 caddy的127.0.0.1:443端口TLS握手失败.我的证书申请成功,单独使用caddy也没有问题,可以使用https://www.example.com访问网站, http://www.example.com也可以自动跳转到443口.就是配合起来有问题啊,有没有高手出一个 trojan+c

[2019-11-05 13:39] AaG7xNnrgbzeyqc5woPS opened #155 "[Feature Request]能否出一个caddy+trojan教程,最好caddy+trojan打包成 一个docker images"
0,我是caddy+trojan一起配合使用的,主要用作翻墙,caddy做伪装网站,暂时不考虑CDN
1,我的caddy和trojan 都是部署的docker版本的
2,caddy单独使用可以,绑定在80,和443端口。
    可以自动申请域名证书,https://www.example.com访问网站OK,
    http://www.example.com也可以自动跳转到443口.表现合格
3，trojan也绑定上面申请的证书，端口绑定在0.0.0.0:443,
     caddy绑定在127.0.0.0:443,使用tls加密协议
     trojan将非trojan流量转发到127.0.0.0:443。
4，使用 docker logs -f trojan 监测 trojan发现 trojan 不能和 caddy建立TLS链接，总是失败。
5，刚才看了几篇文章，已经本站上的

[2019-11-05 14:00] darkred424 commented on #155
@AaG7xNnrgbzeyqc5woPS 两个都占443不可能的，然后caddy更新证书必须80和443没有别的程序占用，所以不存在的。比较接近的解法是服务器监听80，trojan监听443转80，用acme配合cron和脚本定期更新证书

[2019-11-05 14:04] AaG7xNnrgbzeyqc5woPS commented on #67
Great! This words must write to Trojan's FAQ

[2019-11-05 14:15] AaG7xNnrgbzeyqc5woPS commented on #155
caddy更新证书必须80和443，这个没有问题啊，我是在docker  容器里的，容器的80，443端口映射到127.0.0.1:443，0.0.0.0：80。这样 caddy就可以自动更新证书啦！回头试试，在没有一键解决方案前，只能自己摸索啦！

[2019-11-05 15:32] ntgeralt commented on #127
@ffftwo I hope you can make a finished product and explain a little about the way.

[2019-11-07 09:24] JimLee1996 opened #156 "[Feature Request]static built binaries for arm and mipsle"
It would be much more convenient to use rasp pi  as client, if  static build binaries are provided.

[2019-11-14 13:32] zhangsan946 opened #157 "[BUG] Fail to verify the certificate on Mac"
- [x] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
A: 1.13.0

**Describe the bug**
A clear and concise descripti

[2019-11-14 16:38] zhangsan946 commented on #157
As per service.cpp, it seems there is only cert store reading implementation for Windows.

[2019-11-15 00:22] cc3t opened #158 "[Question] Does trojan support multiple certificates?"
What should I do when I serve multiple domains behind trojan?

[2019-11-15 17:36] wanyancan opened #159 "tun2socks on win10 failed to connect through [Feature Request]"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
When using tun2socks to convert shadowsocks local socks server into tunnel for global proxy, there's no problem. However, if I use trojan's port for tunnel, it won't allow any pac

[2019-11-16 03:57] zhangsan946 commented on #157
@GreaterFire pr submited.

[2019-11-16 04:09] Chigusa0w0 commented on #158
You may put Nginx or whatever before Trojan to handle multi-domain properly

[2019-11-16 06:39] JimLee1996 opened #161 "[Client]Port TrojanX client for macOS"
I've referred to the ShadowsocksX-NG and port a mac client for self-use.

<img width="152" alt="image" src="https://user-images.githubusercontent.com/15334330/68989241-72043000-087e-11ea-9a69-8447745c2421.png">

Use it at your own risk.

[TrojanX.app.zip](https://github.com/trojan-gfw/trojan/files/3853888/TrojanX.app.zip)

https://github.com/JimLee1996/TrojanX.git

I will consider creating a repo

[2019-11-16 07:20] hannnnn-l opened #162 "Could anyone give some instruction on how to build this project on windows platform?"
Hi all,

Could anyone give some instruction on how to build this project for / on windows platform?

I built this project on cygwin successfully; however, i got stuck when trying to build it from mingw-w64 and vs2019. There should be something wrong in my configuration.

Can anyone tell me which way (mingw or vs201x) can be setup to build this project?

Many thanks.

Han

[2019-11-18 07:17] kunlee1105 commented on #161
i can't run it...

[2019-11-18 08:13] JimLee1996 commented on #161
Plz post your system info, log and other useful details.

[2019-11-19 06:33] sad-castle commented on #161
macOS 10.15.1 稳定使用

[2019-11-19 08:50] kunlee1105 commented on #161
i have fixed the problem...i think it can be easier to use...

[2019-11-19 08:53] widewind2015 commented on #127
@wongsyrone @malikshi by changing '-o3' to '-o0 -g3' in `TARGET_CFLAGS := $(filter-out -O%,$(TARGET_CFLAGS)) -O0 -g3` of Makefile for Openssl, the compile goes a bit further till

`for -fpic, please recompile with -fPIC
/opt/friendlywrt/friendlywrt/staging_dir/toolchain-aarch64_cortex-a53_gcc-7.3.0_musl/lib/gcc/aarch64-openwrt-linux-musl/7.3.0/../../../../aarch64-openwrt-linux-musl/bin/ld: final l

[2019-11-19 09:12] widewind2015 commented on #127
maybe another workaround : compile openssl 1.1.1d as dynamical library which coexists with openssl1.0.1, and trojan will use that library . Is that possible?

[2019-11-19 09:33] widewind2015 commented on #127
@malikshi @wongsyrone Now this patch works. '-fpic' option is not needed for statically linked trojan. But I will verify if the binary work on Cortex-A53 based OpenWRT18.06.1.

`--- ./openssl1.1/Makefile	2019-11-19 10:25:47.829890048 +0800
+++ Makefile	2019-11-19 17:07:42.560442000 +0800
@@ -92,7 +92,7 @@

 OPENSSL_OPTIONS += no-deprecated

-TARGET_CFLAGS := $(filter-out -O%,$(TARGET_CFLAGS)) -O3

[2019-11-21 07:22] changhe3 commented on #154
Here is a [tutorial](https://github.com/yangchuansheng/love-gfw/blob/master/docs/iptables-linux.md) if you can read Chinese. This [tutorial](https://www.booleanworld.com/depth-guide-iptables-linux-firewall/) on iptables is also quite helpful.

[2019-11-21 07:36] zhouhm commented on #154
多谢！

[2019-11-24 21:45] FreeJ233 opened #163 "[Feature Request]大神是否能出一个docker客户端"
大神您好，我像问一下Trojan有没有可能出个Docker的客户端。我有个不成熟的想法，在路由器docker中Trojan与v2ray服务端串联，然后用路由器带的v2ray客户端接受进行分流，如果用openwrt-trojan编译对我们小白来说不太友好。请问我这个方法可以行得通么？

[2019-11-25 07:59] jinigithub opened #164 "linux client don't work in chrome os"
loved this app very.
i use the same config.json  file with window client(works well in win) and start trojan -c config.json (also add the .cer file)normally,but find that dosen't work from chrome(with switchomega) with no error or warning(printting time out),how to do in chromebook?tks.

[2019-11-26 05:48] jinigithub commented on #164
re-installed proxy switchyomega from chrome store,it worked normally,pls ignore my question,tks

[2019-11-26 11:12] zycI11 commented on #161
Works well on macOS 10.14.5. Great job!

[2019-11-27 06:20] ghost opened #165 "搭建tls速度慢,仅300k"
配置搭好了trojan，历经步骤为安装必要环境，申请letsencrypt证书，修改配置文件(修改了local_addr 和cert key的地址)，trojan客户端是1.13，但是有几个问题
1.经测试vps运营商为hostwind搭建v2ray的tls付费域名速度达50M，现在用的v2ray+mkcp速度是100M,但我用linode搭建tls无论v2ray或trojan速度很慢，速度均在300k至500k，甚至满足不了流畅浏览网页的需求，域名解析服务器用的dnspod或付费域名的服务器也很慢，所有排除的DNS解析的原因
2.看起来trojan客户端并无异常，只是不少是disconnected，windows直接ping域名是可以ping通的，无论是国内或国外的网站ping，都可以ping通
想不出解决办法，所以来提问题
感谢

[2019-11-27 06:48] ghost commented on #165
经过改进，开启了bbr加速，trojan速度达到了10M，上述所说的300k是在speedtest测试下的速度，而10m也是。域名使用的是.gq(不知道是否和这个有关)
实际体验来说，油管看4k视频，未开启bbr加速是视频统计信息显示速率为32k，而开启bbr加速后则是800k，仍然达不到预期。
预期上hostwind+v2ray搭建的tls可以流畅观看4k视频，测速达50m，而使用linode v2ray+mkcp测速可以跑满100M，但是一旦搭建tls，无论v2ray或trojan，就满足不了要求，按照现在速度来看，b站速度仍不能流畅播放。
仍在寻找解决办法...

[2019-11-27 06:50] xt1085 commented on #165
上专线啊别虐待小鸡了

[2019-11-27 07:10] ghost commented on #165
感觉不是这个原因吧...至少hostwind和linode至少应该可以到同样的效果吧...还可以再试试

[2019-11-27 07:15] ghost commented on #165
世界加钱可及

[2019-11-27 07:18] ghost commented on #165
同样的钱...只有我linode这么慢的吗...才10M...别人50M
所以说应该只是这个问题？？？不会吧 想不通

[2019-11-27 07:19] ghost commented on #165
莫非移动宽带。。。

[2019-11-27 07:32] ghost commented on #165
校园网 移动宽带不搭tls翻不出去

[2019-11-27 07:33] yihongyuelan commented on #165
gq免费域名？lz在哪申请的?freenom？我申请一直提示not available
我认为trojan的目的 是极尽伪装，当你的运营商开始QoS你的时候，Trojan我认为是一个不错的选择

[2019-11-27 07:35] ghost commented on #165
这个就没办法了，移动的出口本来就小，加钱换宽带吧。

[2019-11-27 07:38] ghost commented on #165
但是同样的校园网同学搭的tls就很稳50m，我搭的刚开bbr加速才10m，步骤我俩也检查过，感觉上想不出什么可能，现在我能想到的区别就是免费和付费域名，其余都试错过了

[2019-11-27 07:41] ghost commented on #165
.gq就是在freenom申请的啊，我申请的时候没遇到过not abaliable的提示，不清楚你是什么原因，或许你可以google一下

[2019-11-27 07:43] ghost commented on #165
同一条线路？

[2019-11-27 07:45] yihongyuelan commented on #165
后面自己买了dynadot$0.99的垃圾域名 凑合用着，另外你要是觉得freenom的域名问题。试试把dns解析放到cloudflare，也可以试试bbrplus，或者更暴力的版本

[2019-11-27 07:46] ghost commented on #165
就是说同样的校园网，我俩的区别在于他用的hostwind v2ray 付费域名，我用的linode v2ray/trojan 免费域名，我们互换电脑使用配置文件，这样应该是保证了在同一网络下，结果是，他配置的tls无论什么网络很快且稳定，我的就无论什么时候都很慢

[2019-11-27 07:46] ghost commented on #165
你用他的机器搭建试试

[2019-11-27 07:52] ghost commented on #165
这个的话，同学用的godaddy，我试过用godaddy的解析也是很慢，dnspod解析也很慢，cloudfare应该也是，没有试过。用他的机器搭建我觉得应该区分不出什么变量，但是试试bbrplus或许更好，更暴力的版本有哪些呢？
另外请问我上述的描述中还有没有其它可能会导致出现这种问题的？比如说没用nginx，或者少了什么必要的搭建步骤？

[2019-11-27 07:53] ghost commented on #165
难道加个hosts很难吗？？？

[2019-11-27 07:55] f3404923 commented on #162
@shuanglengyunji
You'd better build this in Linux system(e.g ubuntu,centos,debian)

[2019-11-27 08:01] ghost commented on #165
问题在于我所有google过的解决办法都没有提到过host的问题，这不属于我的常识范围内
不过您的回复让我增加两个思路：1.添加host 2.试bbrplus
感谢您的回复，我之后会去尝试

[2019-11-27 08:10] xt1085 commented on #165
你去超市买了两双鞋，a和b，然后发现b夹脚。然后你找超市，你应该要求给你退或者换，而不是问超市为啥这个b他就夹脚了？更不是去问超市因为a不夹脚，凭啥b就要夹脚。

[2019-11-27 08:27] ghost commented on #165
1.hostwind和linode举例是为了说明两者搭建tls的速度差异，以及我想要的预期速度和说明目前搭建的tls速度远不达标
如果你说的两双鞋指的是v2ray和trojan的话，我是假定如果他使用trojan搭建仍然会很稳定的情况下给出我的问题(另外，如果你用自己的ip，付费域名，用v2ray搭tls很快的话，你会认为同样换了客户端它就会很慢吗)所以暂时先排除这一块考虑
就目前情况来说trojan搭建的tls确实很慢，难道不可以来trojan这里提问题？
2.我理解tls流程 域名--dns解析服务器--访问vps提供的ip
dns解析服务器更换--无法解决问题
所以问题在两段，另外本来搭建过的梯子很快我认为可以证明在vps提供的ip层面是没有问题的
所以只剩下域名的区别，付费域名买的是.com 所以我猜测是这个部分有影响
总的来说
我认为可能是vps提供商的问题和域名问题，来提问是想

[2019-11-27 08:29] ghost commented on #165
https://www.johnrosen1.com/trojan/ remote_addr 填ip sni填域名有请

[2019-11-27 08:31] xt1085 commented on #165
既然你听不懂，重新给你标一下
你去超市买了两双鞋，a[hostwind]和b[linode]，然后发现b夹脚。然后你找超市，你应该要求给你退或者换，而不是问超市为啥这个b他就夹脚了？更不是去问超市因为a不夹脚，凭啥b就要夹脚。

[2019-11-27 08:32] ghost commented on #165
你让他用你的机器建，你用他的，互换试试。。。

[2019-11-27 08:36] lunemoe commented on #165
你的正确做法应该是贴出你的配置，不然没人知道你究竟怎么配置的

[2019-11-27 08:51] ghost commented on #165
是指hostwind和linode的话，就更好说了，如果不是我的配置有问题，那么就可以说linode不要用trojan，否则很慢？即使认为你所建议的是linode和hostwind区别，对解决我的问题没有帮助
如果没有再提供建议的话，恕不再回复

[2019-11-27 08:51] ghost commented on #165
抱歉 因为在上课 没有贴出配置

[2019-11-27 08:52] ghost commented on #165
不如这样，你们都用Trojan搭，不用v2,控制变量一下。。。

[2019-11-27 08:57] ghost commented on #165
我主要参考的是这个https://vave.men/trojan.html
客户端：
{
    "run_type": "client",
    "local_addr": "127.0.0.1",
    "local_port": 10800,
    "remote_addr": "www.域名.gq", //如果不加www就无法连上
    "remote_port": 443,
    "password": [
        "密码"
    ],
    "log_level": 1,
    "ssl": {
        "verify": true,
        "verify_hostname": true,
        "cert": "",
        "cipher": "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE

[2019-11-27 08:58] ghost commented on #165
其实很难，别人都搭好了分享出去了，怎么还能要求再用他再重新搭一次...

[2019-11-27 09:54] ghost commented on #165
v2和Trojan可以共存啊。。。

[2019-11-27 12:28] ghost commented on #165
可以是可以，我现在就是共存的...但是即使搭了比我快要么说明是运营商有问题，要么是电脑本身有问题，但无论哪一个...都不是实际的解决方案...
但大家都这么说...估计就只能归结为运营商的问题了

[2019-11-27 20:55] malikshi commented on #127
@widewind2015 thanks you for the info. please follouw up if it working

[2019-11-29 05:23] malikshi commented on #127
It work to compile with your suggestion. But I don't know how it work to running from `init` /etc/unit.d/trojan it's say disabled.

[2019-11-29 09:14] wqgame opened #166 "[Feature Request]Is it possible for multiple node use authenticator DB while authenticate with different password?"
- [x] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
多节点配置一个远程DB鉴权时，无法对每个节点单独设置密码、单独统计流量。

**Is this problem relevant to what trojan should care about?**
如果能支持不同节点不同密码、流量统计，会更友好。

**Describe the solution you'd like**
1、users表增加一个字段，

[2019-11-29 12:57] hannnnn-l commented on #162
I have achieved it by modified cmake file

On Wed, Nov 27, 2019 at 6:55 PM f3404923 <notifications@github.com> wrote:

[2019-11-30 05:55] unsciorg commented on #155
最好再给你装好～

[2019-11-30 09:37] babylife commented on #52
同样希望可以支持，路由器不能用的话的确比较麻烦

[2019-11-30 10:23] AaG7xNnrgbzeyqc5woPS commented on #155
惭愧惭愧，已经找了一个一键脚本装好了，还是蛮好用的。放弃了docker方案，能用就行。就是一个服务器只装一个trojan有点浪费，先不折腾啦

[2019-12-01 03:14] babylife commented on #161
prefer runing on my latest MACOS version ,, will you package a version on windows ?

[2019-12-03 01:00] widewind2015 commented on #127
Why not add your script directly by Luci Web Admin which is System->Startup? The script will be generated at /etc/init.d/ accordingly.

[2019-12-03 01:06] widewind2015 commented on #127
Yes, it works. At least it has kept working for 4 days on NanoPi R1S Quad Cortex-A53 based.

[2019-12-03 01:10] malikshi commented on #127
I didn't tried enable from luci. But when in command line says disabled then it's would be same

[2019-12-03 01:14] ghost commented on #150
trojan server开启alpn开启h2

trojan server 开启alpn h2

[2019-12-03 01:24] malikshi commented on #127
@widewind2015 im actived debug mode here the log

trojan is disabled
{ "name": "trojan", "script": "\/etc\/init.d\/trojan", "instances": { }, "triggers": [ ], "data": { } }

[2019-12-03 01:41] malikshi commented on #127
@widewind2015 can you gimme example to route all traffic? like transparent mode by shadowsocks?

[2019-12-03 03:28] mailrock opened #168 "vps多ip出口的问题，求开发者回复，谢谢！"
你好，我通过单vps配置了两个ip，配置了通配的*.domain.com , 通过通配ssl配置的两个二级域名指定不同的ip，a.domian.com(指定主ip），b.domian.com (指定副ip），然后将老大里trojan服务器段的private.key与fullchain.cer替换，并同步更新客户端的fullchain.cer，两个域名均测试访问成功，但问题来了，在进入ip138.coml两个域名测出来的ip都是主ip的，而另一个域名的副ip则不能作为ip出口。如何设置才能b.domian.com访问ip138.com的时候显示为副ip呢？是不是内部防火墙需要添加什么路由转发的条件？这个我不会。

有没有解决的办法？是不是需要配置vps防火墙内部转发的问题？或者说trojan有没有办法可以配置多用户多端口从而将不同用户的流量转发至服务器上配置的不同的公网ip？具体是规则怎么写

[2019-12-03 23:23] hamedsbt opened #169 "make error on Linux 3.10.0-1062.4.1.el7.x86_64"
**Trojan Version**
1.13.0
[code]

[2019-12-03 23:43] hamedsbt commented on #169
after update openssl to version 1.1.1
https://www.osradar.com/how-to-install-the-latest-version-of-openssl-on-centos-7/

I got new error:
[code]

[2019-12-05 03:51] oxeyelite commented on #52
同样希望可以支持.

[2019-12-05 05:13] zpccode commented on #168
![image](https://user-images.githubusercontent.com/26158775/70205982-fdc3fa80-1760-11ea-8365-4fe9bc2f5ce5.png)

[2019-12-05 05:42] widewind2015 commented on #127
You may have a look at [this](https://github.com/trojan-gfw/trojan/issues/135).

[2019-12-05 09:06] Justsoos opened #170 "[BUG] brew 404 /trojan/archive/v1.13.0.tar.gz"
[code]

[2019-12-05 12:12] ghost opened #171 "[BUG] 开启h2后，网站图片加载失败，且ssllab显示http failure"
- [ok ] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
1.13.0
**Describe the bug**
A clear and concise description

[2019-12-06 03:50] maboloshi commented on #168
@mailrock 你域名DNS怎么设置的？给2个子域名分别设置A记录绑定不同的ip

[2019-12-06 04:20] maboloshi commented on #165
域名DNS设置 怎么样的？

[2019-12-06 05:40] w22gb8 opened #172 "TLS1.3支持 0-RTT吗？"
用wireshark看新建连接和会话恢复都是1-RTT，trojan需额外配置还是不支持 0-RTT？

[2019-12-07 03:21] lifansama commented on #163
反正trojan也是客户端和服务端一样的文件，只要改改配置就行，官方的trojan-docker可以直接拿来用啊

[2019-12-07 13:52] calidion opened #173 "服务器，客户端都已经配置，并且成功运行，但是网络并没有通。"
如何定位问题出在那里？
有没有服务器配置测试工具？

[2019-12-08 16:30] xsm1997 commented on #141
If I am not misunderstanding, reuseport means let multiple process of Trojan bind on the same TCP port.
It is a feature of Linux.  Multiple process listening on the same port will increase performance in multi-core systems, as the Linux kernel will perform load balancing among multiple TCP connections to Trojan by arranging them to different process of Trojan.
Additionally, shadowsocks-libev suppo

[2019-12-08 16:37] xsm1997 opened #174 "[Question] UDP connections."
I want to know that using client mode, a UDP request is using encrypted TCP connection or using encrypted UDP connection. I did't see any UDP open port in the server.

Briefly, I want to know that Trojan is SOCKS5-like (open a udp port to handle udp request) or v2ray-like (encapsulate udp request in tcp connection).

[2019-12-09 01:46] wi1dcard commented on #174
I believe it's the latter. According to [the docs](https://trojan-gfw.github.io/trojan/protocol), the Trojan protocol is based on TLS. The most common TLS implements are layered on top of TCP.

[2019-12-09 23:31] mia0x75 opened #175 "[BUG]同一台主机，Trojan比v2ray慢一个数量级"
Fedora Server 27，4.18内核，已经dnf update到最新。

v2ray，Cloudflare(CDN)+nginx+v2ray
trojan，Trojan直连+nginx

服务器http直连下载速度最高10M，现在v2ray可以最高2M以上，Trojan基本上不了100K。

[2019-12-10 01:29] mia0x75 commented on #175
config.json

[code]

[2019-12-10 01:34] mia0x75 commented on #175
[code]
=>
[code]

好像好很多。

[2019-12-10 02:26] flyhigao commented on #175
我二者都用,性能差不多.trojan延迟低很多.
之所以出现上述数量级的差距,估计是线路太差,cdn节点起了加速的作用.

[2019-12-10 04:59] Chigusa0w0 commented on #175
It's not a bug. Your benchmark is not fair due to different network setup.

[2019-12-10 06:07] Chigusa0w0 commented on #173
You should analyze server/client log to locate the problem.
There is no such thing as a "configuration test tool".

[2019-12-10 08:06] dengchan0416 commented on #175
你是手动安装还是用一键安装脚本

[2019-12-10 08:16] mia0x75 commented on #175
这个是手动安装的，没有使用脚本。@dengchan0416

有人告诉我，trojan不能套CF，所以是直连。而我直连Http也能下到5M速度，洛杉矶的VPS。@LimiQS

[2019-12-10 08:26] GreaterFire commented on #175
Non-constructive topic. Also not a bug.

[2019-12-10 08:26] #175 closed, assigned to GreaterFire

[2019-12-10 12:15] ioxuy opened #176 "[Feature Request]I want a socks implementation of user/pass."
thank you

[2019-12-10 12:22] ioxuy commented on #176
like this:

"run_type": "client",
"local_addr": "0.0.0.0",
"local_port": 1080,
"socks5_authentication":username:password

[2019-12-12 13:31] malikshi commented on #159
Try with netch I using this one and very good.

[2019-12-13 03:58] wanyancan commented on #159
Thank you for the info.
I just tried, and it seems to work with ss server directly.
But when I configure it to use local socks5 proxy server created by ss 4.1.7.1 or trojan, neither works.
The ping always show 1000 in red color.

[2019-12-13 04:05] cncaihua commented on #159
maybe SSTap will be your choice.
https://sourceforge.net/projects/sstap/

[2019-12-13 05:35] malikshi commented on #159
@wanyancan I will give u example later

[2019-12-13 06:24] malikshi commented on #159
1. add sock5
![Screenshot_547](https://user-images.githubusercontent.com/9080737/70774020-9e429c00-1dab-11ea-8695-f7934b4316b5.jpg)
2. add bypass IP of trojan server
![Screenshot_548](https://user-images.githubusercontent.com/9080737/70774037-aa2e5e00-1dab-11ea-8deb-df0dae04925f.jpg)
3. select profile socks5 that u created and choose BYPASS LAN(TUN/TAP)
![Screenshot_549](https://user-images.github

[2019-12-13 06:38] malikshi opened #178 "[BUG] Please FIX Recv-Q hang"
**Trojan Version**
1.13.0

**Describe the bug**
i have users like 50-100 per server setting with trojan-panel. u often got some feedback that speed are super slow so i try lookup in `netstat/ss` Recv-Q are 129 and all connection would supa slow. could you fix this matter trojan cant handle many connection at same time.

[2019-12-13 07:34] oasiscifr commented on #178
@malikshi Maybe you can run multiple trojan instances on each server and use nginx with stream context as a load-balancer.

[2019-12-13 07:37] ghost commented on #178
change sysctl configs may help you

[2019-12-13 07:39] malikshi commented on #178
i am using optimize from shadowsocks on `/etc/sysctl.conf`

vm.swappiness= 40
fs.file-max = 51200
net.core.rmem_max = 67108864
net.core.wmem_max = 67108864
net.core.netdev_max_backlog = 250000
net.core.somaxconn = 4096
net.ipv4.tcp_syncookies = 1
net.ipv4.tcp_tw_reuse = 1
net.ipv4.tcp_fin_timeout = 30
net.ipv4.tcp_keepalive_time = 1200
net.ipv4.ip_local_port_range = 10000 65000
net.ipv4.tcp_max_sy

[2019-12-13 07:40] ghost commented on #178
net.ipv4.tcp_slow_start_after_idle = 0 try this

[2019-12-13 07:41] oasiscifr commented on #178
@malikshi And before that, you have to find out what bound the throughput. It could be your downlink brandwidth, CPU, max opened socket number, or the throughput of trojan.

[2019-12-13 07:45] malikshi commented on #178
@oasiscifr

i will try it.

for this one, shadowsocks connection are normal. and when one user connected all normal i got 60-100Mbps. the problem are when many users connected its gona speed down for all clients side

[2019-12-14 17:48] #174 closed, assigned to nobody

[2019-12-18 09:04] wongsyrone commented on #178
Please provide the full netstat/ss output.

[2019-12-20 15:54] wanyancan commented on #159
I tried with 1.0.9.7 on github. It works! The one on sf is old and not working for me still.
https://github.com/githello123/sstap

[2019-12-20 15:54] #159 closed, assigned to GreaterFire

[2019-12-20 18:16] GreaterFire commented on #150
@changhe3 Did you solve this problem?

[2019-12-20 18:18] GreaterFire commented on #152
Since this request is too general, and can be extended to any other services, I recommend you to add it yourself to your service file. The official file will remain the same and is served as just an example.

[2019-12-20 18:18] #152 closed, assigned to GreaterFire

[2019-12-20 18:18] #154 closed, assigned to nobody

[2019-12-20 18:19] #155 closed, assigned to GreaterFire

[2019-12-20 18:20] GreaterFire commented on #156
Raspbian has compiled binaries. We have no plan to compile for architectures other than `amd64`.

[2019-12-20 18:20] #156 closed, assigned to GreaterFire

[2019-12-20 18:20] GreaterFire commented on #157
Discussion moved to #160.

[2019-12-20 18:20] #157 closed, assigned to GreaterFire

[2019-12-20 18:21] #158 closed, assigned to nobody

[2019-12-20 18:21] #161 closed, assigned to nobody

[2019-12-20 18:23] #162 closed, assigned to GreaterFire

[2019-12-20 18:23] #163 closed, assigned to GreaterFire

[2019-12-20 18:23] #164 closed, assigned to nobody

[2019-12-20 18:26] GreaterFire commented on #171
Please provide your nginx configuration.

[2019-12-20 18:26] #165 closed, assigned to GreaterFire

[2019-12-20 18:28] GreaterFire commented on #166
The design decision here was to provide a central database for user authentication. If you want distributed authentication, you should setup a database for each node.

[2019-12-20 18:28] #166 closed, assigned to GreaterFire

[2019-12-20 18:29] GreaterFire commented on #172
Sorry. Because of the complications of the OpenSSL API on 0-RTT and other security implications, 0-RTT will not be supported.

[2019-12-20 18:29] #172 closed, assigned to GreaterFire

[2019-12-20 18:29] #173 closed, assigned to GreaterFire

[2019-12-20 18:30] GreaterFire commented on #176
I don't understand the purpose. SOCKS5 is an insecure protocol and should never be exposed to the network other than your own computer. If it's your own computer then you don't need this feature.

[2019-12-20 18:33] GreaterFire commented on #169
You are not linking to the correct OpenSSL version.

[2019-12-20 18:33] #169 closed, assigned to GreaterFire

[2019-12-21 02:16] ghost commented on #171
server {
  listen 127.0.0.1:80 http2;
    server_name $domain;
    location / {
      root /usr/share/nginx/html/;
        index index.html;
        }
  add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;
}

server {
    listen 80;
    listen [::]:80;
    server_name $domain;
    return 301 https://$domain;
}

server {
    listen 80 default_server;
    liste

[2019-12-23 04:10] llouislu opened #180 "Documentation on how to config TCP loadbanlacing/sharing a port with other SSL services"
**Is your feature request related to a problem? Please describe.**
My expectation to set up an environment where a tcp loadbalancer (e.g. haproxy) only binds 443 port to provide multiple services as follows:
client => haproxy => {ocserv, trojan, nginx(legit, not honeypot requests)}

I have tried serveral approaches, based on the [config](https://ocserv.gitlab.io/www/recipes-ocserv-multihost.html)

[2019-12-24 03:01] dicrm commented on #161
每次重启电脑 都是需要手动点一下关闭再启动，才能起飞~ 不知是不是BUG

[2019-12-24 03:56] blankhang commented on #171
http2 不支持 http(80)协议吧....
放到443端口试试

[2019-12-24 04:50] ghost commented on #171
请你自己调试通过再说

[2019-12-24 04:54] blankhang commented on #171
废话 我生产服务器都是443 才开http2
建议你先好好学习下 http2

[2019-12-24 04:56] ghost commented on #171
我是指你用Trojan当前端的情况下

[2019-12-24 07:19] llong175 commented on #78
I,m guessing I just slove this problem ,mybe it can help  .

root@debian:~# systemctl status trojan
● trojan.service - trojan
   Loaded: loaded (/lib/systemd/system/trojan.service; enabled; vendor preset: enabled)
   Active: active (running) since Tue 2019-12-24 15:06:14 HKT; 3s ago
     Docs: man:trojan(1)
           https://trojan-gfw.github.io/trojan/config
           https://trojan-gfw.github.

[2019-12-24 14:56] hzqim opened #181 "[Feature Request] Is it possible to provide luci-app-trojian?"

[2019-12-26 06:13] ttimasdf opened #182 "There's a tracking script embedded in project README, what's the purpose?"
If the point of this project is to protect freedom and anonymity, to bypass censorship, then why do you want to track your users?

At the same time, Github has [countermesures for this kind of tracking](https://help.github.com/en/github/authenticating-to-github/about-anonymized-image-urls) for long. So thankfully the trick won't work. All the IP address you collected will be Github's server backen

[2019-12-27 01:31] GreaterFire commented on #182
Don't use it if you don't trust it. It's just that simple.

[2019-12-27 01:31] #182 closed, assigned to nobody

[2019-12-27 01:32] GreaterFire commented on #181
What is it?

[2019-12-27 01:35] GreaterFire commented on #171
@blankhang Please don't try to answer this question if you have no idea what the problem is.

@johnrosen1 Can you provide any browser debug info when loading the images?

[2019-12-28 06:22] GreaterFire opened #183 "[BUG] Build Failed on GNU/Hurd"
https://github.com/trojan-gfw/trojan/blob/18763b7529963efef8dcb01f50389a6f49213ae1/src/core/service.cpp#L29-L31

In GNU/Hurd, `__MACH__` is also defined, but the macOS specific header file doesn't exist.

[2019-12-28 09:11] al123xiaaaa commented on #171
h2是个啥？

[2019-12-28 11:45] wongsyrone commented on #183
https://www.gnu.org/software/hurd/hurd/porting/guidelines.html

[2019-12-29 02:21] coolsnowwolf commented on #181
![image](https://user-images.githubusercontent.com/31687149/71551544-f96bc400-2a24-11ea-9659-b07d986e664e.png)

like this

[2019-12-29 06:43] yatounoneko opened #184 "[Feature Request] windows server issues"
I use Windows as the server, but it cannot start .exe after config is configured. Is there a configuration problem or does Windows not support server mode? Many thanks.

The certificate file has been placed in the program directory
Also i have using the nginx for web server (80,443) reverse proxy, the server whether will effect to trojan?

the versions is 1.14.0
Here is my config.json :
[code]

[2019-12-29 07:22] GreaterFire commented on #184
Please run trojan in your PowerShell or cmd.exe and show the log.

[2019-12-29 07:29] yatounoneko commented on #184
ohhh, i see....
password have extra comma. Thankyou!
[code]

[2019-12-29 07:29] #184 closed, assigned to GreaterFire

[2019-12-29 07:54] DeIn221 opened #186 "[Feature Request]32-bit os release request"
as title.

[2019-12-29 07:56] GreaterFire commented on #186
@DeIn221 The pre-built binaries are generated as a courtesy, and is handled by CI/CD (Azure Pipelines). We take no responsibilities in providing binaries based on user needs.

[2019-12-29 08:04] DeIn221 commented on #186
sorry, i can not understand. I just reconfirm you got me. I mean, I want a 32-bit os version of the program. This can't be done, right?

[2019-12-29 09:22] wongsyrone commented on #186
You may compile it per your request. If you have no idea how to do that, ask experts around.

[2019-12-29 09:27] DeIn221 commented on #186
i am not compile it, just run it, i mean a version of release.i hope it could run it on my 32-bit computer.

[2019-12-29 14:29] imanuelwang opened #187 "how to change a trojan user's password?"
from which file I can change a user's password? thanks.

[2019-12-30 04:41] JimZhangIress opened #188 "async_read_some function"
from boost::asio documentation, seems async_read_some function may not read complete message, however seems we never handle this in case we only read partially? Thanks.

The read operation may not read all of the requested number of bytes. Consider using the async_read function if you need to ensure that the requested amount of data is read before the asynchronous operation completes.

[2019-12-30 09:41] lonee6 opened #189 "[BUG] 32位 ARM merlin 系统上运行不了。"
Welcome to trojan 1.14.0
[2019-12-30 17:27:22] [FATAL] fatal: set_option: Protocol not available
[2019-12-30 17:27:22] [FATAL] exiting. . .

交叉编译的，在R6300V2上运行不了。

[2019-12-30 10:49] wongsyrone commented on #189
What's your Linux kernel version?

[2019-12-30 10:53] lonee6 commented on #189
uname -a
Linux R6300V2 2.6.36.4brcmarm #1 SMP PREEMPT Tue Sep 25 19:50:36 CST 2018 armv7l Merlin-Koolshare

[2019-12-30 10:55] lonee6 commented on #189
可能是内核太老用不了？
刚才找wd my colud mirror试了一下，可以用，CPU也是arm V7
但系统内核是3.1的

uname -a
Linux NAS 3.10.39 #1 SMP Thu Aug 29 20:35:52 PDT 2019 2014T30p5 Build-gitad56653 armv7l GNU/Linux

2.6的是不是就没办法用了？

[2019-12-30 10:55] wongsyrone commented on #189
Please use a recent kernel.

[2019-12-30 11:25] lonee6 commented on #189
这是梅林的固件，升级不了内核。但是，SS和V2Ray都是可以正常使用的。
如果确实是因为内核版本用不了trojan，那只好想别的办法了。

[2019-12-31 09:27] laboeuf commented on #171
需要升级到debian 10，

[2019-12-31 11:43] univert commented on #127
跪求arm版本openwrt 包

[2019-12-31 12:53] yatounoneko commented on #127
L大的lede有集成

[2019-12-31 13:58] univert commented on #127
@yatounoneko 去哪里找，有链接么？

[2019-12-31 14:20] yatounoneko commented on #127
https://github.com/coolsnowwolf/lede
需自行编译固件

[2019-12-31 14:49] univert commented on #127
晕啊，我就是需要arm binary包， 没工夫编译

[2019-12-31 15:56] lonee6 commented on #127
试试这个

链接：https://eyun.baidu.com/s/3dGNX781 密码：yasC

[2020-01-01 19:52] KevinZonda commented on #168
Try iptables NAT forwarding.
If you cannot write iptables, the fastest and most convenient solution is that run trojan on Docker. And the argument -p should write like "-p $outsiteIP:$outsitePort:$inDockerPort".

[2020-01-02 04:46] zhaibin18 commented on #189
求编译方法，我想用buildroot作为编译工具想静态编译，但是没有成功。

[2020-01-02 06:29] GreaterFire commented on #186
@DeIn221 We will not provide such release. Sorry.

[2020-01-02 06:29] #186 closed, assigned to GreaterFire

[2020-01-02 06:35] GreaterFire commented on #188
Thank you for your insightful review of the code! This software is designed under the assumption that the trojan header will be read in one call since it's so short (around 100 bytes), and this assumption works pretty well. If there will be any problems in the future, I'll change the logic of reading data from sockets.

[2020-01-02 06:35] wongsyrone commented on #181
Sorry, I don't know Lua and don't have enough time to maintain it.

[2020-01-02 06:36] GreaterFire commented on #187
The passwords are stored in the trojan configuration file. See documentation.

[2020-01-02 06:36] #187 closed, assigned to GreaterFire

[2020-01-02 06:40] GreaterFire commented on #189
Could you provide your trojan config? I'm trying to figure out which `set_option` call failed, whether it's `socket_acceptor.set_option(tcp::acceptor::reuse_address(true))` or `socket_acceptor.set_option(reuse_port(true))`.

[2020-01-02 06:44] wongsyrone commented on #189
https://lwn.net/Articles/542629/
http://man7.org/linux/man-pages/man7/socket.7.html

[2020-01-02 06:45] GreaterFire commented on #171
I'll try to look into this myself. Thanks for reporting it.

[2020-01-02 06:45] GreaterFire commented on #189
@wongsyrone `SO_REUSEPORT` can be disabled via config. That's why I asked for config.

[2020-01-02 07:43] GreaterFire commented on #171
I can't reproduce this bug. With my configuration everything works fine.

Nginx config:
[code]

Trojan config:
[code]

[2020-01-02 07:54] ghost commented on #171
all right, i will check again

[2020-01-02 08:04] lonee6 commented on #189
`{
    "run_type": "client",
    "local_addr": "0.0.0.0",
    "local_port": 1080,
    "remote_addr": "107.175.x.x",
    "remote_port": 443,
    "password": [
        "xxxxxxxx"
    ],
    "log_level": 1,
    "ssl": {
        "verify": true,
        "verify_hostname": true,
        "cert": "",
        "cipher": "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384

[2020-01-02 08:11] lonee6 commented on #189
这个改reuse_port": true设置成false，问题解决了。

R6300V2:/lib# ./trojan -c config.json
Welcome to trojan 1.14.0
[2020-01-02 16:10:47] [WARN] trojan service (client) started at 0.0.0.0:1080

[2020-01-02 08:19] ghost commented on #171
@GreaterFire HTTP request to this server failed, see below for details.  ssllab still show this error
config is the exact same as yours and web speed is still low comparing to h2 being disabled

[2020-01-02 18:26] vVxiliVv opened #195 "[Feature request] User speed limitation"
It would be nice to be able to limit users speeds.
Example.: User Admin could download with 30Mb/s, while User client1 5Mb/s.

Project looks excelent, looking forward for this feature!

Thank you and keep up the good work!

[2020-01-03 00:06] #183 closed, assigned to nobody

[2020-01-03 01:46] GF-Huang opened #196 "[Question] SSH Compatible"
According to [the docs of protocol](https://trojan-gfw.github.io/trojan/protocol):

I have never read the source code of trojan, but I am curious if this is compatible with the SSH protocol? The SSH protocol handshake would be "the server send data to client first", ranther then "client send to server first".

[2020-01-03 01:48] GreaterFire commented on #196
@GreatFireWall Good question!

The behavior of my implementation is:
The client will simultaneously wait for the first client payload and connection to the trojan server. If the first payload happens first, then the trojan request will contain the first payload, otherwise (the connection to the server is established before the first payload arrives) it will not.

[2020-01-03 01:53] GF-Huang commented on #196
If the `trojan server` do not connect to the `real target server` before it received the first payload from `trojan client`, the `trojan client` will never receive the SSH server(real target server)  handshake packet.

[2020-01-03 01:57] GreaterFire commented on #196
@GreatFireWall I don't quite understand your claim here. Trojan works pretty fine with SSH right now. Try to understand the state machine yourself by looking at the code or just try the software yourself

[2020-01-03 01:58] GF-Huang commented on #196
OK, thanks.

[2020-01-03 01:58] #196 closed, assigned to GreaterFire

[2020-01-03 03:57] zhaibin18 commented on #189
恭喜，求编译方法或者来个编译好的bin，谢谢啦。

[2020-01-03 07:04] lonee6 commented on #189
https://github.com/trojan-gfw/trojan/issues/127#issuecomment-569949850

[2020-01-03 10:10] Jason5Lee opened #197 "[Feature Request]中转服务器"
本人使用的是长城宽带，访问国外网络（无论是否被墙，包括VPS本身）都很不稳定。我用v2ray的时候用阿里云联通中转，v2ray提供proxySettings设置。希望trojan有相关的设置。

[2020-01-03 12:36] GreaterFire commented on #197
You can do this easily by other means, so it won't be implemented in this software.

[2020-01-03 12:36] #197 closed, assigned to GreaterFire

[2020-01-03 18:33] rahxcn commented on #176
It's likely he has a relay server somewhere on the internet and wanted to use it to tunnel all traffic through it, be it at home or outside on a mobile device, or even occasionally on a stranger's computer.

[2020-01-03 23:59] Jason5Lee commented on #197
How can I do this? It seems that it doesn't have the configuration about connecting through a proxy.

[2020-01-04 00:21] GreaterFire commented on #197
[code]

[2020-01-04 00:56] Jason5Lee commented on #197
Thanks for your help.

[2020-01-04 03:14] ghost commented on #197
https://www.johnrosen1.com/iptables-https/
iptables is the best!

[2020-01-04 05:01] E8x6UDEm opened #198 "[Feature Request] trojan-gfw的docker 是否考虑支持多架构?"
首先谢谢开发者的工作,让我们还可以穿越这堵高墙.非常感谢!
dockerfile的仓库没有开issuse,所以发到这里了.
trojan-gfw 的 docker 是否会考虑支持多架构呢?
我尝试在 arm64 armv7下,相同的dockerfile文件,编译后都可以正常运行.
支持多架构 应该是开启 buildx 并设置,抱歉,对 docker push 等还不熟悉.

[2020-01-04 14:03] realcirno opened #199 "功能建议：添加开机自启"
希望加入开机后自启选项，或者可能UI过于简陋可以添加到配置中，将最小化按钮动作改为从任务栏隐藏到右下角，而不是任务栏中，因为很容易点X儿关闭。

[2020-01-04 14:13] yatounoneko commented on #199
这玩意有UI？？你自己写个.bat或.sh放进系统自启列表里。。。难道不会更方便？？

[2020-01-04 14:16] realcirno commented on #199
只是提个建议而已。。。。。

[2020-01-04 14:17] #199 closed, assigned to GreaterFire

[2020-01-05 10:00] iwzoo opened #201 "nat 模式该如何配置？？"
不太理解客户端nat模式配置中如何正确设置目标地址， 从log看是把数据转发到了local 端口，同时试了target 不起作用， 从服务端log看又试图连接 客户端，nat模式是需要特殊的配置吗？  谢谢

trojan 1.14
现在的配置如下

客户端
[code]

服务端配置
[code]

客户端输出信息
[code]

服务端输出信息
[code]

[2020-01-05 12:11] #201 closed, assigned to nobody

[2020-01-05 14:02] ghost commented on #201
https://www.johnrosen1.com/ubuntu-router/ 请参考此文

[2020-01-05 14:07] iwzoo commented on #201
多谢， 已经解决。 需要iptables 添加规则。
不过我改用 forward了， 目前是ss -> trojan (forward) -> trojan (server) -> ss-server

[2020-01-05 15:56] GreaterFire commented on #198
I actually have no immediate knowledge on how to build docker images for various architectures. I might do it when I have time.

[2020-01-06 04:47] zhoubowen-sky opened #202 "[Feature Request] Are there plans to develop macOS windows or other GUI clients?"
Are there plans to develop macOS windows or other GUI clients?
I'm a Go developer(and android)，I can participate if possible.

[2020-01-06 19:04] foxundermoon opened #203 "[question] how to build on macos"
macos 怎么编译

[code]
openssl 版本有特殊要求吗

[2020-01-06 23:14] GreaterFire commented on #202
There is this https://github.com/trojan-gfw/trojan-qt but is suspended by the original author.

[2020-01-06 23:16] GreaterFire commented on #203
Use brew to build, otherwise you have to specify an OpenSSL (>= 1.1.0) by `OPENSSL_INCLUDE_DIR`.
https://github.com/trojan-gfw/homebrew-trojan
[code]

[2020-01-07 08:12] foxundermoon commented on #203
aha  I found the method on azure pipelines
[code]

[2020-01-07 08:13] foxundermoon commented on #203
by the way  .  how to cross compile for arm  linux?

[2020-01-07 13:32] E8x6UDEm commented on #198
明白.或许我可以尝试学一下,然后提交pr.

[2020-01-07 13:32] #198 closed, assigned to GreaterFire

[2020-01-07 21:13] GreaterFire commented on #203
We are not generic tech support. Please do it yourself.

[2020-01-09 09:08] zhoubowen-sky commented on #202
I am implementing the Trojan protocol in go language, and I will open it's source code in the near future.
To some extent, Go program can adapt to more platforms easilty.

[2020-01-09 10:43] os9sur opened #205 "Cannot start"
root@localhost:~ $ systemctl status trojan
● trojan.service - trojan
   Loaded: loaded (/etc/systemd/system/trojan.service; disabled; vendor preset: enabled)
   Active: activating (auto-restart) (Result: exit-code) since Thu 2020-01-09 05:36:56 EST; 251ms ago
     Docs: https://trojan-gfw.github.io/trojan/config
           https://trojan-gfw.github.io/trojan/
  Process: 14078 ExecStart=/usr/local/

[2020-01-09 10:48] #205 closed, assigned to GreaterFire

[2020-01-09 16:08] foxundermoon commented on #203
thx very much

[2020-01-09 16:09] #203 closed, assigned to GreaterFire

[2020-01-10 02:14] graytoowolf opened #206 "My server is now installed with 1.13. How to upgrade to 1.14"
My server is now installed with 1.13. How to upgrade to 1.14

[2020-01-10 07:54] allentony0502 opened #207 "[BUG]服務器版本更新時因沒提示需要備份config文件，導致文件内容丟失"

[2020-01-11 18:13] lei1996 opened #208 "[Feature Request] 如果我想在我的mk7621 路由器编译客户端，具体可行吗？"
- [ ] I certify that I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan should care about?**
Trojan is a protocol i

[2020-01-12 06:24] xisa-gh opened #209 "[BUG] 1.14.0编译提示"
- [ ] I certify that I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.14.0

**Describe the bug**
系统信息及编译环境
Debian 4.9.65-3+deb9u1 (2017-12-23) x86_64 GNU/Linux
Boost

[2020-01-12 06:27] love4stella opened #210 "关于Trojan安装的几个问题"
各位大神，本人小白。用的是mac os catalina，VPS是GCP。一键安装了trojan安装了bbrplus。下载了macos 1.14的客户端，也修改了客户端的config文件（VPS端啥也没改），改了一个自己的域名，一个SSL的验证为false。

我有两个问题请教下
1. config.json文件里的password是啥？我要去哪里找呢？我用xftp看VPS上的config文件密码默认是password1和password2。我下载的windows客户端（一键安装后的链接），里面有一个密码，我把这个密码复制进macos的config还是不行。但是运行起来也没有报错，就是连不上外网（百度可以）。

2.这玩意儿是不是非得用chrome然后搭配插件呢？自带的Safari不行吗？

感谢指点小白

[2020-01-12 16:30] moldis opened #211 "Any documentation to compile for IOS ?"
HI,
I am looking for documentation to compile for IOS or maybe for MacOS (i can convert it to IOS later).

I am able to convert Golang libs, but was not able to make it for trojan

Thanks, Artem

[2020-01-12 16:31] moldis commented on #211
Great project btw, you made really nice work

[2020-01-13 01:23] PHCSJC opened #212 "request compile arm64 bin"
Hi,I am using arm64 debian,can you compile arm64 bin?
thanks!

[2020-01-13 01:29] wongsyrone commented on #212
https://github.com/trojan-gfw/trojan/issues/186#issuecomment-569483661

[2020-01-13 05:47] foxundermoon commented on #186
[trojan.zip](https://github.com/trojan-gfw/trojan/files/4052246/trojan.zip)  for arm v7  32