[2020-06-11 08:16] #452 closed, assigned to GreaterFire

[2020-06-11 08:27] okudayukiko commented on #452
现在的Linux发行版都是OpenSSL 1.1.1，不提供OpenSSL 1.1.0。

[2020-06-11 12:26] GreaterFire commented on #452
@okudayukiko Compile OpenSSL 1.1.0 yourself.

[2020-06-11 15:32] GreaterFire commented on #451
No. Not trivially possible.

[2020-06-12 10:59] wxh06 opened #453 "Misleading in docs/overview.md"
`strong encryption` and `However, trojan implements the direct opposite: ... HTTPS` in [`docs/overview.md`](https://github.com/trojan-gfw/trojan/blob/master/docs/overview.md) (https://trojan-gfw.github.io/trojan/overview) are in contradiction -- HTTPS (TLS) is also strong encrypted.

#### References
- https://www.youtube.com/watch?v=ePxnyW7iju4&t=14m13s
- https://www.idleleo.com/02/4064.html#title

[2020-06-12 16:42] GreaterFire commented on #453
The "direct opposite" is relative to "random obfuscation", not "strong encryption".

[2020-06-13 03:53] wxh06 commented on #453
Yes, I know what you means. But it really causes misunderstanding.

[2020-06-13 17:11] GreaterFire commented on #453
I don't think it's a hell of a big deal. If people are misled, it's their problem. I think the meaning here is obvious enough.

[2020-06-14 11:44] icebluey opened #454 "error with boost 1.73.0"
-- The CXX compiler identification is GNU 8.4.0
-- Check for working CXX compiler: /bin/c++
-- Check for working CXX compiler: /bin/c++ - works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- Looking for C++ include pthread.h
-- Looking for C++ include pthread.h - found
-- Performing Test CMA

[2020-06-14 15:29] GreaterFire commented on #454
Firstly, this is not an error, just a compiler note. Secondly, from the look of this message, this is a problem of the Boost library.

[2020-06-14 15:29] #454 closed, assigned to GreaterFire

[2020-06-14 15:29] #453 closed, assigned to nobody

[2020-06-15 00:13] AhMeiYouLook opened #455 "[Feature Request]"
when to develop App

[2020-06-15 00:46] wongsyrone commented on #454
Should be fixed via https://github.com/boostorg/property_tree/commit/d1c8825a45a0717e1ad79583d3283b0e5e32831e

[2020-06-15 01:02] #455 closed, assigned to GreaterFire

[2020-06-15 06:38] 82kg opened #456 "假如访问http://xxxx.com:443 Trojan会直接中断连接，能否做跳转?"
假如访问http://xxxx.com:443 Trojan会直接中断连接，能否做跳转?
Trojan-go 里，好像可以将这个TCP连接代理到本地127.0.0.1:1234上运行的HTTPS服务，返回一个展示400 Bad Reqeust的HTTP页面

[2020-06-15 06:40] GreaterFire commented on #456
https://trojan-gfw.github.io/trojan/config
See `plain_http_response`.

[2020-06-15 06:40] #456 closed, assigned to GreaterFire

[2020-06-15 06:41] 82kg commented on #456
thank you

[2020-06-15 09:36] 82kg opened #457 "how to use the parameter "plain_http_response""
i set the value like   "plain_http_response": "/www/index_r.html"

but it won`t get work。when i open   http://xxx.com:443 。

the webbrowser  still get  "发送的响应无效。ERR_INVALID_HTTP_RESPONSE"

[2020-06-15 13:10] GreaterFire commented on #457
@82kg Read the docs again. The file you enter should not be an HTML file.

[2020-06-15 18:30] github-young opened #458 "[Feature Request] trojan-panel: add units for quota"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
It is not quite like a problem. It is more like a suggestion.
The quota in trojan-panel is in the unit of bytes, which is not convenien

[2020-06-16 12:02] PaleNeutron opened #459 "[Feature Request]Add example openSSL script for cert generating to wiki"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
I have tried the following command to generate the cert used by trojan, but got error:
[code]
While I changed to generating the cert wi

[2020-06-16 12:51] Chigusa0w0 commented on #459
Self-signed certificate is not recommended for trojan.

[2020-06-16 12:51] #459 closed, assigned to GreaterFire

[2020-06-16 13:50] GreaterFire commented on #458
Get used to it. Also technically `trojan-panel` is just my hobby project and will not be supported by the Trojan-GFW team.

[2020-06-16 13:50] #458 closed, assigned to GreaterFire

[2020-06-16 13:51] #457 closed, assigned to GreaterFire

[2020-06-16 13:51] GreaterFire commented on #458
Actually, if you really want it you can implement it yourself. PR is welcomed though.

[2020-06-16 15:22] github-young commented on #458
Thank you. I just change the units (from original B to MB as I think the latter is more frequently used).
And I made a [PR](https://github.com/trojan-gfw/trojan-panel/pull/20), but it is up to you whether to accept such a naive change.
Preview:
![图片](https://user-images.githubusercontent.com/19162282/84793203-6b61b500-b027-11ea-9fee-2d901dba25fa.png)

[2020-06-17 00:57] Mao-jiawei opened #460 "能不能加入限制多设备同时使用的功能"
能不能加入限制多设备同时使用的功能  像session 那样验证

[2020-06-17 01:40] xhrm commented on #460
期待~Trojan在断开连接后会向数据库写入流量信息，由此可以判定当前是否已经链接未断开，从而再次链接进行限制

[2020-06-17 01:41] GreaterFire commented on #460
No plans now or in the future to implement this.

[2020-06-17 01:42] GreaterFire commented on #460
@xhrm This is way harder than you think and requires modifications to the protocol, which I **absolutely** don't want to do.

[2020-06-17 01:42] #460 closed, assigned to GreaterFire

[2020-06-18 03:23] tomxiang1 opened #461 "[Feature Request]Can you provide more system release packages."
Can you provide more system release packages? Such as freebsd, etc.

[2020-06-18 05:37] GreaterFire commented on #461
@tomxiang1 We do not officially support OS packages. You can package trojan yourself and submit it to, say, FreeBSD.

[2020-06-19 15:58] #461 closed, assigned to GreaterFire

[2020-06-20 01:02] karuboniru opened #462 "I am packaging trojan for Fedora system"
Since the templates don't fit the topic, I am not going to use the issue templates.

## What did you do?
In short, I am trying to package this to Fedora release, and this will be finished soon, package is approved, and next thing to do is mostly QA testing and so on.

## Any benefit?
- Trojan users on Fedora will be able to install trojan in one simple command `sudo dnf install trojan` once this p

[2020-06-20 01:04] GreaterFire commented on #462
Thanks. We appreciate your effort to packaging trojan for Fedora! That said, you are not required to notify us of your action regarding your package.

[2020-06-21 06:12] RayLiu-1217 opened #463 "【求助】我的trojan可以正常运行，但是无法转发流量，我实在是摸不着头脑了，特此请教大神们。"
我的日志：
Jun 21 13:43:52 racknerd-a328ad trojan[24608]: [2020-06-21 13:43:52] [INFO] 110.231.147.157:1237 disconnected, 0 bytes recei
Jun 21 13:43:52 racknerd-a328ad trojan[24608]: [2020-06-21 13:43:52] [ERROR] 110.231.147.157:1242 SSL handshake failed: Conn
Jun 21 13:43:52 racknerd-a328ad trojan[24608]: [2020-06-21 13:43:52] [INFO] 110.231.147.157:1242 disconnected, 0 bytes recei
Jun 21 13:43:52 rac

[2020-06-21 06:15] RayLiu-1217 commented on #463
My trojan is not working

[2020-06-22 00:22] RayLiu-1217 commented on #463
根据我对日志的分析，主要问题是与ssl握手失败引起的，但是我不知道如何解决，我已经尝试了Google上的许多办法，但仍然徒劳。

[2020-06-22 00:24] GreaterFire commented on #463
https://github.com/trojan-gfw/trojan/blob/master/CONTRIBUTING.md

[2020-06-22 00:24] #463 closed, assigned to nobody

[2020-06-22 00:24] #462 closed, assigned to GreaterFire

[2020-06-22 08:50] wdweidao opened #464 "[BUG]"
**Trojan Version**
1.16.0,1.15.1

**Describe the bug**
run client in ubuntu with "sudo ./trojan",it return error message

**Environment**
ubuntu18.04,desktop is Mate

![screenshot_2](https://user-images.githubusercontent.com/44543137/85267717-31b9ff80-b4a8-11ea-9f32-20750b01c25a.png)

[2020-06-22 09:22] karuboniru commented on #464
Please check your config file:
- listen in lower ports (a.k.a. `port number` below 1024) need privilege, you can set `setcap 'cap_net_bind_service=+ep' /path/to/trojan` to enable this for trojan. (Or use systemd to start trojan)
- `no such file or directory` is that you set wrong path to your certificate file, double check your config file.

[2020-06-22 14:37] #464 closed, assigned to GreaterFire

[2020-06-23 01:06] terryyizhong opened #465 "[BUG]"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
tested in latest 1.16.0

**Describe the bug**
canot se

[2020-06-23 01:07] terryyizhong opened #466 "[BUG] cannot see video in a website"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
tested in latest 1.16.0

**Describe the bug**
canot se

[2020-06-23 01:07] #465 closed, assigned to GreaterFire

[2020-06-23 03:32] Chigusa0w0 commented on #466
Any log?

[2020-06-23 08:32] terryyizhong commented on #466
[2020-06-23 16:31:21] [INFO] 127.0.0.1:9862 requested connection to tomovhxtv.vhx.tv:443
[2020-06-23 16:31:21] [INFO] 127.0.0.1:9863 requested connection to tomovhxtv.vhx.tv:443
[2020-06-23 16:31:21] [INFO] 127.0.0.1:9864 requested connection to d2wy8f7a9ursnm.cloudfront.net:443
[2020-06-23 16:31:21] [INFO] 127.0.0.1:9865 requested connection to use.typekit.net:443
[2020-06-23 16:31:21] [INFO] 127

[2020-06-23 08:38] terryyizhong commented on #466
The other part of the website shows correctly except the video.
By the way, I can only use trojan successfully by turn the verify of ssl to false in config.

[2020-06-23 13:15] mingzhizhiren opened #467 "about lib-trojan-gfw"
- [x ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
I want a function like "lib-trojan-gfw" to integrate trojan into my project without having to move the source code

[2020-06-23 14:26] Chigusa0w0 commented on #467
See [CONTRIBUTING.md](https://github.com/trojan-gfw/trojan/blob/master/CONTRIBUTING.md)

[2020-06-23 14:26] #467 closed, assigned to GreaterFire

[2020-06-23 14:30] Chigusa0w0 commented on #466
I don't see anything unusual from your client-side log, except that two tracker site seems to be blocked. You may need to provide server side log.

[2020-06-23 18:03] jinwyp commented on #463
试试我的脚本 没问题啊 https://github.com/jinwyp/one_click_script

[2020-06-23 19:24] love4taylor opened #468 "[Feature Request] log-without-time option"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
Since systemd's log already contains the time itself, it would be unnecessary for trojan's log to output the time again.

**Describe th

[2020-06-24 03:10] terryyizhong commented on #466
OK thanks for your informatin. I'll post server side log later

[2020-06-25 06:19] Lyoko-Jeremie opened #469 "[Feature Request] add http proxy support (aka mixed-mode)"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

ref : https://github.com/trojan-gfw/trojan/issues/122#issuecomment-517938411

Hi~ @GreaterFire

i think it can easy implement , we only need to analysis the first package first 3 byte, if find `\x05\x01

[2020-06-25 06:32] GreaterFire commented on #469
@Lyoko-Jeremie I don't see any reason of implementing HTTP proxy. There are loads of tools converting SOCKS5 proxies to HTTP proxies. See CONTRIBUTING.md.

[2020-06-25 08:02] testcaoy7 commented on #25
@GreaterFire
 In recent days, servers use IPLC and IEPL connection become more common. Those connections have no censorship.
A PSK certificate-less setup in IPLC has certain advantages. To reduce cost, a lot of IPLC-VPS comes with NAT. They do not has public IP address and you cannot issue a Lets Encrypt certificate in those machine. A PSK setup can be used in NAT-VPS. You will get a trojan server

[2020-06-25 13:54] terryyizhong commented on #466
hi, I try to find logs on the server, but don't know where it is.
Could you tell me how to get the server side log?
Thanks

[2020-06-25 15:38] GreaterFire commented on #25
@testcaoy7 In that case, just use Shadowsocks.

[2020-06-25 16:24] #469 closed, assigned to GreaterFire

[2020-06-25 16:25] Chigusa0w0 commented on #466
`journalctl -f -u trojan`

[2020-06-26 15:52] laoyur commented on #13
Hi, any progress on OCSP stapling ?

[2020-06-26 16:08] GreaterFire commented on #13
@laoyur This has been excluded from our plan a few years ago.

[2020-06-27 17:12] clerfun commented on #466
i have this problem，and gmail is closed , google translate is closed , I suspect it is DNS pollution

[2020-06-28 06:40] xhrm opened #470 "多域名绑定服务器如何操作"
域名a.com
域名b.com
同时解析到Trojan服务器（只有一个IP）使用，是否支持，如何配置呢？

[2020-06-28 08:32] terryyizhong commented on #466
I cannot see anything about trojan on the server side when I open the website by using journalctl -f -u trojan
I think this is the only log I got when I open the website: by using command journalctl -f:

Jun 28 08:28:20 shouer sshd[19692]: Invalid user liuyang from 221.12.107.26 port 34313
Jun 28 08:28:20 shouer sshd[19692]: input_userauth_request: invalid user liuyang [preauth]
Jun 28 08:28:20 sh

[2020-06-28 08:33] terryyizhong commented on #466
this is the tail of command: journalctl -f -u trojan
Jun 24 03:34:07 shouer trojan[821]: [2020-06-24 03:34:07] [INFO] 183.233.96.135:7518 requested connection to best.d
Jun 24 03:34:08 shouer trojan[821]: [2020-06-24 03:34:08] [INFO] 183.233.96.135:7521 authenticated as 21219c1c
Jun 24 03:34:08 shouer trojan[821]: [2020-06-24 03:34:08] [INFO] 183.233.96.135:7521 requested connection to tracke
Jun

[2020-06-28 08:41] Chigusa0w0 commented on #466
Your log still contains no diagnostic information. You may need to revisit the website and provide ___both___ client/server log of the ___same time range___, be sure it is long enough to cover the full life cycle of the session.
I will close your issue for the time being, as the situation you were run into to is too rare to be considered as a defect in Trojan. But, once you have the above mentione

[2020-06-28 08:41] #466 closed, assigned to GreaterFire

[2020-06-28 08:46] Chigusa0w0 commented on #470
See #131 , the principle is the same

[2020-06-28 08:46] #470 closed, assigned to GreaterFire

[2020-06-28 09:25] x0r2d2 commented on #310
@GreaterFire
Hello. Any chance that "device limit" feature will be implemented in near future?
Thanks.

[2020-06-28 13:35] dengcb opened #471 "[BUG] 终端下连github失败"
**Trojan Version**
1.16.0

**Describe the bug**
使用socks5协议失败，使用socks5h协议成功

**To Reproduce**
1. 下载配置并运行trojan
2. git配置为下面时，取回0数据，失败
[code]
3. 修改socks5为socks5h，成功

**Expected behavior**
是否应该默认就支持带域名的，因为很多proxy设置是只有socks5的

**Logs**
`[INFO] 127.0.0.1:64633 requested connection to 192.30.253.112:443` 失败
`[INFO] 127.0.0.1:64633 requested connection to github.com(192.30.253.112):443` 成功

**Environment*

[2020-06-28 16:36] GreaterFire commented on #471
@dengcb This should be DNS pollution of github.com. You have to redirect DNS (aka use socks5h) in this case. There is no workaround.

[2020-06-28 16:36] GreaterFire commented on #310
@hybtoy No.

[2020-06-29 07:33] dengcb commented on #471
我之前用ss的socks5的时候没有这个问题，换成trojan的socks5就不行了。
有没有办法用远程DNS解析避免污染呢？配置里有这个支持选项吗？
我的谷歌开发工具貌似也是因为这个问题更新不了。
而且我并不知道开发工具连的网址是什么，都没法通过hosts来写死解析。

[2020-06-29 11:50] okudayukiko commented on #452
更新：
OS: Ubuntu 20.04
Trojan version: Install from APT-GET
1、`/etc/trojan/config.json`
`"cipher_tls13": "NULL"`和`"cipher_tls13": "NONE"`無效
2、`/lib/systemd/system/trojan.service`
`Environment=MaxProtocol=TLSv1.2`無效
3、`/etc/ssl/openssl.cnf`
`ssl_conf = ssl_sect`
`[ ssl_sect ]`
`system_default = system_default_sect`
`[ system_default_sect ]`
`MaxProtocol = TLSv1.2`
無效
在單核VPS和雙核VPS上，TLS-AEAD-SHA2性能都比TL

[2020-06-29 11:52] okudayukiko commented on #452
我使用AnyConnect和Igniter發現，單核VPS使用AES-CBC-SHA2速度最快。AEAD-SHA2要進行兩輪計算。單核VPS，Ubuntu 20.04，看YouTube 1080P時，VPS的CPU使用率就高達50%。
`/etc/ocserv/ocserv.conf`
`#Ocserv不使用AES-GCM的設定`
`tls-priorities = "NONE:+VERS-TLS1.0:+VERS-TLS1.1:+VERS-TLS1.2:+VERS-DTLS1.0:+VERS-DTLS1.2:+SIGN-ALL:+ECDHE-RSA:+ECDHE-ECDSA:+AES-128-CBC:+AES-256-CBC:+SHA1:+SHA256:+SHA384:+CURVE-SECP256R1"`

[2020-06-29 13:18] Chigusa0w0 commented on #452
#415 #418 #452 DO NOT trash post multiple issues for an already discussed topic.

[2020-06-29 13:31] Chigusa0w0 commented on #471
Trojan will use system-wide DNS settings. You may need to use tools to secure your local DNS from pollution, which is a good practice as DNS may, more or less, leak your identity and information.

[2020-06-29 16:34] dengcb commented on #471
我总觉得还是哪里不对
你看，我用chrome打开google，是这样
`[2020-06-30 00:29:59] [INFO] 127.0.0.1:55580 requested connection to id.google.com:443`
谷歌开发工具更新就是这样
`[2020-06-30 00:32:13] [INFO] 127.0.0.1:55656 requested connection to 203.208.46.146:443`

我已经把dns server设置为1.1.1.1了啊，应该没有dns污染问题了
但是用ip的就不行，用域名的就可以，让我觉得是chrome做对了什么

[2020-06-30 06:36] wunifeng opened #472 "Can't send pictures when proxy always on"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
when Server on windows, o

[2020-07-02 22:37] Chigusa0w0 commented on #472
This should be a connectivity / Tencent firewall issue. If you believe this issue is caused by related software, you shall open an issue in Shadowrocket first unless its developers confirm it is Trojan's problem.

[2020-07-02 22:37] #472 closed, assigned to GreaterFire

[2020-07-02 23:47] GreaterFire commented on #472
@wunifeng Shadowrocket has its own implementation of Trojan protocol and is not maintained by Trojan-GFW.

[2020-07-09 12:45] wangzhankun commented on #471
请问Ubuntu下开启Trojan之后如何全局代理呢？是使用下面的命令吗？
[code]

[2020-07-10 04:24] dengcb commented on #471
我是用
[code]

[2020-07-10 09:18] wongsyrone commented on #399
Hi, I tested the latest trojan on Archlinux

Install tools and trojan from Archlinux packages repository
[code]

Package versions
[code]

Generate test certificate and key
[code]

File contents and detailed output
[code]

[2020-07-11 03:33] zhangshp opened #476 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
增加https Let's Encrypt证书自动获取，解决证书问题

[2020-07-11 04:13] paradiseduo opened #477 "[Feature Request]服务器测速功能"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-07-11 04:24] Chigusa0w0 commented on #476
No.

[2020-07-11 04:24] #476 closed, assigned to GreaterFire

[2020-07-11 04:25] Chigusa0w0 commented on #477
This is not a protocol feature. You should ask UI/Manager projects for this feature.

[2020-07-11 04:25] #477 closed, assigned to GreaterFire

[2020-07-13 01:41] kurt-steiner opened #479 "从源代码编译，CMake出错了"
[code]
求助一下，不会用CMake，谢谢

[2020-07-13 06:34] #479 closed, assigned to nobody

[2020-07-15 08:48] IiMM0811 opened #480 "[BUG]在power shell执行trojan.exe -h文件没反应，"
如题

[2020-07-15 09:44] pullp commented on #480
可以提供更多的信息吗(比如trojan版本或者具体复现步骤?). 我使用trojan 1.16.0在windows10下执行  `./trojan.exe -h` 可以得到如下结果

[code]

[2020-07-15 09:48] IiMM0811 commented on #480
我几经解决了，要点一下最后的那个文件一下，

[2020-07-15 09:56] #480 closed, assigned to GreaterFire

[2020-07-15 16:20] dengcb commented on #471
我的问题就是，用socks5协议，Android Studio、iTerm下git checkout github，都是取回0字节数据。

难道就只有我一个人遇到？

[2020-07-15 16:43] dengcb opened #481 "[BUG] https网站不安全错误，导致网页功能错误或者页面样式缺失"
**Trojan Version**
1.16.0

**Describe the bug**
访问 https://www.abc.com 时，页面显示不全，有些ajax的功能失败。其中www.abc.com 就是配置里的网站。

**Logs**
`jquery.min.js?36d360cd991fb4e12f6c741b352575a4:2 Mixed Content: The page at 'https://www.abc.com/...' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://www.abc.com/...'. This request has been blocked; the content must be served over HTTPS.`

[2020-07-15 16:45] dengcb commented on #481
多说一句。

其中 https://www.abc.com 之前是能正常访问的，启用Trojan后，就没法通过https访问了。

[2020-07-15 17:22] Chigusa0w0 commented on #481
Cannot reproduce on my deployment.

[2020-07-15 17:23] Chigusa0w0 commented on #481
Can you post your config file? You may redact as needed.

[2020-07-15 17:34] Chigusa0w0 commented on #471
One possible explanation is that these websites use some kind of GeoDNS technology, so cross-regional access may causes some uncertain connectivity issues. Whether the DNS is resolved by the proxy in these software is entirely determined by your configuration (the `h` in `socks5h`). Trojan should not intercept the user's DNS request without explict permission.

[2020-07-16 02:01] tomxiang1 commented on #481
nginx增加以下配置看能不能解决
add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; ";

[2020-07-16 04:42] dengcb commented on #471
两个反例，第一，chrome访问一切正常，第二，切换Trojan前用ss的socks5，一切正常

[2020-07-16 04:47] Chigusa0w0 commented on #471
Unfortunately, the information you provided is not enough for us to confirm whether this problem is a defect in Trojan's implementation, and no one else has reported a similar problem so far. Therefore, we will temporarily close this issue. If you have more technical information available, please reopen this issue.

[2020-07-16 04:47] #471 closed, assigned to GreaterFire

[2020-07-16 11:38] YongChingShieh opened #482 "建议部分开源"
由于trojan-gfw是开源项目 意味着开发防火墙的人也可以下载源代码分析 从而找到应对trojan的方法   建议核心代码或核心模块不开源 采用部分开源方式

[2020-07-16 13:53] KevinZonda commented on #482
And all the security researchers can review the project.

[2020-07-16 14:13] #482 closed, assigned to GreaterFire

[2020-07-16 15:34] dengcb commented on #481
我发现是html里的base自动生成的是http的，所以我把base给删掉了，暂时正常了。

还有一些其他地方，自动使用了http，慢慢改吧。

多说一句，之前ss的obfs，也是443跳转80，没有发生任何问题。

[2020-07-16 15:34] #481 closed, assigned to GreaterFire

[2020-07-17 03:12] linkedsh0926 opened #483 "[BUG]Trojan流量貌似可以被运营商识别"
![TIM截图20200717111058](https://user-images.githubusercontent.com/34146285/87744573-60fd2b80-c81e-11ea-9426-6af695fd286d.png)
大家心里有个数

[2020-07-17 03:13] GreaterFire commented on #483
@linkedsh0926 Please don't post unverified screenshots.

[2020-07-17 03:14] linkedsh0926 commented on #483
@GreaterFire 不信拉倒

[2020-07-17 03:56] wongsyrone commented on #483
对对对，你说的都对

[2020-07-17 03:56] #483 closed, assigned to GreaterFire

[2020-07-17 04:28] demo0102 commented on #483
无中生有的消息，你传播一遍等于你也有责任？

[2020-07-18 06:50] ghost opened #484 "[BUG] Automatically download generate_204 file instead of accessing the website"
Environment: Windows

When I wish to access blocked websites, the browser automatically downloaded a file named generate_204 instead of accessing the websites.

[2020-07-18 07:07] Chigusa0w0 commented on #484
What browser are you using. Can you upload the downloaded file?

[2020-07-18 07:15] ghost commented on #484
I was using Chrome. [](url)

It is a text file with the following hexadecimal content:

0000 1e04 0000 0000 0000 0100 0010 0000
0300 0000 6400 0400 1000 0000 0500 0040
0000 0600 0040 0000 0004 0800 0000 0000
000f 0001 0000 0807 0000 0000 0000 0000
0000 0000 01

[2020-07-18 07:15] ghost commented on #484
[generate_204.txt](https://github.com/trojan-gfw/trojan/files/4941254/generate_204.txt)

[2020-07-18 09:36] Just1n commented on #484
facing the same issue.

[2020-07-18 09:37] Just1n commented on #484
By using MySQL authenticator.

[2020-07-18 15:47] Chigusa0w0 commented on #484
Can you visit HTTP sites like example.com? Does similar issue appears when you visiting non-Google sites? Can you post your configuration file?

[2020-07-19 14:25] chinalcm001 commented on #201
你好，能帮忙解释一下如何配置ss -> trojan (forward) -> trojan (server) -> ss-server，拜托谢谢！

[2020-07-19 17:23] ixearth opened #485 "LibreSSL Compatibility about TLS 1.3"
**Trojan Version**

I built trojan with LibreSSL and `-DENABLE_MYSQL=OFF -DENABLE_SSL_KEYLOG=OFF -DENABLE_TLS13_CIPHERSUITES=OFF -DSYSTEMD_SERVICE=OFF`

[code]

**Describe the bug**
Built without ciphersuites support, It does not work when I replace cipher to TLS 1.3 ones.

**To Reproduce**
I have tried
- Replace `SSL_CTX_set_ciphersuites` to `SSL_CTX_set_cipher_list` in `src/core/service.cpp`, bu

[2020-07-19 22:51] wongsyrone commented on #485
LibreSSL doesn't implement it yet.
LibreSSL only supports TLS 1.3 for clients, not yet servers
https://github.com/libressl-portable/portable/issues/228#issuecomment-655813955

[2020-07-19 22:51] #485 closed, assigned to GreaterFire

[2020-07-19 23:02] wongsyrone commented on #485
To make it clear, use OpenSSL instead.

[code]

https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/libressl-3.1.1-relnotes.txt

[code]
https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/libressl-3.2.0-relnotes.txt

[2020-07-19 23:49] Just1n commented on #484
Hi @Chigusa0w0 I fixed it by changing the password format to "username:password".
The reason why I saw the 'generate_204' issue was, I used the wrong password. And it only happened when I was trying to open google.com, not sure if it's a trojan bug, or it might be something that related to my Chrome extension.

[2020-07-19 23:52] Chigusa0w0 commented on #484
@Just1n This is a known defect of third-party software. See #311 if you are interested in the detail.

[2020-07-20 00:09] Just1n commented on #484
Great, thank you @Chigusa0w0

[2020-07-20 06:20] wongsyrone commented on #483
WireGuard 本身特征明显，因此被封也说得通

[2020-07-21 13:17] #484 closed, assigned to GreaterFire

[2020-07-21 13:19] wang-changze commented on #484
ok

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Chigusa0w0"<notifications@github.com&gt;;
发送时间: 2020年7月21日(星期二) 晚上9:18
收件人: "trojan-gfw/trojan"<trojan@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: Re: [trojan-gfw/trojan] [BUG] Automatically download generate_204 file instead of accessing the website (#484)

Closed #484.

—
You are receiving this bec

[2020-07-22 13:17] mengyyy opened #487 "脚本安装失败"
**Trojan Version**
1.6.0

**Describe the bug**
安装包解压失败
tar: Refusing to read archive contents from terminal (missing -f option?)

**To Reproduce**
bash -c "$(wget -O- https://raw.githubusercontent.com/trojan-gfw/trojan-quickstart/master/trojan-quickstart.sh)"

**Expected behavior**
成功安装

**Logs**
Downloading trojan 1.16.0...
########################################################################

[2020-07-22 17:46] Chigusa0w0 commented on #487
`sudo apt-get install xz-utils`

[2020-07-22 17:46] #487 closed, assigned to GreaterFire

[2020-07-24 05:59] dotNetDR opened #488 "[Feature Request]未来trojan可以跑在cloudflare cdn后面吗？"
我试了一下当前1.16.0版本，放到cf后面会报错。

配置都一样的情况下：
[code]

目前trojan是不是不支持跑在cdn后面？未来版本可以支持吗？

[2020-07-24 06:01] dotNetDR commented on #488
不知道怎么撤销bug标签....

[2020-07-24 06:49] Chigusa0w0 commented on #488
Never.

[2020-07-24 06:49] #488 closed, assigned to GreaterFire

[2020-07-25 18:13] okudayukiko opened #489 "[Feature Request] 增加SOCKS5僅代理TCP的功能：proxytcponly"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-07-25 18:37] okudayukiko commented on #469
Shadowsocks就是把SOCKS5 PROXY轉換為HTTP PROXY+HTTPS PROXY，用了Privoxy程式。IE/Edge（EdgeHTML）使用SOCKS4。

[2020-07-25 18:39] okudayukiko commented on #483
如果是Aliyun發出的信件，那並不奇怪。

[2020-07-25 18:47] okudayukiko commented on #463
刪掉
`"alpn_port_override": {`
`"h2": 81`
`},`
變更
`"cipher": "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384",`
不要用太簡單的密碼。
IE/Edge由於使用SOCKS4協定，用Trojan會出現TLS憑證錯誤問題或者意外斷線問題，解決方法：用Privoxy將SOCKS5 PROXY轉換為HTTP PROXY+HTTPS PROXY。Chrome預設用的是SOCKS4協定，得用「chrome --proxy-server="socks5

[2020-07-25 19:02] okudayukiko commented on #487
script可以考慮增加安裝xz功能。我直接用`apt install trojan`。
`apt install xz-utils`
`yum install xz`

[2020-07-25 19:34] Chigusa0w0 commented on #489
Trojan core don't care what it transmits. It's YOUR responsibility to configure TCP-only proxy. For example, `proxifier` will never send UDP to Trojan, because it doesn't have such ability.
But on the other hand, Igniter uses VPN interface and distinguish protocols internally. You should ask Igniter team for the feature, not here.

[2020-07-25 19:34] #489 closed, assigned to GreaterFire

[2020-07-26 02:04] hustsqh opened #490 "can it support mpls?"

[2020-07-26 04:35] ghost opened #491 "All the tls 1.2 **RSA** ciphers are not working properly"
- [ok ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.

1.16.0 directl

[2020-07-26 04:53] wongsyrone commented on #491
These tests will be redirected to 127.0.0.1:80 since they are not Trojan requests.

[2020-07-26 05:14] #490 closed, assigned to GreaterFire

[2020-07-26 11:04] okudayukiko commented on #491
`DHE-RSA-AES128-GCM-SHA256`和`DHE-RSA-AES256-GCM-SHA384`要求`dhparam`不為空。
`openssh dhparam -out dhparam.pem 2048`

[2020-07-26 11:18] okudayukiko commented on #489
Trojan伺服器端或用戶端只協商一個TLS Cipher，看視頻緩慢的問題解決。
`{`
`"run_type": "server",`（或`"run_type": "client",`）
`"ssl": {`
`"cipher": "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256",`
`"cipher_tls13": "TLS_AES_128_GCM_SHA256"`
`}`
`}`
SSH用戶端使用以下命令（手動指定一個Cipher）也可以用SSH SOCKS5：`ssh -D 1080 -o Ciphers=aes128-gcm@openssh.com user@host`、`ssh -D 1080 -o Ciphers=chacha20-poly1305@openssh.com user@host`、`ssh

[2020-07-26 12:54] ghost commented on #491
@okudayukiko 默认dh是有的，是否自定义并不重要

[2020-07-30 08:26] okudayukiko opened #492 "[Feature Request]增加DNS CAA支援"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-07-30 08:56] ghost commented on #491
https://serverfault.com/questions/991806/nginx-some-ciphers-ciphers-not-offered **sorry,but i know why now**

[2020-07-30 08:56] #491 closed, assigned to GreaterFire

[2020-07-30 09:22] okudayukiko commented on #492
RFC 6844「Relying Applications MUST NOT use CAA records as part of certificate validation.」如要用IP-only自簽名證書，我覺得信任「自簽名CA證書」/「自簽名伺服器證書」的X.509 Fingerprint是最好的方案（但Trojan暫不支持此功能），不需導入證書，畢竟SSH就是用known_hosts紀錄伺服器公鑰的Base64/伺服器公鑰的Fingerprint。多個VPS用同一個CA簽名太麻煩了而且CA private key要妥善保管。只要CN、SAN符合IP/域名即可。
![Screenshot_20200730-180451_One UI Home](https://user-images.githubusercontent.com/17502357/88910887-ab0af600-

[2020-07-30 12:57] Chigusa0w0 commented on #492
As of January 2020, Qualys reports that still, only 6.8% of the 150,000 most popular TLS-supporting websites use CAA records.

[2020-07-30 12:57] #492 closed, assigned to GreaterFire

[2020-08-01 04:01] okudayukiko commented on #492
問題找到。我們的非中國版Android/iPhone手機，使用中國移動4G、中國聯通4G有耗電大、網速不穩定、網速減慢的問題。三星售後說，只能換中國版手機，或者用「4G to Wi-Fi」。後來買了個4G to Wi-Fi，行動上網問題解決。

[2020-08-01 07:40] junknet opened #493 "tproxy local traffic"
看了tproxy的iiptables设置
全部是对prerouting表做设置

看了v2ray-core的代码，里面大概是把本地流量 set-mark 0x1 通过路由设置打回 lo 网卡，再跳到prerouting链，跳TPROXY链
v2ray防止流量回环的做法是在 v2ray代理和remote server建立连接时 通过setsockopt SO_MARK 数据包标记 0xff ，iptables outputing链 -m mark 0xff -j RETURN 放行，比一味的使用 -d remote_addr 要好，因为dns解析出多个ip

能否做成那种形式,这样也可以方便代理本机流量

[2020-08-02 12:57] Lyoko-Jeremie commented on #469
@okudayukiko 不觉得Privoxy很麻烦么

[2020-08-03 01:22] YongChingShieh opened #494 "希望作者能保护自己"
https://github.com/Trojan-Qt5/Trojan-Qt5
![3299172095](https://user-images.githubusercontent.com/24885976/89137472-cfeeba00-d56a-11ea-9440-b89d42db18de.jpg)

[2020-08-03 02:06] testowenyoung opened #495 "[Feature Request] remote_addr support to proxy the other website"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I supposed the config `{"remote_addr: "ba

[2020-08-03 04:52] Chigusa0w0 commented on #494
Thanks.

[2020-08-03 04:52] #494 closed, assigned to GreaterFire

[2020-08-03 04:54] GreaterFire commented on #494
@yongqingxie Thanks!

[2020-08-03 04:55] Chigusa0w0 commented on #495
`remote_addr` should be a HTTP-only website while `baidu.com` implements site-wide HTTPS.

[2020-08-03 04:58] Chigusa0w0 commented on #493
Trojan core is a protocol implementation. As it doesn't provide connection handling by itself, it will not assume the attributes of the connection nor treat them differently.
It seems like a problem with third-party software, you may ask relating developers for the feature.

[2020-08-03 04:58] #493 closed, assigned to GreaterFire

[2020-08-03 10:19] okudayukiko opened #496 "[Feature Request]能否將Trojan-GFW程式提交到Chocolatey/Windows Package Manager？"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-08-03 23:55] testowenyoung commented on #495
@Chigusa0w0 I have tried  <http://163.177.151.109/>`163.177.151.109`, this is the ip of `www.baidu.com`. and it can open at the browser.

But it doesn't work at trojan.

[2020-08-03 23:56] Chigusa0w0 commented on #495
Pls post your full config, redact as needed.

[2020-08-04 00:14] Chigusa0w0 commented on #496
Trojan is a install-free dependency-free single binary file on windows (except VCRT). IMO it is pointless to publish it to such tool.

But, as always, contribution is welcomed.

[2020-08-04 00:14] #496 closed, assigned to GreaterFire

[2020-08-04 03:01] okudayukiko commented on #471
用Privoxy將SOCKS5代理轉換為HTTP代理+HTTPS代理。Windows代理設定（inetcpl.cpl）只支援SOCKS4。

[2020-08-04 03:10] likesoap opened #497 "[BUG] Trojan version 1.16 keeps reporting "unknown protocol""
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of the trojan you are using.

Welcome to t

[2020-08-04 03:19] likesoap commented on #497
I found a workaround for this issue, it seems to me that Trojan doesn't feel comfortable to listen at port 8080 for socks5, I changed it to 1080 and no more errors.

[2020-08-04 04:42] testowenyoung commented on #495
Thanks, @Chigusa0w0  Here is the config:

[code]

Log:

`[2020-08-04 12:40:37] [WARN] 127.0.0.1:55984 not trojan request, connecting to 163.177.151.109:80`

[2020-08-04 10:18] okudayukiko commented on #494
昨天用Chocolatey安裝Trojan-Qt5報錯。

[2020-08-05 13:05] ruanhuilingscuec opened #498 "How does nginx get the client's real IP"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
The client IP obtained by Nginx is 127.0.0.1, If we know the real IP, we can block unrecognized IP.

**Is this problem relevant to what

[2020-08-05 14:37] topgel commented on #288
我也遇到这个问题，请问是怎么解决的？

[2020-08-05 15:20] Chigusa0w0 commented on #498
See #377

[2020-08-05 15:20] #498 closed, assigned to GreaterFire

[2020-08-06 01:46] fbion commented on #494
mark

[2020-08-06 06:42] okudayukiko opened #499 "[BUG]從Sleep或Hibernate恢復後的Bug"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
Latest

**Describ

[2020-08-06 10:51] junknet opened #500 "dns & io 复用"
1.dns内建分流器，根据规则选择dns服务器
2.IO复用以减少多资源网的tls握手次数

(我真的不会写c++ .....只好提请求了

[2020-08-07 09:38] #500 closed, assigned to GreaterFire

[2020-08-08 04:20] blueveryday opened #501 "请教如何查看终端用户连接数量和信息？"
就是查看有多少终端连上了trojan，终端的链接IP信息。
谢谢。

[2020-08-08 09:22] wangzhankun commented on #471
请问有人能提供完整的在终端下连接外网的教程吗？不知道要怎么处理。这里的命令都不可以用。

[2020-08-08 11:20] YongChingShieh opened #502 "防火长城已开始阻断ESNI扩展的TLS1.3（HTTPS）连接"
这个我们需要做些什么吗
https://www.iyouport.org/%E6%8A%A5%E5%91%8A%EF%BC%9A%E4%B8%AD%E5%9B%BD%E7%9A%84%E9%98%B2%E7%81%AB%E9%95%BF%E5%9F%8E%E5%B7%B2%E7%BB%8F%E5%B0%81%E9%94%81%E5%8A%A0%E5%AF%86%E6%9C%8D%E5%8A%A1%E5%99%A8%E5%90%8D%E7%A7%B0%E6%8C%87/
一份由Geneva、GFW Report、iYouPort团队联合编写的报告显示中国的防火长城已经封锁加密服务器名称指示（ESNI）。
普通的TLS加密可以隐藏客户端与服务器之间的内容和URI，而TLS1.3引入了加密SNI（ESNI），这项强大的技术使审查者甚至无法得知用户使用ESNI访问了哪一个网站，审查者要么不封锁任何

[2020-08-08 19:31] testowenyoung commented on #495
Hi, @Chigusa0w0 , Could you look the problem if you have time? I have posted the config of mine. Thank you very much!

[2020-08-11 02:07] clpd opened #503 "[BUG] end of http flaw"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
Not processing end of htt

[2020-08-11 04:37] Chigusa0w0 commented on #502
No impact on Trojan

[2020-08-11 04:37] #502 closed, assigned to GreaterFire

[2020-08-11 04:39] Chigusa0w0 commented on #501
You may use some third-party tools/commands as trojan core does not support such feature by design.

[2020-08-11 04:39] #501 closed, assigned to GreaterFire

[2020-08-11 04:40] Chigusa0w0 commented on #499
Did you observe anything special in the log?

[2020-08-11 04:40] #497 closed, assigned to GreaterFire

[2020-08-11 04:46] Chigusa0w0 commented on #503
Can you provide a log file?

[2020-08-11 15:25] clpd commented on #503
It doesn't have a log, I realize this can be used to detect Trojan server.

[2020-08-11 16:28] Chigusa0w0 commented on #503
Probably. But as a reminder, Trojan is not specialized for HTTPS protocol though HTTPS is widely used. We will investigate this issue, and if there is a fixup that does not affect compatibility with other protocols, we will consider fixing it.

[2020-08-14 09:13] xhrm opened #505 "[BUG]You don't have the C version of NameMapper installed!"
trojan 1.16.0
centos 7.3
Aug 14 16:59:56 izj6c6b9rs0evlfvgugghxz cloud-init: /usr/lib/python2.7/site-packages/Cheetah/Compiler.py:1509: UserWarning:
Aug 14 16:59:56 izj6c6b9rs0evlfvgugghxz cloud-init: You don't have the C version of NameMapper installed! I'm disabling Cheetah's useStackFrames option as it is painfully slow with the Python version of NameMapper. You should get a copy of Cheetah wit

[2020-08-14 09:39] xhrm commented on #505
trojan cpu 99%

[2020-08-14 13:23] #505 closed, assigned to GreaterFire

[2020-08-16 06:25] misc591 opened #506 "Cannot compile trojan with musl-libc correctly (cross compile)"
I tried to compile it in the following way

Boost
[code]

Trojan
[code]

The following error is returned after execution:
Error relocating /opt/bin/trojan: __gmtime64_r: symbol not found
Error relocating /opt/bin/trojan: __gettimeofday_time64: symbol not found
Error relocating /opt/bin/trojan: __localtime64_r: symbol not found
Error relocating /opt/bin/trojan: __time64: symbol not found

Determine

[2020-08-16 07:21] ghost commented on #503
@ChinaLiePeopleDie  can not reproduce

here is my test result
[code]

[2020-08-16 08:11] HarukaMa commented on #503
@ChinaLiePeopleDie Did you try it with other HTTPS servers? Are you sure this behavior is reproducible on all other servers?

I'm not able to reproduce 400 result on all servers I could reach, including plain HTTP servers. Please provide logs about your findings.

[2020-08-16 08:14] wongsyrone commented on #506
https://musl.libc.org/time64.html

[2020-08-16 08:14] #506 closed, assigned to nobody

[2020-08-16 11:47] misc591 opened #507 "Unknown protocol and SSL handshake failed"
I solved the [previous problem](https://github.com/trojan-gfw/trojan/issues/506) by modifying the toolchain header file:
[code]
It can be compiled and run but errors occur.

[code]
The same trojan.json can work under archlinux, so it's not a remote server or browser issue.

[code]
Seems the problem from the data.

[2020-08-16 18:46] Chigusa0w0 commented on #503
According to my test. The behavior of Trojan sites is identical to `nginx.org`.

[2020-08-16 23:52] wongsyrone commented on #507
Modify the toolchain headers is highly discouraged and out of the scope of trojan itself.

[2020-08-16 23:52] #507 closed, assigned to nobody

[2020-08-16 23:55] wongsyrone commented on #507
Please note `lasted for -2817498546176 seconds`, your modification results in runtime bug.

[2020-08-17 00:58] 0neday opened #508 "[Feature Request] delete"

[2020-08-17 01:01] #508 closed, assigned to GreaterFire

[2020-08-17 01:04] wongsyrone commented on #508
https://tls.mbed.org/discussions/generic/mbedtls-is-sluggish-compared-to-openssl-on-arm

Following the thread, I find the PR mentioned (https://github.com/ARMmbed/mbedtls/pull/1424) has been closed.

[2020-08-17 01:16] xhrm opened #509 "authenticated by authenticator (b80b67d)"
**Trojan Version**
1.16.0
**Logs**
messages中包含大量的
authenticated by authenticator (b80b67d)
同时Trojan cpu 100% 超时无法使用
systemctl restart trojan 命令卡死无法使用，
只能重启服务器回复，系统版本centos7.3

[2020-08-17 01:20] xhrm commented on #509
日志其他无特殊报错

[2020-08-17 02:58] zhyonc opened #510 "[BUG]Nginx stream forward trojan tunnel between different server"
**Trojan Version**
trojan 1.16.0

**Describe the bug**

***Environment***

I have 1 client and 2 servers：

- CN server bind domain：blog.domain.com and forward.domain.com

- HK server bind domain：trojan.domain.com

***Route***

client<-->CN server nginx<-->HK server trojan

***Config***

*client trojan*：

[code]

*CN server nginx*：

[code]

*HK server trojan*：

[code]

**To Reproduce**

- HK server

[2020-08-17 03:07] Chigusa0w0 commented on #510
`ssl.sni` config will overwrite client `remote_addr` SNI. Which the final result is `trojan.domain.com` in your case.
https://github.com/trojan-gfw/trojan/blob/58e3393a12f9e8ce2f26bbe3401708e8886806c9/src/core/service.cpp#L132-L134
https://github.com/trojan-gfw/trojan/blob/2b29ced3a5c708b00b6889212b3fcabd010f6846/src/session/clientsession.cpp#L49

[2020-08-17 03:13] Chigusa0w0 commented on #499
Closed due to inactivity. You may reopen the issue when more information is available.

[2020-08-17 03:13] #499 closed, assigned to GreaterFire

[2020-08-17 03:29] boluoyu commented on #416
@nahddw 我是 ios 开发零基础，是编译出来了，也可以在 iphone 正常运行，但如果手机运行东西多的话，还是会崩，但有朋友的手机运行崩的概率小，跟运行环境有关。用到NEKit 包，看一下源码这个框架对Ios 线程数没做限制，由系统自动配置，下载的资源比较多时，线程数也变大，导致内存超过限制。trojan 本身也有7、8M ，最近比较忙，就没时间去优化它了。如果想交流的话，Q:

[2020-08-17 03:49] zhyonc commented on #510
It looks like my route is error,I thought trojan have 2 SSL when it set sni.

Nginx ssl_preread seem like only identify trojan ssl sni domain that is trojan.domain.com,not is forward.domain.com.

Thanks you point out the error,I rewrite the CN server nginx.conf and it work for me.

[code]

[2020-08-17 03:55] #510 closed, assigned to GreaterFire

[2020-08-17 10:03] Motophan opened #511 "[Feature Request]"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
I have a traefik reverseproxy, a container yml example would be extremely helpful deploying this as a container. Specifically one that

[2020-08-17 14:35] 0neday commented on #510
Try to use haproxy to relay trojan server data instead of Nginx

[2020-08-18 04:17] xiruizhao opened #512 "[Feature Request] 2 suggestions for trojan.service-example"
1. mysql seems to install only a service named `mysql.service` on Ubuntu [Focal](https://packages.ubuntu.com/focal/amd64/mysql-server-8.0/filelist) (Debian defaults to mariadb now so I didn't check). Is `mysqld.service` installed on other distros?
2. SSL certificates should be root-owned and only root-readable (since they prove that you are example.com). Since trojan has to read SSL certificates,

[2020-08-18 04:18] GreaterFire commented on #512
@xiruizhao 1. It's not a problem. Systemd will only wait for services that exist.
2. You can use groups to solve this problem.

[2020-08-18 04:53] xiruizhao commented on #512
1. I'm just wondering why you added `mysqld.service` in the first place.
2. By using groups, you mean
    1. `addgroup --system ssl-access`
    2. `chmod g+r <ssl.cert>` and `chgrp ssl-access <ssl.cert>`
    3.  add `Group=ssl-access` for trojan.service

right?
Do you plan to add a helper script for that (in the Debian package)?
As far as I understand, trojan is fairly secure, so I think it's bett

[2020-08-18 05:12] xiruizhao commented on #512
I will try to write a script. Perhaps you can review it later.

[2020-08-18 08:46] xiruizhao commented on #512
I tried the setup and just realized trojan requires access to port 443, so it has to be ~root~ a system user (`nobody` wouldn't work).

[2020-08-18 10:08] xiruizhao commented on #512
I think you can consider changing `User=trojan` in `trojan.service` and add a `trojan.postinstall` in `debian.tar.xz` similar to the following snippet
[code]
Granting SSL certificate access to system user `trojan` should be handled by the end user (for example certbot should provide instructions on how to grant access to user `trojan`).

[2020-08-19 01:32] jmyz0455 opened #513 "[BUG] 证书更新后报错 tlsv1 alert unknown ca"
之前 Trojan 一直在正常工作，macOS Windows iOS Android 客户端开启 SSL 证书验证下，代理没问题。最近证书过期了，用  Let's Encrypt 的 acme.sh 工具更新证书后，发现客户端不验证才可以使用，一旦开启 SSL 认证，就会无法代理。服务端会不断报错：
[code]
Windows 端客户端配置（其他系统里都是用现成的 app）：
[code]
服务端配置：
[code]
但是第一次签发出来的证书没问题的，一直可以用，更新之后反而不行了，网上也搜不到 tlsv1 alert unknown ca 的相关解决思路。

[2020-08-19 18:03] GreaterFire commented on #513
@jmyz0455 Did you update both the server cert and the client cert?

[2020-08-20 00:52] #509 closed, assigned to GreaterFire

[2020-08-20 07:32] jmyz0455 commented on #513
关于同步最新的证书这件事，有两种情况。

1、从你们 Releases 里下载 Windows 客户端和 macOS 客户端的 zip ，解压后在文件夹里放入最新的证书，用透明代理能正常使用，服务端也没有报错。

2、iOS 客户端 Shadowrocket 和 Android 客户端 Igniter 均不清楚其证书获取原理，但是尝试卸载 app 并重新填写配置，只要勾上校验证书，就会报错，特意分辨服务端日志，Shadowrocket 的报错是 `SSL handshake failed: sslv3 alert certificate unknown`，而 Igniter 的报错是 `SSL handshake failed: tlsv1 alert unknown ca` 。

[2020-08-20 07:37] 0neday commented on #502
ESNI just encrypt SNI，not encrypt ssl certificates, so gfw could block connections by blocking certifications exchange. That means certificate transport by blank text.

[2020-08-20 14:19] 0neday opened #514 "Delete"

[2020-08-20 15:05] Chigusa0w0 commented on #514
Trojan do not intercept your DNS query, you should do it by your self.

[2020-08-20 15:05] #514 closed, assigned to GreaterFire

[2020-08-21 00:08] 0neday opened #515 "[Feature Request] Do any plan to realize trojan using libev, just like shadowsocks-libev for low-power consumption router device"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### I find trojan binary have 2M bytes, a

[2020-08-21 00:13] 0neday commented on #515
and trojan depend on boost library and openssl tls1.3, that is difficult to compile it on old low-power consumption router device using openwrt 17.0-18.0

[2020-08-21 00:15] Chigusa0w0 commented on #511
Docker image is not a actively supported part of this project. But PR is always welcomed.

[2020-08-21 00:15] #511 closed, assigned to GreaterFire

[2020-08-21 00:15] wongsyrone commented on #513
Post a screenshot of your certificate including the certification path, which can be displayed on Windows.

[2020-08-21 00:18] wongsyrone commented on #513
Something like:

![image](https://user-images.githubusercontent.com/5462232/90838196-ca74da80-e386-11ea-8df9-7cc8a331e20d.png)

[2020-08-21 00:58] 0neday commented on #503
Is it possible that GFW use Trojan client to detect Trojan server, and then block it. Could you have written a paper to explain Trojan server end protocols. Just like /r/n get password segment? @Chigusa0w0 @ChinaLiePeopleDie

[2020-08-21 01:15] Chigusa0w0 commented on #503
@0neday As of now, according to our test, that's impossible. Ignore and hang with `\r\n` start line is a nginx behavior, not a trojan behavior.

[2020-08-21 01:26] 0neday commented on #503
@Chigusa0w0 Nice, we will test on 1/10/2020, and check out whether is blocked or not.

[2020-08-21 01:44] jmyz0455 commented on #513
再明确一点，根据 [三楼](https://github.com/trojan-gfw/trojan/issues/513#issuecomment-677426257) 里我说所的情况，Windows 和 macOS 端是正常工作的，有问题的是手机 app 端。

您那个截图我找不到相似的，在 certmgr.msc 里找到这三张截图，可能敏感的信息我已经涂掉了，不知道是否有你想要的信息。
![image](https://user-images.githubusercontent.com/12359338/90842795-bb942500-e392-11ea-9d93-663c022722cf.png)
![image](https://user-images.githubusercontent.com/12359338/90842812-c18a0600-e392-11ea-9d3

[2020-08-21 06:24] wongsyrone commented on #513
Please make sure you are using fullchain certification file on the server-side.

[2020-08-21 14:13] 0neday commented on #515
just for [test](https://github.com/trojan-gfw/trojan/issues/514#issuecomment-678306683)

[2020-08-22 01:26] clpd commented on #503
My mistake, nginx ignore empty request, which only have `\r\n\r\n`.

[2020-08-22 01:26] #503 closed, assigned to nobody

[2020-08-22 01:32] Chigusa0w0 commented on #515
It is unwise and error-prone to implement TLS by ourselves. As trojan current supports only OpenSSL, even with libev you still need to compile OpenSSL. Which renders the porting pointless.
Enough lessons tell us that any attempt to create a cryptographic secure communication protocol from sketch by amateurs is potentially unsecure and exploitable. Trojan is created to fix the mistake, not to repea

[2020-08-22 01:32] #515 closed, assigned to GreaterFire

[2020-08-22 01:43] 0neday commented on #515
Thx for reply in detail, I have found a compromise [method]() for fixing it.

[2020-08-22 01:58] 0neday commented on #512
Change config.json owner to nobody, just like
_chown -R nobody:nobody_
_/usr/local/etc/trojan_
If you wonder why put mysql.service in first row, just delete it.

[2020-08-22 17:51] chengsluo commented on #416
@nahddw nice~

[2020-08-23 06:14] EmadP opened #516 "[Feature Request] is it necessary to deploy fail2ban for trojan server?"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-08-23 17:27] essoojay opened #517 "can Http Obsifucation / http host header be implemented?"
Can http obsfusication and or http host header be supported. SNI doesnt seem to work for this purpose.

thank you

[2020-08-24 01:41] #517 closed, assigned to GreaterFire

[2020-08-25 13:10] madneal commented on #402
@sgon00  I came across the similar problem with you. And I even config the cert, but still didn't work. Could you provide some suggestions? Thanks.

![image](https://user-images.githubusercontent.com/12164075/91178237-73b92900-e717-11ea-94ab-73696992cce8.png)

[2020-08-25 13:37] sgon00 commented on #402
@madneal It has been some time that I configured trojan. I am not really a trojan expert and you don't provide any error logs either. So I am not sure what your real problem is. Are you using CA cert or self-signed cert? I finally end up using CA cert from https://letsencrypt.org/. In such way, there is no need to provide the cert in the client side. And you should make sure install `ca-certificat

[2020-08-25 14:18] madneal commented on #402
@sgon00 I install trojan server side by this [script](https://raw.githubusercontent.com/atrandys/trojan/master/trojan_mult.sh). It helped me to generate cert. I have installed ca-certificated and ca-bundle in openwrt. But I cannot acess google, but only youtube is OK.

[2020-08-25 14:49] GreaterFire commented on #402
@madneal We don't answer any questions regarding the problems of any third-party scripts.

[2020-08-25 14:59] sgon00 commented on #402
@madneal maybe something wrong with your dns request? You have to debug and find what the real problem is. I don't have time to check other people's script. I installed and setup everything manually. To avoid dns poisoning, you should use tcp dns request when accessing and resolving domain names and the tcp dns request is better go through the trojan proxy (tunnel). In order to do this, you have t

[2020-08-25 22:48] madneal commented on #402
@sgon00 Really thank for your reply. Seems problem with the cache. It solves when I restart my mac.

[2020-08-27 02:08] #516 closed, assigned to GreaterFire

[2020-08-29 02:57] superdy00 opened #519 "[BUG]unknown protocol"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16

**Describe the bug**

unknown protocol

![image]

[2020-08-29 03:02] superdy00 commented on #519
![image](https://user-images.githubusercontent.com/17778954/91627059-1e1aa000-e9e7-11ea-85d8-cead93f1d020.png)

like this.

please help me. thank you.

[2020-08-29 03:54] ghost commented on #519
@superdy00 please use socks to connect

[2020-08-29 03:55] ghost commented on #519
@superdy00 you may misuse http proxy instead of socks5 proxy which causes this problem

[2020-08-29 04:24] superdy00 commented on #519
can you tell me how to use socks to connect ? I am a rookie.. thanks..

[2020-08-29 06:19] ghost commented on #519
@superdy00 https://chrome.google.com/webstore/detail/proxy-switchyomega/padekgcemlokbadohgkifijomclgjgif

[2020-08-29 07:11] wongsyrone commented on #519
Use SOCKS5 please.

[2020-08-29 07:11] #519 closed, assigned to GreaterFire

[2020-08-29 09:45] superdy00 commented on #519
I dont know how. can you teach me?

[2020-08-29 18:08] ligongfu opened #520 "[Feature Request]Can I add a connection domain name to support multiple domain names?"
The domain name used for the Trojan connection is subject to change, and obviously there needs to be a transition period to avoid affecting the existing connection. In short, as mentioned in the title, can support multiple domain name connection Trojan?

[2020-08-31 21:06] hronro commented on #131
@klzgrad

I'm confused here, nginx won't terminating SSL/TLS, why it would gives Nginx's network stack signature here?

And as an reference, since `trojan-gfw/trojan-nginx` is not accessible any more, this is the request process chart I thought it would be:

[code]

[2020-09-01 08:50] jmyz0455 commented on #513
更换成完整证书，就可以了，非常感谢🙏

[2020-09-01 10:10] #513 closed, assigned to GreaterFire

[2020-09-02 05:07] 0neday commented on #8
I check out trojan code, and I find maybe is difficult to integrate shadowsocks-libev with SIP003 plugin. But we could use trojan forward ss-redir data to ss-server. like [this](https://github.com/trojan-gfw/trojan/issues/514#issuecomment-678306683)?

[2020-09-02 05:46] GreaterFire commented on #8
@0neday It's already implemented. I just don't want to document it.

[2020-09-02 13:27] klzgrad commented on #131
Signature means more than cipher suites. It can be the way each stack handles error conditions.

[2020-09-02 14:18] 0neday commented on #8
But... this is a weird method to implement SIP003 plugin for shdadowsocks-libev.

[2020-09-02 18:49] Chigusa0w0 commented on #520
You should setup multiple instances for this situation.

[2020-09-02 18:49] #520 closed, assigned to GreaterFire

[2020-09-03 04:32] hronro commented on #131
@klzgrad
When people say `leak information`, it means leak the information which can make GFW detect the service is used for proxying or not. In this scenario, I don't think GFW can detect it because normal services can also use NGINX as a reverse proxy server for load balancing. GFW can not detect it's a  normal service with NGINX in the front for load balancing, or a trojan service behind NGINX.

[2020-09-06 16:05] kousyougi commented on #387
我剛剛遇到一樣的錯誤碼，是 Arch Linux。
我查出來，我的狀況是讀證書的時候，證書在 /root/.acme.sh/ 下面。應該是權限的問題。
這台電腦只裝trojan，就直接修改 usr/lib/systemd/system/trojan.service 裡面的
User=nobody 改成 User=root
就可以正常運行了。

[2020-09-07 11:05] nkta3m opened #521 "如何在Trojan服务端指定DNS？"
非常感谢这个项目，之前使用ss，可以指定dns，就可以看奈飞，现在换用Trojan，不知道在server端如何指定dns？求解答，谢谢

[2020-09-08 02:07] huainanhaoyuelengqianshan commented on #346
no,you must have a ipv6 address.

[2020-09-10 11:20] 0neday commented on #521
/etc/resolv.conf

[2020-09-11 03:16] nkta3m commented on #521
我有设置，但是完全无效

[2020-09-11 14:22] 0neday commented on #521
install dnsmasq and set nameserver 127.0.0.1

[2020-09-12 05:26] callmejon opened #522 "can i please ask if trojan-gfw support Raspberry pi v4?"
after install on rpi v4 when run get, below test same install method on x86 seems ok.

any advice?

Welcome to trojan 1.16.0
[2020-09-12 15:21:46] [FATAL] fatal: /usr/local/etc/trojan/config.json(2): expected key string
[2020-09-12 15:21:46] [FATAL] exiting. . .

[2020-09-13 02:16] GreaterFire commented on #522
@callmejon There is a syntax error in your config file :)

[2020-09-13 03:15] callmejon commented on #522
spot on!!!! fixed, thanks
i was using old ubuntu 1.1 config on rpi 1.16 i think..

[2020-09-14 02:30] curiosity2 commented on #423
请问问题解决了吗，为什么closed掉了，同样的问题，手机能用，windows不能用，之前还是好好的什么都没动就不行了
![捕获](https://user-images.githubusercontent.com/11660784/93037559-4e17a380-f675-11ea-9015-ebf840d02d53.PNG)

[2020-09-14 08:48] xufana7 opened #523 "windows failed log in"
I can not connect my vps with trojan on windows, but it can works on ios with shadowrocket.

[2020-09-14 12:25] ZqinKing commented on #521
有点想不通为啥server端要设置dns。连接哪个服务器是你pc上的dns决定的。trojan说白了只是一个代理。

[2020-09-14 14:43] #522 closed, assigned to nobody

[2020-09-14 14:43] Chigusa0w0 commented on #523
Please provide config file and log

[2020-09-15 04:39] atrandys commented on #213
最近做了一个一键trojan+wordpress脚本，可参考https://www.atrandys.com/2020/233.html

[2020-09-15 04:40] atrandys commented on #481
最近做了一个一键trojan+wordpress脚本，trojan在前做https服务器转发网站流量到nginx，https://www.atrandys.com/2020/233.html

[2020-09-15 17:56] owendswang commented on #433
我觉得这只是个简单的Nginx设置问题，就是在Stream分发是开启proxy_protocol，然后在将数据分给trojan之前，将proxy_protocol加上的东西去掉就好了，就是多一步分发就可以了，具体如下：

[code]

http的log_format中，原来的将原来的$remote_addr替换成$proxy_protocol_addr就成了。

stream中的第一个server就是为了接收带proxy_protocol的stream，然后发出不带proxy_protocol的stream给trojan。

另外，我用的是在Ubuntu 20.04上的Nginx v.1.18.0，来自官方apt源的。

[2020-09-15 17:58] owendswang commented on #498
https://github.com/trojan-gfw/trojan/issues/433#issuecomment-692878138

[2020-09-16 03:21] hudingwen opened #524 "什么时候支持WebSocket呢?"
因为Trojan直接走的原始IP,但有些IP只能通过CDN加速才能使用,否则搭建好的服务器很容易受到限制

[2020-09-16 06:37] #524 closed, assigned to GreaterFire

[2020-09-16 06:40] hudingwen commented on #524
???

[2020-09-16 06:49] Chigusa0w0 commented on #524
1. Dup #393
2. Read CONTRIBUTING.md before open issue
3. Not using template
4. The decision is well-documented
5. Support to WebSocket is not a enhancement, at least not for us

[2020-09-16 06:52] hudingwen commented on #524
好吧 谢谢

[2020-09-16 16:43] Earlesscat opened #525 "[Feature Request]"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
No
**Is this problem relevant to what troj

[2020-09-16 17:24] liuyinltemp opened #526 "how to install trojan in alpine?"
试了很多次，在alpine 使用脚本安装无法运行

[2020-09-16 17:58] fytaoxingyu commented on #523
I had same problem,it dosent work since 9.14

[2020-09-16 19:09] Chigusa0w0 commented on #525
Dup #274

[2020-09-16 19:09] #525 closed, assigned to GreaterFire

[2020-09-16 19:11] Chigusa0w0 commented on #526
There is no official build for Alpine. You may need to build it yourself to make it work.

[2020-09-16 19:11] #526 closed, assigned to GreaterFire

[2020-09-16 19:11] GreaterFire commented on #526
@liuyinltemp See also the Dockerfile.

[2020-09-17 07:55] YongChingShieh opened #527 "About Http/3"
目前cloudflare托管域名已经支持HTTP/3, nginx也开启预支持 请问trojan-gfw是否可以考虑支持?

[2020-09-17 08:11] xufana7 commented on #523
####log
[INFO]  2020/09/17 16:09:50 Running client, config file: C:/Users/snow/Desktop/Trojan-Qt5-Windows/config.json
[INFO]  2020/09/17 16:09:50 Log will be written to C:/Users/snow/AppData/Roaming/trojan-qt5/core.log
[WARN]  2020/09/17 16:09:50 Found invalid cipher  ECDHE-ECDSA-AES128-GCM-SHA256
[WARN]  2020/09/17 16:09:50 "cipher_suite" contains invalid cipher name, ignored
[WARN]  2020/09/17 1

[2020-09-17 08:51] wongsyrone commented on #523
You are using Trojan-Go and Trojan-Qt5, please send feedback to the correct repository.

[2020-09-17 08:51] #523 closed, assigned to GreaterFire

[2020-09-17 15:53] Chigusa0w0 commented on #527
Why do we need to support a feature that is not widely used?

[2020-09-17 15:53] #527 closed, assigned to GreaterFire

[2020-09-21 02:05] kgiflwl opened #528 "[Feature Request] Censorship of ESNI"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
I haven't go though all the code and TLS library of trojan, just wish you to read this: https://gfw.report/blog/gfw_esni_blocking/en/.

[2020-09-21 02:06] GreaterFire commented on #528
@kgiflwl Trojan is completely different from ESNI.

[2020-09-21 02:14] kgiflwl commented on #528
I think ESNI is part of TLS1.3 extension, and Trojan initiates real TLS handshake. I was worrying about this would expose ESNI connection. If it's not, then that's a relief.

[2020-09-21 03:10] #528 closed, assigned to GreaterFire

[2020-09-21 21:25] blip commented on #131
@foisonocean I was similarly puzzled why this setup could leak information. After much contemplation, it starts to make sense: in your example, a.com’s TLS is established through nginx, and b.com though trojan, yet they both resolve to the same IP. So if the two establishments are ever so slightly different, it’s apparent from the outside something fishy is going on.

@klzgrad Is it correct to ass

[2020-09-23 04:54] blip commented on #13
If trojan is behind nginx as described in #131, should stapling be disabled on nginx?

A more general question: if trojan is behind nginx, should it match as many TLS options as possible with those in nginx? Is failing to achieve that considered leaky?

[2020-09-23 09:17] cdowen opened #529 "[BUG] Trojan connection gets blocked whilist https connnection is normal"
**Trojan Version**
1.16.0

**Describe the bug**
Connection with trojan client fails. The client log reads 'cannot establish connection to remote server xxx.xyz:443' and the server logs nothing. However, accessing proxy server with https in the browser success with contents from 80 port and the server logs 'xxx:xxx not trojan request, connecting to 127.0.0.1:80'

**To Reproduce**
Steps to reproduce

[2020-09-23 12:02] cdowen commented on #529
I conduct more experiments.

1. The client seems to have no problem accessing the Internet both in and out China. This is verified by modifying the remote_addr option in client config and test to see if the client can receive responses.

2. IPv6 connection to the proxy server is also interfered. The client responds with invalid certificate error. The server shows 'SSL handshake failed:tlsv1 alert

[2020-09-23 12:48] cdowen commented on #529
Sorry. It turns out the server cert needs to be fullchain. My fault.

[2020-09-23 12:48] #529 closed, assigned to GreaterFire

[2020-09-23 13:46] bright-pan opened #530 "openwrt使用nat模式，iptables redirect 一直显示超时无法链接服务器"
我使用openwrt使用trojan nat模式，并用iptables做透明代理，一直显示超时，能帮我分析一下是什么问题吗》？
现发现我pc机器使用client模式中的代理地址是可以上网的，说明账号没有问题，就是透明代理出了问题，以下是具体配置：

trojan配置如下：

[code]

iptables配置如下：

[code]

[2020-09-24 05:19] xhrm opened #531 "[BUG] 经常出现 SSL handshake failed: stream truncated"
Sep 24 13:04:26 VM-0-10-centos trojan: [2020-09-24 13:04:26] [ERROR] IPV4:50537 SSL handshake failed: stream truncated
Sep 24 13:04:26 VM-0-10-centos trojan: [2020-09-24 13:04:26] [INFO] IPV4:50537 disconnected, 0 bytes received, 0 bytes sent, lasted for 0 seconds

经常出现SSL handshake failed: stream truncated 导致无法使用，ping测试一切正常
这个问题是由什么导致的？
Trojan 16.0  centos7.6

[2020-09-24 05:40] xhrm commented on #531
更换服务器正常，排除真机故障，故障服务器有些用户正常，有些SSL handshake failed: stream truncated

[2020-09-25 00:48] #531 closed, assigned to GreaterFire

[2020-09-25 02:19] sjkhsl opened #532 "linux下怎么使用？"
linux系统怎么使用？

[2020-09-25 02:36] Chigusa0w0 commented on #532
https://github.com/trojan-gfw/trojan-quickstart

[2020-09-25 02:36] #532 closed, assigned to GreaterFire

[2020-09-25 08:22] cdowen commented on #495
Hi, based on my understanding about the code, trojan directly forwards the request to the website specified in remote_addr. The host in the request is unmodifed and different from the host on remote_addr. So host on remote_addr returns error. It seems you must run a web server yourself for now.

[2020-09-25 08:27] cdowen commented on #495
By the way, is the feature request still relavant? I am insterested in making some contributions but do not if the developers are willing to add new features.

[2020-09-25 17:35] GreaterFire commented on #495
@cdowen You can't assume the request is HTTP request.

[2020-09-25 18:35] cdowen commented on #495
Yes, but the remote_addr option is currently meaningless anyway.

I think if the request is valid https, the header in the request gets modified and the request is sent to other Internet servers. If HOST cannot be found, I think returning 400 Bad Request should be enough to fake a web server.

[2020-09-25 18:38] GreaterFire commented on #495
@cdowen Sorry, let me put it this way: WE can't assume the underlying traffic is HTTP, so we can't make any modifications to any "headers" in the request.

[2020-09-25 19:12] Chigusa0w0 commented on #495
@cdowen To make it very clear: no matter which detection method you would use (for HTTP header), there is a chance that a false positive will occur. We can't take the chance of that. So we will never touch the content of transferring data.

[2020-09-25 19:13] GreaterFire commented on #495
@Chigusa0w0 To add to that, such false positives could well be ways to detect a trojan server.

[2020-09-26 02:04] cdowen commented on #495
I understand the risks. But proxy to other websites cannot be realized without header modification in most scenarios. Maybe the remote_addr config should be discarded to reduce confusion?

[2020-09-26 02:22] Chigusa0w0 commented on #495
@cdowen You can't simply assume that everyone use HTTP as the cover up protocol or have a trivial handle stack. The field has certain use scenario and has been a part of Trojan server config for a long time. From compatibility and functionality perspective, we will not remove the field. We won't even consider it.
If you really need to make a nice and clear description for this field, you can contr

[2020-09-28 14:59] okudayukiko opened #534 "[Feature Request] 加入調用OpenSSL engine（比如RDRAND）功能。"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2020-09-29 02:40] okudayukiko commented on #532
在Debian、Ubuntu下可以用`apt install trojan`安裝。
在Windows下用Firefox，因為Firefox支援SOCKS5。

[2020-09-29 02:43] okudayukiko commented on #521
有的是/etc/resolv.conf
有的是systemd-resolved
有的是systemd-networkd

[2020-09-29 07:40] rainmanzheng opened #535 "小白疑惑帖"
哈哈哈哈为什么隔壁v2呼呼的更新，而trojan几乎不怎么动弹（我用的是trojan

[2020-09-29 15:41] ArcCal commented on #535
稳定、够用，就可以啦

[2020-09-29 15:58] #535 closed, assigned to nobody

[2020-09-29 22:21] NightMachinery commented on #131
Is this possible with Caddy, as well?

[2020-10-01 15:24] Jason5Lee commented on #266
How do you solve it? I have the same problem on MacOS.

[2020-10-02 02:42] okudayukiko commented on #534
或者用Stunnel 在伺服器端重新打包Trojan流量：
此法對Trojan有效，對Ocserv無效。
`vim /etc/trojan/config.json`
`"local_port": 442`
`cat /etc/stunnel/ecdsa.crt > /etc/stunnel/stunnel.pem`
`cat /etc/stunnel/ecdsa.key >> /etc/stunnel/stunnel.pem`
`vim /etc/stunnel/stunnel.conf`
`engine = rdrand`
`[trojan-442]`
`client = yes`
`accept = 127.0.0.1:440`
`connect = yourhostname.com:442`
`verifyChain = yes`
`CApath = /etc/ssl/certs`

[2020-10-04 11:04] svandex opened #536 "[Feature Request]Add Web Browser Extension"
Thirdparty proxy extension is not perfectly optimized for trojan, and most trojan users use it on web browser.

[2020-10-04 19:01] Chigusa0w0 commented on #536
Trojan is not a HTTP-based protocol. There will be certain difficulties to develop a browser extension-based client for Trojan.
Also, please read CONTRIBUTING.md before open feature requests.

[2020-10-04 19:01] #536 closed, assigned to GreaterFire

[2020-10-10 09:25] XuuKoo opened #537 "[Feature Request]建议能增加不开启tls加密的选项"
前端tls解密可由haproxy等软件负责，tls解密后传输明文Trojan协议的数据至trojan服务端，其余功能不变。

[2020-10-10 14:33] XuuKoo commented on #512
证书问题的话，一般来说nginx是可以访问证书的，那把trojan以nginx的账户运行是不是就可以了呢

[2020-10-10 16:11] wzlee opened #538 "RaspberryPi 4 无法启动trojan"
[code]

[2020-10-10 18:45] i0ntempest commented on #538
看样子像是架构不对，是你自己编译的binary吗

[2020-10-11 00:40] wongsyrone commented on #538
Check your binary via `file ./trojan`

[2020-10-11 20:05] a6886126 opened #539 "[Feature Request]"
github上的安装包太大了 ，APKPure上的xapk安装完占用30m   miui安装xapk太麻烦了   直装安装包又这么大 可以瘦身点吗 应该不需要这么大

[2020-10-11 23:43] wongsyrone commented on #539
Wrong repo.

ref: https://github.com/trojan-gfw/igniter/issues/299

[2020-10-11 23:43] #539 closed, assigned to GreaterFire

[2020-10-11 23:44] #538 closed, assigned to GreaterFire

[2020-10-12 03:22] #521 closed, assigned to nobody

[2020-10-12 03:25] Chigusa0w0 commented on #537
As long as you own the certifications, you should be able to re-encrypt the connection with haproxy.

[2020-10-12 03:25] #537 closed, assigned to GreaterFire

[2020-10-12 03:29] XuuKoo commented on #537
haproxy和trojan间就没必要用tls加密了呀。

[2020-10-13 13:18] YongChingShieh opened #540 "[BUG] youtube直播会断流"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
trojan 1.16.0

**Describe the bug**
观看youtube直播会断流
**T

[2020-10-15 05:18] #540 closed, assigned to GreaterFire

[2020-10-15 16:12] zyichang commented on #362
奇怪的是我wget成功了下载了网页文件，但是ping不成功。我是使用proxychains 在终端运行。我用的证书是cer 或者直接false。请问这是什么情况。谢谢！

[2020-10-17 04:40] h0mm4 opened #542 "[Feature Request] tls13 supporting"
hey, The instance I compiled and installed does not support tls13. Is this a common situation? Is there any way to make it support tls13?

system :debian 9.9

[2020-10-17 05:04] Chigusa0w0 commented on #542
As long as your OpenSSL installation supports TLS 1.3, Trojan will support it.

[2020-10-17 05:04] #542 closed, assigned to GreaterFire

[2020-10-17 05:05] okudayukiko commented on #536
Firefox支援SOCKS5。對於Edge、IE、Chrome，用Privoxy將SOCKS5轉換成HTTP。

[2020-10-17 05:06] Chigusa0w0 commented on #530
Issue is not for personal troubleshooting.

[2020-10-17 05:06] #530 closed, assigned to nobody

[2020-10-17 14:59] EIKULG opened #543 "[BUG]"
- [= ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
Trojan 1.16.0
**

[2020-10-17 16:38] Chigusa0w0 commented on #543
Cannot reproduce

[2020-10-17 17:41] Chigusa0w0 commented on #543
As the website is using commercial WAF, the problem could be multi-sourced. Anyway, Trojan is not the single reason for your problem.

[2020-10-17 18:30] #543 closed, assigned to GreaterFire

[2020-10-18 07:42] okudayukiko commented on #534
個人估計，是防火牆可以對OpenSSL、Go、GnuTLS、/dev/urandom的偽隨機數生成器（PRNG）進行深度包檢測（DPI）。畢竟OpenSSL、Go、GnuTLS、/dev/urandom的PRNG是開源的，RDRAND是不開源的。

[2020-10-18 20:26] k4yt3x commented on #534
支持 hardware RNG 我认为是一个 valid request，但是防火墙可以通过 DPI 识别 PRNG 的特征听起来很不现实。

以 `/dev/urandom` 举例，即使该 RNG 是 **P**RNG，其 entropy source 是基于电脑本地硬件的（键盘输入、CPU 中断间隔、网络 I/O、硬盘 I/O），产生的结果对于不可观测该系统的第三方来说也可视为随机。在该用例上，`urandom` 产生的结果和 TRNG 产生的结果按随机性来说不应该有太大差距。已然，基于 `urandom` 生成的 client random 和 server random 也可被视为足够随机。所以无论开源与否，我并不认为上述 PRNG 会产生可被 DPI 识别的特征。

当然，类似于 `RDRAND` 和 `TPM RNG` 这种 FIPS-compliant TRNG 会在熵上更有

[2020-10-19 05:07] okudayukiko commented on #534
OpenSSL PRNG、Go PRNG和GnuTLS PRNG呢？

[2020-10-19 09:09] k4yt3x commented on #534
OpenSSL PRNG 在 UNIX 上会从 `/dev/urandom` 读，而在 Windows 上则会用 `CryptGenRandom` 生成。剩下的我建议您先自行查资料，而不是先提问题消耗开发者的时间。
参考：https://wiki.openssl.org/index.php/Random_Numbers

[2020-10-20 03:33] MrYangLingQiang opened #544 "Why does my trojan installation deploy successfully, but I can't get a proxy?"
`[2020-10-20 11:30:03] [INFO] 127.0.0.1:60760 requested connection to content-autofill.googleapis.com:443
[2020-10-20 11:30:04] [INFO] 127.0.0.1:60760 disconnected, 325 bytes received, 517 bytes sent, lasted for 1 seconds`
This message comes up every time I request it, and I built it before, but the previous one was working. The one built now won't work.
Appears when using Google Chrome
`此网站无法提供安全

[2020-10-20 05:50] #544 closed, assigned to nobody

[2020-10-21 12:49] xhronos commented on #454
Please note that fix did only go into the development branch but cannot be found in boost release 1.74.

https://github.com/boostorg/property_tree/blob/bdfe275d172ac30bc5e89a6375a5a64dea20b3c0/include/boost/property_tree/json_parser/detail/parser.hpp#L217

[2020-10-23 11:38] Walkerby opened #545 "Help：I'm using docker to run trojan. But I don't know how to put on a website."
After configuring dockerhub trojangfw/trojan correctly, trojan worked fine and I found that opening the domain didn't bring up any websites and I couldn't figure out how to add the website.

[2020-10-23 13:44] oasiscifr commented on #545
@Walkerby Use 172.17.0.1 (the address of the host on docker0) instead of 127.0.0.1 as remote_addr.

[2020-10-24 13:53] #545 closed, assigned to nobody

[2020-11-04 07:10] jackiehejian commented on #318
Centos 7, 出现同样的问题，重装了两次系统，基本都是使用了两三天之后cpu占用率基本到100%，不知如何解决。
Centos7,  I have met the same issue. After reinstalling twice,  the usage of CPU was nearly 100% within  2-3 days. Don't know how to fix this problem.

[2021-04-18 09:06] #495 closed, assigned to GreaterFire